workflow/[TEST] Knowledge Agent Puket.json
{"createdAt":"2025-05-05T18:00:41.746Z","updatedAt":"2025-10-21T20:54:11.000Z","id":"q5NZAVjNUFAmLWNa","name":"[TEST] Knowledge Agent Puket","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"c421ab1a-f4fe-49b9-8d2e-37fb8f4be50d","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1920,1344]},{"parameters":{"model":"text-embedding-3-large","options":{}},"id":"5e049c2b-889f-4094-b2e1-77625c8c3539","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1680,1344],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"db3af681-1fa6-46c4-b80b-b1cf2766f0db","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[272,1008],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1V2chEht-j10VvaG-3SxRYAUVwsfXOzJK","mode":"list","cachedResultName":"documents_puket","cachedResultUrl":"https://drive.google.com/drive/folders/1V2chEht-j10VvaG-3SxRYAUVwsfXOzJK"},"event":"fileCreated","options":{}},"id":"61a3b9d2-31db-487a-9cb2-05fc93e3aee6","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-768,864],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1V2chEht-j10VvaG-3SxRYAUVwsfXOzJK","mode":"list","cachedResultName":"documents_puket","cachedResultUrl":"https://drive.google.com/drive/folders/1V2chEht-j10VvaG-3SxRYAUVwsfXOzJK"},"event":"fileUpdated","options":{}},"id":"c76fc110-f598-463c-8604-661062fe1fce","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-768,1024],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"1fe92473-8ce0-47cb-b5e1-7367bc0a65a8","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1120,1344],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents_puket","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"7b96a13b-4efe-4e72-a7a2-7bd2fa0422ee","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,864],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"698f3878-6e9a-4679-9279-8343f66bb316","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,1024]},{"parameters":{"options":{}},"id":"853d645c-6a27-4aca-a2aa-8f6c8e4c5260","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1408,352]},{"parameters":{"httpMethod":"POST","path":"knowledge-agent-puket","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"d1d03ad0-5c19-4f71-9471-32d63ecaf029","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-80,560],"webhookId":"17758d95-134b-4982-801a-47eb3b76261b","credentials":{"httpHeaderAuth":{"id":"NhxmIHyyuwdB7Hr1","name":"bearer agent Puket"}}},{"parameters":{"operation":"pdf","options":{}},"id":"ee54c257-8ddf-4293-a902-4c3c9580843b","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1120,784]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"6acec8ff-89e5-48b7-9054-c0eec5f9fa00","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1168,960]},{"parameters":{},"id":"50df3ef7-01e6-4a04-b5ec-f0d7111564ae","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1824,1472]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"d21e191c-6102-4ddc-8803-bda15f0a960e","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1360,1040]},{"parameters":{"promptType":"define","text":"={{$json.chatInput \n    ? $json.chatInput \n    : ($json.body && $json.body.chatInput \n         ? $json.body.chatInput \n         : \"não encontrado\")}}","options":{"systemMessage":"=Você é a assistente virtual oficial da Puket, especializada em fornecer informações precisas sobre produtos, vendas e estoque com base exclusivamente nos dados fornecidos.\n\n## Ferramentas disponíveis:\nYou are given tools to perform RAG in the 'documents_puket' table, look up the documents available in your knowledge base in the 'document_metadata_puket' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows_puket' table.\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\n## Estratégia de busca:\n1. Para perguntas gerais sobre produtos, políticas ou informações descritivas: use RAG primeiro\n2. Para cálculos, somas, médias, rankings ou consultas numéricas precisas: use SQL diretamente\n3. Se RAG não fornecer resposta satisfatória, consulte 'document_metadata_puket' para encontrar documentos relevantes\n\n## Suas capacidades:\n- Analisar dados de vendas e produtos da Puket\n- Calcular métricas como total de vendas, margem, markup e custo\n- Listar produtos com base em critérios específicos (categoria, segmento, preço)\n- Rankear produtos (ex: top 10 mais vendidos, maior margem)\n- Identificar tendências de vendas por período, categoria ou segmento\n- Filtrar informações específicas solicitadas pelo cliente\n\n## Processo de resposta:\n1. Identifique o tipo de consulta (análise de dados, listagem, ranking, pergunta simples)\n2. Selecione a ferramenta adequada (RAG ou SQL) conforme o tipo de consulta\n3. Para análises, primeiro processe os dados relevantes e faça os cálculos necessários\n4. Adapte a formatação da resposta ao tipo de consulta:\n   - Para listas: use tabelas organizadas ou bullet points\n   - Para rankings: use listas numeradas com valores principais destacados\n   - Para análises: apresente os dados mais relevantes e uma conclusão\n   - Para cálculos: mostre o resultado e o raciocínio utilizado\n   - Para perguntas simples: respostas diretas e concisas\n\n## Personalidade:\n- Seja amigável e profissional, usando linguagem da marca Puket\n- Comece com uma saudação breve e encerre oferecendo ajuda adicional\n- Use vocabulário do universo de moda, varejo e produtos Puket\n\n## Limitações importantes:\n- Nunca invente dados ou produtos que não estejam nos documentos fornecidos\n- Se não tiver informação suficiente, peça esclarecimentos específicos\n- Mantenha as respostas concisas e diretas ao ponto\n\n## Exemplos de formatação para diferentes consultas:\n\n### Para análises:\n- [Dado principal 1]\n- [Dado principal 2]\n- [Dado principal 3]\n\nConclusão: [síntese objetiva dos insights principais]\n\n### Para rankings:\n1. [Produto 1]: [Métrica relevante]\n2. [Produto 2]: [Métrica relevante]\n3. [Produto 3]: [Métrica relevante]\n\n### Para cálculos:\nResultado: [valor calculado]\nBase de cálculo: [origem dos dados e método utilizado]"}},"id":"93573be1-c6dd-48ca-845b-da6828621ac2","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[752,288],"notes":"Prompt antigo : \n\nVocê é uma assistente da Puket que irá responder perguntas de forma exata e buscar as respostas sempre em documentos fornecidos.  Não utilizar a internet para buscar as informações e tenha exatidão nas respostas. Se você não entender a pergunta, sempre faça perguntas e use as respostas para realizar uma resposta com mais exatidão. Você será simpatica e sempre perguntando oque pode ajudar.\n\nUse o raciocinio para melhorar a respostas.\n\nnunca invente.\n\nSeja breve e de forma resumida as respostas.\n\nO formato de resposta será sempre:\n\nresponta usando bullet points e finalize com uma breve conclusão final\n\n"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"a19581ca-047f-475f-b7b1-8d68a166d30c","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[464,1008]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents_puket","mode":"list","cachedResultName":"documents_puket"},"options":{"queryName":"match_documents_puket"}},"id":"11f2506c-2e8a-4fad-b8eb-83b210175af5","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1840,1120],"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"1dda836c-8452-455b-8318-bf8219f1438c","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[944,960]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,912],"id":"c1663540-7976-44da-98d3-17765f416b42","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[912,1152],"id":"b16b80ad-43c2-4c90-a6bc-b388d26c2bd2","name":"Extract from CSV"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata_puket (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-848,544],"id":"33908929-4016-4e3e-88d9-384e4fee44f5","name":"Create Document Metadata Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows_puket (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata_puket(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-480,544],"id":"1f1facc1-b9d7-445e-9de6-3481df986a14","name":"Create Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_puket","mode":"list","cachedResultName":"document_metadata_puket"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[848,592],"id":"9f433ec4-7e8f-4cfa-baa4-916899e078bd","name":"List Documents","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents_puket\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[960,592],"id":"c6b24f8a-c35b-4a88-b38e-0a550c02d224","name":"Get File Contents","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows_puket table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata_puket table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows_puket\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT COUNT(*) AS total_produtos,\n       SUM((row_data->>'Qtd')::INTEGER) AS total_quantidade\nFROM document_rows_puket\nWHERE dataset_id = '123'\n  AND LOWER(row_data->>'Produto') LIKE '%fone%';\n\nExample query: 3\n\nSELECT row_data\nFROM document_rows_puket\nWHERE dataset_id = ' 123 '\nAND row_data->>'Ano' = 'x'\nAND row_data->>'Mes' = 'x';\n\nExample query: 4\n\nSELECT row_data\nFROM document_rows_puket\nWHERE dataset_id = ' 123 '\nAND row_data->>'Data' = '10/01/2025';\n\nExample query: 5\n\nSELECT row_data->>'Produto' AS produto,\n       SUM((row_data->>'Venda Liquida')::numeric) AS total_venda\nFROM document_rows_puket\nWHERE dataset_id = ' 123 '\n  AND row_data->>'Ano' = 'x'\nGROUP BY produto\nORDER BY total_venda DESC\nLIMIT 10;\n\nExample query: 6\n\nSELECT DISTINCT row_data->>'Produto' AS produto,\n                row_data->>'Data' AS data_venda\nFROM document_rows_puket\nWHERE dataset_id = '123'\n  AND row_data->>'Mes' = 'MES'  -- Substitua pelo mês desejado\n  AND row_data->>'Ano' = 'ANO';  -- Substitua pelo ano desejado","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[1120,592],"id":"aa9b2433-eff9-4f9e-bad3-fe12cb172945","name":"Query Document Rows","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}},"notes":"Prompt Antigo : \n\nRun a SQL query - use this to query from the document_rows_puket table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata_puket table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows_puket\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows_puket\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';\n\n-----------------------------------------------------\n\nRun a SQL query - use this to query from the document_rows_puket table to analyze Puket retail data. The dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that contains all the retail data columns: \"Linha\", \"Tipo\", \"Segmento\", \"Grupo\", \"SubGrupo\", \"Solução\", \"Griffe\", \"Sexo\", \"Venda Bruta\", \"Coleção\", \"Categoria\", \"SubCategoria\", \"Produto\", \"Cor\", \"Tamanho\", \"Data\", \"Mês/Ano\", \"Ano\", \"Mes\", \"Semana\", \"Venda Liquida\", \"Custo Total\", \"Qtd\", \"Mkp Bruto\", \"Mkp Liquido\", \"Margem\".\n\nExample query 1: Top 5 produtos mais vendidos por quantidade\n```sql\nSELECT \n    row_data->>'Produto' as produto,\n    row_data->>'Cor' as cor,\n    SUM((row_data->>'Qtd')::numeric) as quantidade_vendida\nFROM document_rows_puket\nWHERE dataset_id = 'ID_DO_ARQUIVO'\nAND row_data->>'Mes' = 'Jan'\nAND row_data->>'Ano' = '2024'\nGROUP BY row_data->>'Produto', row_data->>'Cor'\nORDER BY quantidade_vendida DESC\nLIMIT 5;\n\nExample query 2: Análise de margem por segmento\nSELECT \n    row_data->>'Produto' as produto,\n    row_data->>'Griffe' as griffe,\n    row_data->>'Cor' as cor,\n    row_data->>'Tamanho' as tamanho,\n    row_data->>'Venda Bruta' as preco\nFROM document_rows_puket\nWHERE dataset_id = 'ID_DO_ARQUIVO'\nAND row_data->>'Categoria' ILIKE '%ACESSORIOS%'\nAND row_data->>'Sexo' = 'FEMININO'\nAND row_data->>'Cor' ILIKE '%ROSA%';\n\nExample query 3: Busca de produtos específicos\n\nSELECT \n    row_data->>'Produto' as produto,\n    row_data->>'Griffe' as griffe,\n    row_data->>'Cor' as cor,\n    row_data->>'Tamanho' as tamanho,\n    row_data->>'Venda Bruta' as preco\nFROM document_rows_puket\nWHERE dataset_id = 'ID_DO_ARQUIVO'\nAND row_data->>'Categoria' ILIKE '%ACESSORIOS%'\nAND row_data->>'Sexo' = 'FEMININO'\nAND row_data->>'Cor' ILIKE '%ROSA%';"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents_puket","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents_puket","mode":"list","cachedResultName":"documents_puket"},"options":{"queryName":"match_documents_puket"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1744,368],"id":"9eb43af4-cdc1-4afb-b749-87166acbe715","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1840,544],"id":"e51cd5a9-63fd-40b1-b97d-9aa2a1566578","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-544,832],"id":"415e4c0b-ae0c-4878-b258-9a5f58e0d7f7","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"-- Habilita a extensão pgvector (somente se ainda não existir)\nDO $$ \nBEGIN\n    IF NOT EXISTS (SELECT 1 FROM pg_extension WHERE extname = 'vector') THEN\n        CREATE EXTENSION vector;\n    END IF;\nEND $$;\n  -- Enable the pgvector extension to work with embedding vectors\n--create extension vector;\n\n-- Create a table to store your documents\ncreate table documents_puket (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(3072) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents_puket (\n  query_embedding vector(3072),-- 1536 works for OpenAI embeddings\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents_puket.embedding <=> query_embedding) as similarity\n  from documents_puket\n  where metadata @> filter\n  order by documents_puket.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;\n\n-- Criar índice para melhorar consultas por file_id\nCREATE INDEX IF NOT EXISTS idx_metadata_file_id ON documents_puket ((metadata->>'file_id'));","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1184,544],"id":"0e50271b-6a82-4ceb-a9aa-6dbc1a0c6945","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}},"notes":"embedding vector(1536)"},{"parameters":{"operation":"delete","tableId":"document_rows_puket","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-64,1024],"id":"57e3fe59-deb1-498b-a16d-0b3948530497","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_puket","mode":"list","cachedResultName":"document_metadata_puket"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[112,880],"id":"9ebe748e-42f5-4841-b180-999d00c767de","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows_puket","mode":"list","cachedResultName":"document_rows_puket"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1200,1152],"id":"ece3b221-77e1-456b-9a5d-4798d78afc64","name":"Insert Table Rows","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_puket","mode":"list","cachedResultName":"document_metadata_puket"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[2032,912],"id":"60a256c6-7d13-49bc-889a-84a6bbf178dc","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1200,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2256,384],"typeVersion":1,"id":"ee0d1de7-515d-4b56-97d9-2866c5c51f3f","name":"Sticky Note9"},{"parameters":{"content":"## Agent Tools for RAG\n**Alterar o campo name de documents_puket para documents em caso de erro**","height":509,"width":583,"color":4},"id":"acf52b50-b9c1-4939-8657-5fdb88642d37","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1600,224]},{"parameters":{"content":"## Create Table \n","height":340,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-1680,400],"typeVersion":1,"id":"8ddd4dba-5d38-4703-af52-dcbe7d50314a","name":"Sticky Note1"},{"parameters":{"content":"## Agent RAG Puket\n**Acesse o modelo \"Agente Puket\" em gen.aiknow.ai** ","height":520,"width":1720,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-144,224],"typeVersion":1,"id":"0614ed10-c802-4b76-8efe-481a1c2c5dc4","name":"Sticky Note2"},{"parameters":{"content":"## Insert data in DB \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":840,"width":3220,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1040,768],"typeVersion":1,"id":"29d703f4-525c-41cf-b010-7db981ec9f6a","name":"Sticky Note3"},{"parameters":{"content":"## DROP table","height":340,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-1680,48],"typeVersion":1,"id":"48ece668-7b77-4e77-ae8e-785eed4f2eef","name":"Sticky Note6"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS documents_puket CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1616,144],"id":"93f09ad3-ce88-48f5-ad53-a301ff869798","name":"1 - DROP Documents Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS document_metadata_puket CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1344,144],"id":"342a476a-30f8-4d21-aba5-cb87155b46fd","name":"2 - DROP Document Metadata Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS document_rows_puket CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1024,144],"id":"828073c1-4c32-4fda-bf11-2b7240b9426c","name":"3 - DROP Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP FUNCTION IF EXISTS match_documents_puket(vector(1536), int, jsonb);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-720,144],"id":"ecb79d30-ae93-40f4-90a6-0b6dae19d7b2","name":"4 - Drop match_documents ( vectorstore )","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$json.body?.sessionId\n    ? $json.body.sessionId\n    : (\n        $('When chat message received').item.json.sessionId\n        ? $('When chat message received').item.json.sessionId\n        : \"não encontrado\"\n      )\n}}\n","tableName":"n8n_chat_histories_puket"},"id":"dab6e525-8fe7-4984-bbed-6d5e404e0b22","name":"Postgres Chat Memory Extract","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[704,592],"notesInFlow":false,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"public":true,"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-80,352],"id":"e1094774-f4fb-48ce-84e0-d0a295e1542f","name":"When chat message received","webhookId":"79eea519-c07b-4213-94ba-adc9fb30b01f"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1488,144],"id":"46c64b07-c1a1-4b62-8584-adc8e93d24d1","name":"Wait","webhookId":"743cf2af-8398-4bce-be7a-71a6cc2df887"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1184,144],"id":"d9f7a557-de00-4581-bc15-8e3e8fdb66a2","name":"Wait1","webhookId":"9a9af522-bf77-457f-810f-a1193623cf8a"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-880,144],"id":"82f15488-1388-407c-8435-1d68a46ce384","name":"Wait2","webhookId":"788c7308-76f1-4632-895e-23a841116460"},{"parameters":{"model":"llama3.2:1b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[112,80],"id":"0fe3950f-0634-41f1-bd93-d685a7955d61","name":"Ollama Model1","credentials":{"ollamaApi":{"id":"DkFIMC1XjxRcvL1E","name":"Ollama account"}}},{"parameters":{"content":"## **LLM**","width":520},"type":"n8n-nodes-base.stickyNote","position":[-144,48],"typeVersion":1,"id":"86897df6-98b2-44cf-a500-b25625637202","name":"Sticky Note"},{"parameters":{"model":"gpt-4.5-preview-2025-02-27","options":{}},"id":"7fc7a197-829e-4757-89b5-497f85099f9b","name":"OpenAI Chat ","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[224,80],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-sonnet-20241022","mode":"list","cachedResultName":"Claude 3.5 Sonnet (New)"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-16,80],"id":"76c0d8d2-b981-49aa-a211-0a5e55f65ec9","name":"Anthropic Claude","credentials":{"anthropicApi":{"id":"daEmkEMQGbuGIYpr","name":"Anthropic account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1616,544],"id":"bdb64693-fb8c-4d38-bca6-ec80c52e8f27","name":"Clique para apagar as tabelas"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1008,544],"id":"90f12afe-c556-4f66-924a-7c2f2990779b","name":"Wait3","webhookId":"d80e0587-55c2-4992-9ed3-b6a2748bffa5"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-656,544],"id":"2819fcde-1bc6-4168-b925-a9f098f162c2","name":"Wait4","webhookId":"14e3790d-5801-48fb-b91c-4420219de5df"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1408,544],"id":"954b00d5-403b-4ca8-b972-c975c690a8cc","name":"Wait5","webhookId":"b7bf20b9-a9d8-4b53-bb22-da32c164b8ea"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-544,144],"id":"8cfeb8d5-1d16-475d-a7aa-dbd6c24e4eae","name":"Wait6","webhookId":"9daeb833-41a8-4265-a7c1-2c459fbc932b"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS n8n_chat_histories_puket CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-368,144],"id":"4a650e5e-4521-436a-af90-490bf65c6750","name":"5 - DROP n8n_chat_histories_centurion","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5ebbd4f-6549-4a31-b3f8-eee7634dc439","leftValue":"={{ $json.body.sessionId }}","rightValue":"None","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[224,400],"id":"2fd50abd-a832-44a2-9aca-e3b714be06f8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"d264444f-c01a-4fa0-86a4-c0bf0e4c8537","name":"output","value":"={{ $json.output || $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,352],"id":"3b318759-3027-4575-8db2-5e3f2b8dc7fc","name":"Edit Fields (Set Output Field)"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.chatInput }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[464,448],"id":"4cf7a5f6-a228-4f7c-9536-10ba2997b9ec","name":"Open WebUI Metadata LLM"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[320,608],"id":"819d0419-127d-4eae-9b91-30cedcd885ee","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"DkFIMC1XjxRcvL1E","name":"Ollama account"}}}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Edit Fields (Set Output Field)","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"1 - DROP Documents Table":{"main":[[{"node":"Wait","type":"main","index":0}]]},"2 - DROP Document Metadata Table":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"3 - DROP Document Rows Table (for Tabular Data)":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"4 - Drop match_documents ( vectorstore )":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Postgres Chat Memory Extract":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"2 - DROP Document Metadata Table","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"3 - DROP Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"4 - Drop match_documents ( vectorstore )","type":"main","index":0}]]},"Anthropic Claude":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Clique para apagar as tabelas":{"main":[[{"node":"1 - DROP Documents Table","type":"main","index":0},{"node":"Wait5","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Create Documents Table and Match Function","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"5 - DROP n8n_chat_histories_centurion","type":"main","index":0}]]},"If":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}],[{"node":"Open WebUI Metadata LLM","type":"main","index":0}]]},"Edit Fields (Set Output Field)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Open WebUI Metadata LLM":{"main":[[{"node":"Edit Fields (Set Output Field)","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Open WebUI Metadata LLM","type":"ai_languageModel","index":0}]]},"OpenAI Chat ":{"ai_languageModel":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:File Created":{"lastTimeChecked":"2025-10-21T14:55:14Z"},"node:File Updated":{"lastTimeChecked":"2025-10-21T14:55:15Z"}},"meta":null,"pinData":{},"versionId":"05366648-033a-4c93-97fb-3086c5e2108b","triggerCount":4,"shared":[{"createdAt":"2025-05-05T18:00:41.759Z","updatedAt":"2025-05-05T18:00:41.759Z","role":"workflow:owner","workflowId":"q5NZAVjNUFAmLWNa","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-05T18:02:06.728Z","updatedAt":"2025-05-05T18:02:06.728Z","id":"u4hOfIq9GYuf2w5g","name":"Puket"}]}