workflow/[TEST]Laboratório de envio de SMS Marktel.json
{"createdAt":"2025-06-09T20:47:12.925Z","updatedAt":"2025-06-25T22:08:09.000Z","id":"rA19FPrvgZccfVbU","name":"[TEST]Laboratório de envio de SMS Marktel","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"27dd72ca-b12e-469c-83bf-5207a4410a67","name":"template_sms","value":"=Olá {{$json.Nome}}, tudo bem?\nConfirmamos seus dados conosco:\n\nNome: {{$json.Nome}}\nCPF: {{$json.CPF}}\n\nCelular: {{$json.Celular}}\nEmail cadastrado: {{$json.email}}\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,\nEquipe Suporte\n","type":"string"},{"id":"0dde0aaf-1f5d-419d-9380-6f05782e4747","name":"user_marktel","value":"aiknow","type":"string"},{"id":"10e89126-a962-4f2b-8c4d-e8161a82d1a2","name":"apikey","value":"49ac0e2e1ddd2c2e2fd89dce75a7625e","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-560,20],"id":"f5ba05ce-3bac-496c-8ce6-5dcfd4d48bff","name":"config global"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1060,20],"id":"f5cb22d4-13a2-4ac8-b6c4-76d438e14555","name":"teste manual de API"},{"parameters":{"assignments":{"assignments":[{"id":"55acc4eb-c902-4670-9e7c-2a7886d872b0","name":"Nome","value":"Marcelo Silva ","type":"string"},{"id":"974766d4-b1e0-4ef7-a271-b93c2c02ab43","name":"CPF","value":"40032851820","type":"string"},{"id":"93fb196b-c82c-440b-b1d0-9d6095f6c821","name":"Celular_Rogerio","value":"551199501073","type":"string"},{"id":"4a757bb6-de33-4017-99a6-12bb9a084112","name":"email","value":"adk1287@gmail.com","type":"string"},{"id":"e457e271-62c3-4286-9248-434bdfb09f78","name":"mensagem","value":"O que temos aqui é um milagre da ciência, já dizia Walt Disney \" se você pode sonhar, você pode realizar \". Um oferecimento para Mark, que criou esse teste fantástico.","type":"string"},{"id":"08a9cb05-0dec-4a5d-948a-2b943c13055d","name":"Celular_Mark","value":"5511949994528","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-820,20],"id":"300186e0-9111-47b9-97d4-812a1e3ade36","name":"dados dummy"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Connection","value":"close"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"pv"},{"name":"to","value":"={{$('dados dummy').item.json.Celular}}"},{"name":"msg","value":"Teste de mensagem via n8n"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,-280],"id":"ab644a24-472f-499b-9795-48d694a8a719","name":"envio de sms"},{"parameters":{"content":"## Teste de envio de SMS","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[120,-360],"typeVersion":1,"id":"7d963ab6-6fb7-4641-90e5-51eba50f2af1","name":"Sticky Note"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ds"},{"name":"queue","value":"b8a588a27d93a5fd3ed72772f5581839"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,260],"id":"21553df9-cfe9-4c50-8b8e-da3284befcea","name":"Status por Queue (ID da fila)"},{"parameters":{"content":"## Status por Queue (ID da fila)","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[120,200],"typeVersion":1,"id":"cdbbb241-7242-44f3-a467-2f87fc504d92","name":"Sticky Note1"},{"parameters":{"content":"## Último SMS enviado","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[500,-60],"typeVersion":1,"id":"adfad7d7-6995-44ad-a8f7-2250877a3a78","name":"Sticky Note2"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ds"},{"name":"c","value":"1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,20],"id":"4be8d92e-2884-4cc3-aebf-bfbbbfd5f9cc","name":"Ultimo SMS enviado"},{"parameters":{"content":"## Últimos X SMS enviados","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[500,200],"typeVersion":1,"id":"45828ddf-c3f6-48bd-a2fc-06d38e75c902","name":"Sticky Note3"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ds"},{"name":"c","value":"20"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,280],"id":"81a56e15-fd66-4174-8de9-b437a4f86768","name":"Últimos X SMS enviados"},{"parameters":{"content":"## Status por número de destino","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[880,-60],"typeVersion":1,"id":"6d774443-79eb-4aea-8129-7d184b833a88","name":"Sticky Note4"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{$('config global').item.json.user_marktel}}"},{"name":"h","value":"={{$('config global').item.json.apikey}}"},{"name":"op","value":"ds"},{"name":"dst","value":"={{ $('dados dummy').item.json.Celular }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,0],"id":"cc7e3120-91bc-41a4-83ef-56d3d3213efe","name":"Status por número de destino"},{"parameters":{"content":"## Status por data","height":240,"width":360},"type":"n8n-nodes-base.stickyNote","position":[880,200],"typeVersion":1,"id":"7823cbae-d381-44a6-b291-f9d8ad3ef276","name":"Sticky Note5"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{$('config global').item.json.user_marktel}}"},{"name":"h","value":"={{$('config global').item.json.apikey}}"},{"name":"op","value":"ds"},{"name":"dt","value":"2025-06-09"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,280],"id":"6ec2bf79-e90d-4043-9f7b-7ca172adf399","name":"Status por data"},{"parameters":{"content":"## Consulta de envio","height":540,"width":1160,"color":2},"type":"n8n-nodes-base.stickyNote","position":[100,-80],"typeVersion":1,"id":"2f0d313a-faad-4b87-b63b-0b6068d52017","name":"Sticky Note6"},{"parameters":{"content":"## Envio de SMS","height":320,"width":420,"color":2},"type":"n8n-nodes-base.stickyNote","position":[100,-420],"typeVersion":1,"id":"99156552-fcd6-41c9-bb6b-69f81771c919","name":"Sticky Note7"},{"parameters":{"content":"##  Verificar respostas ","height":580,"width":1160,"color":2},"type":"n8n-nodes-base.stickyNote","position":[100,480],"typeVersion":1,"id":"98a8750a-4e15-4906-a314-d822ed4a3c3c","name":"Sticky Note8"},{"parameters":{"content":"## Respostas por data específica","height":260,"width":360},"type":"n8n-nodes-base.stickyNote","position":[500,500],"typeVersion":1,"id":"1e86aaac-8c13-4421-999b-fe9ffeb3b59d","name":"Sticky Note9"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ix"},{"name":"dt","value":"2025-06-09"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,580],"id":"63d21d07-8327-4091-8174-8d1a6af9040b","name":"Respostas por data específica"},{"parameters":{"content":"## Ultimas X respostas (JSON)","height":260,"width":360},"type":"n8n-nodes-base.stickyNote","position":[880,780],"typeVersion":1,"id":"e037d34a-d657-40ad-8be9-0c4ab5366ba5","name":"Sticky Note10"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ix"},{"name":"dt","value":"2025-06"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,600],"id":"b68169d7-4f2e-4a7b-8a93-4823e468ad97","name":"Respostas por mês"},{"parameters":{"content":"## Respostas por mês","height":260,"width":360},"type":"n8n-nodes-base.stickyNote","position":[880,500],"typeVersion":1,"id":"2d4540a9-4838-49d2-bc29-cf8f44840f46","name":"Sticky Note11"},{"parameters":{"content":"## Respostas por ano","height":260,"width":360},"type":"n8n-nodes-base.stickyNote","position":[120,780],"typeVersion":1,"id":"c7304e2f-527a-44cb-b758-30a560a6961c","name":"Sticky Note12"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ix"},{"name":"dt","value":"2025"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[180,880],"id":"7ca7516e-8982-49d3-8d00-a03460370474","name":"Respostas por ano"},{"parameters":{"content":"## Todas as respostas","height":260,"width":360},"type":"n8n-nodes-base.stickyNote","position":[500,780],"typeVersion":1,"id":"16e95ab0-4494-4150-b495-72fa3dded5ce","name":"Sticky Note13"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ix"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[560,880],"id":"2eb991df-e986-49a1-820a-cc4581830f4e","name":"Todas as respostas"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config global').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config global').item.json.apikey }}"},{"name":"op","value":"ix"},{"name":"c","value":"12"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[940,860],"id":"3f6caa5b-78bf-4467-8764-23e719347d48","name":"Ultimas X respostas (JSON)"},{"parameters":{"content":"## Dados Dummy e config global","height":240,"width":780},"type":"n8n-nodes-base.stickyNote","position":[-1100,-60],"typeVersion":1,"id":"af7a49c4-3276-472d-97e8-20d46e959c21","name":"Sticky Note14"}],"connections":{"teste manual de API":{"main":[[{"node":"dados dummy","type":"main","index":0}]]},"dados dummy":{"main":[[{"node":"config global","type":"main","index":0}]]},"config global":{"main":[[{"node":"Ultimo SMS enviado","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Status por Queue (ID da fila)":[{"json":{"data":[{"smslog_id":"4843650800","src":"+","dst":"+5511949994528","msg":"Teste de mensagem via n8n","dt":"2025-06-09 17:52:44","update":"2025-06-09 17:52:52","status":"2"}],"error_string":null,"timestamp":1749503191}}],"Últimos X SMS enviados":[{"json":{"data":[{"smslog_id":"4843650800","src":"+","dst":"+5511949994528","msg":"Teste de mensagem via n8n","dt":"2025-06-09 17:52:44","update":"2025-06-09 17:52:52","status":"2"}],"error_string":null,"timestamp":1749503913}}],"Status por data":[{"json":{"data":[{"smslog_id":"4843650800","src":"+","dst":"+5511949994528","msg":"Teste de mensagem via n8n","dt":"2025-06-09 17:52:44","update":"2025-06-09 17:52:52","status":"2"}],"error_string":null,"timestamp":1749504325}}],"Respostas por data específica":[{"json":{"status":"ERR","error":"501","error_string":"no data returned or result is empty","timestamp":1749505259}}],"Respostas por mês":[{"json":{"status":"ERR","error":"501","error_string":"no data returned or result is empty","timestamp":1749505596}}],"Respostas por ano":[{"json":{"status":"ERR","error":"501","error_string":"no data returned or result is empty","timestamp":1749505727}}],"Todas as respostas":[{"json":{"status":"ERR","error":"501","error_string":"no data returned or result is empty","timestamp":1749505863}}],"Status por número de destino":[{"json":{"data":[{"smslog_id":"4843697973","src":"+","dst":"+5511983642697","msg":"Teste de mensagem via n8n","dt":"2025-06-09 18:56:08","update":"2025-06-09 18:56:21","status":"2"}],"error_string":null,"timestamp":1749506248}}],"config global":[{"json":{"template_sms":"Olá Marcelo Silva , tudo bem?\nConfirmamos seus dados conosco:\n\nNome: Marcelo Silva \nCPF: 40032851820\n\nCelular: 5511999174353\nEmail cadastrado: adk1287@gmail.com\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,\nEquipe Suporte\n","user_marktel":"aiknow","apikey":"49ac0e2e1ddd2c2e2fd89dce75a7625e"}}],"envio de sms":[{"json":{"data":[{"status":"OK","error":"0","smslog_id":"4845871841","queue":"ca458eb28052829e4793d60ffccb05ec","to":"+5511999174353"}],"error_string":null,"timestamp":1749664813}}],"Ultimo SMS enviado":[{"json":{"data":[{"smslog_id":"4845871841","src":"+","dst":"+5511999174353","msg":"Teste de mensagem via n8n","dt":"2025-06-11 15:00:13","update":"2025-06-11 15:00:14","status":"1"}],"error_string":null,"timestamp":1749664893}}]},"versionId":"772d1494-a3f7-48b9-9f75-93599d77212f","triggerCount":0,"shared":[{"createdAt":"2025-06-09T20:47:12.930Z","updatedAt":"2025-06-09T20:47:12.930Z","role":"workflow:owner","workflowId":"rA19FPrvgZccfVbU","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-25T22:04:28.379Z","updatedAt":"2025-06-25T22:04:28.379Z","id":"6KQ5Fuhb1qOfgCPP","name":"homologação"}]}