workflow/[TEST]Laboratório de envio de SMS Dev.json
{"createdAt":"2025-06-10T18:58:25.267Z","updatedAt":"2025-07-16T19:09:22.000Z","id":"VeRV9Rx87x5frxC2","name":"[TEST]Laboratório de envio de SMS Dev","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"27dd72ca-b12e-469c-83bf-5207a4410a67","name":"template_sms","value":"=Olá {{$json.Nome}}, tudo bem?\nConfirmamos seus dados conosco:\n\nNome: {{$json.Nome}}\nCPF: {{$json.CPF}}\n\nCelular: {{$json.Celular}}\nEmail cadastrado: {{$json.email}}\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,\nEquipe Suporte\n","type":"string"},{"id":"10e89126-a962-4f2b-8c4d-e8161a82d1a2","name":"apikey","value":"0QOKLQ7ILWMEC1IJIT4O5AP7TPZKC7NQTSHQTQTMSHJM8C5Q8G0IKYFTFO5XXV9FP355SB6AANBEMUY1503W53K8HMNQL21HLOS1NB1J4BW7SDVLO8U3YUO6QSWEE7SW","type":"string"},{"id":"490f7fed-5bf2-4ae8-b598-d4c69d8eaa0d","name":"ID_DA_MENSAGEM","value":"3150885157","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,60],"id":"65783a5a-37f0-49a8-bcdd-0504b4ad751c","name":"config global"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-220,60],"id":"4cd0125b-8167-4be8-ab40-6b76a8d96b38","name":"teste manual de API"},{"parameters":{"assignments":{"assignments":[{"id":"55acc4eb-c902-4670-9e7c-2a7886d872b0","name":"Nome","value":"Marcelo Silva ","type":"string"},{"id":"974766d4-b1e0-4ef7-a271-b93c2c02ab43","name":"CPF","value":"40032851820","type":"string"},{"id":"93fb196b-c82c-440b-b1d0-9d6095f6c821","name":"Celular","value":"11949994528","type":"string"},{"id":"4a757bb6-de33-4017-99a6-12bb9a084112","name":"email","value":"adk1287@gmail.com","type":"string"},{"id":"e457e271-62c3-4286-9248-434bdfb09f78","name":"mensagem","value":"O que temos aqui é um milagre da ciência, já dizia Walt Disney \" se você pode sonhar, você pode realizar \". Um oferecimento para Mark, que criou esse teste fantástico.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[20,60],"id":"e9fe1413-2df4-4c7f-aed8-70a682990d19","name":"dados dummy"},{"parameters":{"content":"## Dados Dummy e config global","height":240,"width":780},"type":"n8n-nodes-base.stickyNote","position":[-260,-20],"typeVersion":1,"id":"76ef5c26-4c6e-4144-86dc-7930ac7227b9","name":"Sticky Note14"},{"parameters":{"url":"https://api.smsdev.com.br/v1/send","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.apikey }}"},{"name":"type","value":"9"},{"name":"number","value":"={{ $('dados dummy').item.json.Celular }}"},{"name":"msg","value":"={{ $json.template_sms }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[820,60],"id":"feb63ef2-0f45-4d6b-b7b3-b07a20d41311","name":"Envio de SMS"},{"parameters":{"url":"https://api.smsdev.com.br/v1/dlr","sendQuery":true,"queryParameters":{"parameters":[{"name":"key","value":"={{ $json.apikey }}"},{"name":"id","value":"={{ $json.ID_DA_MENSAGEM }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,320],"id":"94cf3cd2-a871-4fde-87bd-26bba66c5cb0","name":"Verificar Status de Entrega"},{"parameters":{"content":"## Envio de SMS","height":240,"width":340},"type":"n8n-nodes-base.stickyNote","position":[740,-20],"typeVersion":1,"id":"505ad7d3-8871-4b3b-ab2e-54ee71122fd1","name":"Sticky Note"},{"parameters":{"content":"## Verificar Status de Entrega","height":260,"width":340},"type":"n8n-nodes-base.stickyNote","position":[740,240],"typeVersion":1,"id":"793a29e4-5f43-4353-8ac6-8ebd85dbe98c","name":"Sticky Note1"}],"connections":{"teste manual de API":{"main":[[{"node":"dados dummy","type":"main","index":0}]]},"dados dummy":{"main":[[{"node":"config global","type":"main","index":0}]]},"config global":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Envio de SMS":[{"json":{"situacao":"OK","codigo":"1","id":"3150885157","number":"11949994528","descricao":"MENSAGEM NA FILA"}}],"config global":[{"json":{"template_sms":"Olá Marcelo Silva , tudo bem?\nConfirmamos seus dados conosco:\n\nNome: Marcelo Silva \nCPF: 40032851820\n\nCelular: 11949994528\nEmail cadastrado: adk1287@gmail.com\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,\nEquipe Suporte\n","apikey":"0QOKLQ7ILWMEC1IJIT4O5AP7TPZKC7NQTSHQTQTMSHJM8C5Q8G0IKYFTFO5XXV9FP355SB6AANBEMUY1503W53K8HMNQL21HLOS1NB1J4BW7SDVLO8U3YUO6QSWEE7SW","ID_DA_MENSAGEM":"3150885157"}}],"Verificar Status de Entrega":[{"json":{"situacao":"ERRO","codigo":"414","descricao":"NAO AUTENTICADO OU BLOQUEADO."}}]},"versionId":"44a06b0b-81f6-43e4-97ee-eb07e985eebb","triggerCount":0,"shared":[{"createdAt":"2025-06-10T18:58:25.270Z","updatedAt":"2025-06-10T18:58:25.270Z","role":"workflow:owner","workflowId":"VeRV9Rx87x5frxC2","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-10T20:42:49.171Z","updatedAt":"2025-06-10T20:42:49.171Z","id":"h4umybNLa5zH46QD","name":"Concluido"},{"createdAt":"2025-07-16T19:08:34.052Z","updatedAt":"2025-07-16T19:08:34.052Z","id":"hxa52eyxxuqAyMEh","name":"teste API http request"}]}