workflow/[TEST]Envio de relatorio mensal custos BK.json
{"createdAt":"2025-06-20T18:39:59.847Z","updatedAt":"2025-10-08T03:03:19.000Z","id":"fxJqOj7W3g63PT56","name":"[TEST]Envio de relatorio mensal custos BK","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-944,-176],"id":"3abf2d19-604e-4d79-b596-f056291175f6","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1MZmnrEZTQ5ASMxNgIq_ubTzicZ34HbhFoJmQLrtP7hI","mode":"list","cachedResultName":"Custos BK","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MZmnrEZTQ5ASMxNgIq_ubTzicZ34HbhFoJmQLrtP7hI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1114917112,"mode":"list","cachedResultName":"Página2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1MZmnrEZTQ5ASMxNgIq_ubTzicZ34HbhFoJmQLrtP7hI/edit#gid=1114917112"},"filtersUI":{"values":[{"lookupColumn":"Mes referencia","lookupValue":"={{ [\"\", \"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\", \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"][parseInt($json.mes, 10)].trimStart().trimEnd() }} - 2025"}]},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,-288],"id":"b4211316-b584-4de4-bad6-ace42057c034","name":"Pega informações da planilha de custo bk","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"de795bb9-3a11-4ea6-befc-96bcf66e4707","name":"BK NUMBER","value":"={{ $json.BKN }}","type":"string"},{"id":"0120e490-a428-428d-bfaa-ad491bebe343","name":"SERVIÇO","value":"Serviços de Informática - Sob código 01.07","type":"string"},{"id":"6e449228-5fbd-4b0d-8323-d5a475b7cdf5","name":" VALOR ","value":"={{ $json[' Custo '].trimStart().trimEnd() }}","type":"string"},{"id":"31c22a69-51d7-4038-a79f-b43b62eb2643","name":"OBSERVAÇÃO","value":"={{ $json['Motivos da Visita'] }}","type":"string"},{"id":"cba12c76-31b7-4a70-89ef-91e1d330281a","name":"Data da solicitação","value":"={{ $json['Data da solicitação'] }}","type":"string"},{"id":"75f94da8-bc42-4ef8-a7c7-4a8e39e199ce","name":"OBSERVAÇÃO","value":"RITM0198552","type":"string"},{"id":"d6298817-bdd5-4921-b318-4118ee80cb81","name":"Atendimento","value":"={{ $json.Atendimento }}","type":"string"},{"id":"4f71eddb-f481-495d-8acd-2711b1589059","name":"QTD","value":"2","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-288],"id":"074ed63a-63c7-4d85-af0a-eb7c2e4a65d9","name":"preparação de dados parte 1"},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-944,32],"id":"395925b1-96a9-405c-8cb6-0cc3be087c19","name":"Schedule Trigger","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"de795bb9-3a11-4ea6-befc-96bcf66e4707","name":"BK NUMBER","value":"={{ $json['BK NUMBER'] }}","type":"string"},{"id":"0120e490-a428-428d-bfaa-ad491bebe343","name":"SERVIÇO","value":"Serviços de Informática - Sob código 01.07","type":"string"},{"id":"6e449228-5fbd-4b0d-8323-d5a475b7cdf5","name":" VALOR ","value":"={{ $json.VALOR.trimStart().trimEnd() }}","type":"string"},{"id":"31c22a69-51d7-4038-a79f-b43b62eb2643","name":"OBSERVAÇÃO","value":"={{ $json['OBSERVAÇÃO'] }}","type":"string"},{"id":"cba12c76-31b7-4a70-89ef-91e1d330281a","name":"Data da solicitação","value":"={{ $json.Data }}","type":"string"},{"id":"75f94da8-bc42-4ef8-a7c7-4a8e39e199ce","name":"OBSERVAÇÃO","value":"-","type":"string"},{"id":"d6298817-bdd5-4921-b318-4118ee80cb81","name":"Atendimento","value":"={{ $json.Atendimento }}","type":"string"},{"id":"4f71eddb-f481-495d-8acd-2711b1589059","name":"QTD","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,-80],"id":"56c738da-c06c-45e0-afeb-7f7b96711949","name":"preparação de dados parte 2"},{"parameters":{"documentId":{"__rl":true,"value":"1HprFfVdXRmZn3QUHfIJTQRmP948fV78LfPQA2XJHUo4","mode":"list","cachedResultName":"base_pr_suporte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HprFfVdXRmZn3QUHfIJTQRmP948fV78LfPQA2XJHUo4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"valor suporte lojas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HprFfVdXRmZn3QUHfIJTQRmP948fV78LfPQA2XJHUo4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"OBSERVAÇÃO","lookupValue":"Suporte Técnico Remoto  Abr/25   -  57 lojas"}]},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,-80],"id":"0bf82685-8ffc-4e57-9023-387bf93107d4","name":"Pega as informações da PR suporte parte 1","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1HprFfVdXRmZn3QUHfIJTQRmP948fV78LfPQA2XJHUo4","mode":"list","cachedResultName":"base_pr_suporte","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HprFfVdXRmZn3QUHfIJTQRmP948fV78LfPQA2XJHUo4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"valor suporte lojas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1HprFfVdXRmZn3QUHfIJTQRmP948fV78LfPQA2XJHUo4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"OBSERVAÇÃO","lookupValue":"Suporte Técnico Remoto  Abr/25  -   58 lojas 2024*   "}]},"options":{"outputFormatting":{"values":{"general":"FORMATTED_VALUE","date":"FORMATTED_STRING"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,128],"id":"bf8e7d8e-032f-4083-8d89-0e71d01f60a6","name":"Pega as informações da PR suporte parte 2","executeOnce":false,"credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"de795bb9-3a11-4ea6-befc-96bcf66e4707","name":"BK NUMBER","value":"={{ $json['BK NUMBER'] }}","type":"string"},{"id":"0120e490-a428-428d-bfaa-ad491bebe343","name":"SERVIÇO","value":"Serviços de Informática - Sob código 01.07","type":"string"},{"id":"6e449228-5fbd-4b0d-8323-d5a475b7cdf5","name":" VALOR ","value":"={{ $json.VALOR.trimStart().trimEnd() }}","type":"string"},{"id":"31c22a69-51d7-4038-a79f-b43b62eb2643","name":"OBSERVAÇÃO","value":"={{ $json['OBSERVAÇÃO'] }}","type":"string"},{"id":"cba12c76-31b7-4a70-89ef-91e1d330281a","name":"Data da solicitação","value":"={{ $json.Data }}","type":"string"},{"id":"75f94da8-bc42-4ef8-a7c7-4a8e39e199ce","name":"OBSERVAÇÃO","value":"-","type":"string"},{"id":"d6298817-bdd5-4921-b318-4118ee80cb81","name":"Atendimento","value":"={{ $json.Atendimento }}","type":"string"},{"id":"4f71eddb-f481-495d-8acd-2711b1589059","name":"QTD","value":"1","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-288,128],"id":"484c4e06-6171-4e41-bbbf-5c59b39ce0ea","name":"preparação de dados parte 3"},{"parameters":{"assignments":{"assignments":[{"id":"c5dc1329-642d-45d4-a00a-c2041b901640","name":"template_email","value":"=Boa tarde ,\n\nOlá Matheus, boa tarde! Tudo bem?\n\nSeguem os valores referente ao Suporte Remoto e Manutenções realizadas nas lojas pela equipe da Aiknow em Maio/25.\n\nDurante o mês de Maio/25, além da prestação de suporte técnico remoto, realizamos 31 visitas presenciais para atendimento a chamados de Manutenção nas lojas BK, conforme planilha de medição em arquivo anexo: \n\nPortanto, estamos encaminhando a nota fiscal de suporte técnico Ref. Maio/25, conforme descrição abaixo:\nSuporte Técnico Remoto  Maio/25   -  57 lojas                            R$    44.460,00\nSuporte Técnico Remoto  Maio/25  -   58 lojas 2024*                      R$    34.742,00\nVisitas de Manutenção (31 visitas) -  Maio/25                            R$    32.432,00\nEquipamentos Substituídos+Envio  Maio/25                                 R$    97.570,00\nRe-instalações de lojas (Pré-aprovadas):                                 R$     8.108,00\nBK Pte. Aricanduva -                                                     R$    4.054,00\nBK Marechal Tito I -                                                     R$    4.054,00\n \nTotal Geral                                                              R$   217.972,00","type":"string"},{"id":"c46472dd-7cb9-4c49-9aeb-3ec43977286f","name":"subject","value":"=PITSTOP DRIVE | PR SUPORTE {{ [\"\", \"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\", \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"][parseInt( $('config global (não mexer )').item.json.mes, 10)].trimStart().trimEnd() }} - 2025","type":"string"},{"id":"d4e01da1-8070-4f63-8a49-bec9cc230cb9","name":"from","value":"marcelo@aiknow.ai","type":"string"},{"id":"c69c9ec3-5e04-435e-8b9d-047b2edc9565","name":"anexo","value":"={{ $binary.data['fileName'] }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,-80],"id":"43dff22c-420b-4002-b5b0-8200f6d76481","name":"template email"},{"parameters":{"sendTo":"={{ $json.from.trimStart().trimEnd() }}","subject":"={{ $json.subject.trimStart().trimStart() }}","emailType":"text","message":"={{ $json.template_email }}","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{"property":"=data"}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[608,-80],"id":"3f9b1c78-d305-4317-97cb-a177b6a7eca5","name":"Gmail","webhookId":"12c13fc2-f745-4932-9eea-8d4b1a95d800","credentials":{"gmailOAuth2":{"id":"8SOLaAOXoXTRVoyl","name":"Gmail account"}}},{"parameters":{"operation":"xlsx","binaryPropertyName":"=data","options":{"fileName":"=PITSTOP DRIVE  PR SUPORTE {{ [\"\", \"janeiro\", \"fevereiro\", \"março\", \"abril\", \"maio\", \"junho\", \"julho\", \"agosto\", \"setembro\", \"outubro\", \"novembro\", \"dezembro\"][parseInt( $('config global (não mexer )').item.json.mes, 10)].trimStart().trimEnd() }} - 2025"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[160,-80],"id":"a41cc344-7231-4120-b238-f2090a7d596b","name":"converte o json em XLSX"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[-64,-80],"id":"3c5671e0-9cd9-4668-9701-c155bd03256f","name":"combina as planilhas"},{"parameters":{"content":"## Falta arrumar\npreciso arrumar a coleta das informações, incluindo a quantidade de cada item","height":280,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-576,-384],"typeVersion":1,"id":"52d57303-f5f4-4e86-ba42-13540c373039","name":"Sticky Note"},{"parameters":{"content":"## Falta arrumar\nPreciso criar um codigo html para lidar com os resumos de cada valor","height":320,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[544,-208],"typeVersion":1,"id":"eea66455-72fd-40ae-8879-3f10cba55ea6","name":"Sticky Note1"},{"parameters":{"content":"## Falta arrumar\nPreciso descobrir como somar os valores, deixar eles preparados antes de converter o arquivo","height":200,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-48,112],"typeVersion":1,"id":"5ee51b4b-d583-4993-ab0b-39e13add986d","name":"Sticky Note2"},{"parameters":{"content":"## Homologação\n\nPara fins te deste, o agendamento está configurado para ser enviado as 08:00 hs de todos os dias para o email marcelo@aiknow.ai","height":580,"width":460},"type":"n8n-nodes-base.stickyNote","position":[-1184,-320],"typeVersion":1,"id":"19d1121e-47f2-4802-84a7-5f477da0159f","name":"Sticky Note3"},{"parameters":{"assignments":{"assignments":[{"id":"5d0ce8e5-c181-4691-a27e-f4f38016cba6","name":"dia_corte","value":"24","type":"string"},{"id":"b3190459-ba8a-471c-8d89-d7688ff2c9b1","name":"ano","value":"2025","type":"string"},{"id":"e4cc7e4a-2b06-4474-aab5-56a5e058b276","name":"mes","value":"=04","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-720,-80],"id":"eb0b19d6-c334-4ca0-98f8-cadc1136930c","name":"config global (não mexer )"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"config global (não mexer )","type":"main","index":0}]]},"Pega informações da planilha de custo bk":{"main":[[{"node":"preparação de dados parte 1","type":"main","index":0}]]},"preparação de dados parte 1":{"main":[[{"node":"combina as planilhas","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"config global (não mexer )","type":"main","index":0}]]},"preparação de dados parte 2":{"main":[[{"node":"combina as planilhas","type":"main","index":1}]]},"Pega as informações da PR suporte parte 1":{"main":[[{"node":"preparação de dados parte 2","type":"main","index":0}]]},"Pega as informações da PR suporte parte 2":{"main":[[{"node":"preparação de dados parte 3","type":"main","index":0}]]},"preparação de dados parte 3":{"main":[[{"node":"combina as planilhas","type":"main","index":2}]]},"template email":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"converte o json em XLSX":{"main":[[{"node":"template email","type":"main","index":0}]]},"combina as planilhas":{"main":[[{"node":"converte o json em XLSX","type":"main","index":0}]]},"config global (não mexer )":{"main":[[{"node":"Pega informações da planilha de custo bk","type":"main","index":0},{"node":"Pega as informações da PR suporte parte 1","type":"main","index":0},{"node":"Pega as informações da PR suporte parte 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b764705d-ec63-479e-b025-d0926b375ea9","triggerCount":1,"shared":[{"createdAt":"2025-06-20T18:39:59.850Z","updatedAt":"2025-06-20T18:39:59.850Z","role":"workflow:owner","workflowId":"fxJqOj7W3g63PT56","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-12T17:36:45.396Z","updatedAt":"2025-05-12T17:36:45.396Z","id":"49diNpduyy6EtxOB","name":"em construção"},{"createdAt":"2025-04-15T01:03:23.327Z","updatedAt":"2025-04-15T01:03:23.327Z","id":"fJXl5P7vN00LB3zn","name":"Aiknow"}]}