workflow/[TEST]Envio de emails em massa.json
{"createdAt":"2025-05-12T14:26:40.001Z","updatedAt":"2025-06-04T14:54:29.000Z","id":"INjtkIxKRwdYrGSK","name":"[TEST]Envio de emails em massa","active":false,"isArchived":false,"nodes":[{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2160,200],"id":"c5ade7a8-91f0-41ca-9dfe-bce74bb0161b","name":"Aguarde 20s","webhookId":"0d886900-a1d1-479e-a53a-cc982e3b4a2f"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-460,-180],"id":"6b9345e6-f248-4e19-9b62-571c5df88340","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2160,20],"id":"11a10c8d-5bfc-4beb-8216-0eaaf8f578df","name":"não tem mais envios"},{"parameters":{"jsCode":"// Código para o nó Function de validação de dados\n// Adicione este nó entre Loop Over Items1 e Get CEP1\n\n// Função para validar CPF\nfunction validarCPF(cpf) {\n  cpf = cpf.replace(/[^\\d]+/g, ''); \n  if (cpf.length !== 11 || /^(\\d)\\1{10}$/.test(cpf)) return false;\n  \n  let soma = 0;\n  for (let i = 0; i < 9; i++) {\n    soma += parseInt(cpf.charAt(i)) * (10 - i);\n  }\n  \n  let resto = 11 - (soma % 11);\n  if (resto === 10 || resto === 11) resto = 0;\n  if (resto !== parseInt(cpf.charAt(9))) return false;\n  \n  soma = 0;\n  for (let i = 0; i < 10; i++) {\n    soma += parseInt(cpf.charAt(i)) * (11 - i);\n  }\n  \n  resto = 11 - (soma % 11);\n  if (resto === 10 || resto === 11) resto = 0;\n  return resto === parseInt(cpf.charAt(10));\n}\n\n// Função para validar email\nfunction validarEmail(email) {\n  const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\n  return regex.test(email);\n}\n\n// Função para validar CEP\nfunction validarCEP(cep) {\n  cep = cep.replace(/[^\\d]+/g, '');\n  return cep.length === 8;\n}\n\n// Item atual sendo processado\nconst item = $input.item.json;\n\n// Objeto para armazenar erros de validação\nconst erros = [];\n\n// Valida CPF\nif (!validarCPF(item.CPF)) {\n  erros.push(`CPF inválido: ${item.CPF}`);\n}\n\n// Valida Email\nif (!validarEmail(item.Email)) {\n  erros.push(`Email inválido: ${item.Email}`);\n}\n\n// Valida CEP\nif (!validarCEP(item.CEP)) {\n  erros.push(`CEP inválido: ${item.CEP}`);\n}\n\n// Adiciona resultados da validação ao objeto\nitem.validacao = {\n  valido: erros.length === 0,\n  erros: erros,\n  timestamp: $now.toFormat('yyyy-MM-dd HH:mm:ss')\n};\n\n// Retorna o item com a validação\nreturn { json: item };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,160],"id":"bb81545a-269d-4c7e-aea0-3f6e33982887","name":"validacaoDados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f80e0287-c222-4951-8e6b-89dfba0c4b7c","leftValue":"={{$json.hasOwnProperty('error') || $('validacaoDados').item.json.validacao.valido === false}}\n","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1600,140],"id":"70f3dd0a-f5db-46d6-b19a-7dc9a76b5c6c","name":"houve falhas na validação dos dados ?"},{"parameters":{"assignments":{"assignments":[{"id":"66444ca5-7160-4aea-b14d-17497147aedd","name":"assunto_alerta","value":"=Erro da execução ID: {{$execution.id}}","type":"string"},{"id":"48e1158e-4f45-4175-99ea-b16b154ea268","name":"corpo_alerta","value":"=Olá administrador,\\n\\nOcorreu um problema no processamento do contato:\\n\\nNome: {{$('Contatos Envio').item.json.Nome}}\\nEmail: {{$('Contatos Envio').item.json.Email}}\\nCPF: {{$('Contatos Envio').item.json.CPF}}\\n\\nDetalhes do erro:\\n{{JSON.stringify($json.error || $('validacaoDados').item.json.validacao.erros, null, 2)}}\\n\\nData/Hora: {{new Date().toLocaleString()}}\\n\\n\nExecutions : \n\nExecution Mode {{ $execution.mode }}\nExcecute Resume URL {{ $execution.resumeUrl }}\nExecute Resume Form URL {{ $execution.resumeFormUrl }}\nEste é um email automático, não responda.\\n\\nAtenciosamente,\\nSistema de Monitoramento","type":"string"},{"id":"28ba7578-3b1d-45cf-8143-fb0d0573ba6a","name":"destinatario_alerta","value":"adk1287@gmail.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1620,660],"id":"e21cabc1-25a6-49e9-8ab0-b9e3c9ca7f05","name":"preparar o email de alerta com a falha"},{"parameters":{"sendTo":"={{ $json.destinatario_alerta }}","subject":"={{ $json.assunto_alerta }}","emailType":"text","message":"={{ $json.corpo_alerta }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2160,660],"id":"157d09ed-c4f3-49dc-b3a0-86923c23fa00","name":"Envia email com o erro.","webhookId":"2aaae756-b5f7-45f3-8145-bee8c2b537de","credentials":{"gmailOAuth2":{"id":"8SOLaAOXoXTRVoyl","name":"Gmail account"}}},{"parameters":{"url":"https://sheets.googleapis.com/v4/spreadsheets/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/values/A:G","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"valueRenderOption","value":"FORMATTED_VALUE"},{"name":"dateTimeRenderOption","value":"FORMATTED_STRING"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-280,160],"id":"c0943592-092f-4ee9-b828-b66c3d5b5438","name":"consultar a planilha de logs","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"43a415ca-4b60-4b5d-8fa6-98ead120c1cc","name":"detalheFalha","value":"Falha na validação dos dados","type":"string"},{"id":"c0524684-f883-4db4-bf63-30f2df399661","name":"errosValidacao","value":"={{ $('validacaoDados').item.json.validacao.erros }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,640],"id":"ae916b3c-14b9-4e39-95b8-18cf560b1b15","name":"Preparar Dados de Falha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02fbfdd1-ffa1-4877-b721-39a5b75dc2da","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[140,400],"id":"4aaabf9a-3b0a-4d64-8373-1d54b6a86774","name":"Email já enviado?"},{"parameters":{"assignments":{"assignments":[{"id":"13f86927-ca71-49ee-bda0-6cc5c24f4ae9","name":"status","value":"Pulado - Email já enviado anteriormente","type":"string"},{"id":"b7c38d75-c904-4b6c-91c1-3c2d8a045493","name":"timestamp","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"141c251c-682d-4d70-9e1d-d546fe35a1d4","name":"ID_envio","value":"={{ $json.rows[0].ID_envio }}","type":"string"},{"id":"39f4e908-d7fb-4770-9e4e-14d1e498ad4f","name":"Nome","value":"={{ $json.rows[0].Nome }}","type":"string"},{"id":"fb9daf00-6a29-487a-b723-607bb7227836","name":"CPF","value":"={{ $json.rows[0].CPF }}","type":"string"},{"id":"e45d864b-9616-4d73-8c9f-f738c1b145e7","name":"Email","value":"={{ $json.rows[0].Email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[160,640],"id":"627b502c-1ede-4144-b56e-6192300d6bbb","name":"Registrar Emails Pulados"},{"parameters":{"content":"## Passo 1\nEsse nodo é responsavel por pegar a base de dados dos clientes, envolvendo CPF, email, CEP, etc \n","height":440,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-1100,-40],"typeVersion":1,"id":"3ae6d159-e77f-4f8a-b89e-ef95db76d51a","name":"Sticky Note"},{"parameters":{"content":"## Passo 2\n\nNessa etapa, o loop trata cada linha da planilha como uma pessoa e manda para o nodo de validacaoDados, que é responsavel por validar se o CPF, CEP e email estão corretos.","height":440,"width":440},"type":"n8n-nodes-base.stickyNote","position":[-800,-40],"typeVersion":1,"id":"278b9f61-fa03-47b1-a345-98443333ba0c","name":"Sticky Note1"},{"parameters":{"content":"## Passo 3\n\nNessa etapa, após os dados passarem pelo nodo validacaoDados, os mesmos não são descartados por erro.\nNa etapa do consultar a planilha de logs, puxamos a lista dos dados da planilha, pegamos esses dados e enviamos para o nodo Contar email enviado, que basicamente conta quantas vezes aquele determiado email está na planilha.","height":440,"width":420},"type":"n8n-nodes-base.stickyNote","position":[-340,-40],"typeVersion":1,"id":"790f9936-43a6-4a4d-8a99-5abbbbb32984","name":"Sticky Note2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rows = $input.item.json.values;\nconst headerRow = rows[0]; // A primeira linha contém os cabeçalhos\nconst emailIndex = headerRow.indexOf('Email');\n\nif (emailIndex === -1) {\n  return { json: { length: 0, error: 'Coluna Email não encontrada' } };\n}\n\nconst emailToFind = $('Contatos Envio').item.json.Email;\nconst matchingRows = [];\n\n// Iniciando de 1 para pular a linha de cabeçalho\nfor (let i = 1; i < rows.length; i++) {\n  const row = rows[i];\n  if (row[emailIndex] === emailToFind) {\n    const rowObject = {};\n    for (let j = 0; j < headerRow.length; j++) {\n      rowObject[headerRow[j]] = row[j];\n    }\n    matchingRows.push(rowObject);\n  }\n}\n\nreturn { json: { length: matchingRows.length, rows: matchingRows } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-80,160],"id":"9cc63898-5db8-4ace-8375-ea325a98feb4","name":"Contar email enviado"},{"parameters":{"content":"## Passo 4\n\nNessa etapa, temos um tratamento de IF chamado de **Email já enviado?** onde ele pega o parametro **length** ( tamanho ) do nodo **Contar email enviado**, e se caso o retorno do **length** seja **igual a 0**, ele deriva para o **false**, onde ele pepara as informações no nodo set **Registrar emails pulados** e depois **salva os logs** para planilha logs de envio com as informações timestamp, ID_envio, Nome, CPF e Email.\nJá o nodo IF chamado de Tratamento de erro pega as informações do nodo validacaoDado e verifica o campo chamado de validacao.valido == true, se sim ele segue com o envio do email, caso a validação der false, ele deriva para o nodo set **Preparar dados de falha** que coleta as informações de erro e manda para o nodo set **preparar o email de alerta com a falha** que por fim, manda as informações para o nodo gmail que faz o envio da informação para o adminstrador do nodo, por fim ele deriva para o nodo **IF Ainda tem envios?** , se sim continua, caso contrario, ele termina. ","height":840,"width":480},"type":"n8n-nodes-base.stickyNote","position":[100,-40],"typeVersion":1,"id":"336ba1e1-a2c9-4c46-93b8-1fc6f160128a","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0bab048-3536-4041-851a-d59fb67553d8","leftValue":"={{ $('validacaoDados').item.json.validacao.valido }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[420,400],"id":"60857b58-f052-422a-b297-d6bdb82f9dd2","name":"Tratamento de erro","notes":"expressoes usadas anteriormente :\n\n{{$json.validacao.valido === true}}"},{"parameters":{"url":"=https://viacep.com.br/ws/{{ $('validacaoDados').item.json.CEP }}/json/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[620,140],"id":"e46b8869-ce24-495b-b2ba-e3d4dea1c402","name":"Get CEP"},{"parameters":{"assignments":{"assignments":[{"id":"0e12d695-6fc7-44d2-877e-4b7782909901","name":"corpo_email","value":"=<h2>Olá <strong><span style=\"color: red;\">{{$('Contatos Envio').item.json.Nome}}</span>, tudo bem?</h2>\n<h3>Confirmamos seus dados conosco:</h3>\n\n<strong>Nome:</strong> {{$('Contatos Envio').item.json.Nome}}<br>\n<strong>CPF:</strong> {{$('Contatos Envio').item.json.CPF}}<br>\n<strong>Endereço:</strong> {{$json[\"logradouro\"]}}, {{$json[\"bairro\"]}}, {{$json[\"localidade\"]}} - {{$json[\"uf\"]}}<br>\n<strong>CEP:</strong> {{$json[\"cep\"]}}<br>\n<strong>Celular:</strong> {{$('Contatos Envio').item.json.Celular}}<br>\n<strong><span style=\"color: red;\">Email cadastrado:</span></strong> {{$('Contatos Envio').item.json.Email}}<br><br>\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,<br><br>  \n<strong>Equipe Suporte</strong>\n","type":"string"},{"id":"a9633d41-5264-4a2e-9ba0-a9fa2f0903b5","name":"assunto","value":"Confirmação de dados cadastrais","type":"string"},{"id":"eb799200-6f7a-496a-89c6-0f5349f6802e","name":"enviar_para","value":"={{ $('Contatos Envio').item.json.Email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,140],"id":"fe115cee-8950-4dae-9d6b-ccca0d84537a","name":"Preparar email"},{"parameters":{"sendTo":"={{ $('Preparar email').item.json.enviar_para }}","subject":"={{ $('Preparar email').item.json.assunto }}","message":"={{ $('Preparar email').item.json.corpo_email }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1200,140],"id":"80b90275-69ca-4bda-9ac0-c5b9e9a566d2","name":"Enviar Email","webhookId":"cf2e5f52-6634-467d-9736-ae7bb7d8b174","credentials":{"gmailOAuth2":{"id":"8SOLaAOXoXTRVoyl","name":"Gmail account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck","mode":"list","cachedResultName":"Log de Envios Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Log de Envios Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data_Hora":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Status":"=Email enviado em {{$json.timestamp}}","ID_envio":"={{ $json.ID_envio }}","Nome":"={{ $json.Nome }}","CPF":"={{ $json.CPF }}","Email":"={{ $json.Email }}","Detalhe":"Tentativa repetida, e-mail Não reenviado"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_Hora","displayName":"Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalhe","displayName":"Detalhe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID_envio","displayName":"ID_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[960,480],"id":"3feb99fe-c564-4d10-b4d4-f620e1d0060f","name":"logs emails pulados","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck","mode":"list","cachedResultName":"Log de Envios Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Log de Envios Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data_Hora":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","Status":"={{ $json.labelIds }}","ID_envio":"={{ $json.id }}","Detalhe":"Email enviado","Nome":"={{ $('Contatos Envio').item.json.Nome }}","CPF":"={{ $('Contatos Envio').item.json.CPF }}","Email":"={{ $('Contatos Envio').item.json.Email }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_Hora","displayName":"Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalhe","displayName":"Detalhe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID_envio","displayName":"ID_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1400,140],"id":"176ad506-7264-48e1-8bf4-5a5edf8b083b","name":"Save logs envios","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7afdc754-92f6-4b4b-b1d4-69228de8466e","leftValue":"={{ $('Loop Over Items').context['noItemsLeft'] }}","rightValue":"=false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1880,120],"id":"6fb8914d-c949-4b3c-ac85-a5b9c81f8bc5","name":"Ainda tem envios ?"},{"parameters":{"content":"## Passo 5\nNesta etapa, se caso o e-mail ainda não tenha sido enviado, ele vai seguir validando o **CEP** que foi adquirido na planilha de **contatos**,dai ele segue com a **informação da planilha + dados validados** para o nodo set **Preparar e-mail**, que prepara as informações com a inclusão de html ,uma vez concluido, o nodo envia as informações para o nodo **Enviar Email**, uma vez enviado, é feito o registro do envio atraves do nodo google sheet chamado **Save Logs envios**.","height":440,"width":920},"type":"n8n-nodes-base.stickyNote","position":[600,-40],"typeVersion":1,"id":"e5b5dc92-9749-41cf-a90e-c4264f5a470b","name":"Sticky Note4"},{"parameters":{"content":"## Passo 6\n","height":440,"width":800},"type":"n8n-nodes-base.stickyNote","position":[1540,-40],"typeVersion":1,"id":"cbb57ffe-ce77-4e5e-860e-c055b8cb069b","name":"Sticky Note5"},{"parameters":{"html":"<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>My HTML document</title>\n</head>\n<body>\n  <div class=\"container\">\n    <p style=\"text-align: right;\">{{ $json.corpo_email }}</p>  \n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: center;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>\n\n<script>\nconsole.log(\"Hello World!\");\n</script>"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1020,140],"id":"2baa7b30-b9f8-496d-a666-dac5a4bf9b15","name":"HTML"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU","mode":"list","cachedResultName":"Contatos Envio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Contatos Envio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-1000,140],"id":"456a6154-93d4-4a58-9f13-8114ac3fe2ab","name":"Contatos Envio","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"gExyCfYmHGygCPNp","name":"Google Sheets Trigger aiknow"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-720,100],"id":"9d6a4e95-331f-4be2-84c2-a6ebd040076e","name":"Loop Over Items"}],"connections":{"Aguarde 20s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"validacaoDados":{"main":[[{"node":"consultar a planilha de logs","type":"main","index":0}]]},"houve falhas na validação dos dados ?":{"main":[[{"node":"preparar o email de alerta com a falha","type":"main","index":0}],[{"node":"Ainda tem envios ?","type":"main","index":0}]]},"preparar o email de alerta com a falha":{"main":[[{"node":"Envia email com o erro.","type":"main","index":0}]]},"Envia email com o erro.":{"main":[[{"node":"Ainda tem envios ?","type":"main","index":0}]]},"consultar a planilha de logs":{"main":[[{"node":"Contar email enviado","type":"main","index":0}]]},"Preparar Dados de Falha":{"main":[[{"node":"preparar o email de alerta com a falha","type":"main","index":0}]]},"Email já enviado?":{"main":[[{"node":"Tratamento de erro","type":"main","index":0}],[{"node":"Registrar Emails Pulados","type":"main","index":0}]]},"Registrar Emails Pulados":{"main":[[{"node":"logs emails pulados","type":"main","index":0}]]},"Contar email enviado":{"main":[[{"node":"Email já enviado?","type":"main","index":0}]]},"Tratamento de erro":{"main":[[{"node":"Get CEP","type":"main","index":0}],[{"node":"Preparar Dados de Falha","type":"main","index":0}]]},"Get CEP":{"main":[[{"node":"Preparar email","type":"main","index":0}]]},"Preparar email":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Enviar Email":{"main":[[{"node":"Save logs envios","type":"main","index":0}]]},"logs emails pulados":{"main":[[{"node":"Ainda tem envios ?","type":"main","index":0}]]},"Save logs envios":{"main":[[{"node":"houve falhas na validação dos dados ?","type":"main","index":0}]]},"Ainda tem envios ?":{"main":[[{"node":"Aguarde 20s","type":"main","index":0}],[{"node":"não tem mais envios","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Enviar Email","type":"main","index":0}]]},"Contatos Envio":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"validacaoDados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Contatos Envio":[{"json":{"Nome":"Lívia Renata Carolina Ferreira","CPF":"006.584.478-58","CEP":"05834-000","Email":"marcelo@aiknow.ai","Celular":"(11) 99819-8451"}},{"json":{"Nome":"Mateus Henry Thomas Fernandes","CPF":"019.229.518-70","CEP":"08180-360","Email":"adk1287@gmail.com","Celular":"(11) 98534-1431"}},{"json":{"Nome":"Ricardo Fernando Gonçalves","CPF":"091.694.168-00","CEP":"02535-001","Email":"marcelo@aiknow.ai","Celular":"(11) 98375-2939"}},{"json":{"Nome":"Helena Francisca Vieira","CPF":"910.775.658-52","CEP":"08253-550","Email":"marcelo@aiknow.ai","Celular":"(11) 99769-6564"}},{"json":{"Nome":"Enrico Guilherme da Rosa","CPF":"904.534.888-89","CEP":"03349-050","Email":"marcelo@aiknow.ai","Celular":"(11) 99155-0796"}},{"json":{"Nome":"Luiz Pietro Ryan Cardoso","CPF":"346.056.858-55","CEP":"03729-200","Email":"marcelo@aiknow.ai","Celular":"(11) 99858-7707"}},{"json":{"Nome":"Raul Paulo Pereira","CPF":"066.961.918-36","CEP":"08430-260","Email":"marcelo@aiknow.ai","Celular":"(11) 99131-8437"}},{"json":{"Nome":"Nathan Bryan Breno da Mota","CPF":"697.099.438-47","CEP":"01439-070","Email":"marcelo@aiknow.ai","Celular":"(11) 99661-6096"}},{"json":{"Nome":"Bruno Marcos Vinicius Yuri Aparício","CPF":"633.610.418-48","CEP":"05113-901","Email":"marcelo@aiknow.ai","Celular":"(11) 98978-8100"}}],"Preparar email":[{"json":{"corpo_email":"<h2>Olá <strong><span style=\"color: red;\">Lívia Renata Carolina Ferreira</span>, tudo bem?</h2>\n<h3>Confirmamos seus dados conosco:</h3>\n\n<strong>Nome:</strong> Lívia Renata Carolina Ferreira<br>\n<strong>CPF:</strong> 006.584.478-58<br>\n<strong>Endereço:</strong> Rua Deocleciano de Oliveira Filho, Parque Santo Antônio, São Paulo/SP<br>\n<strong>CEP:</strong> 05834-000<br>\n<strong>Celular:</strong> (11) 99819-8451<br>\n<strong><span style=\"color: red;\">Email cadastrado:</span></strong> marklivros@gmail.com<br><br>\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,<br><br>  \n<strong>Equipe Suporte</strong>\n","assunto":"Confirmação de dados cadastrais","enviar_para":"marklivros@gmail.com"}}]},"versionId":"e77c3e06-c755-4c47-91fc-a134b9ba6e32","triggerCount":0,"shared":[{"createdAt":"2025-05-12T14:26:40.007Z","updatedAt":"2025-05-12T14:26:40.007Z","role":"workflow:owner","workflowId":"INjtkIxKRwdYrGSK","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-12T17:36:45.396Z","updatedAt":"2025-05-12T17:36:45.396Z","id":"49diNpduyy6EtxOB","name":"em construção"},{"createdAt":"2025-05-12T17:36:08.434Z","updatedAt":"2025-05-12T17:36:08.434Z","id":"VcDlhtYl5V6NdkVF","name":"email"},{"createdAt":"2025-05-06T18:24:04.592Z","updatedAt":"2025-05-06T18:24:04.592Z","id":"WHY2yDxy9zKfqFAJ","name":"CLS Cobrança"}]}