workflow/[TEST]Envio de sms em massa.json
{"createdAt":"2025-06-26T23:45:22.555Z","updatedAt":"2025-07-24T19:29:41.000Z","id":"UlH3ZGZ7GaaqyiOO","name":"[TEST]Envio de sms em massa","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-180,260],"id":"a72e233b-1c29-433c-a215-6dcd326e059c","name":"No Operation, do nothing"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2480,260],"id":"4ec2c8c9-47a5-494d-bf78-c8106d53481b","name":"não tem mais envios"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Código para o nó Function de validação de dados\n// Adicione este nó entre Loop Over Items1 e Get CEP1\n\n// Função para validar CPF Inicio\nfunction validarCPF(cpf) {\n  cpf = String(cpf || '').replace(/[^\\d]+/g, ''); // Converte para string e remove não dígitos\n  if (cpf.length !== 11 || /^(\\d)\\1{10}$/.test(cpf)) return false;\n\n  let soma = 0;\n  for (let i = 0; i < 9; i++) {\n    soma += parseInt(cpf.charAt(i)) * (10 - i);\n  }\n  let resto = 11 - (soma % 11);\n  if (resto === 10 || resto === 11) resto = 0;\n  if (resto !== parseInt(cpf.charAt(9))) return false;\n\n  soma = 0;\n  for (let i = 0; i < 10; i++) {\n    soma += parseInt(cpf.charAt(i)) * (11 - i);\n  }\n  resto = 11 - (soma % 11);\n  if (resto === 10 || resto === 11) resto = 0;\n  return resto === parseInt(cpf.charAt(10));\n} // Função para validar CPF Fim\n\nfunction validarEmail(email) {\n  email = String(email || '');\n  const regex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$/;\n  return regex.test(email);\n} // Função para validar email fim\n\nfunction validarCEP(cep) {\n  cep = String(cep || '').replace(/[^\\d]+/g, '');\n  return cep.length === 8;\n} // Função para validar CEP Fim\n\n// Item atual sendo processado\nconst item = $input.item.json;\n\n// Objeto para armazenar erros de validação\nconst erros = [];\n\n// Valida CPF\nif (!validarCPF(item.CPF)) {\n  erros.push(`CPF inválido: ${item.CPF}`);\n}\n\n// Valida Email\nif (!validarEmail(item.EMAIL)) {  // Verifique se o nome do campo é EMAIL ou Email\n  erros.push(`Email inválido: ${item.EMAIL}`);\n}\n\n// Valida CEP\nif (!validarCEP(item.CEP)) {\n  erros.push(`CEP inválido: ${item.CEP}`);\n}\n\n// Adiciona resultados da validação ao objeto\nitem.validacao = {\n  valido: erros.length === 0,\n  erros: erros,\n  timestamp: $now.toFormat('yyyy-MM-dd HH:mm:ss')\n};\n\n// Retorna o item com a validação\nreturn { json: item };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-180,480],"id":"79d7dc37-4729-41d7-aff4-48a3fb5b4138","name":"validacaoDados"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f80e0287-c222-4951-8e6b-89dfba0c4b7c","leftValue":"={{$json.hasOwnProperty('error') || $('validacaoDados').item.json.validacao.valido === false}}\n","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1920,380],"id":"06ea6088-1fa7-46c2-8fea-b5985da6a620","name":"houve falhas na validação dos dados ?"},{"parameters":{"assignments":{"assignments":[{"id":"66444ca5-7160-4aea-b14d-17497147aedd","name":"assunto_alerta","value":"=Erro da execução ID: {{$execution.id}}","type":"string"},{"id":"48e1158e-4f45-4175-99ea-b16b154ea268","name":"corpo_alerta","value":"=Olá administrador,\\n\\nOcorreu um problema no processamento do contato:\\n\\nNome: {{$('Contatos Envio').item.json.Nome}}\\nEmail: {{$('Contatos Envio').item.json.Email}}\\nCPF: {{$('Contatos Envio').item.json.CPF}}\\n\\nDetalhes do erro:\\n{{JSON.stringify($json.error || $('validacaoDados').item.json.validacao.erros, null, 2)}}\\n\\nData/Hora: {{new Date().toLocaleString()}}\\n\\n\nExecutions : \n\nExecution Mode {{ $execution.mode }}\nExcecute Resume URL {{ $execution.resumeUrl }}\nExecute Resume Form URL {{ $execution.resumeFormUrl }}\nEste é um email automático, não responda.\\n\\nAtenciosamente,\\nSistema de Monitoramento","type":"string"},{"id":"28ba7578-3b1d-45cf-8143-fb0d0573ba6a","name":"destinatario_alerta","value":"adk1287@gmail.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1900,860],"id":"a8e27e9a-674d-4a50-9c27-3bf7604a07cd","name":"preparar o email de alerta com a falha"},{"parameters":{"sendTo":"={{ $json.destinatario_alerta }}","subject":"={{ $json.assunto_alerta }}","emailType":"text","message":"={{ $json.corpo_alerta }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2480,860],"id":"6687f444-a73a-4152-ba67-daca7392b3f2","name":"Envia email com o erro.","webhookId":"2aaae756-b5f7-45f3-8145-bee8c2b537de","credentials":{"gmailOAuth2":{"id":"8SOLaAOXoXTRVoyl","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"43a415ca-4b60-4b5d-8fa6-98ead120c1cc","name":"detalheFalha","value":"Falha na validação dos dados","type":"string"},{"id":"c0524684-f883-4db4-bf63-30f2df399661","name":"errosValidacao","value":"={{ $('validacaoDados').item.json.validacao.erros }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[540,880],"id":"c2ad505a-b915-4857-87fd-eebd5a653463","name":"Preparar Dados de Falha"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"02fbfdd1-ffa1-4877-b721-39a5b75dc2da","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,640],"id":"b9025458-567a-4126-91a5-876d59457161","name":"Email já enviado?"},{"parameters":{"assignments":{"assignments":[{"id":"13f86927-ca71-49ee-bda0-6cc5c24f4ae9","name":"status","value":"Pulado - Email já enviado anteriormente","type":"string"},{"id":"b7c38d75-c904-4b6c-91c1-3c2d8a045493","name":"timestamp","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"141c251c-682d-4d70-9e1d-d546fe35a1d4","name":"ID_envio","value":"={{ $json.rows[0].ID_envio }}","type":"string"},{"id":"39f4e908-d7fb-4770-9e4e-14d1e498ad4f","name":"Nome","value":"={{ $json.rows[0].Nome }}","type":"string"},{"id":"fb9daf00-6a29-487a-b723-607bb7227836","name":"CPF","value":"={{ $json.rows[0].CPF }}","type":"string"},{"id":"e45d864b-9616-4d73-8c9f-f738c1b145e7","name":"Email","value":"={{ $json.rows[0].Email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[260,880],"id":"c83dffcb-f9db-4dc0-9114-57d4eed3b468","name":"Registrar Emails Pulados"},{"parameters":{"content":"## Passo 1\nEsse nodo é responsavel por pegar a base de dados dos clientes, envolvendo Nome, emprendimento, Id cliente, etc \n","height":440,"width":280},"type":"n8n-nodes-base.stickyNote","position":[-1000,200],"typeVersion":1,"id":"3bc532c5-059d-4f11-84b6-9fd04f4867a7","name":"Sticky Note"},{"parameters":{"content":"## Passo 2\n\nNessa etapa, o loop trata cada linha da planilha como uma pessoa e manda para o nodo de validacaoDados, que é responsavel por validar se o CPF, CEP e email estão corretos.","height":440,"width":440},"type":"n8n-nodes-base.stickyNote","position":[-700,200],"typeVersion":1,"id":"edc166fc-8558-4f24-9ab6-cfe889b8a7d5","name":"Sticky Note1"},{"parameters":{"content":"","height":440,"width":420},"type":"n8n-nodes-base.stickyNote","position":[-240,200],"typeVersion":1,"id":"7963aa17-2f90-405e-b86f-60baf7685f8a","name":"Sticky Note2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rows = $input.item.json.values;\nconst headerRow = rows[0]; // A primeira linha contém os cabeçalhos\nconst emailIndex = headerRow.indexOf('Email');\n\nif (emailIndex === -1) {\n  return { json: { length: 0, error: 'Coluna Email não encontrada' } };\n}\n\nconst emailToFind = $('Contatos Envio').item.json.Email;\nconst matchingRows = [];\n\n// Iniciando de 1 para pular a linha de cabeçalho\nfor (let i = 1; i < rows.length; i++) {\n  const row = rows[i];\n  if (row[emailIndex] === emailToFind) {\n    const rowObject = {};\n    for (let j = 0; j < headerRow.length; j++) {\n      rowObject[headerRow[j]] = row[j];\n    }\n    matchingRows.push(rowObject);\n  }\n}\n\nreturn { json: { length: matchingRows.length, rows: matchingRows } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[40,680],"id":"a749ee11-49ad-4158-a3d5-4a540192395e","name":"Contar email enviado","disabled":true},{"parameters":{"content":"","height":840,"width":480},"type":"n8n-nodes-base.stickyNote","position":[200,200],"typeVersion":1,"id":"67ca4db7-6ba3-47e2-b9bb-63942bf429c7","name":"Sticky Note3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b0bab048-3536-4041-851a-d59fb67553d8","leftValue":"={{ $('validacaoDados').item.json.validacao.valido }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[520,640],"id":"1b979858-ca2c-4aa3-bf30-52a5c04c6e82","name":"Tratamento de erro","notes":"expressoes usadas anteriormente :\n\n{{$json.validacao.valido === true}}"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck","mode":"list","cachedResultName":"Log de Envios Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Log de Envios Email","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Data_Hora":"={{ $now.format('yyyy-MM-dd HH:mm') }}","Status":"=Email enviado em {{$json.timestamp}}","ID_envio":"={{ $json.ID_envio }}","Nome":"={{ $json.Nome }}","CPF":"={{ $json.CPF }}","Email":"={{ $json.Email }}","Detalhe":"Tentativa repetida, e-mail Não reenviado"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_Hora","displayName":"Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalhe","displayName":"Detalhe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID_envio","displayName":"ID_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1060,720],"id":"0ef6ce93-126d-4c7f-a3f8-c3dd02c098fd","name":"logs emails pulados","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck","mode":"list","cachedResultName":"Log de Envios","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":565600968,"mode":"list","cachedResultName":"Log de Envios SMS","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Wxo8yGM4J6nocjTL3gvAZVaTaHcyTuUzoGEwsjOnfck/edit#gid=565600968"},"columns":{"mappingMode":"defineBelow","value":{"Data_Hora":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","Status":"={{ $json.data[0].status }}","ID_envio":"={{ $json.data[0].smslog_id }}","Nome":"={{ $('Contatos Envio').item.json['NOME CLIENTE'] }}","CPF":"={{ $('Contatos Envio').item.json.CPF }}","Detalhe":"={{ $json.data[0].queue }}","Celular":"={{ $json.data[0].to }}","Conteudo":"={{ $('Preparar SMS').item.json.template_sms }}"},"matchingColumns":[],"schema":[{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Celular","displayName":"Celular","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data_Hora","displayName":"Data_Hora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Detalhe","displayName":"Detalhe","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"ID_envio","displayName":"ID_envio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Conteudo","displayName":"Conteudo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[1720,380],"id":"7a84dddb-7a5f-4fa1-a127-e4e331b43a5d","name":"Save logs envios","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7afdc754-92f6-4b4b-b1d4-69228de8466e","leftValue":"={{ $('Loop Over Items').context['noItemsLeft'] }}","rightValue":"=false","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2200,360],"id":"fbaa0b11-3a93-4506-852a-7b3754d99761","name":"Ainda tem envios ?"},{"parameters":{"content":"## Passo 5\nNesta etapa, se caso o e-mail ainda não tenha sido enviado, ele vai seguir validando o **CEP** que foi adquirido na planilha de **contatos**,dai ele segue com a **informação da planilha + dados validados** para o nodo set **Preparar e-mail**, que prepara as informações com a inclusão de html ,uma vez concluido, o nodo envia as informações para o nodo **Enviar Email**, uma vez enviado, é feito o registro do envio atraves do nodo google sheet chamado **Save Logs envios**.","height":440,"width":920},"type":"n8n-nodes-base.stickyNote","position":[700,200],"typeVersion":1,"id":"0117f1bc-a6fd-476b-ba23-47aa6ea78ef1","name":"Sticky Note4"},{"parameters":{"content":"## Passo 6\n","height":440,"width":800},"type":"n8n-nodes-base.stickyNote","position":[1640,200],"typeVersion":1,"id":"feaa028e-3842-4056-80a6-d2cd621a5a01","name":"Sticky Note5"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU","mode":"list","cachedResultName":"Contatos Envio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Contatos Envio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[-980,360],"id":"669c1922-76e4-4b92-971e-4424821a4766","name":"Contatos Envio","credentials":{"googleSheetsTriggerOAuth2Api":{"id":"gExyCfYmHGygCPNp","name":"Google Sheets Trigger aiknow"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-420,360],"id":"fa4756e5-7045-4073-a0d0-584d0f4b414f","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"http://sms.painelmarktel.com.br/index.php","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Connection","value":"close"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"app","value":"ws"},{"name":"u","value":"={{ $('config marktel').item.json.user_marktel}}"},{"name":"h","value":"={{ $('config marktel').item.json.apikey }}"},{"name":"op","value":"pv"},{"name":"to","value":"={{ $('Contatos Envio').item.json.CELULAR }}"},{"name":"msg","value":"={{ $json.template_sms }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,340],"id":"3dd89fad-f34f-42b3-97c9-ea3fc741f70f","name":"envio de sms"},{"parameters":{"assignments":{"assignments":[{"id":"0e12d695-6fc7-44d2-877e-4b7782909901","name":"template_sms","value":"=Olá {{ $('Contatos Envio').item.json['NOME CLIENTE'] }},\nprecisamos negociar a divida do empreendimento {{$json.EMPREENDIMENTO}}, entre em contato no link do Whatspp XXXX","type":"string"},{"id":"eb799200-6f7a-496a-89c6-0f5349f6802e","name":"enviar_para","value":"={{ $('Contatos Envio').item.json.CELULAR }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[780,380],"id":"2b315fb9-c3f2-4e45-9d8c-ba2569b28c41","name":"Preparar SMS"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2480,440],"id":"e80588bc-876b-41da-918f-ff5799e80c38","name":"Aguarde 5s","webhookId":"0d886900-a1d1-479e-a53a-cc982e3b4a2f"},{"parameters":{"content":"## Ignore a explicação dos cards abaixo, precisa ser refeito para o modelo de sms. O teste foi feito atraves da marktel, mas o trial acabou.","height":200,"width":500,"color":3},"type":"n8n-nodes-base.stickyNote","position":[980,-40],"typeVersion":1,"id":"9ae43b02-3e37-4ef3-84ed-1060077fdd8d","name":"Sticky Note6"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs","mode":"list","cachedResultName":"Dell Monitored Documents","cachedResultUrl":"https://drive.google.com/drive/folders/19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[2040,-1940],"id":"e7c0e2c9-f9c3-41bd-9628-5267899f0f11","name":"Google Drive Arquivo Criado","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"534fbd09-c691-4833-9de0-74489f65482a","name":"nome","value":"={{ $json.nome }}","type":"string"},{"id":"50ade8c1-9ac6-4baa-8609-e4820ef49e35","name":"cpf","value":"={{ $json.cpf }}","type":"string"},{"id":"ce70660a-b1d1-4c31-9887-828e86a67d1f","name":"celular","value":"={{ $json.celular }}","type":"string"},{"id":"4f9c622a-085c-4c58-beb5-ef08d19616da","name":"endereco","value":"={{ $json.endereco }}","type":"string"},{"id":"ce46603d-dd7e-41c4-882a-10fd07f0b83b","name":"cep","value":"={{ $json.cep }}","type":"string"},{"id":"c6b23f23-10fb-450c-89e3-b6778decb8d5","name":"email","value":"={{ 'marcelo@aiknow.ai' }}","type":"string"},{"id":"0fb298b7-c556-43d5-b93b-fedd49fb714f","name":"chegada_info","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"},{"id":"30a687f4-770d-434e-80d5-a9d480070bbf","name":"informação existe ? ","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,-1940],"id":"ee0cf205-1ae0-47c2-91fd-2b665861f81a","name":"campos formatados"},{"parameters":{"name":"={{ $('Convert JSON to File').item.binary.data.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1FkJ3EfNwTJIzWEu067N8vpcbK_oQk3Nm","mode":"list","cachedResultName":"json convertido","cachedResultUrl":"https://drive.google.com/drive/folders/1FkJ3EfNwTJIzWEu067N8vpcbK_oQk3Nm"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3800,-1940],"id":"0806d1b3-457f-44ed-b42b-0399c441dd7c","name":"Upload new file","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"xlsx","options":{"fileName":"={{ $('Download File').item.json.file_name.replace('.json','.xslx') }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[3480,-1940],"id":"d0e84f62-c032-4788-8530-3694bec2cc0f","name":"Convert JSON to File"},{"parameters":{"jsCode":"return $json.data.map(entry => ({ json: entry }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2900,-1940],"id":"2ad50848-1baf-492b-b86b-8f8d4bd5a224","name":"Cria Objetos para pessoa"},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2700,-1940],"id":"1e897efe-c991-4dfd-9000-0c1005624dcc","name":"Extract from JSON File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain","sheetsToFormat":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}},"fileName":"={{ $json.file_name.replace('.json','.xlsx') }}"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2480,-1940],"id":"045c8496-b081-4cc7-ba56-4eaaf0e86da2","name":"Download File","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"8e6e2063-768e-493d-a895-965f5609e966","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"69254a94-91c1-447a-a678-ff4efa852197","name":"file_name","value":"={{ $json.name }}","type":"string"},{"id":"2e2e02a7-4f26-4aa7-8723-f4e84b419600","name":"type","value":"={{$json.mimeType}}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2280,-1940],"id":"dfe2b9c3-a59c-48cb-8b9b-a319fe28133c","name":"Get Info"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1NuzNAKa5e5u4xouS8W6W5aU9EViN9jiB7r6Opw14moE","mode":"list","cachedResultName":"people_dummy","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NuzNAKa5e5u4xouS8W6W5aU9EViN9jiB7r6Opw14moE/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1NuzNAKa5e5u4xouS8W6W5aU9EViN9jiB7r6Opw14moE/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"nome":"={{ $json.nome }}","cpf":"={{ $json.cpf }}","celular":"={{ $json.celular }}","endereco":"={{ $json.endereco }}","cep":"={{ $json.cep }}","email":"={{ $json.email }}","chegada_info":"={{ $json.chegada_info }}"},"matchingColumns":[],"schema":[{"id":"nome","displayName":"nome","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cpf","displayName":"cpf","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"celular","displayName":"celular","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"endereco","displayName":"endereco","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"cep","displayName":"cep","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"chegada_info","displayName":"chegada_info","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"informação existe ? ","displayName":"informação existe ? ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[3640,-1620],"id":"572ec3e4-3273-443a-a050-06882a2fa7a5","name":"Insert Data in people_dummy sheet","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"content":"## Passos para execução da tarefa\nO objetivo desse flow é poder manipular dados de pessoas, extraindo as informações a serem usadas e imputando outras informações.\n\n## Passo 1 \nBaixar um arquivo .json do google drive\n## Passo 2\nExtrair todas as informações do .json\n## Passo 3\nPegar os dados que realmente importa\n## Passo 4\nConverter o .json para xlsx, com as informações nescessarias.\n## Passo 5\nEfetua o update do arquivo criado para o google drive.\n\nLink de acesso a planilha e pasta do google drive :\n## Planilha : \nhttps://docs.google.com/spreadsheets/d/1NuzNAKa5e5u4xouS8W6W5aU9EViN9jiB7r6Opw14moE/edit?usp=sharing\n## Pasta : \nhttps://drive.google.com/drive/folders/19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs?usp=sharing\n","height":1109,"width":2023,"color":4},"id":"db5d00a0-ec9e-4fa2-8a9f-23f289870eec","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2000,-2560]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs","mode":"list","cachedResultName":"Dell Monitored Documents","cachedResultUrl":"https://drive.google.com/drive/folders/19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs"},"event":"fileCreated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-900,-680],"id":"c710eda0-90ef-4e6e-9036-fc437a0cf40d","name":"Google Drive Arquivo Criado1","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"name":"={{ $('Convert JSON to File1').item.binary.data.fileName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1FkJ3EfNwTJIzWEu067N8vpcbK_oQk3Nm","mode":"list","cachedResultName":"json convertido","cachedResultUrl":"https://drive.google.com/drive/folders/1FkJ3EfNwTJIzWEu067N8vpcbK_oQk3Nm"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[140,-3000],"id":"0ad20f36-891b-417e-bec7-ec3dfea0a583","name":"Upload new file1","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}},"disabled":true},{"parameters":{"operation":"xlsx","options":{"fileName":"={{ $('baixa arquivo xlsx').item.json.file_name.replace('.json','.xslx') }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-60,-3000],"id":"af6dbcfe-8e2d-4205-8301-8eecc18c25bf","name":"Convert JSON to File1","disabled":true},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return $json.data.map(entry => ({ json: entry }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-760,-2280],"id":"f89bfb66-3b24-4269-9bcf-5fa5b83baf17","name":"Cria Objetos para pessoa1","disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8e6e2063-768e-493d-a895-965f5609e966","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"69254a94-91c1-447a-a678-ff4efa852197","name":"file_name","value":"={{ $json.name }}","type":"string"},{"id":"2e2e02a7-4f26-4aa7-8723-f4e84b419600","name":"type","value":"={{$json.mimeType}}\n\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-660,-680],"id":"205630c8-31df-4a98-89f8-8c198a5f8955","name":"pega info do arquivo xlsx"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain","sheetsToFormat":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"}},"fileName":"={{ $json.file_name.replace('.json','.xlsx') }}"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-460,-680],"id":"34616f7e-ca50-4b64-b0e2-23f71b2897c3","name":"baixa arquivo xlsx","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-220,-680],"id":"16ac2ae9-1953-4eb3-baac-01b0799feaa5","name":"Converte xlsx em json"},{"parameters":{"assignments":{"assignments":[{"id":"0dde0aaf-1f5d-419d-9380-6f05782e4747","name":"user_marktel","value":"aiknow","type":"string"},{"id":"10e89126-a962-4f2b-8c4d-e8161a82d1a2","name":"apikey","value":"YOUR_MARKTEL_API_KEY","type":"string"},{"id":"00da7ec2-0198-4a19-99d8-8cb2667c21a4","name":"link_shot_io","value":"={{ 'https://negociar.short.gy/SKWlqB' }}","type":"string"},{"id":"7d5a334f-108a-4701-bf24-3dffc572fdec","name":"link_bitly","value":"={{ 'http://bit.ly/3IvbU3G' }}","type":"string"},{"id":"c16c7469-8706-4095-8940-31d494a8f38c","name":"link_puro","value":"={{ 'https://api.whatsapp.com/send?phone=5511974332121&text=Quero negociar' }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,380],"id":"ebb5cf94-c7c2-4f0c-82c1-97522a8603ee","name":"config marktel"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"07026629-e4bd-4d65-939c-d385c8e6b21a","leftValue":"={{ $json['Página Número:1'] }}","rightValue":"SEM DONO DE CARTEIRA","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[20,-680],"id":"0f8b88d1-42d9-4a7c-967c-4f1519cb6286","name":"Filtra todos os dados SEM DONO DE CARTEIRA"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Contatos Envio","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"chegada_info":"={{ $json.chegada_info }}","EMPREENDIMENTO":"={{ $json.EMPREENDIMENTO }}","CLIENTE":"={{ $json.CLIENTE }}","UNIDADE":"={{ $json.UNIDADE }}","NOME CLIENTE":"={{ $json['NOME CLIENTE'] }}","INADIMPLENCIA":"={{ $json.INADIMPLENCIA }}","EMAIL":"={{ $json.email }}","DT ULTIMO PGTO":"={{ $json['DT ULTIMO PGTO'] }}","DATA ULTIMA TABULACAO":"={{ $json['DATA ULTIMA TABULACAO'] }}","informação existe ?":"={{ $json['informação existe ? '] }}","FAIXA ATRASO":"={{ $json['FAIXA ATRASO'] }}","CPF":"={{ $json.CPF }}","CELULAR":"={{ $json.CELULAR }}","A VENCER":"={{ $json['A VENCER'] }}"},"matchingColumns":[],"schema":[{"id":"chegada_info","displayName":"chegada_info","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"EMPREENDIMENTO","displayName":"EMPREENDIMENTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CLIENTE","displayName":"CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"UNIDADE","displayName":"UNIDADE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"NOME CLIENTE","displayName":"NOME CLIENTE","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CPF","displayName":"CPF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CELULAR","displayName":"CELULAR","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"INADIMPLENCIA","displayName":"INADIMPLENCIA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"A VENCER","displayName":"A VENCER","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"EMAIL","displayName":"EMAIL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DT ULTIMO PGTO","displayName":"DT ULTIMO PGTO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DATA ULTIMA TABULACAO","displayName":"DATA ULTIMA TABULACAO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"FAIXA ATRASO","displayName":"FAIXA ATRASO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"informação existe ?","displayName":"informação existe ?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"cellFormat":"USER_ENTERED"}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[760,-680],"id":"ac4913d9-b99d-4624-8066-000abd4d7910","name":"inclui as informações na planilha Contatos Envio","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-980,880],"id":"4a289b44-8d0b-4e0e-abdd-80b3161f029c","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"db33b1cb-4f9c-4401-9ded-b9da4906c126","name":"TWILIO_ACCOUNT_SID","value":"YOUR_TWILIO_ACCOUNT_SID","type":"string"},{"id":"ee4f7506-bdef-4ad0-a81c-7599a1b0f0fe","name":"TWILIO_AUTH_TOKEN","value":"ea40ffaf501a2ea596f9204a3f9bdec4","type":"string"},{"id":"4183f1b4-328a-4f03-b1ec-ce871a170f80","name":"PhoneNumber","value":"+5511949994025","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,880],"id":"b10ed96d-f873-400c-b899-3af1bc71ecc6","name":"Config Tw"},{"parameters":{"url":"=https://lookups.twilio.com/v2/PhoneNumbers/{{ $json.PhoneNumber }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-540,880],"id":"6175e65c-c651-4489-b20c-47e4a35ea7ca","name":"HTTP Request","credentials":{"httpBasicAuth":{"id":"5o6Eaby9zqRzihLv","name":"credentials Twillo"}}},{"parameters":{"content":"## Passos para execução da tarefa\nO objetivo desse flow é poder manipular dados de pessoas, extraindo as informações a serem usadas e adicionando as informações na planilha a ser usada.\n\n## Passo 1 \nVerifica se existe um arquivo .xlsx na pasta X do google drive\n## Passo 2\nExtrair todas as informações de metadados do .xlsx\n## Passo 3\nbaixa o arquivo .xlsx da pasta X do google drive\n## Passo 4\nConverter o .xlsx para .json, para usarmos as informações.\n## Passo 5\nEfetua um Filtro na coluna DONO_CARTEIRA e pega apenas as informações de sem dono de carteira.\n## Passo 6\nRenomeia os campos conforme os campos de origem.\n## Passo 7\nPrepara e formata as informações para que elas sejam inseridas de forma adequada\n## Passo 8\nEfetua a inserção das informações para iniciar o processo do disparo dos SMS.\n\n## Link de acesso a planilha e pasta do google drive :\n\n## Planilha : \nhttps://docs.google.com/spreadsheets/d/1xO6mavKI8xe6LpGjJAQBdBKZKntEHVgZrq5T_XrMDlU/edit?usp=sharing\n## Pasta : \nhttps://drive.google.com/drive/folders/19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs?usp=sharing\n","height":1329,"width":1923,"color":4},"id":"b477fbe7-54eb-4ad4-a969-ab3061b1871d","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-940,-1600]},{"parameters":{"keys":{"key":[{"currentKey":"__EMPTY","newKey":"EMPREENDIMENTO"},{"currentKey":"__EMPTY_1","newKey":"PROJETO_FINANCEIRO"},{"currentKey":"__EMPTY_2","newKey":"EXPR"},{"currentKey":"__EMPTY_3","newKey":"CLIENTE"},{"currentKey":"__EMPTY_4","newKey":"NOME_CLIENTE"},{"currentKey":"__EMPTY_5","newKey":"UNIDADE"},{"currentKey":"__EMPTY_6","newKey":"A_VENCER"},{"currentKey":"__EMPTY_7","newKey":"INADIMPLENCIA"},{"currentKey":"__EMPTY_8","newKey":"ATRASO"},{"currentKey":"__EMPTY_9","newKey":"FAIXA_ATRASO"},{"currentKey":"__EMPTY_10","newKey":"CARTEIRA"},{"currentKey":"__EMPTY_11","newKey":"ASSESSORIAS"},{"currentKey":"__EMPTY_12","newKey":"OPERADOR"},{"currentKey":"__EMPTY_13","newKey":"SEGMENTO"},{"currentKey":"__EMPTY_14","newKey":"SECURITIZADORA"},{"currentKey":"__EMPTY_15","newKey":"ULTIMA_TABULACAO"},{"currentKey":"__EMPTY_16","newKey":"DATA_ULTIMA_TABULACAO"},{"currentKey":"__EMPTY_17","newKey":"DT_ULTIMO_PGTO"},{"currentKey":"__EMPTY_18","newKey":"AUSA"},{"currentKey":"Página Número:1","newKey":"DONO_CARTEIRA"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[260,-680],"id":"b03e8f5c-16bb-4280-8a27-bc6d7f204869","name":"Renomeia os campos recebidos do filtro"},{"parameters":{"assignments":{"assignments":[{"id":"0fb298b7-c556-43d5-b93b-fedd49fb714f","name":"chegada_info","value":"={{ $now.format('yyyy-MM-dd HH:mm:ss') }}","type":"string"},{"id":"1aba2005-83e0-49ac-b6f2-d3594aed68a7","name":"EMPREENDIMENTO","value":"={{ $json.EMPREENDIMENTO }}","type":"string"},{"id":"4facce84-ce90-4c6f-a07e-e8567db11c0d","name":"CLIENTE","value":"={{ $json.CLIENTE }}","type":"string"},{"id":"b7f2225b-1c55-4a5a-9f72-7441e0760cb9","name":"UNIDADE","value":"={{ $json.UNIDADE }}","type":"string"},{"id":"26e06c10-056f-4cf4-9cf7-2b5c6134a1ef","name":"NOME CLIENTE","value":"={{ $json.NOME_CLIENTE }}","type":"string"},{"id":"9aed65b1-ce72-4bff-890e-e9a32f3e567a","name":"CPF","value":"={{ '45921441805' }}","type":"string"},{"id":"19001456-ade6-46d8-92d2-dc4ef5c9f495","name":"CELULAR","value":"={{ '5511999174353' }}","type":"string"},{"id":"8a5f7e8e-5191-4219-8fbd-39affc4a2298","name":"INADIMPLENCIA","value":"={{ $json.INADIMPLENCIA.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","type":"string"},{"id":"49b3c963-a9e4-4d12-8c7e-06c22b01c7ca","name":"A VENCER","value":"={{ $json.A_VENCER.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","type":"string"},{"id":"c6b23f23-10fb-450c-89e3-b6778decb8d5","name":"email","value":"={{ 'marcelo@aiknow.ai' }}","type":"string"},{"id":"f58e2939-ca69-421d-accc-71e6e7d2092a","name":"DT ULTIMO PGTO","value":"={{ $json.DT_ULTIMO_PGTO }}","type":"string"},{"id":"3b7a6d89-f536-468f-a77a-0eb7346c6b73","name":"DATA ULTIMA TABULACAO","value":"={{ $json.DATA_ULTIMA_TABULACAO }}","type":"string"},{"id":"f0a95fba-7db4-4bab-b5ad-a68b65702fb5","name":"AUSA","value":"={{ $json.AUSA.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}","type":"string"},{"id":"9d24f62e-0293-43d8-a5fb-f8f24feaa1cc","name":"FAIXA ATRASO","value":"={{ $json.FAIXA_ATRASO }}","type":"string"},{"id":"30a687f4-770d-434e-80d5-a9d480070bbf","name":"informação existe ? ","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[500,-680],"id":"08a04196-90c0-4387-aacb-42de09078fa3","name":"Formata os campos de forma apropriada"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs","mode":"list","cachedResultName":"Dell Monitored Documents","cachedResultUrl":"https://drive.google.com/drive/folders/19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs"},"event":"fileUpdated","options":{}},"type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-900,-460],"id":"a6ea2760-63eb-4fe3-8a0f-519e7ec54b18","name":"Google Drive Arquivo atualizado","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}}],"connections":{"validacaoDados":{"main":[[{"node":"config marktel","type":"main","index":0}]]},"houve falhas na validação dos dados ?":{"main":[[{"node":"preparar o email de alerta com a falha","type":"main","index":0}],[{"node":"Ainda tem envios ?","type":"main","index":0}]]},"preparar o email de alerta com a falha":{"main":[[{"node":"Envia email com o erro.","type":"main","index":0}]]},"Envia email com o erro.":{"main":[[{"node":"Ainda tem envios ?","type":"main","index":0}]]},"Preparar Dados de Falha":{"main":[[{"node":"preparar o email de alerta com a falha","type":"main","index":0}]]},"Email já enviado?":{"main":[[{"node":"Tratamento de erro","type":"main","index":0}],[{"node":"Registrar Emails Pulados","type":"main","index":0}]]},"Registrar Emails Pulados":{"main":[[{"node":"logs emails pulados","type":"main","index":0}]]},"Contar email enviado":{"main":[[]]},"Tratamento de erro":{"main":[[],[{"node":"Preparar Dados de Falha","type":"main","index":0}]]},"logs emails pulados":{"main":[[{"node":"Ainda tem envios ?","type":"main","index":0}]]},"Save logs envios":{"main":[[{"node":"houve falhas na validação dos dados ?","type":"main","index":0}]]},"Ainda tem envios ?":{"main":[[{"node":"Aguarde 5s","type":"main","index":0}],[{"node":"não tem mais envios","type":"main","index":0}]]},"Contatos Envio":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"validacaoDados","type":"main","index":0}]]},"Preparar SMS":{"main":[[{"node":"envio de sms","type":"main","index":0}]]},"envio de sms":{"main":[[{"node":"Save logs envios","type":"main","index":0}]]},"Aguarde 5s":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive Arquivo Criado":{"main":[[{"node":"Get Info","type":"main","index":0}]]},"campos formatados":{"main":[[{"node":"Convert JSON to File","type":"main","index":0},{"node":"Insert Data in people_dummy sheet","type":"main","index":0}]]},"Convert JSON to File":{"main":[[{"node":"Upload new file","type":"main","index":0}]]},"Cria Objetos para pessoa":{"main":[[{"node":"campos formatados","type":"main","index":0}]]},"Extract from JSON File":{"main":[[{"node":"Cria Objetos para pessoa","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract from JSON File","type":"main","index":0}]]},"Get Info":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Google Drive Arquivo Criado1":{"main":[[{"node":"pega info do arquivo xlsx","type":"main","index":0}]]},"Convert JSON to File1":{"main":[[{"node":"Upload new file1","type":"main","index":0}]]},"Cria Objetos para pessoa1":{"main":[[]]},"pega info do arquivo xlsx":{"main":[[{"node":"baixa arquivo xlsx","type":"main","index":0}]]},"baixa arquivo xlsx":{"main":[[{"node":"Converte xlsx em json","type":"main","index":0}]]},"Converte xlsx em json":{"main":[[{"node":"Filtra todos os dados SEM DONO DE CARTEIRA","type":"main","index":0}]]},"config marktel":{"main":[[{"node":"Preparar SMS","type":"main","index":0}]]},"Filtra todos os dados SEM DONO DE CARTEIRA":{"main":[[{"node":"Renomeia os campos recebidos do filtro","type":"main","index":0}]]},"inclui as informações na planilha Contatos Envio":{"main":[[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Config Tw","type":"main","index":0}]]},"Config Tw":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Renomeia os campos recebidos do filtro":{"main":[[{"node":"Formata os campos de forma apropriada","type":"main","index":0}]]},"Formata os campos de forma apropriada":{"main":[[{"node":"inclui as informações na planilha Contatos Envio","type":"main","index":0}]]},"Google Drive Arquivo atualizado":{"main":[[{"node":"pega info do arquivo xlsx","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Google Drive Arquivo Criado":[{"json":{"parents":["19ejZlu12tSKKFuwUIlbbWeBv_0oq1fzs"],"lastModifyingUser":{"displayName":"Marcelo Lourenço","kind":"drive#user","me":true,"permissionId":"00352464763828720774","emailAddress":"marcelo@aiknow.ai","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLlnhBHt0Znn9Yqw_hbSc7qBqnCHBXZMrgtlRAr9hivPTrrPg=s64"},"owners":[{"displayName":"Marcelo Lourenço","kind":"drive#user","me":true,"permissionId":"00352464763828720774","emailAddress":"marcelo@aiknow.ai","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLlnhBHt0Znn9Yqw_hbSc7qBqnCHBXZMrgtlRAr9hivPTrrPg=s64"}],"permissions":[{"kind":"drive#permission","id":"00352464763828720774","type":"user","emailAddress":"marcelo@aiknow.ai","role":"owner","displayName":"Marcelo Lourenço","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLlnhBHt0Znn9Yqw_hbSc7qBqnCHBXZMrgtlRAr9hivPTrrPg=s64","deleted":false,"pendingOwner":false}],"spaces":["drive"],"capabilities":{"canAcceptOwnership":false,"canAddChildren":false,"canAddMyDriveParent":false,"canChangeCopyRequiresWriterPermission":true,"canChangeSecurityUpdateEnabled":false,"canChangeViewersCanCopyContent":true,"canComment":true,"canCopy":true,"canDelete":true,"canDisableInheritedPermissions":false,"canDownload":true,"canEdit":true,"canEnableInheritedPermissions":true,"canListChildren":false,"canModifyContent":true,"canModifyContentRestriction":true,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canModifyLabels":false,"canMoveChildrenWithinDrive":false,"canMoveItemIntoTeamDrive":true,"canMoveItemOutOfDrive":true,"canMoveItemWithinDrive":true,"canReadLabels":false,"canReadRevisions":true,"canRemoveChildren":false,"canRemoveContentRestriction":false,"canRemoveMyDriveParent":true,"canRename":true,"canShare":true,"canTrash":true,"canUntrash":true},"permissionIds":["00352464763828720774"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"kind":"drive#file","id":"1NogHWXEZpAhS4BRvvqm3YQSDU9mr3qlB","name":"people_dummy.json","mimeType":"application/json","starred":false,"trashed":false,"explicitlyTrashed":false,"version":"2","webContentLink":"https://drive.google.com/uc?id=1NogHWXEZpAhS4BRvvqm3YQSDU9mr3qlB&export=download","webViewLink":"https://drive.google.com/file/d/1NogHWXEZpAhS4BRvvqm3YQSDU9mr3qlB/view?usp=drivesdk","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/json","hasThumbnail":false,"thumbnailVersion":"0","viewedByMe":true,"viewedByMeTime":"2025-05-08T05:08:15.611Z","createdTime":"2025-05-08T05:08:15.611Z","modifiedTime":"2025-05-08T04:22:02.000Z","modifiedByMeTime":"2025-05-08T04:22:02.000Z","modifiedByMe":true,"shared":false,"ownedByMe":true,"viewersCanCopyContent":true,"copyRequiresWriterPermission":false,"writersCanShare":true,"originalFilename":"people_dummy.json","fullFileExtension":"json","fileExtension":"json","md5Checksum":"d10426f2da983a371f38c7fad991bc0f","sha1Checksum":"f5f38f6130756454e075f05a44dca7379e4e803c","sha256Checksum":"2a1b82f22e61f34d82551ddb22731ef8cf7c393fb0b2495cbb9b207fdfc904b4","size":"6358","quotaBytesUsed":"6358","headRevisionId":"0Bw4TAHymWN0geCtKRExGTEVEM2V4VDZ0NExsc3NxMGFzakdnPQ","isAppAuthorized":false,"inheritedPermissionsDisabled":false}}],"Contatos Envio":[{"json":{"chegada_info":45852.49234953704,"EMPREENDIMENTO":"ALPHAVILLE SALVADOR 2","CLIENTE":144657,"UNIDADE":"E410","NOME CLIENTE":"MARCOS DA SILVA CARRILHO ROSA","CPF":45921441805,"CELULAR":5511999174353,"INADIMPLENCIA":427483.49,"EMAIL":"marcelo@aiknow.ai","DT ULTIMO PGTO":40653,"DATA ULTIMA TABULACAO":44852,"FAIXA ATRASO":"ACIMA DE 360 DIAS","informação existe ?":""}},{"json":{"chegada_info":45852.49234953704,"EMPREENDIMENTO":"SPE VITORIA LTDA MULTIFAMILIAR","CLIENTE":345169,"UNIDADE":"Q2001","NOME CLIENTE":"LIFE HOTELARIA LTDA ME","CPF":45921441805,"CELULAR":5511999174353,"INADIMPLENCIA":616835.75,"EMAIL":"marcelo@aiknow.ai","DT ULTIMO PGTO":43598,"DATA ULTIMA TABULACAO":44764,"FAIXA ATRASO":"ACIMA DE 360 DIAS","informação existe ?":""}},{"json":{"chegada_info":45852.49234953704,"EMPREENDIMENTO":"ALPHA JUNDIAI GERAL","CLIENTE":344745,"UNIDADE":"U29","NOME CLIENTE":"CAROLINA CESAR DE MENEZES ELEUTERIO","CPF":45921441805,"CELULAR":5511999174353,"INADIMPLENCIA":65046.73,"EMAIL":"marcelo@aiknow.ai","DT ULTIMO PGTO":44903,"DATA ULTIMA TABULACAO":44929,"FAIXA ATRASO":"ACIMA DE 360 DIAS","informação existe ?":""}},{"json":{"chegada_info":45852.49234953704,"EMPREENDIMENTO":"ALPHAVILLE SERGIPE","CLIENTE":344305,"UNIDADE":"B17","NOME CLIENTE":"JOSE ROBERTO SILVA","CPF":45921441805,"CELULAR":5511999174353,"INADIMPLENCIA":234276.23,"EMAIL":"marcelo@aiknow.ai","DT ULTIMO PGTO":43377,"DATA ULTIMA TABULACAO":45343,"FAIXA ATRASO":"ACIMA DE 360 DIAS","informação existe ?":""}}]},"versionId":"ea07f10b-5712-42c0-83aa-eabfa130c8ba","triggerCount":0,"shared":[{"createdAt":"2025-06-26T23:45:22.558Z","updatedAt":"2025-06-26T23:45:22.558Z","role":"workflow:owner","workflowId":"UlH3ZGZ7GaaqyiOO","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-12T17:36:45.396Z","updatedAt":"2025-05-12T17:36:45.396Z","id":"49diNpduyy6EtxOB","name":"em construção"},{"createdAt":"2025-07-16T19:10:15.766Z","updatedAt":"2025-07-16T19:10:15.766Z","id":"AkMPPkypH0RYEEay","name":"marktel"},{"createdAt":"2025-05-06T18:24:04.592Z","updatedAt":"2025-05-06T18:24:04.592Z","id":"WHY2yDxy9zKfqFAJ","name":"CLS Cobrança"}]}