workflow/Agent CLS.json
{"createdAt":"2025-05-06T18:55:46.725Z","updatedAt":"2025-05-07T13:50:34.000Z","id":"8MMOZzkqpN9cVroM","name":"Agent CLS","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"bedcfd35-197c-44be-b566-bcaccd67a742","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1680,1180]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"93ebbe49-d556-4b20-bbf9-ad1fe93cc4e1","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[1440,1180],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"b3632cc0-aa32-4797-9f33-9cc5de9dc6ca","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[20,840],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW","mode":"list","cachedResultName":"documents_cls_cobranca","cachedResultUrl":"https://drive.google.com/drive/folders/1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW"},"event":"fileCreated","options":{}},"id":"16e8546c-50c9-48f0-92ef-b427aa64eb35","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1000,700],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW","mode":"list","cachedResultName":"documents_cls_cobranca","cachedResultUrl":"https://drive.google.com/drive/folders/1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW"},"event":"fileUpdated","options":{}},"id":"083288b6-6010-4152-8789-32d0975f3b7d","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1000,860],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"c753c39d-cd04-4dd3-8fa3-18ed2e3ac2aa","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[880,1180],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents_cls_cobranca","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"f5b78c0d-5809-4b20-97c8-b1e9adb044f3","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-460,700],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"658be923-67df-4da8-83dd-c3aa4aae61dc","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-640,860]},{"parameters":{"options":{}},"id":"f6a8cb25-ded8-40e7-87ff-4d269dcf7064","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,-200]},{"parameters":{"httpMethod":"POST","path":"2be306cc-f482-4cb9-b155-057cfe23acdb","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"399c5041-915f-46a6-ac88-5eaa7fc55817","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-320,400],"webhookId":"2be306cc-f482-4cb9-b155-057cfe23acdb","credentials":{"httpHeaderAuth":{"id":"TdlXWKdXOR1w9hkQ","name":"bearer agent CLS Cobranca"}}},{"parameters":{"operation":"pdf","options":{}},"id":"bdd53d3b-56d4-4d11-982c-c4749bdae7c7","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[880,620]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"0fef82c3-49cf-4433-9c6f-e447579a35cb","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[920,800]},{"parameters":{},"id":"7c0ab265-c99d-49d7-bde8-aa74c403f65b","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[1580,1300]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"b8ab65b1-8302-4d00-9850-018713a6a5b4","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1120,880]},{"parameters":{"promptType":"define","text":"={{$json.chatInput \n    ? $json.chatInput \n    : ($json.body && $json.body.chatInput \n         ? $json.body.chatInput \n         : \"não encontrado\")}}","options":{"systemMessage":"=Você é um cientista de dados experiente que ajuda a responder perguntas a partir de um conjunto de documentos. Os documentos podem ser baseados em texto (Txt, docs, PDFs extraídos, etc.) ou dados tabulares (CSV ou documentos do Excel).\n\nVocê dispõe de ferramentas para realizar RAG na tabela 'documents_cent', buscar os documentos disponíveis na sua base de conhecimento na tabela 'document_metadata_cent', extrair todo o texto de um documento específico e consultar os arquivos tabulares com SQL na tabela 'document_rows_cent'.\n\nSempre comece realizando RAG, a menos que a pergunta exija uma consulta SQL para dados tabulares (por exemplo, obter uma soma, encontrar um máximo ou algo para o qual a busca RAG seria pouco confiável). Se o RAG não ajudar, então verifique os documentos disponíveis, encontre alguns que você acredite conter a resposta e os analise.\n\nSempre informe o usuário se você não encontrar a resposta. Não invente nada apenas para agradá-lo.\n\npara consultas sempre utilize o formato portugues brazil (DATA, VALOR)\nexemplo:\nR$ 1.003,08\n\nCaso a informação estiver no formato em dolar $ 1,003.08 consultar em dolar\n\n\ndata DD/MM/AAAA 09/04/2025\n\nquando pesquisar a faixa etária será sempre entre uma idade inicial e a outra final, exemplo: 0-18 ou 0 a 18, significa que pode ser qualquer idade entre 0 a 18 anos de idade, ou seja (0,1,2,3....18)\n\n\n"}},"id":"22399d29-9a4e-4e0f-93de-923913109e14","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[400,100]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"1ff45f19-1b9b-4890-b67a-37512a06df54","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[220,840]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents_cls_cobranca","mode":"list","cachedResultName":"documents_cls_cobranca"},"options":{"queryName":"match_documents_cls_cobranca"}},"id":"b41110ae-7d17-4d3d-8298-58c36a0beabd","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1600,960],"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"f680e01b-7ed2-4d2d-94db-90b11092c745","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[700,800]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1560,740],"id":"0d8e37f0-4f87-4a6b-b67a-e735d2d98676","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[700,980],"id":"fa617c55-fff4-4ad7-8863-8682483788e9","name":"Extract from CSV"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata_cls_cobranca (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1080,380],"id":"6df92783-3a25-4bfb-a731-09c94216eee9","name":"Create Document Metadata Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows_cls_cobranca (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata_cls_cobranca(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-720,380],"id":"137d77b4-fe0e-4262-8d74-7079302acc18","name":"Create Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"batchSize":5,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-780,660],"id":"3cd776c9-96d5-4162-9b71-089d121779a3","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"-- Habilita a extensão pgvector (somente se ainda não existir)\nDO $$ \nBEGIN\n    IF NOT EXISTS (SELECT 1 FROM pg_extension WHERE extname = 'vector') THEN\n        CREATE EXTENSION vector;\n    END IF;\nEND $$;\n  -- Enable the pgvector extension to work with embedding vectors\n--create extension vector;\n\n-- Create a table to store your documents\ncreate table documents_cls_cobranca (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents_cls_cobranca (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents_cls_cobranca.embedding <=> query_embedding) as similarity\n  from documents_cls_cobranca\n  where metadata @> filter\n  order by documents_cls_cobranca.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;\n\n-- Criar índice para melhorar consultas por file_id\nCREATE INDEX IF NOT EXISTS idx_metadata_file_id ON documents_cls_cobranca ((metadata->>'file_id'));","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1420,380],"id":"07362ff4-ddc7-44bc-8b7a-f21e862e5570","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"delete","tableId":"document_rows_cls_cobranca","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-300,860],"id":"0dac55a6-c1f5-490a-8182-1f0cc71048ba","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_cls_cobranca","mode":"list","cachedResultName":"document_metadata_cls_cobranca"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-140,720],"id":"f3ed03f0-cf68-4560-ad30-e24167ec3a71","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows_cls_cobranca","mode":"list","cachedResultName":"document_rows_cls_cobranca"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[920,980],"id":"852c6db7-f538-4351-bb5e-8844b928ff9b","name":"Insert Table Rows","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_cls_cobranca","mode":"list","cachedResultName":"document_metadata_cls_cobranca"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1780,740],"id":"232b83ad-294c-427a-9b3d-3ed00172ea6e","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1200,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2500,220],"typeVersion":1,"id":"bc31a0b0-ba13-4348-af49-cb35b0f30dbc","name":"Sticky Note9"},{"parameters":{"content":"## Create Table \n","height":340,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-1920,240],"typeVersion":1,"id":"0f398185-7e61-4575-b4d2-05a1b40646d6","name":"Sticky Note1"},{"parameters":{"content":"## Agent RAG Puket\n**Acesse o modelo \"Agente CLS Cobranca\" em gen.aiknow.ai** ","height":500,"width":1300,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-380,80],"typeVersion":1,"id":"b53c6974-7bde-416d-a4c6-03608fd74729","name":"Sticky Note2"},{"parameters":{"content":"## Insert data in DB \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":840,"width":3060,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1060,600],"typeVersion":1,"id":"e002abd7-58f5-4817-ab71-1a8d151dfd8c","name":"Sticky Note3"},{"parameters":{"content":"## DROP table","height":340,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-1920,-120],"typeVersion":1,"id":"e93d0b27-534c-41f5-a614-c7b2e7123177","name":"Sticky Note6"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS documents_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1860,-20],"id":"7ea48538-c899-435f-9b71-84fe2788b7d7","name":"1 - DROP Documents Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS document_metadata_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1580,-20],"id":"f6ecbd60-a36d-4a94-92c4-204fb80d1c17","name":"2 - DROP Document Metadata Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS document_rows_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1260,-20],"id":"b1dff572-9bf4-481f-ab70-4f406eb1a385","name":"3 - DROP Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP FUNCTION IF EXISTS match_documents_cls_cobranca(vector(1536), int, jsonb);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-960,-20],"id":"2cb026ac-474b-445b-9331-0dc0c079586f","name":"4 - Drop match_documents ( vectorstore )","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{$json.body?.sessionId\n    ? $json.body.sessionId\n    : (\n        $('When chat message received').item.json.sessionId\n        ? $('When chat message received').item.json.sessionId\n        : \"não encontrado\"\n      )\n}}\n","tableName":"n8n_chat_histories_cls_cobranca"},"id":"4b9ea384-386d-4cc6-9413-62ed638dbc95","name":"Postgres Chat Memory Extract","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[560,380],"notesInFlow":false,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"public":true,"options":{"allowFileUploads":true}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-320,180],"id":"f0fa9339-b6bb-41f8-90fb-e8205c05fcd6","name":"When chat message received","webhookId":"4085a0d5-0e84-4221-b8a5-5195b458ee47"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1720,-20],"id":"ed2a28ca-0625-4691-8e0e-31ee4e2a4bcc","name":"Wait","webhookId":"d768ad2e-d908-4069-8444-96a005398786"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1420,-20],"id":"79d17960-7c39-4919-bc2f-1441938f84c9","name":"Wait1","webhookId":"11e49bbe-c759-4f7f-a90b-652846e01306"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1120,-20],"id":"f091dddd-0515-4e33-8105-dbf814e4acb4","name":"Wait2","webhookId":"d355f8e2-a539-4450-b9a8-a1b2288c4e05"},{"parameters":{"content":"## **LLM**","height":200,"width":420,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-220,-140],"typeVersion":1,"id":"ee2d4573-409e-4549-bd2a-36c96d792ed1","name":"Sticky Note"},{"parameters":{"model":"gpt-4.5-preview-2025-02-27","options":{}},"id":"74c29047-7ab2-43d2-bc8b-22b1b859fe2d","name":"OpenAI Chat ","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-140,-60],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-sonnet-20241022","mode":"list","cachedResultName":"Claude 3.5 Sonnet (New)"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[40,-60],"id":"bb03a138-3ea7-41eb-b00f-aa9acdebe1bc","name":"Anthropic Claude","credentials":{"anthropicApi":{"id":"daEmkEMQGbuGIYpr","name":"Anthropic account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1860,380],"id":"73dde902-8d20-4671-95c6-d6f66d5d6af6","name":"Clique para apagar as tabelas"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1240,380],"id":"798f2129-0a40-4004-8d13-d5b3d5e765ed","name":"Wait3","webhookId":"56fd111e-d821-4ae9-8b42-2a97c7177d35"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-900,380],"id":"5198b6ed-3880-463e-9ffc-89f0df3343ef","name":"Wait4","webhookId":"0343de2b-bbe7-4de6-b64b-ebec3d3414ff"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1640,380],"id":"8d2fbd44-336d-414e-a50e-2e4020700891","name":"Wait5","webhookId":"5ccaedc8-fd06-46d9-9152-84a394f6ec46"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-780,-20],"id":"9489d76a-e08e-4e37-8b9e-a971105c3271","name":"Wait6","webhookId":"5d9485af-8564-4478-8c6b-55bb06dd66b1"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS n8n_chat_histories_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-600,-20],"id":"984ac806-20f9-4a15-a5ce-c8b4949e3d8c","name":"5 - DROP n8n_chat_histories_centurion","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f5ebbd4f-6549-4a31-b3f8-eee7634dc439","leftValue":"={{ $json.body.sessionId }}","rightValue":"None","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-20,240],"id":"6d6f0953-e1c3-4587-948d-c199dd3f9fa3","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"d264444f-c01a-4fa0-86a4-c0bf0e4c8537","name":"output","value":"={{ $json.output || $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[920,-200],"id":"311f6494-7078-4831-9cb9-4c67fab22fba","name":"Edit Fields (Set Output Field)"},{"parameters":{"promptType":"define","text":"={{ $('Webhook1').item.json.body.chatInput }}"},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[240,260],"id":"01e4bc8d-3122-4b0f-866e-73a39774a261","name":"Open WebUI Metadata LLM"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[200,440],"id":"0967c7c5-cb4f-449a-af6c-b7241638ba0c","name":"Ollama Chat Model","credentials":{"ollamaApi":{"id":"DkFIMC1XjxRcvL1E","name":"Ollama account"}}},{"parameters":{"sseEndpoint":"https://llm-server.taild42ed2.ts.net/mcp-test/dc8aa568-5b10-4b59-b60a-9f39c42f1cd7/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[760,380],"id":"9a528903-124c-465a-9118-d62dd462d791","name":"MCP Client"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"If","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Edit Fields (Set Output Field)","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"1 - DROP Documents Table":{"main":[[{"node":"Wait","type":"main","index":0}]]},"2 - DROP Document Metadata Table":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"3 - DROP Document Rows Table (for Tabular Data)":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"4 - Drop match_documents ( vectorstore )":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Postgres Chat Memory Extract":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"When chat message received":{"main":[[{"node":"If","type":"main","index":0}]]},"Wait":{"main":[[{"node":"2 - DROP Document Metadata Table","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"3 - DROP Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"4 - Drop match_documents ( vectorstore )","type":"main","index":0}]]},"Anthropic Claude":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Clique para apagar as tabelas":{"main":[[{"node":"1 - DROP Documents Table","type":"main","index":0},{"node":"Wait5","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Create Documents Table and Match Function","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"5 - DROP n8n_chat_histories_centurion","type":"main","index":0}]]},"If":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}],[{"node":"Open WebUI Metadata LLM","type":"main","index":0}]]},"Edit Fields (Set Output Field)":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Open WebUI Metadata LLM":{"main":[[]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Open WebUI Metadata LLM","type":"ai_languageModel","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb9671a2-4b8b-4385-b030-19c1feb4b9a5","triggerCount":0,"shared":[{"createdAt":"2025-05-06T18:55:46.730Z","updatedAt":"2025-05-06T18:55:46.730Z","role":"workflow:owner","workflowId":"8MMOZzkqpN9cVroM","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-06T18:24:04.592Z","updatedAt":"2025-05-06T18:24:04.592Z","id":"WHY2yDxy9zKfqFAJ","name":"CLS Cobrança"}]}