workflow/Agent Evo API para testes.json
{"createdAt":"2025-05-30T20:37:22.467Z","updatedAt":"2025-07-16T19:01:59.000Z","id":"MGq58uQp5u7UEh9X","name":"Agent Evo API para testes","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"e0adda7c-52ae-41af-8b13-7cc6cf21271b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"43020e01-2e08-4f1f-b151-5fe3c216fc2b","name":"Webhook","webhookId":"e0adda7c-52ae-41af-8b13-7cc6cf21271b"},{"parameters":{"assignments":{"assignments":[{"id":"ba7d73ef-64f6-489f-9320-4049d46a243f","name":"From","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"5cc96bb1-fae5-4e7a-954c-da055faa1f2d","name":"Instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"f4235e57-d1f8-45a8-9fd5-215ada41451f","name":"Messagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"26e1ccef-5521-4820-b00a-45e34525d6c8","name":"MensagemID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"1a9742e9-4040-4b02-a129-ec9e85b00e2d","name":"Name from","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,0],"id":"43ae4ea5-9bdc-494c-85dd-b877b515ad98","name":"dados"},{"parameters":{"promptType":"define","text":"={{ $json.Messagem }}","options":{"systemMessage":"use apenas a ferramenta cnpj para consultar informações de empresas, use apenas números.\n\nex: 12345678901234 \n\nSolicite ao usuário assim que ele se apresentar."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,0],"id":"4d50e7a4-9fd7-4bf5-b660-06e4c36f6859","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.From }}","tableName":"n8n_chat_histories_evolution_api"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[520,220],"id":"fe7b1a2c-90d0-437e-860b-283ef2d70798","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('dados').item.json.Instance }}","remoteJid":"={{ $('dados').item.json.From }}","messageId":"={{ $('dados').item.json.MensagemID }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,0],"id":"b6501344-0bb8-47b5-b059-a064d88e7a50","name":"Evolution API","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('dados').item.json.Instance }}","remoteJid":"={{ $('dados').item.json.From }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1020,0],"id":"88225c1d-cd05-4a96-bbba-8dec99497366","name":"Evolution API1","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"description":"Use essa ferramenta para consultar informações de empresa baseado no CPNJ fornecido pelo user","workflowId":{"__rl":true,"value":"11NytkMR8Y2sLT2r","mode":"list","cachedResultName":"Tool consultar CNPJ"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cnpj', `consultar as informações da empresa através do cnpj`, 'string') }}"},"matchingColumns":["cnpj"],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[700,220],"id":"97c4762c-1609-4c91-8466-3fbbd9eae6d3","name":"consultar cnpj"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[360,220],"id":"5d39a0e2-0ae2-4aef-9f5a-16b108177527","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}}],"connections":{"Webhook":{"main":[[{"node":"dados","type":"main","index":0}]]},"dados":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"consultar cnpj":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"llm-server.taild42ed2.ts.net","user-agent":"axios/1.7.9","content-length":"980","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"100.101.116.77","x-forwarded-host":"llm-server.taild42ed2.ts.net","x-forwarded-proto":"https"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Teste","data":{"key":{"remoteJid":"5511949994528@s.whatsapp.net","fromMe":false,"id":"3A9B0879B90AE74250C0"},"pushName":"Mark Silva","status":"DELIVERY_ACK","message":{"conversation":"preciso de informações do cnpj 22980836000132","messageContextInfo":{"deviceListMetadata":{"senderKeyHash":"JTj/oE1cSRNolw==","senderTimestamp":"1748621770","recipientKeyHash":"b9x/8zQ6fHVCaA==","recipientTimestamp":"1748637317"},"deviceListMetadataVersion":2,"messageSecret":"z5MwbCFYWW398PlSLICfB9RYRO0Q7lRKuWLAYCtwi9M="}},"messageType":"conversation","messageTimestamp":1748642595,"instanceId":"e8097caa-9201-48fd-a3a4-6213d04bfc8e","source":"ios"},"destination":"https://llm-server.taild42ed2.ts.net/webhook-test/e0adda7c-52ae-41af-8b13-7cc6cf21271b","date_time":"2025-05-30T19:03:15.448Z","sender":"5511974332121@s.whatsapp.net","server_url":"http://evo-nkgo88gcwksgg8kwk0kcs48s.190.83.97.150.sslip.io","apikey":"A30F230EB872-4C34-A977-298259ADF50D"},"webhookUrl":"https://llm-server.taild42ed2.ts.net/webhook-test/e0adda7c-52ae-41af-8b13-7cc6cf21271b","executionMode":"test"}}]},"versionId":"20701b92-0c80-4839-8beb-78571f2eb6fe","triggerCount":1,"shared":[{"createdAt":"2025-05-30T20:37:22.477Z","updatedAt":"2025-05-30T20:37:22.477Z","role":"workflow:owner","workflowId":"MGq58uQp5u7UEh9X","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-06T13:51:07.102Z","updatedAt":"2025-06-06T13:51:07.102Z","id":"8BjOy58W00cFTKOD","name":"Evo-API"},{"createdAt":"2025-06-10T20:42:49.171Z","updatedAt":"2025-06-10T20:42:49.171Z","id":"h4umybNLa5zH46QD","name":"Concluido"}]}