workflow/Agent Conversacional Travel.json
{"createdAt":"2025-05-14T00:38:34.817Z","updatedAt":"2025-05-14T00:38:42.000Z","id":"l1uCWho7qWN2NOfb","name":"Agent Conversacional Travel","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"travel","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-800,80],"id":"a0039f1e-1627-4200-a7e3-f624ea011fcf","name":"Webhook","webhookId":"b47fe152-af9c-4910-9cd4-d6300920a299"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1060,80],"id":"45511298-f1de-430d-bf17-8a88faee500b","name":"Respond to Webhook"},{"parameters":{"assignments":{"assignments":[{"id":"f3db9625-a8d3-4070-ad64-b473325aaaa0","name":"origin","value":"={{ $json.body.origin }}","type":"string"},{"id":"79470c36-466f-46cf-a81b-24fc414ee4dc","name":"destination","value":"={{ $json.body.destination }}","type":"string"},{"id":"0bff69db-47a8-49a7-a729-415d41919b88","name":"departure_date","value":"={{ $json.body.departure_date }}","type":"string"},{"id":"168c1208-9fd4-4ca3-8f85-5becd152ddfd","name":"return_date","value":"={{ $json.body.return_date }}","type":"string"},{"id":"2c8c3a55-1f8d-4e1c-afd1-d7cc3887a55d","name":"travelers","value":"={{ $json.body.travelers }}","type":"number"},{"id":"3146cc29-8d97-458b-ba50-4ddfd280890c","name":"activities","value":"={{ $json.body.activities }}","type":"string"},{"id":"e720a5a4-7a2c-446a-a21c-052969da8a35","name":"email","value":"={{ $json.body.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-620,80],"id":"e10bd49a-d8a3-4043-816b-4434b9f75cd1","name":"Set Fields"},{"parameters":{"promptType":"define","text":"=Origin: {{ $json.origin }}\nDestination: {{ $json.destination }}\nDeparture Date: {{ $json.departure_date }}\nReturn Date: {{ $json.return_date }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Turn the origin and destination into their airport codes.\n\nMake sure the departure and return dates are in the future, not the past.\n\nHere is the current date/time: {{ $now }}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.5,"position":[-460,80],"id":"929a40a5-34b7-4c34-9747-0ef4e40e9197","name":"Airport Codes & Dates"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-460,320],"id":"521b84df-a707-4b48-939b-3999354ae3c8","name":"4o"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"origin\": {\n      \"type\": \"string\",\n      \"description\": \"The origin\"\n    },\n    \"destination\": {\n      \"type\": \"string\",\n      \"description\": \"The destination\"\n    },\n    \"departure\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"The departure date (YYYY-MM-DD)\"\n    },\n    \"return\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"The return date (YYYY-MM-DD)\"\n    }\n  },\n  \"required\": [\"origin\", \"destination\", \"departure\",\"return\"]\n}\n"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[-300,320],"id":"1f8d1671-9feb-43c3-8216-7f7439983a67","name":"Locations & Dates"},{"parameters":{"url":"https://serpapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"engine","value":"google_flights"},{"name":"departure_id","value":"={{ $('Airport Codes & Dates').item.json.output.origin }}"},{"name":"arrival_id","value":"={{ $('Airport Codes & Dates').item.json.output.destination }}"},{"name":"outbound_date","value":"={{ $('Airport Codes & Dates').item.json.output.departure }}"},{"name":"return_date","value":"={{ $('Airport Codes & Dates').item.json.output.return }}"},{"name":"adults","value":"={{ $('Set Fields').item.json.travelers }}"},{"name":"api_key","value":"c694b72d6c032e7a7170524467e57cec401c87e23e721a7773a2f6adba036eab"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,80],"id":"c4b9cf3f-5563-49b4-9cfe-ab05f8b5c8b7","name":"Flights"},{"parameters":{"url":"https://serpapi.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"engine","value":"google_hotels"},{"name":"q","value":"={{ $('Set Fields').item.json.destination }}"},{"name":"check_in_date","value":"={{ $('Airport Codes & Dates').item.json.output.departure }}"},{"name":"check_out_date","value":"={{ $('Airport Codes & Dates').item.json.output.return }}"},{"name":"adults","value":"={{ $('Set Fields').item.json.travelers }}"},{"name":"sort_by","value":"8"},{"name":"api_key","value":"c694b72d6c032e7a7170524467e57cec401c87e23e721a7773a2f6adba036eab"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[40,80],"id":"f00448fc-6e1e-4a24-a93d-986590c142e6","name":"Resorts"},{"parameters":{"method":"POST","url":"https://api.tavily.com/search","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"raw","rawContentType":"=application/json","body":"=\n{\n  \"api_key\": \"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\",\n  \"query\": \"{{ $('Set Fields').item.json.activities }} in {{ $('Set Fields').item.json.destination }}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"max_results\": 3,\n  \"time_range\": null,\n  \"days\": 3,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-120,80],"id":"29f63a89-cb14-41ee-a225-43be34a6bc61","name":"Activities"},{"parameters":{"promptType":"define","text":"=# Flights from {{ $('Set Fields').item.json.origin }} to {{ $('Set Fields').item.json.destination }} on {{ $('Set Fields').item.json.departure_date }} to {{ $('Set Fields').item.json.return_date }}\n\n1) {{ $json.best_flights[0].flights[0].airline }}, {{ $json.best_flights[0].flights[0].departure_airport.time }}, {{ $json.best_flights[0].flights[0].duration }} minutes\n\nFeatures:\n{{ $json.best_flights[0].flights[0].extensions }}\n\nPrice: ${{ $json.best_flights[0].price }}, {{ $json.best_flights[0].type }}\n\n2) {{ $json.best_flights[1].flights[0].airline }}, {{ $json.best_flights[1].flights[0].departure_airport.time }}, {{ $json.best_flights[1].flights[0].duration }} minutes\n\nFeatures: \n{{ $json.best_flights[1].flights[0].extensions }}\n\nPrice: ${{ $json.best_flights[1].price }}, {{ $json.best_flights[1].type }}\n\n\n\n# Resorts\n\n1) {{ $('Resorts').item.json.properties[0].name }}\nLink: {{ $('Resorts').item.json.properties[0].link }}\n\nImage: {{ $('Resorts').item.json.properties[0].images[0].original_image }}\n\nRate per night: {{ $('Resorts').item.json.properties[0].rate_per_night.lowest }}\nTotal Rate: {{ $('Resorts').item.json.properties[0].total_rate.lowest }}\n\nNearby Places: \n{{ $('Resorts').item.json.properties[0].nearby_places[0].name }}, {{ $('Resorts').item.json.properties[0].nearby_places[0].transportations[0].duration }} {{ $('Resorts').item.json.properties[0].nearby_places[0].transportations[0].type }}\n{{ $('Resorts').item.json.properties[0].nearby_places[1].name }},{{ $('Resorts').item.json.properties[0].nearby_places[1].transportations[0].duration }} {{ $('Resorts').item.json.properties[0].nearby_places[1].transportations[0].type }}\n\nAmentities: \n{{ $('Resorts').item.json.properties[0].amenities }}\n\n2) {{ $('Resorts').item.json.properties[1].name }}\nLink: {{ $('Resorts').item.json.properties[1].link }}\n\nImage: {{ $('Resorts').item.json.properties[1].images[0].original_image }}\n\nRate per night: {{ $('Resorts').item.json.properties[1].rate_per_night.lowest }}\nTotal Rate: {{ $('Resorts').item.json.properties[1].total_rate.lowest }}\n\nNearbly Places:\n{{ $('Resorts').item.json.properties[1].nearby_places[0].name }}, {{ $('Resorts').item.json.properties[1].nearby_places[0].transportations[0].duration }} {{ $('Resorts').item.json.properties[1].nearby_places[0].transportations[0].type }}\n{{ $('Resorts').item.json.properties[1].nearby_places[1].name }}, {{ $('Resorts').item.json.properties[1].nearby_places[1].transportations[0].duration }} {{ $('Resorts').item.json.properties[1].nearby_places[1].transportations[0].type }}\n\nAmenities:\n{{ $('Resorts').item.json.properties[1].amenities }}\n\n3) {{ $('Resorts').item.json.properties[2].name }}\nLink: {{ $('Resorts').item.json.properties[2].link }}\n\nImage: {{ $('Resorts').item.json.properties[2].images[1].original_image }}\n\nRate per night:{{ $('Resorts').item.json.properties[2].rate_per_night.lowest }}\nTotal Rate: {{ $('Resorts').item.json.properties[2].total_rate.lowest }}\n\nNearby Places: \n{{ $('Resorts').item.json.properties[2].nearby_places[0].name }}, {{ $('Resorts').item.json.properties[2].nearby_places[0].transportations[0].duration }} {{ $('Resorts').item.json.properties[2].nearby_places[0].transportations[0].type }}\n{{ $('Resorts').item.json.properties[2].nearby_places[1].name }}, {{ $('Resorts').item.json.properties[2].nearby_places[1].transportations[0].duration }} {{ $('Resorts').item.json.properties[2].nearby_places[1].transportations[0].type }}\n\nAmenities: \n{{ $('Resorts').item.json.properties[2].amenities }}\n\n# Activities\n\n1) {{ $('Activities').item.json.results[0].title }}\nLink: {{ $('Activities').item.json.results[0].url }}\nDescription: {{ $('Activities').item.json.results[0].content }}\n\n2) {{ $('Activities').item.json.results[1].title }}\nLink: {{ $('Activities').item.json.results[1].url }}\nDescription: {{ $('Activities').item.json.results[1].content }}","hasOutputParser":true,"options":{"systemMessage":"=# Overview\nYou are an expert email writer specializing in creating travel plans. Your job is to output an HTML email with clickable links. You must output a subject and an emailBody in separate parameters.\n\n## Objective\nYou will receive information about a vacation plan. Break the email into 3 sections: Flights, Resorts, and Activities\n\n## Output Format\n- The email should be structured as HTML that will be sent through email. Use headers to separate the sections\n- Add a horizontal line to end each section\n\n### Subject\n-  Should contain the travel dates and the arrival location\n\n### Introduction\n- The goal of this section is to get the traveler excited about their upcoming trip\n- You must add a horizontal line after this section, before the 'Flights' section\n\n### Flights\n- List the departure and return dates and locations\n- List the flights and details about each one\n\n### Resorts\n- List each resort with a clickable link as the name of the resort\n- Number the list of resorts\n- Output images in HTML format like this:\n<img src=\"{image url here}\" style=\"max-width:20%; height:auto;\">\n- Leave a new line between the resort name and its image and after the image\n\n### Activites\n- List the activities with clickable links as the name of the activity\n- Provide a brief description of each activity\n\n### Signoff\n- Sign the email off in a friendly way. \n- Sign off as TrueHorizon Travel Team\n\n## Important\nDo not output more than 1000 words"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[400,80],"id":"69f92688-0fd5-4a5f-80cf-5f60b9b700bb","name":"Email Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"the email subject\"\n    },\n    \"emailBody\": {\n      \"type\": \"string\",\n      \"description\": \"the email body\"\n    }\n  },\n  \"required\": [\"subject\", \"emailBody\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[600,300],"id":"b2c0752c-8b57-4195-9bf6-a999b94270ca","name":"Subject & Email"},{"parameters":{"sendTo":"={{ $('Set Fields').item.json.email }}","subject":"={{ $json.output.subject }}","message":"={{ $json.output.emailBody }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[720,80],"id":"a71e4d04-491a-4814-a474-5ec13dda97a2","name":"Send Plan","webhookId":"f925c01c-328b-4c28-8d1e-3ca1f7b44294"},{"parameters":{"assignments":{"assignments":[{"id":"fd838df2-da7c-4cb6-bef5-e7837d49fa26","name":"response","value":"=An email has been sent with the travel plan for: {{ $('Email Agent').item.json.output.subject }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[900,80],"id":"28c1ae41-1681-4dc2-8899-08c9edf23591","name":"Response"},{"parameters":{"content":"# Nate Herk | AI Automation","height":920,"width":2560,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1040,-260],"typeVersion":1,"id":"bac9d7b4-97c1-441a-b83a-c9957f058353","name":"Sticky Note"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,300],"id":"b0ee9e20-d916-4066-b7e1-d39a83d67d69","name":"4o1"}],"connections":{"Webhook":{"main":[[{"node":"Set Fields","type":"main","index":0}]]},"Set Fields":{"main":[[{"node":"Airport Codes & Dates","type":"main","index":0}]]},"Airport Codes & Dates":{"main":[[{"node":"Activities","type":"main","index":0}]]},"4o":{"ai_languageModel":[[{"node":"Airport Codes & Dates","type":"ai_languageModel","index":0}]]},"Locations & Dates":{"ai_outputParser":[[{"node":"Airport Codes & Dates","type":"ai_outputParser","index":0}]]},"Flights":{"main":[[{"node":"Email Agent","type":"main","index":0}]]},"Resorts":{"main":[[{"node":"Flights","type":"main","index":0}]]},"Activities":{"main":[[{"node":"Resorts","type":"main","index":0}]]},"Email Agent":{"main":[[{"node":"Send Plan","type":"main","index":0}]]},"Subject & Email":{"ai_outputParser":[[{"node":"Email Agent","type":"ai_outputParser","index":0}]]},"Send Plan":{"main":[[{"node":"Response","type":"main","index":0}]]},"Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"4o1":{"ai_languageModel":[[{"node":"Email Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"921734c1-9847-4974-b926-89305a0a2cfb","triggerCount":0,"shared":[{"createdAt":"2025-05-14T00:38:34.825Z","updatedAt":"2025-05-14T00:38:34.825Z","role":"workflow:owner","workflowId":"l1uCWho7qWN2NOfb","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}