workflow/AGENTE DE IA RAG v0.1 - LEONARDO CANDIANI.json
{"createdAt":"2025-11-02T14:59:22.581Z","updatedAt":"2025-11-02T15:01:15.000Z","id":"z4TY5JxImdlfgQkB","name":"AGENTE DE IA RAG v0.1 - LEONARDO CANDIANI","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"","height":654,"width":1359,"color":6},"id":"89d2f142-21ff-4cae-ad08-e94a7c4e8e16","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1152,560]},{"parameters":{},"id":"6bb9728c-53ca-4bde-8fb0-fd18a63bbaca","name":"NoOp.","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2224,784]},{"parameters":{"content":"#### Agrupa messages subsequentes do usuário","height":80,"width":361.5468993739327,"color":4},"id":"74b17e9c-ec0b-44e8-b279-0ff559162c30","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2128,592]},{"parameters":{"content":"Configure seu Prompt","height":223.25452635785376,"width":180.90155202154455,"color":2},"id":"45bd7853-be56-4131-b6ab-1c15325166bf","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,64]},{"parameters":{},"id":"bad9725d-6778-412b-9b39-b16c2f01345f","name":"NoOp.4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[480,320]},{"parameters":{"amount":"={{ $('camposIniciais').item.json.app.debouncerTime }}"},"id":"607b4924-f573-41b1-aa97-b549fa0c84a5","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2224,992],"webhookId":"7e21e91a-dee0-417b-a02b-6a71a97d88ab"},{"parameters":{"assignments":{"assignments":[{"id":"b7158aa0-84e0-44b1-8629-bf23fb4c0766","name":"=chatInput","value":"={{ $json.message.map(buffer => JSON.parse(buffer).message).join('\\n') }}\n{{ (() => { \n    try {\n        return $('camposIniciais').item.json.content.quoted || \"\"; \n    } catch (error) {\n        return \"\";\n    } \n})() }}\n","type":"string"},{"id":"0c4c3b74-297a-4cf2-b2b8-0feefad328ec","name":"sessionId","value":"={{ $('getClient').item.json.sessionId }}","type":"string"}]},"options":{}},"id":"d4879426-7378-4ddc-8ef6-1f0d69c81526","name":"messages","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2560,864]},{"parameters":{"operation":"push","list":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}","messageData":"={{ JSON.stringify({ \n    \"message\": $('camposIniciais').item.json.content.mensagem, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}","tail":true},"id":"6b861826-2642-413a-b35a-b772d5fe5b9a","name":"empilhaTexto","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1632,864]},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}","options":{}},"id":"27beef0f-45c6-48ba-999b-e35aaae21097","name":"Obtem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1824,864]},{"parameters":{"operation":"delete","key":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}"},"id":"4155b680-a88a-4a74-898a-945eec8dcfb6","name":"Deleta","type":"n8n-nodes-base.redis","typeVersion":1,"position":[2384,864]},{"parameters":{"assignments":{"assignments":[{"id":"aa4d5d29-e6f1-4bce-b5ff-4575b553a077","name":"systemMessageAgente","value":"=<prompt>\n\n  <!-- Instruções para o Agente -->\n  <instruções>\n    Você é a Bruna, uma agente especializada em vendas de iPhones. Sua missão é responder clientes por WhatsApp, oferecendo informações sobre os modelos disponíveis, valores, auxiliando no processo de compra e realizando cálculos de valores à vista ou parcelados quando solicitado. \n    - Seja educada, amigável e objetiva.\n    - Varie a linguagem para evitar parecer robótica, mantendo clareza e eficiência.\n    - Utilize a data de hoje para se localizar: {{ $now.toUTC(-180) }}\n  </instruções>\n\n  <!-- Tools -->\n  <tools>\n    <tool>\n      <name>modelos_iphone</name>\n      <description>Fornece informações sobre os modelos de iPhones disponíveis na loja, incluindo imagens e preços.</description>\n      <usage>Acione esta ferramenta sempre que o cliente perguntar sobre modelos disponíveis. Após ativar a tool, envie uma mensagem breve e direta, como \"O que acha desses modelos?\" ou \"Qual desses modelos te agrada mais?\". Não reforce novamente os modelos listados.</usage>\n    </tool>\n    <tool>\n      <name>infos</name>\n      <description>Fornece informações básicas da loja, como endereço, link do Instagram e contatos.</description>\n      <usage>Acione esta ferramenta sempre que o cliente solicitar informações sobre a loja ou contato.</usage>\n    </tool>\n    <tool>\n      <name>calculadora</name>\n      <description>Realiza cálculos de valores à vista com desconto e parcelamentos.</description>\n      <usage>\n        - Use esta ferramenta quando o cliente perguntar sobre descontos à vista ou valores das parcelas.\n        - O cálculo para o pagamento à vista considera 10% de desconto.\n        - O cálculo para parcelamento considera o valor cheio dividido pelo número de parcelas solicitado.\n        - Envie mensagens claras, como:\n          - \"À vista com 10% de desconto, o valor fica em R$ X.\"\n          - \"Em 12x, o valor de cada parcela é R$ Y sem juros.\"\n      </usage>\n    </tool>\n  </tools>\n\n  <!-- Apresentação -->\n  <apresentação>\n    - Apresente-se educadamente quando o cliente iniciar a conversa.\n    - Utilize a primeira mensagem do cliente como gancho para sua apresentação.\n    - Inclua uma pergunta para iniciar a interação:\n      - \"{{ new Date().getHours() < 12 ? 'Bom dia' : (new Date().getHours() < 18 ? 'Boa tarde' : 'Boa noite') }}, {{ $json.meta.nomeCliente }}, tudo bem? Posso te ajudar com informações sobre os modelos e preços de iPhones da {{ $json.empresa.nomeEmpresa }}?\"\n      - \"{{ $json.meta.nomeCliente }}, qual modelo de iPhone você está procurando hoje?\"\n  </apresentação>\n\n  <!-- Exemplos de Apresentação -->\n  <modelo_de_apresentação>\n    - \"Oi, {{ $json.meta.nomeCliente }}, tudo bem? Sou a Bruna, especialista em vendas de iPhones da {{ $json.empresa.nomeEmpresa }}. Estou aqui para ajudar!\"\n    - \"Olá! Aqui é a Bruna. {{ $json.meta.nomeCliente }}, vi que você tem interesse em iPhones. Qual modelo está procurando?\"\n  </modelo_de_apresentação>\n\n  <!-- Condução da Conversa -->\n  <condução>\n    - Responda de forma clara e objetiva sobre os preços e modelos disponíveis.\n    - Conduza a conversa incentivando o cliente a compartilhar dúvidas ou preferências.\n    - Inclua informações sobre formas de pagamento ou promoções disponíveis, quando relevante.\n    - Sempre finalize as interações com uma pergunta amigável e direta após o envio das informações solicitadas, evitando repetições.\n\n    <!-- Uso das Tools -->\n    <uso_de_tools>\n      - Somente quando o cliente perguntar quais são modelos disponíveis, acione a tool \"modelos_iphone\" para enviar as informações completas. Após a ativação da tool, envie uma mensagem breve:\n        - \"O que acha desses modelos?\"\n        - \"Qual desses modelos te agrada mais?\"\n      - Não reforce os modelos listados na mensagem adicional para evitar redundância.\n      - Quando o cliente solicitar informações sobre a loja, acione a tool \"infos\".\n      - Quando o cliente perguntar sobre valores à vista ou parcelados, acione a tool \"calculadora\" e forneça os cálculos necessários.\n    </uso_de_tools>\n\n    <!-- Venda Direta -->\n    <processo_de_venda>\n      - Quando o cliente estiver pronto para comprar, oriente-o sobre os próximos passos:\n        - \"Ótimo! Para finalizar, preciso confirmar o modelo, cor e forma de pagamento. Qual você prefere?\"\n        - \"Temos o pagamento em até 12x no cartão ou com desconto à vista. Qual você prefere?\"\n      - Confirme o pedido antes de finalizar:\n        - \"Perfeito, só para confirmar: você escolheu o iPhone 14 Pro, na cor azul, certo? Vou finalizar o pedido para você.\"\n    </processo_de_venda>\n  </condução>\n\n  <!-- Respostas a Dúvidas -->\n  <respostas_a_dúvidas>\n    - Responda de forma educada e direta. Exemplo:\n      - Cliente: \"Qual é o preço do iPhone 14 Pro?\"\n      - Resposta: \"O iPhone 14 Pro está disponível a partir de R$ 8.999,00. Podemos falar sobre as opções de pagamento?\"\n  </respostas_a_dúvidas>\n  \n  <!-- Manejo de Objeções -->\n  <manejo_de_objeções>\n    - Princípios Gerais:\n      - Ouça a objeção com atenção, demonstre empatia e ofereça soluções.\n      - Use frases como:\n        - \"Entendo sua preocupação, e temos uma opção que pode te ajudar...\"\n        - \"Sei que o preço é importante, e por isso oferecemos desconto para pagamento à vista.\"\n  </manejo_de_objeções>\n\n  <!-- Limitações -->\n  <limitações>\n    - Não forneça informações fora do escopo de vendas de iPhones.\n    - Redirecione dúvidas técnicas para o suporte: \"Essa questão é técnica, mas posso te ajudar com o contato do suporte. Quer que eu encaminhe?\"\n  </limitações>\n\n  <!-- Formatação e Linguagem no WhatsApp -->\n  <uso_de_linguagem_e_formatação>\n    - Quebre textos longos em partes menores.\n    - Evite parecer robótica; use variações na linguagem.\n    - Negrito para informações importantes:\n      - \"O iPhone 14 Pro está disponível por *R$ 8.999,00*.\"\n  </uso_de_linguagem_e_formatação>\n\n</prompt>\n","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"47166dfd-5769-4414-b64e-aa104610822d","name":"Prompts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,128],"alwaysOutputData":false},{"parameters":{"operation":"push","list":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}","messageData":"={{ JSON.stringify({ \n    \"message\": $('Webhook').item.json.body.data.message.speechToText, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}","tail":true},"id":"9fd0c400-dbe9-4897-9ef4-56d7a25b12c2","name":"empilhaÁudio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[1632,1040]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"83596861-178e-4c7a-beac-7b47473ed402","name":"UnificaDados","type":"n8n-nodes-base.merge","typeVersion":3,"position":[688,224],"notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379","name":"meta.telefoneCliente","value":"={{ \n  $json.body?.conversation?.contact_inbox?.contact_id || \n  $json.body?.data?.key?.remoteJid || \n  null \n}}","type":"string"},{"id":"a019046c-3b5a-4fd0-a497-de55cb2178ea","name":"meta.telefoneEmpresa","value":"={{ $json.body.sender }}","type":"string"},{"id":"dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5","name":"meta.nomeCliente","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"01238a36-6907-4aec-ab21-26345ed5fc96","name":"whatsapp.evo.nomeInstancia","value":"={{ $json.body.instance || null }}","type":"string"},{"id":"81612acf-1b66-4c8e-82e4-ce8c77b31334","name":"content.mensagem","value":"={{ \n  $json.body?.content || \n\n  $json.body?.data?.message?.extendedTextMessage?.text || \n  $json.body?.data?.message?.imageMessage?.caption || \n  $json.body?.data?.message?.conversation || \n  $json?.message?.text || \n  $json?.message?.caption || \n  null \n}}","type":"string"},{"id":"cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7","name":"content.tipoMensagem","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"2dfc64f4-b222-4ea7-b095-fdd96d9fcb95","name":"content.idMensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"9d947263-3b68-4c63-88ba-ef1b9de22571","name":"empresa.nomeEmpresa","value":"iPhone's Candiani","type":"string"},{"id":"076ad2d4-b8ea-440f-9c02-f7e8417a984d","name":"whatsapp.evo.apikey","value":"={{ $json.body.apikey || null }}","type":"string"},{"id":"0c237725-0428-4f1d-bddf-41bd289b3168","name":"whatsapp.evo.server_url","value":"={{ $json.body.server_url || null }}","type":"string"},{"id":"255b9c45-7769-4d09-9c50-61dcdfb7c09d","name":"app.debouncerTime","value":"4","type":"string"},{"id":"196aeb96-5c33-4dd7-9a4f-6bd40765b7fb","name":"doc.id","value":"1G3ca5La7WxEfZxpRYwyxhweknGlxRFxWPiwoUoP7eUY","type":"string"},{"id":"fc7c5c8f-b505-4a43-ae07-51eea58d6f80","name":"linkPreview","value":false,"type":"boolean"},{"id":"e30bbf8c-d5da-4410-b875-8dfe4b301798","name":"Digitando","value":1200,"type":"number"},{"id":"c4f557bd-72f1-4507-8d9d-c2a590eea2b8","name":"content.quoted","value":"={{ $json.body.data.contextInfo.quotedMessage.conversation }}\n{{ $json.body.data.contextInfo.quotedMessage.imageMessage.caption }}","type":"string"}]},"options":{}},"id":"6e2f1fbc-f060-404f-8036-9cc07ed48a12","name":"camposIniciais","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,224],"notesInFlow":true},{"parameters":{"operation":"get","tableId":"clientes","filters":{"conditions":[{"keyName":"telefoneCliente","keyValue":"={{ $('camposIniciais').item.json.meta.telefoneCliente }}"}]}},"id":"bf837e63-a706-4543-9be0-b572ec246f2a","name":"getClient","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[48,864],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e77cc7c-48f4-4cbe-94e7-6d211db67002","leftValue":"={{ $('getClient').item.json.telefoneCliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bbcef48d-6d94-4307-b621-e95834c4e013","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,864]},{"parameters":{"tableId":"clientes","fieldsUi":{"fieldValues":[{"fieldId":"nomeCliente","fieldValue":"={{ $('camposIniciais').item.json.meta.nomeCliente }}"},{"fieldId":"telefoneCliente","fieldValue":"={{ $('camposIniciais').item.json.meta.telefoneCliente }}"},{"fieldId":"idMensagem","fieldValue":"={{ $('camposIniciais').item.json.content.idMensagem }}"},{"fieldId":"sessionId","fieldValue":"={{ $json.data }}"}]}},"id":"38390f0d-3f6f-458f-ac41-7f4f553a573d","name":"CreateUser","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[624,1008]},{"parameters":{"action":"generate"},"id":"4ba7e323-416f-4764-b570-0ffbe5f7f09f","name":"GeraUUID","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[448,1008],"notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ \n  $json.message.length > 8 \n  ? $('camposIniciais').item.json.content.idMensagem\n  : JSON.parse($json.message.first()).message_id.toString().trim()\n}}","rightValue":"={{ $('camposIniciais').item.json.content.idMensagem.toString().trim() }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nada a fazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b9b7794-e8f6-45b5-8021-f59dbb747cb0","leftValue":"={{ JSON.parse($json.message.last()).timestamp }}","rightValue":"={{ $now.minus($('camposIniciais').item.json.app.debouncerTime, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"proceder"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"esperar"}},"id":"24cc827a-184e-4361-92bd-15bbe9304a58","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2032,864]},{"parameters":{},"id":"90da946c-ec3c-497d-8408-e379eb284148","name":"NOP1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[944,752]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3c9b986-29a6-4418-a033-6422c387377f","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c1b5274d-c282-4548-9201-d1b8efc0ff58","name":"fromMe","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,848]},{"parameters":{"content":"```\n       d8888  .d8888b.  8888888888 888b    888 88888888888 8888888888       8888888b.  8888888888       8888888        d8888       8888888b.         d8888  .d8888b.  \n      d88888 d88P  Y88b 888        8888b   888     888     888              888  \"Y88b 888                888         d88888       888   Y88b       d88888 d88P  Y88b \n     d88P888 888    888 888        88888b  888     888     888              888    888 888                888        d88P888       888    888      d88P888 888    888 \n    d88P 888 888        8888888    888Y88b 888     888     8888888          888    888 8888888            888       d88P 888       888   d88P     d88P 888 888        \n   d88P  888 888  88888 888        888 Y88b888     888     888              888    888 888                888      d88P  888       8888888P\"     d88P  888 888  88888 \n  d88P   888 888    888 888        888  Y88888     888     888              888    888 888                888     d88P   888       888 T88b     d88P   888 888    888 \n d8888888888 Y88b  d88P 888        888   Y8888     888     888              888  .d88P 888                888    d8888888888       888  T88b   d8888888888 Y88b  d88P \nd88P     888  \"Y8888P88 8888888888 888    Y888     888     8888888888       8888888P\"  8888888888       8888888 d88P     888       888   T88b d88P     888  \"Y8888P88 \n```                                                                                                                                                                    ","height":154,"width":1629,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2240,352],"typeVersion":1,"id":"71a3b206-de7c-4f9e-b72c-66d81c8af767","name":"Sticky Note"},{"parameters":{"content":"### 1ª Parte do workflow\n- Adiciona dados no node \"campos iniciais\"\n- Configura o prompt\n- Verifica cadastro de cliente no Supabase\n- Agrupa as mensagens\n- Agente de IA responde e utiliza as tools\n- Divide a resposta de uma forma natural\n- Envia mensagem em partes","height":196.9777862192652,"width":326.91458763839535,"color":4},"id":"4501a802-d9a9-4dfb-9e0e-5f915f3c6793","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[944,304]},{"parameters":{"content":"","height":534,"width":859,"color":6},"id":"1c7b25fe-d076-4194-a7a6-b805e8313538","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"content":"#### Credenciais e dados padrões","height":80,"width":282,"color":4},"id":"891bcbce-73b8-4db8-b1bb-41a690a2af5c","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[32,32]},{"parameters":{"content":"Configure seus dados","height":223.25452635785376,"width":180.90155202154455,"color":2},"id":"cff3fbcb-f83e-4569-a83b-5ec4803b4234","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,160]},{"parameters":{"content":"","height":649.9690226478867,"width":1119.392138234499,"color":6},"id":"d77d8ad5-3e39-4823-bb65-95837e9409fc","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,560]},{"parameters":{"content":"#### Cadastra usuário no **Supabase**","height":80,"width":282,"color":4},"id":"0a26afbe-db3e-4c2d-967e-d0b09bc62ca1","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[832,592]},{"parameters":{"content":"","height":654,"width":1359,"color":6},"id":"2f398ba6-06c0-4d31-81cf-4d89768cf915","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2528,560]},{"parameters":{"options":{}},"id":"bcc21e21-c67e-44f7-b34e-544ab382f8a6","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3984,1072]},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"4122743e-e6f5-45e6-8e02-d6dd646e5486","name":"Segmentos","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[4320,832]},{"parameters":{"amount":1.2},"id":"93ccfea8-ee9a-4a64-8959-cedb7483f7a0","name":"1,2s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5152,864],"webhookId":"8a810ad6-4ecf-4781-aed8-7f2b295770dc"},{"parameters":{"options":{}},"id":"8c951508-d72a-41dc-aa20-e1425af393c8","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[4544,832]},{"parameters":{},"id":"046a9525-5ed8-4ebc-81bd-f06578bb14bc","name":"no.op2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5344,928]},{"parameters":{},"id":"eb9b233f-dc6c-404b-bb3a-5ee11cd29743","name":"Replace Me1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4752,928]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"ba7c2e51-0881-4473-88f1-2c5dc972e34f","name":"OutputParser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[4144,1072]},{"parameters":{"content":"## Divide a mensagem de uma maneira natural para o WhatsApp","height":520,"width":560},"type":"n8n-nodes-base.stickyNote","position":[3920,688],"typeVersion":1,"id":"b9e27f5b-bdbc-4a0d-bee9-77bf60ce00c3","name":"Sticky Note2"},{"parameters":{"content":"#### Envia das mensagens","height":80,"width":442.317822288388,"color":4},"id":"0b43865f-f16b-40bc-a34e-83ff587001f7","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3920,592]},{"parameters":{"content":"","height":654,"width":1624,"color":6},"id":"6c44ec80-febc-40c3-b732-97c4a549395e","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3904,560]},{"parameters":{"content":"#### O Cérebro (Agente AI)","height":80,"width":202,"color":4},"id":"62c0c44b-953a-4efe-a9fc-554ddbf2aa53","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3664,592]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60065893-74f7-4b64-bc1a-d891202efa78","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0cb14635-2673-408e-86db-ce9e0373674b","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"id":"28c138f2-281f-4c73-9b4b-d14517f1efae","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1184,864]},{"parameters":{},"id":"fca68b29-5031-4bef-bda1-431481404a4b","name":"Evolution API1","type":"n8n-nodes-evolution-api.httpBin","typeVersion":1,"position":[1632,688],"credentials":{}},{"parameters":{"method":"POST","url":"={{ $('camposIniciais').item.json.whatsapp.evo.server_url }}/message/sendText/{{ $('camposIniciais').item.json.whatsapp.evo.nomeInstancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('camposIniciais').item.json.whatsapp.evo.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('camposIniciais').item.json.meta.telefoneCliente }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"linkPreview","value":"={{ $('camposIniciais').item.json.linkPreview }}"},{"name":"delay","value":"={{ $('camposIniciais').item.json.Digitando }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"e25ea67e-d6f0-4466-8dbc-b3d165f8c80b","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4944,864],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"httpMethod":"POST","path":"agenteRag-bd","options":{}},"id":"3beb87c2-107f-40d3-b9e3-ab387c3c4d12","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,224],"webhookId":"7cb2b84c-b62c-4f68-b719-19e5b8b79b17"},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja algo que foi excluído ou alterado)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, pode colocar entre \"`\", ou seja, na seguinte formatação: `www.link.com.br`\n"}]}},"id":"141f7e07-0d98-49c1-9086-7f54523a78cd","name":"Parser  Chain1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[3968,832]},{"parameters":{"content":"```\n██    ██  ██████      ██ \n██    ██ ██  ████    ███ \n██    ██ ██ ██ ██     ██ \n ██  ██  ████  ██     ██ \n  ████    ██████  ██  ██ \n```                         \n                         \n","height":100,"width":248.90836434465143,"color":7},"type":"n8n-nodes-base.stickyNote","position":[2960,480],"typeVersion":1,"id":"ae3793af-c8cd-4435-94d0-1a1ae998837f","name":"Sticky Note1"},{"parameters":{"options":{}},"id":"b9f6ab6d-d99f-41df-bc11-f7b65fcb5610","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[2768,944]},{"parameters":{"contextWindowLength":10},"id":"285268d2-071e-4b8c-9e5b-d2c5134281bc","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[2912,944]},{"parameters":{"name":"database","description":"retrieves data about projects"},"id":"9c48d1d7-e915-4555-a717-84bc8025c71e","name":"Vector Store Tool","type":"@n8n/n8n-nodes-langchain.toolVectorStore","typeVersion":1,"position":[3120,912]},{"parameters":{"options":{}},"id":"9495d4af-d612-4fbe-850b-a3f23ab8bd29","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[3440,928]},{"parameters":{"options":{}},"id":"41c6b257-ca5f-4477-8a1d-0c91408c576c","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[3312,1072]},{"parameters":{"tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"85a4ffc4-46a8-4d1a-8249-00b6f7511de4","name":"Supabase Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[3024,1072],"credentials":{"supabaseApi":{"id":"FYYXnlgPDC1HaE5Z","name":"Supabase homelab2.0"}}},{"parameters":{"options":{"systemMessage":"Você é um agente que pode consultar informações e usar tool com dados sobre o que o usuário pedir."}},"id":"85088377-eca5-4e21-b89d-c2dd65cf841c","name":"Agente de IA RAG","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[2992,720]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"b13985a2-4f25-42c4-9365-9c443960b9c9","name":"Aggregate1","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1792,1792]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"b2fe76ff-3db9-4301-b3bf-629d70e431b4","name":"Summarize1","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[1984,1792]},{"parameters":{"operation":"pdf","options":{}},"id":"b4e16e83-275e-414b-8459-3ae191391d3b","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1584,1440]},{"parameters":{"operation":"xlsx","options":{}},"id":"77d87500-8e18-49cd-9027-5d9ac8dd5ceb","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1584,1792]},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $('Definir ID1').item.json.file_id }}*"},"id":"ef0494e9-c86a-49f8-a720-23aa72d78525","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[608,2640],"alwaysOutputData":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Definir ID1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"dba89281-ffa0-49dd-be5f-1d5b090d22ad","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1552,2800],"executeOnce":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"928b5cae-77cd-48a2-81ef-2f76dc441b0a","leftValue":"={{ $('File Updated').item.json.mimeType }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"6368b5ad-32b0-491d-a27d-5cc3ad5c2a11","leftValue":"={{ ((Date.now() - Date.parse($('File Updated').item.json.createdTime)) / 1000) }}","rightValue":60,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[384,2640],"id":"256a6a88-03b2-4c2f-8833-5801a6e989a8","name":"If","onError":"continueRegularOutput"},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Definir ID').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1792,1968],"id":"d6c4a17c-9980-45b7-ad91-28ec893f394f","name":"Delete File"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Definir ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"a5292ee0-c72b-4bad-9a04-76de149efcda","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[608,1904],"executeOnce":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"f0946d2f-8917-4797-bb27-15805879bb67","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2304,2752]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"978aa271-0bd6-495f-a6c8-1ca3c768f028","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[2512,2752]},{"parameters":{"operation":"pdf","options":{}},"id":"c740a53e-58aa-4d44-8680-2d01c01ab94b","name":"Extract PDF Text1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2112,2400]},{"parameters":{"operation":"xlsx","options":{}},"id":"f339197d-14a2-4f92-bdab-24d8e719a1f7","name":"Extract from Excel1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2112,2752]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Definir ID1').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Definir ID1').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"0c15b49e-f383-42cb-b4b1-df3ca934f295","name":"Convert to Google Doc2","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[2112,2944]},{"parameters":{"operation":"deleteFile","fileId":{"__rl":true,"value":"={{ $('Definir ID1').item.json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2304,2944],"id":"9f30fd89-c32f-48a8-afbd-6ca17652403b","name":"Delete File1"},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[2448,1824],"id":"d5a75bf3-89fa-4caf-9d1a-ee075eaf0735","name":"Recursive Character Text Splitter"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2208,1760],"id":"eb38ee06-f092-494b-b447-f1b4c8feaf73","name":"Embeddings OpenAI1"},{"parameters":{"chunkSize":2000,"chunkOverlap":200,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[3088,2864],"id":"076600d3-d8eb-4574-aef8-1e52e20c7180","name":"Recursive Character Text Splitter1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.1,"position":[2832,2720],"id":"2d5e4729-23ff-486f-a1ea-7a28538373eb","name":"Embeddings OpenAI2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,1744],"id":"39850d56-d499-4922-88ea-777cbeec48c7","name":"Loop Over Items"},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Definir ID').item.json.file_id }}"},{"name":"=version","value":"v1"},{"name":"=creator","value":"={{ $('File Created').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Created').item.json.createdTime }}"},{"name":"last_modified","value":"={{ $('File Created').item.json.modifiedTime }}"},{"name":"folder_path","value":"projects"},{"name":"file_name","value":"={{ $('File Created').item.json.name }}"},{"name":"file_extension","value":"={{ $('File Created').item.json.mimeType }}"}]}}},"id":"2e504562-3a03-4f7b-9e48-84fd6d1ae2d7","name":"Enhanced Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[2368,1664]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Definir ID1').item.json.file_id }}"},{"name":"=version","value":"={{ $('Definir Versão').item.json.message.content.version }}"},{"name":"=creator","value":"={{ $('File Updated').item.json.owners[0].displayName }}"},{"name":"=created_at","value":"={{ $('File Updated').item.json.createdTime }}"},{"name":"=last_modified","value":"={{ $('File Updated').item.json.modifiedTime }}"},{"name":"=folder_path","value":"projects"},{"name":"=file_name","value":"={{ $('File Updated').item.json.name }}"},{"name":"=file_extension","value":"={{ $('File Updated').item.json.mimeType }}"}]}}},"id":"94184cfc-7809-4da7-92ee-a8e61c53fa44","name":"Enhanced Default Data Loader2","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[3008,2640]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1CFKrwWrJdanlGT_IeYBiNaeyQ36HM03X","mode":"list","cachedResultName":"01. RAG TESTE","cachedResultUrl":"https://drive.google.com/drive/folders/1CFKrwWrJdanlGT_IeYBiNaeyQ36HM03X"},"event":"fileCreated","options":{}},"id":"31cc31eb-5dba-4769-9b9d-7e16fe936790","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[48,1744]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1CFKrwWrJdanlGT_IeYBiNaeyQ36HM03X","mode":"list","cachedResultName":"01. RAG TESTE","cachedResultUrl":"https://drive.google.com/drive/folders/1CFKrwWrJdanlGT_IeYBiNaeyQ36HM03X"},"event":"fileUpdated","options":{}},"id":"30cfc633-9654-4ef8-bd5a-62de61f53740","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[48,2640]},{"parameters":{"operation":"text","options":{}},"id":"927269fb-af3c-4115-a3a1-1ac2ac2a00b2","name":"Extract from Text File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1584,1600],"alwaysOutputData":true},{"parameters":{"operation":"text","options":{}},"id":"32f85565-578d-401f-872b-8df9a4db1798","name":"Extract from Text File1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[2112,2560],"alwaysOutputData":true},{"parameters":{},"id":"1f249b06-dcd3-4431-ad8b-a73449002851","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[768,2640]},{"parameters":{"content":"# Gatilho de Monitoramento (Drive) - Arquivos Criados\n## Arquivos criados em uma pasta específica -> Verificar o tipo de arquivo e realizar conversão, se necessário -> Extrair o texto -> Adicionar ao Vector Store\nDrive/Backoffice/Backoffice_Contracts","height":840,"width":2660,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,1312],"typeVersion":1,"id":"9a3e6eb0-9995-446b-9e93-113e12c62b4f","name":"Sticky Note12"},{"parameters":{"content":"# Gatilho de Monitoramento (Drive) - Arquivos Atualizados\n## Arquivos atualizados em uma pasta específica -> Verificar o tipo de arquivo e realizar conversão, se necessário -> Extrair o texto -> Adicionar ao Vector Store\nDrive/Backoffice/Backoffice_Contracts","height":888.3491772897637,"width":3306.7699150920453,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,2288],"typeVersion":1,"id":"05e0669e-a006-483a-a55b-80c701bd21d7","name":"Sticky Note13"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1392,2640],"id":"b027af66-be76-42a7-a524-2a5152a55cc1","name":"Loop Over Items2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Definir ID1').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"c43a14e8-0b73-4701-a226-d481f529277f","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1808,2624]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text File"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Excel"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"7ddfa924-1c26-4ee3-9890-5c9d2b96717a","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(1)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"f53caf8b-7a8f-4d1e-98f4-deaf0e0171f0","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/msword","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(2)"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"cd9ca627-d00d-4c30-903a-41f603c8e36f","leftValue":"={{ $('Definir ID').item.json.file_type }}","rightValue":"application/vnd.ms-word","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Windows Doc(3)"}]},"options":{"fallbackOutput":2}},"id":"a2c9b151-5725-46f9-bf37-8c5caa9badc3","name":"Switch3","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1008,1664]},{"parameters":{"method":"POST","url":"=https://www.googleapis.com/drive/v3/files/{{ $('Definir ID').item.json.file_id }}/copy","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $('Definir ID').item.json.name }}"},{"name":"mimeType","value":"application/vnd.google-apps.document"}]},"options":{}},"id":"a740e3e4-c160-40e8-928e-b4e978cf2f9d","name":"Converte para o Google Docs","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1584,1968]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"=documents","mode":"id"},"options":{"queryName":"match_documents"}},"id":"87021b72-eb17-4634-a77e-2fb7ebe38532","name":"Inserir na Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2192,1440]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"id"},"options":{"queryName":"match_documents"}},"id":"ce6a3790-4ea3-4c6b-be32-3f1539b533ff","name":"Inserir na Supabase Vectorstore1","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[2784,2400]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Created').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Created').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"f769c04f-f12a-46c7-a2a8-16e1e7146797","name":"Definir ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,1744]},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $('File Updated').item.json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $('File Updated').item.json.mimeType }}","type":"string"}]},"options":{}},"id":"03c9af96-110e-46a7-903d-be8fd6f6f73c","name":"Definir ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,2640]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"Seu objetivo é pegar o número da versão recebido e adicionar 1 a ele.\n\n[Exemplos]  \nEntrada: v1  \nSaída: v2  \n\nEntrada: v2  \nSaída: v3  \n\nEntrada: v4  \nSaída: v5  \n\nO campo de saída deve sempre ser chamado de \"version\".","role":"system"},{"content":"=número da versão recebida: {{ $json.metadata.version }}"}]},"jsonOutput":true,"options":{}},"id":"6ba4c885-f224-48a4-96c8-0fa7cbad0def","name":"Definir Versão","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[992,2640]},{"parameters":{"content":"## Template - Leonardo Candiani de Lima.\n# [ACESSE MEU CANAL DO YOUTUBE](https://www.youtube.com/@oleonardocandiani) e [ENTRE NA COMUNIDADE](https://chat.whatsapp.com/F6AzmR5fIyWGV6yWiWclRI).","height":100,"width":1160},"type":"n8n-nodes-base.stickyNote","position":[2480,224],"typeVersion":1,"id":"0656f720-a40b-4826-b779-3a27cc84823d","name":"Sticky Note10"}],"connections":{"NoOp.4":{"main":[[{"node":"UnificaDados","type":"main","index":1}]]},"Wait":{"main":[[{"node":"Obtem","type":"main","index":0}]]},"empilhaTexto":{"main":[[{"node":"Obtem","type":"main","index":0}]]},"Obtem":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Deleta":{"main":[[{"node":"messages","type":"main","index":0}]]},"Prompts":{"main":[[{"node":"UnificaDados","type":"main","index":0}]]},"empilhaÁudio":{"main":[[{"node":"Obtem","type":"main","index":0}]]},"UnificaDados":{"main":[[{"node":"getClient","type":"main","index":0}]]},"camposIniciais":{"main":[[{"node":"Prompts","type":"main","index":0},{"node":"NoOp.4","type":"main","index":0}]]},"getClient":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"fromMe","type":"main","index":0}],[{"node":"GeraUUID","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"getClient","type":"main","index":0}]]},"GeraUUID":{"main":[[{"node":"CreateUser","type":"main","index":0}]]},"Switch":{"main":[[{"node":"NoOp.","type":"main","index":0}],[{"node":"Deleta","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"fromMe":{"main":[[{"node":"NOP1","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"messages":{"main":[[{"node":"Agente de IA RAG","type":"main","index":0}]]},"OpenAI2":{"ai_languageModel":[[{"node":"Parser  Chain1","type":"ai_languageModel","index":0}]]},"Segmentos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"1,2s":{"main":[[{"node":"no.op2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Replace Me1","type":"main","index":0}]]},"no.op2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Responde texto","type":"main","index":0}]]},"OutputParser":{"ai_outputParser":[[{"node":"Parser  Chain1","type":"ai_outputParser","index":0}]]},"Switch2":{"main":[[],[{"node":"empilhaTexto","type":"main","index":0}],[{"node":"empilhaÁudio","type":"main","index":0}]]},"Responde texto":{"main":[[{"node":"1,2s","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"camposIniciais","type":"main","index":0}]]},"Parser  Chain1":{"main":[[{"node":"Segmentos","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente de IA RAG","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Agente de IA RAG","type":"ai_memory","index":0}]]},"Vector Store Tool":{"ai_tool":[[{"node":"Agente de IA RAG","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Vector Store Tool","type":"ai_languageModel","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Supabase Vector Store","type":"ai_embedding","index":0}]]},"Supabase Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Tool","type":"ai_vectorStore","index":0}]]},"Agente de IA RAG":{"main":[[{"node":"Parser  Chain1","type":"main","index":0}]]},"Aggregate1":{"main":[[{"node":"Summarize1","type":"main","index":0}]]},"Summarize1":{"main":[[{"node":"Inserir na Supabase Vectorstore","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Inserir na Supabase Vectorstore","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Download File1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Summarize":{"main":[[{"node":"Inserir na Supabase Vectorstore1","type":"main","index":0}]]},"Extract PDF Text1":{"main":[[{"node":"Inserir na Supabase Vectorstore1","type":"main","index":0}]]},"Extract from Excel1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Convert to Google Doc2":{"main":[[{"node":"Delete File1","type":"main","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Inserir na Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Recursive Character Text Splitter1":{"ai_textSplitter":[[{"node":"Enhanced Default Data Loader2","type":"ai_textSplitter","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Inserir na Supabase Vectorstore1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[{"node":"Switch3","type":"main","index":0}],[{"node":"Download File1","type":"main","index":0}]]},"Enhanced Default Data Loader1":{"ai_document":[[{"node":"Inserir na Supabase Vectorstore","type":"ai_document","index":0}]]},"Enhanced Default Data Loader2":{"ai_document":[[{"node":"Inserir na Supabase Vectorstore1","type":"ai_document","index":0}]]},"File Created":{"main":[[{"node":"Definir ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Definir ID1","type":"main","index":0}]]},"Extract from Text File":{"main":[[{"node":"Inserir na Supabase Vectorstore","type":"main","index":0}]]},"Extract from Text File1":{"main":[[{"node":"Inserir na Supabase Vectorstore1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Definir Versão","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Download File","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"Extract PDF Text1","type":"main","index":0}],[{"node":"Extract from Text File1","type":"main","index":0}],[{"node":"Extract from Excel1","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}],[{"node":"Convert to Google Doc2","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Text File","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Converte para o Google Docs","type":"main","index":0}],[{"node":"Converte para o Google Docs","type":"main","index":0}],[{"node":"Converte para o Google Docs","type":"main","index":0}]]},"Converte para o Google Docs":{"main":[[{"node":"Delete File","type":"main","index":0}]]},"Definir ID":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Definir ID1":{"main":[[{"node":"If","type":"main","index":0}]]},"Definir Versão":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"File Created":[{"json":{"kind":"drive#file","fileExtension":"docx","copyRequiresWriterPermission":false,"md5Checksum":"b65802b54cd5b50e8d56e8f325729f87","writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.openxmlformats-officedocument.wordprocessingml.document","parents":["1CFKrwWrJdanlGT_IeYBiNaeyQ36HM03X"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBP3NF9MY9zcyT19fHEqaMe_sNNjNUSIwrbTHEEIOINuPm29LlU9r8EO5vjyh7Ia8p3EgFm0T24V-okLsezN3C8zMnV-YDW1IlGnCb9eJ3c8Rw=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.openxmlformats-officedocument.wordprocessingml.document","shared":false,"lastModifyingUser":{"displayName":"Leonardo Candiani","kind":"drive#user","me":true,"permissionId":"13720459784216119185","emailAddress":"llima.leo.lima@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLuLaURZtjAQJacxVR-d3VCmUM2vDhr1tKyinHHt0hdGOwx0B4YFQ=s64"},"owners":[{"displayName":"Leonardo Candiani","kind":"drive#user","me":true,"permissionId":"13720459784216119185","emailAddress":"llima.leo.lima@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLuLaURZtjAQJacxVR-d3VCmUM2vDhr1tKyinHHt0hdGOwx0B4YFQ=s64"}],"headRevisionId":"0B3irD5CZElmrN3VTZ3VFcFRzdVdueEV2bUk0bER3bEZSanVjPQ","webViewLink":"https://docs.google.com/document/d/12xl0RhjP1b7atNip6RYUk1L8ftfh8_zi/edit?usp=drivesdk&ouid=112947425635353363001&rtpof=true&sd=true","webContentLink":"https://drive.google.com/uc?id=12xl0RhjP1b7atNip6RYUk1L8ftfh8_zi&export=download","size":"8443","viewersCanCopyContent":true,"permissions":[{"id":"13720459784216119185","displayName":"Leonardo Candiani","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLuLaURZtjAQJacxVR-d3VCmUM2vDhr1tKyinHHt0hdGOwx0B4YFQ=s64","emailAddress":"llima.leo.lima@gmail.com","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"12xl0RhjP1b7atNip6RYUk1L8ftfh8_zi","name":"Bem-vindo à TechNova Solutions (1).docx","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2024-12-08T02:36:36.931Z","modifiedTime":"2024-12-08T02:36:21.000Z","modifiedByMeTime":"2024-12-08T02:36:21.000Z","viewedByMeTime":"2024-12-08T02:36:36.931Z","quotaBytesUsed":"8443","version":"3","originalFilename":"Bem-vindo à TechNova Solutions (1).docx","ownedByMe":true,"fullFileExtension":"docx","isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false},"thumbnailVersion":"1","modifiedByMe":true,"permissionIds":["13720459784216119185"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"sha1Checksum":"6f1e6a350ddd7c20dd9d2b300ba17a2ec7578577","sha256Checksum":"70f7ac3f4d8c4e7a606dd3607e38cfb1a3707ab49e81b1d3c904406b8e651d90"}},{"json":{"kind":"drive#file","fileExtension":"csv","copyRequiresWriterPermission":false,"md5Checksum":"fd56069d26411a6b194d19d30117eab8","writersCanShare":true,"viewedByMe":true,"mimeType":"text/csv","parents":["1CFKrwWrJdanlGT_IeYBiNaeyQ36HM03X"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBPooJWNNyYRemzlvcU4D39jlXHDHlIIZIBwHiWQCyWVe4olsHzPb95ArrdSRCSLnEmmBE7781AEknVrWI5EVnXdyx4NA9g0xqJkf2rse-mdEg=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/text/csv","shared":false,"lastModifyingUser":{"displayName":"Leonardo Candiani","kind":"drive#user","me":true,"permissionId":"13720459784216119185","emailAddress":"llima.leo.lima@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLuLaURZtjAQJacxVR-d3VCmUM2vDhr1tKyinHHt0hdGOwx0B4YFQ=s64"},"owners":[{"displayName":"Leonardo Candiani","kind":"drive#user","me":true,"permissionId":"13720459784216119185","emailAddress":"llima.leo.lima@gmail.com","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLuLaURZtjAQJacxVR-d3VCmUM2vDhr1tKyinHHt0hdGOwx0B4YFQ=s64"}],"headRevisionId":"0B3irD5CZElmrVE1xTHNxOHYxNGhBRGlKZnJtaTZUbkJRdXI4PQ","webViewLink":"https://drive.google.com/file/d/17PKyo_Gi6SPIM-Lj5WtxeHzhTv_xUrmg/view?usp=drivesdk","webContentLink":"https://drive.google.com/uc?id=17PKyo_Gi6SPIM-Lj5WtxeHzhTv_xUrmg&export=download","size":"295","viewersCanCopyContent":true,"permissions":[{"id":"13720459784216119185","displayName":"Leonardo Candiani","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a/ACg8ocLuLaURZtjAQJacxVR-d3VCmUM2vDhr1tKyinHHt0hdGOwx0B4YFQ=s64","emailAddress":"llima.leo.lima@gmail.com","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"17PKyo_Gi6SPIM-Lj5WtxeHzhTv_xUrmg","name":"dados_empresa (1).csv","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2024-12-08T02:36:37.997Z","modifiedTime":"2024-12-08T02:36:20.000Z","modifiedByMeTime":"2024-12-08T02:36:20.000Z","viewedByMeTime":"2024-12-08T02:36:37.997Z","quotaBytesUsed":"295","version":"3","originalFilename":"dados_empresa (1).csv","ownedByMe":true,"fullFileExtension":"csv","isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false},"thumbnailVersion":"1","modifiedByMe":true,"permissionIds":["13720459784216119185"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"sha1Checksum":"5f404defcf0005a2dccf95a374dd0d373e3abbec","sha256Checksum":"ac93eca3a4e185ab35f3cec9c2ee4f24becba826f04adcfa91af6e2e543bc318"}}]},"versionId":"7038cc62-98e0-4691-8a89-b6452cb17bc2","triggerCount":0,"shared":[{"createdAt":"2025-11-02T14:59:22.590Z","updatedAt":"2025-11-02T14:59:22.590Z","role":"workflow:owner","workflowId":"z4TY5JxImdlfgQkB","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-02T14:29:49.353Z","updatedAt":"2025-11-02T14:29:49.353Z","id":"V0y7YKKb0kBhv9sN","name":"Youtube"},{"createdAt":"2025-11-02T14:59:15.358Z","updatedAt":"2025-11-02T14:59:15.358Z","id":"qqctfTHOBCMAVopV","name":"LeonardoCandiani"}]}