workflow/agent test.json
{"createdAt":"2025-06-16T20:57:40.022Z","updatedAt":"2025-06-25T22:06:59.000Z","id":"oRAniP2CcnR89QZ0","name":"agent test","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"aaed208c-e918-49a6-94ed-c2c8eedfb446","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1020,40],"id":"be56d19d-e156-4454-89e8-252d14da4e2f","name":"Webhook","webhookId":"aaed208c-e918-49a6-94ed-c2c8eedfb446"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ea9512f2-e67c-4ef7-992f-893c75cfee8f","leftValue":"={{ $json.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-580,40],"id":"1f595d15-c1f8-493f-9a48-6ebda4d165cf","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6de225a3-3524-4810-8ce2-6b96d1dff463","leftValue":"={{ $json.combinedText1 }}","rightValue":"={{ $json.combinedText2 }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1440,-160],"id":"0a4d80f5-c0f5-406a-bd87-0100ab45487c","name":"Filter"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[460,-140],"id":"4b427ff2-30dd-4eb7-b55d-89d7648ae6d1","name":"OpenAI2"},{"parameters":{"operation":"toBinary","sourceProperty":"=base64","options":{"fileName":"transcricao.ogg","mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[200,-140],"id":"dde7bc09-8099-4ab7-a8fb-c53fb1fa9ded","name":"Base64 to Audio"},{"parameters":{"assignments":{"assignments":[{"id":"5d408baf-2ff4-43fb-94a1-79601221051a","name":"base64","value":"={{ $('Webhook').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-60,-140],"id":"d7f6dbde-5d93-4e5f-93ac-1dd1a49e03d2","name":"Base64 Audio"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1020,120],"id":"dc345988-60fa-47c1-bdae-a669d372d007","name":"Loop Over Items"},{"parameters":{"jsCode":"// Recupera o texto da variável\nconst output = $('SDR IA').item.json.output;\n\n// Faz o split usando '\\n\\n' como delimitador\nconst splitOutput = output.split('\\n\\n');\n\n// Retorna cada parte do split como um item separado\nreturn splitOutput.map(part => ({\n  json: {\n    splitPart: part,\n  },\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[720,120],"id":"612ae8a7-ca90-4d4c-8265-55568e6e8386","name":"Quebrar Mensagem","alwaysOutputData":true},{"parameters":{"jsCode":"// Código atualizado para o node 'Code' no n8n\nconst array1 = $('Pegar Memória 1').item.json.Message1;\nconst array2 = $('Pegar Memória 2').item.json.Message2;\n\n// Combina os elementos dos arrays em strings únicas\nconst combinedText1 = array1.join(' ');\nconst combinedText2 = array2.join(' ');\n\n// Retorna os resultados no formato exigido pelo n8n\nreturn [\n  {\n    json: {\n      combinedText1,\n      combinedText2,\n    },\n  },\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1220,-160],"id":"226e4ea6-b3f0-4441-ae6a-5152d78934c3","name":"Verificar Combinação"},{"parameters":{"operation":"get","propertyName":"Message1","key":"={{ $('Dados').item.json.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1120,-360],"id":"81221890-f2d0-467f-97d2-c74a65b27431","name":"Pegar Memória 1"},{"parameters":{"operation":"get","propertyName":"Message2","key":"={{ $('Dados').item.json.remoteJid }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1000,-160],"id":"83670d56-1d6b-4c2b-8e16-5787748c5c3b","name":"Pegar Memória 2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1320,-360],"id":"70262c1d-f3ee-4273-9a18-77b5a7fbcf71","name":"Delay","webhookId":"05586b1c-449b-4da8-9702-da2c222e7551"},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.remoteJid }}","messageData":"={{ $('Dados').item.json.conversation }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[340,-380],"id":"09de96c5-1173-4937-90d2-ac01862380b4","name":"Memória de Texto"},{"parameters":{"operation":"push","list":"={{ $('Dados').item.json.remoteJid }}","messageData":"={{ $json.text }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[680,-140],"id":"773ef5b8-350f-4a1c-a8b6-71207aa99ea3","name":"Memória de Áudio"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Dados').item.json.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0807bcd7-a626-40ca-ae74-45f5565d9209","leftValue":"={{ $('Dados').item.json.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-340,120],"id":"5340eccb-929b-4d41-8bcd-2725123e8ef3","name":"Tipo de Mensagem","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"2911e082-e712-4b85-bcf7-611f60d1559f","name":"remoteJid","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"f2af5f89-8957-4811-9839-8ef571b38e5c","name":"fromMe","value":"={{ $json.body.data.key.fromMe }}","type":"boolean"},{"id":"16a9c5c0-5a35-4db2-ab94-ef251115696f","name":"conversation","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"20937be5-8999-4d95-91cb-5aa9490f166c","name":"date_time","value":"={{ $json.body.date_time }}","type":"string"},{"id":"fa5a0f16-b265-40ab-9299-135659bbf90e","name":"messageType","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"95ca6185-7794-4411-82c5-d30676a6ca52","name":"evo.instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"66fcd40d-88da-4117-958d-7b4a29454136","name":"evo.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"477ee9d8-59d3-4dd4-9eab-038367517cb1","name":"evo.apikey","value":"={{ $json.body.apikey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-800,40],"id":"7a5f8b07-4bb1-4dab-942e-ac852fd9b388","name":"Dados"},{"parameters":{"operation":"delete","key":"={{ $('Dados').item.json.remoteJid }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[480,120],"id":"5fbb2907-502f-473f-af52-4aa4b68ff6b0","name":"Deletar Memória"},{"parameters":{"jsCode":"// Recebe todos os itens de entrada\nconst items = $input.all();\n\n// Verifica se há itens de entrada\nif (!items || items.length === 0) {\n  return []; // Retorna um array vazio se não houver entrada\n}\n\n// Array para armazenar os resultados\nconst output = [];\n\n// Processa cada item de entrada\nitems.forEach(item => {\n  // Assume que o texto está no campo \"splitPart\" do item\n  const text = item.json.splitPart || \"\";\n\n  // Conta o número de caracteres na mensagem\n  const characterCount = text.length;\n\n  // Calcula o tempo em milissegundos: 100 caracteres = 6 segundos (6000 ms)\n  const milliseconds = Math.floor((characterCount / 100) * 6000);\n\n  // Adiciona o resultado ao array de saída\n  output.push({ json: { milliseconds } });\n});\n\n// Retorna os resultados\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,280],"id":"0a0dac49-9c19-42ff-98e8-99bca09bc391","name":"Contabilizar Caracteres"},{"parameters":{"method":"POST","url":"={{ $('Dados').item.json.evo.server_url }}/message/sendText/{{ $('Dados').item.json.evo.instance }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apiKey","value":"={{ $('Dados').item.json.evo.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('Dados').item.json.remoteJid }}"},{"name":"text","value":"={{ $('Loop Over Items').item.json.splitPart.replaceAll('**', '*') }}"},{"name":"delay","value":"={{ $json.milliseconds }}"}]},"options":{"allowUnauthorizedCerts":true}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1460,280],"id":"d7fe99d2-5116-4d06-bafc-8ca704842bcd","name":"Enviar Texto"},{"parameters":{"model":"gpt-4.1-mini","options":{"frequencyPenalty":0.2,"presencePenalty":0.2,"temperature":0.8}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[60,420],"id":"65c33929-fd8a-43a0-8482-56de17f723eb","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"={{ $json.combinedText2 }}","options":{"systemMessage":"=Data e horário atual: {{ $now }}\n\n## CONTEXTO\n\nVocê é Lucas, um BDR que faz disparos frios para clínicas de estética, oferecendo uma solução de Agente IA para automatizar o atendimento e melhorar a experiência do cliente. Seu objetivo é despertar curiosidade e levar o lead para uma reunião onde poderá apresentar a solução de forma personalizada.\n\n## PERSONALIDADE\n\n- Confiante, direto e persuasivo.\n- Focado em gerar curiosidade e urgência.\n- Fala como quem sabe que tem a solução que o lead precisa.\n\n## REGRAS\n\n- Não use o nome do lead – pois não o conhece.\n- Comece de forma aberta e profissional, sem parecer robótico.\n- Seja vendedor e mostre imediatamente o valor e o diferencial.\n- Leve a conversa para a reunião de forma natural e convincente.\n\n## FUNIL\n\n### Etapa 1 – Abertura e Gancho\n\n“Olá! Sou [Seu Nome], especialista em soluções que ajudam clínicas de estética a multiplicar atendimentos sem sobrecarregar a equipe. Tenho visto muitas clínicas crescendo muito mais rápido quando automatizam o atendimento. Me conta: você já pensou em ter um assistente virtual 24 horas para cuidar de todos os clientes?”\n\n### Etapa 2 – Descoberta e Criação de Necessidade\n\n“Eu sei que a rotina em uma clínica é corrida, e muitas vezes acaba ficando difícil responder todo mundo na hora. Você já percebeu como isso pode impactar o faturamento ou a satisfação dos clientes?”\n\n### Etapa 3 – Validação e Autoridade\n\n“Isso é exatamente o que estamos ajudando a resolver com nosso Agente IA. Ele automatiza o atendimento e garante que ninguém fica sem resposta, sem perder a qualidade do atendimento humano. Quer ver como isso pode funcionar para a sua clínica?”\n\n### Etapa 4 – Encaminhamento para a Reunião\n\n“Ótimo! Vou te mostrar em poucos minutos como funciona e quais resultados reais pode trazer. Você prefere conversar amanhã ou depois de amanhã? Tenho horários flexíveis e posso me adaptar ao que for melhor para você.”"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[80,120],"id":"afe1db18-0bc6-434e-9661-0fd894671d85","name":"SDR IA"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-340,-140],"id":"940de1a2-2f03-4c19-b8fd-48afcd20e6b9","name":"No Operation, do nothing"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Dados').item.json.remoteJid }}","contextWindowLength":30},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[600,420],"id":"a32f639f-df77-4530-8825-79a534701ab3","name":"Simple Memory"},{"parameters":{"content":"## Não mexer","height":260,"width":180,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-840,-40],"typeVersion":1,"id":"97c26d60-853c-47fa-b419-94de867311a6","name":"Sticky Note"},{"parameters":{"content":"## Se o lead enviou TEXTO","height":220,"width":980,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-100,-420],"typeVersion":1,"id":"e2d1e78d-d3ae-4409-a992-ead5fb34435e","name":"Sticky Note1"},{"parameters":{"content":"## Se o lead enviou ÁUDIO","height":220,"width":980,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-100,-200],"typeVersion":1,"id":"38ca1dd6-5fba-4b60-8596-12521a9518d4","name":"Sticky Note2"},{"parameters":{"content":"## Aguardando mais mensagens do lead para JUNTAR TUDO","height":440,"width":820},"type":"n8n-nodes-base.stickyNote","position":[880,-420],"typeVersion":1,"id":"1b8c91d4-cc16-4deb-b39a-c3d3938e1279","name":"Sticky Note3"},{"parameters":{"content":"### Coloque sua credencial da Openai","height":240,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-20,340],"typeVersion":1,"id":"05e3626f-4ae1-4784-b9df-1a77e86ecb38","name":"Sticky Note4"},{"parameters":{"content":"## Inteligência por trás","height":560,"width":980,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-100,20],"typeVersion":1,"id":"24dba6d7-d528-4876-b8d6-a6f1ab7952c1","name":"Sticky Note5"},{"parameters":{"content":"## Envio das mensagens fracionadas","height":560,"width":820,"color":6},"type":"n8n-nodes-base.stickyNote","position":[880,20],"typeVersion":1,"id":"98480523-c67a-422f-aaac-48d5844a4e75","name":"Sticky Note6"}],"connections":{"Webhook":{"main":[[{"node":"Dados","type":"main","index":0}]]},"If":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}],[{"node":"Tipo de Mensagem","type":"main","index":0}]]},"Filter":{"main":[[{"node":"SDR IA","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"Memória de Áudio","type":"main","index":0}]]},"Base64 to Audio":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Base64 Audio":{"main":[[{"node":"Base64 to Audio","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Contabilizar Caracteres","type":"main","index":0}]]},"Quebrar Mensagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Verificar Combinação":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Pegar Memória 1":{"main":[[{"node":"Delay","type":"main","index":0}]]},"Pegar Memória 2":{"main":[[{"node":"Verificar Combinação","type":"main","index":0}]]},"Delay":{"main":[[{"node":"Pegar Memória 2","type":"main","index":0}]]},"Memória de Texto":{"main":[[{"node":"Pegar Memória 1","type":"main","index":0}]]},"Memória de Áudio":{"main":[[{"node":"Pegar Memória 1","type":"main","index":0}]]},"Tipo de Mensagem":{"main":[[{"node":"Memória de Texto","type":"main","index":0}],[{"node":"Base64 Audio","type":"main","index":0}]]},"Dados":{"main":[[{"node":"If","type":"main","index":0}]]},"Deletar Memória":{"main":[[{"node":"Quebrar Mensagem","type":"main","index":0}]]},"Contabilizar Caracteres":{"main":[[{"node":"Enviar Texto","type":"main","index":0}]]},"Enviar Texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"SDR IA","type":"ai_languageModel","index":0}]]},"SDR IA":{"main":[[{"node":"Deletar Memória","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"SDR IA","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"e586c136-e24b-44cd-87eb-95079f28981e","triggerCount":0,"shared":[{"createdAt":"2025-06-16T20:57:40.032Z","updatedAt":"2025-06-16T20:57:40.032Z","role":"workflow:owner","workflowId":"oRAniP2CcnR89QZ0","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-25T22:05:34.324Z","updatedAt":"2025-06-25T22:05:34.324Z","id":"fX8tCVkBey0rW4Nc","name":"Avaliar"}]}