workflow/Agent see, speak.json
{"createdAt":"2025-05-14T00:17:04.307Z","updatedAt":"2025-05-14T00:17:09.000Z","id":"uEmV3eBWOiANHuFG","name":"Agent see, speak","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-700,300],"id":"33b9a57d-9216-47b8-9cb9-0a3a88f6811c","name":"Telegram Trigger","webhookId":"f0164b6d-9b9c-418e-bd6a-c6f479dad1e5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cdc1f9b-4e87-4f1c-8054-ce1b7cf8bdfc","leftValue":"={{ $json.message.photo[$json.message.photo.length -1].file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7f1109e-7d51-4fa6-b303-a05115926f8d","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2977d954-ce94-45e0-a299-0cce247fc4e8","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-440,280],"id":"9b8d3242-fd5c-4611-a5dd-f738513d236f","name":"Switch"},{"parameters":{"content":"File Message handler ( Falta ajustes )","height":200,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"dca880b0-e32b-40eb-822a-3f9f7b7c685f","name":"Sticky Note"},{"parameters":{"content":"Image message Handler ( Falta ajustes )","height":200,"width":1020,"color":5},"type":"n8n-nodes-base.stickyNote","position":[0,220],"typeVersion":1,"id":"6796f2ed-f898-4407-9dec-65bfc2a719b9","name":"Sticky Note1"},{"parameters":{"content":"Voice message Handler Funcionando","height":200,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,440],"typeVersion":1,"id":"c23e10c1-cf60-4d90-8312-094227267846","name":"Sticky Note2"},{"parameters":{"content":"Text message Handler Funcionando","height":200,"width":1020,"color":7},"type":"n8n-nodes-base.stickyNote","position":[0,660],"typeVersion":1,"id":"2621943a-213d-4d19-9cf6-21f2cda35917","name":"Sticky Note3"},{"parameters":{"model":"phi4:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1220,760],"id":"6adfaa6c-d6e9-4247-ab7e-fb75569cee0a","name":"Ollama Chat Model","disabled":true},{"parameters":{"jsCode":"const caption = $('Telegram Trigger').first().json.message.caption;\nconst image_content = $input.first().json.output;\n\nreturn {\n  message : `Please asnwer user question: \"${caption}\" with following image description: ${image_content}`\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,40],"id":"dd038a36-f186-474f-967b-7e38d30f5be6","name":"file transform"},{"parameters":{"url":"=https://api.telegram.org/7748981311:YOUR_TELEGRAM_BOT_TOKEN/getFile?file_id={{ $('Telegram Trigger').item.json.message.voice.file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-860,1040],"id":"06d77930-4f03-464b-ab0b-826747b6500d","name":"Get file path","disabled":true},{"parameters":{"url":"=https://api.telegram.org/bot7748981311:YOUR_TELEGRAM_BOT_TOKEN/getFile?file_id{{ $json.message.voice.file_id }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-660,1040],"id":"8090fea0-46ac-4f29-b65b-795575e21c49","name":"Download Voice","disabled":true},{"parameters":{"jsCode":"return {\n  message : $input.first().json.text\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[540,480],"id":"18fe06c2-4e30-4d96-ac16-88667b6280bb","name":"audio transform"},{"parameters":{"jsCode":"const caption = $('Telegram Trigger').first().json.message.caption;\nconst image_content = $input.first().json.output;\n\nreturn {\n  message : `Please asnwer user question: \"${caption}\" with following image description: ${image_content}`\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,260],"id":"ec6c3d40-bfc9-4db9-9623-3d26ef49d338","name":"image transform"},{"parameters":{"jsCode":"return {\n  message : $input.first().json.message.text\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[20,700],"id":"89d443f9-9ef3-4ad2-addd-59c68f2226d4","name":"text transform"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d401878c-818c-429b-8046-00b2fca5d613","leftValue":"={{ $('Telegram Trigger').item.json?.message?.voice?.file_id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1840,500],"id":"5d8d9a0b-e1db-4e71-9531-4855005ad179","name":"Is voice OUT"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2060,400],"id":"5b26d3be-bdd3-4393-9e41-7858b8d83c2b","name":"Generate Sound"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2280,400],"id":"c0adea55-9ad3-4d13-9aca-0c8e139fecb0","name":"Telegram output audio","webhookId":"895d01a7-148b-431f-bc59-3694b908d4e2"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2060,600],"id":"ce3c1569-fc76-47fb-a969-41c0cbd27d3b","name":"Telegram","webhookId":"3f84fc16-6a0c-487a-b388-fe8d43aa96db"},{"parameters":{"documentId":{"__rl":true,"value":"16yUVGaAiD16ouZ8cUewYpp0jd6n-8E5N7nSWZna_jck","mode":"list","cachedResultName":"stores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16yUVGaAiD16ouZ8cUewYpp0jd6n-8E5N7nSWZna_jck/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16yUVGaAiD16ouZ8cUewYpp0jd6n-8E5N7nSWZna_jck/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[800,1160],"id":"31504957-0e29-4c13-b019-9ba7e925d04d","name":"tool_lojas","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[680,1160],"id":"30ac273f-20ce-40e5-b6fc-11532e1735ad","name":"Window Buffer Memory","disabled":true},{"parameters":{"operation":"getAll","filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2080,1220],"id":"a2258a05-37ea-4c4b-9586-7c98b0cb736b","name":"get email","webhookId":"003af187-ca83-4734-a648-faece59e7f8e","notesInFlow":true,"disabled":true,"notes":"get e-mails"},{"parameters":{"options":{"timezone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Timezone', ``, 'string') }}"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[560,1160],"id":"0f5703b4-d634-462a-995c-8acb99c482bb","name":"Date & Time","disabled":true},{"parameters":{"content":"Google calendario","height":200,"width":480,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1460,1160],"typeVersion":1,"id":"be647f46-db50-435a-ba8c-1176dea9e22c","name":"Sticky Note4"},{"parameters":{"promptType":"define","text":"=You are a helpful assistant, you have a Reasoner that provide powerful reasoning LLM model that can assist you one decision making or deep researching.\n\nYou also have following tools:\n1. Map Searcher - Parameters: (query)\n2. Perplexity Search - Parameters: (query)\n3. Delete Calendar Event - Parameters: (event_id)\n4. Update Calendar Event - Parameters: (event_id, new_details)\n5. Creating Calendar Event - Parameters: (title, datetime, details)\n6. Get Calendar Event - Parameters: (date_range)\n7. Draft Tool - Parameters: (recipient, subject, body)\n8. Reply Tool - Parameters: (email_id, message)\n9. Send Tool - Parameters: (draft_id)\n\nOutput short answers only. Talk like a human.\n\nTry to return the original content from this tool for if you calling it.\n\nMore information:\nToday is {{ $now }}\nMy name is {{ $('Telegram Trigger').item.json.message.from.first_name }}\nAlways response in Portuguese Brazil.\n\n{{ $json.message }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1480,500],"id":"91d87213-2e88-4677-be52-00ef426a9035","name":"mark_02"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1060,760],"id":"eb4e6436-e536-421b-8105-c42a0153a879","name":"gpt_4_o_mini"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"marcelo@aiknow.ai","mode":"list","cachedResultName":"marcelo@aiknow.ai"},"options":{"timeZone":{"__rl":true,"value":"America/Sao_Paulo","mode":"list","cachedResultName":"America/Sao_Paulo"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1480,1220],"id":"4f1fcf5c-3955-47ad-a3bc-7e2559741f19","name":"get events"},{"parameters":{"calendar":{"__rl":true,"value":"marcelo@aiknow.ai","mode":"list","cachedResultName":"marcelo@aiknow.ai"},"start":"={{ $fromAI('start_time') }}","end":"={{ $fromAI('end_time') }}","additionalFields":{"summary":"{{ $fromAI('event_title') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1620,1260],"id":"711e6a1b-3e2b-48d3-9408-f28d513deee5","name":"create events"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[280,480],"id":"b0d2eb55-2cf0-4ea8-b970-bbe2fb004fa4","name":"make transcription"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"chatgpt-4o-latest","mode":"list","cachedResultName":"CHATGPT-4O-LATEST"},"text":"={{ $json.message.caption }}","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[20,260],"id":"39ea8f1a-2c97-49ee-9cc7-1c3ef2119d5a","name":"Analyze image"},{"parameters":{"resource":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[20,40],"id":"9fe1d9cf-3f8f-4dd5-9cf7-0342f19a1458","name":"Update file"},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"name":"File assistant","instructions":"You are a file assistant and will answer user question","knowledgeRetrieval":true,"file_ids":"={{ $json.id }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[240,40],"id":"900005a1-811b-48ac-b1a3-fedf8e1d7e39","name":"Create assistant"},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"prompt":"define","text":"=Describe all the information of the file and try to get the information for following use question: {{ $('Telegram Trigger').first().json.message.caption }} and we can pass to another agent to handle the task.","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[460,40],"id":"9ae3e888-7a39-41bd-956a-f339e16359ef","name":"Message assistant"},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[20,480],"id":"93455194-6a56-42c4-b9c1-2716c0475e9c","name":"get file","webhookId":"566d094f-4656-4826-9f40-7f9d8c80b41b"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to delete a calendar event","operation":"delete","calendar":{"__rl":true,"value":"marcelo@aiknow.ai","mode":"list","cachedResultName":"marcelo@aiknow.ai"},"eventId":"={{ $fromAI(\"eventId\",\"it is the event id of the calendar event\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1740,1260],"id":"9ea1fa1e-c8cb-4cf2-8a7c-8dab680c7e7a","name":"delete events"},{"parameters":{"descriptionType":"manual","toolDescription":"Use the tool to change the data and time of the event","operation":"update","calendar":{"__rl":true,"value":"marcelo@aiknow.ai","mode":"list","cachedResultName":"marcelo@aiknow.ai"},"eventId":"={{ $fromAI(\"eventId\",\"it is the event id of the calendar event\") }}","updateFields":{"end":"={{ $fromAI(\"eventEndTime\",\"it is the meeting date ending time\") }}","start":"={{ $fromAI(\"eventStartTime\",\"it is the meeting date starting time\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1860,1260],"id":"bb73a9d2-4010-4420-a194-df58f3c60c01","name":"Update Events"},{"parameters":{"content":"Google Gmail","height":200,"width":480,"color":2},"type":"n8n-nodes-base.stickyNote","position":[1960,1160],"typeVersion":1,"id":"3886747d-4f47-4e4e-ab87-be6dc1de8bc7","name":"Sticky Note5"},{"parameters":{"content":"Other tools","height":200,"width":480,"color":7},"type":"n8n-nodes-base.stickyNote","position":[540,1100],"typeVersion":1,"id":"4dbe2297-fba5-40c9-b081-d673684d20d5","name":"Sticky Note6"},{"parameters":{"content":"Scrap","height":200,"width":560,"color":2},"type":"n8n-nodes-base.stickyNote","position":[2460,1160],"typeVersion":1,"id":"60292e67-d7fe-40d9-920a-80ac5abc3343","name":"Sticky Note7"},{"parameters":{"toolDescription":"This is a web crawler, you can input URL for scrapping the website content.","url":"https://scrape.serper.dev","sendQuery":true,"parametersQuery":{"values":[{"name":"url"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"95f93eb174f21055ade2ed1ab544afffd3bf96c5"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2520,1220],"id":"0dfc11bc-940e-4625-9b5a-ef82853a7a3e","name":"Web Crawler"},{"parameters":{"toolDescription":"This bot help you to scrap all contact information for lead gen from google map.\nInput query \"q\" for search input, \"ll\" for lating, \"page\" is for the current page.\nFor \"ll\", please follow coordinates in this format: @latitude,longitude,zoom, for example: @40.6973709,-74.1444871,11z","url":"https://google.serper.dev/maps","sendQuery":true,"parametersQuery":{"values":[{"name":"q"},{"name":"ll"},{"name":"page"}]},"sendHeaders":true,"parametersHeaders":{"values":[{"name":"95f93eb174f21055ade2ed1ab544afffd3bf96c5"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2700,1220],"id":"e6f5d5ec-9eae-4d21-9db4-5db985365b99","name":"Map Search"},{"parameters":{"toolDescription":"This bot help you to search it from internet result perplexity. pass \"question\" as parameter for the searching question.","method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{question}\"\n    }\n  ]\n}\n"},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[2880,1220],"id":"e916ce51-15f6-4133-b76f-3811f4f1b7c2","name":"Perplexity Search"},{"parameters":{"descriptionType":"manual","toolDescription":"- Use this tool ONLY when the email body explicitly mentions sending an email(e.g. \"Please send this email to\") AND there is No 'threadId' provided.\n- DEFAULT to the Draft tool if nothing is specified.","sendTo":"={{ $fromAI(\"emailAddressReceipient\",\"it is the email address of recipient\") }}","subject":"={{ $fromAI(\"emailSubject\",\"it is the email subject\") }}","message":"={{ $fromAI(\"emailBody\",\"it is the email message body\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2060,1300],"id":"819460fb-4fab-4657-86c5-cba3100359d5","name":"Send Tool","webhookId":"fb48f4fe-4c10-47e0-8bd2-36aca8696a9e","notesInFlow":true,"notes":"Send e-mail"},{"parameters":{"descriptionType":"manual","toolDescription":"- Use this tool when th user explicity or implicitly requests drafting (e.g., \"Prepare a draft\").\n- DEFAULT to the Draft tool if no explicit instruction is provided in the email body.","resource":"draft","subject":"={{ $fromAI(\"emailSubject\",\"it is the email subject\") }}","message":"={{ $fromAI(\"emailBody\",\"it is the email message body\") }}","options":{"sendTo":"{{ $fromAI(\"emailAddressReceipient\",\"it is the email address of recipient\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2220,1260],"id":"452bdc0f-a5c7-43f1-9a44-94bf8f68395d","name":"Draft Tool","webhookId":"fe2acec1-77cc-4568-ac64-1bbea3a142a2"},{"parameters":{"descriptionType":"manual","toolDescription":" - Use this tool ONLY when the email body explicitly mentions replying to an email (e.g., \"Please reply to this email\").\n - DEFAULT to the Draft tool if no specific instruction about replying is provided.","operation":"reply","messageId":"={{ $json.query.threadId }}","message":"={{ $fromAI(\"emailBody\",\"it is the email message body\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[2360,1300],"id":"8644219d-91ac-40d7-b47e-5209b378cc01","name":"Reply Tool","webhookId":"9ac5b540-d3ce-4102-a5af-24f16d18b5c2"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update file","type":"main","index":0}],[{"node":"Analyze image","type":"main","index":0}],[{"node":"get file","type":"main","index":0}],[{"node":"text transform","type":"main","index":0}]]},"file transform":{"main":[[{"node":"mark_02","type":"main","index":0}]]},"Get file path":{"main":[[{"node":"Download Voice","type":"main","index":0}]]},"audio transform":{"main":[[{"node":"mark_02","type":"main","index":0}]]},"image transform":{"main":[[{"node":"mark_02","type":"main","index":0}]]},"text transform":{"main":[[{"node":"mark_02","type":"main","index":0}]]},"Is voice OUT":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Generate Sound","type":"main","index":0}]]},"Generate Sound":{"main":[[{"node":"Telegram output audio","type":"main","index":0}]]},"tool_lojas":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"mark_02","type":"ai_memory","index":0}]]},"get email":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"mark_02":{"main":[[{"node":"Is voice OUT","type":"main","index":0}]]},"gpt_4_o_mini":{"ai_languageModel":[[{"node":"mark_02","type":"ai_languageModel","index":0}]]},"get events":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"create events":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"make transcription":{"main":[[{"node":"audio transform","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"image transform","type":"main","index":0}]]},"Update file":{"main":[[{"node":"Create assistant","type":"main","index":0}]]},"Create assistant":{"main":[[{"node":"Message assistant","type":"main","index":0}]]},"Message assistant":{"main":[[{"node":"file transform","type":"main","index":0}]]},"get file":{"main":[[{"node":"make transcription","type":"main","index":0}]]},"delete events":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Update Events":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Web Crawler":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Map Search":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Perplexity Search":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Send Tool":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Draft Tool":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Reply Tool":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3e977c56-777c-42ab-acc7-cb3049ce3786","triggerCount":0,"shared":[{"createdAt":"2025-05-14T00:17:04.310Z","updatedAt":"2025-05-14T00:17:04.310Z","role":"workflow:owner","workflowId":"uEmV3eBWOiANHuFG","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}