workflow/Atualizador de Evo-API via portainer.json
{"createdAt":"2025-07-04T15:36:19.209Z","updatedAt":"2025-07-16T19:05:42.000Z","id":"7q73sVL5uoECTrWE","name":"Atualizador de Evo-API via portainer","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"oi","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"id":"9f35a816-51d5-44c6-8cdf-a428cf86d693","name":"Webhook","webhookId":"487d6bac-8c48-4789-abad-c8225b63808c"},{"parameters":{"jsCode":"const response = $input.first().json.data; // Pega o retorno do HTTP Request\nconst html = response.body || response; // Ajusta para o campo correto do HTML\n\nconst match = html.match(/https:\\/\\/web\\.whatsapp\\.com\\/\\?v=([\\d.-\\w]+)/);\n\nif (match && match[1]) {\n    return [{ json: { whatsappVersion: match[1] } }];\n} else {\n    return [{ json: { error: \"Versão não encontrada\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[220,980],"id":"70462476-e95b-43bb-bea2-f30719e42a0e","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"465e436b-748a-47b6-952a-04958b50ef05","name":"whatsappVersion","value":"={{ $json.whatsappVersion }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[420,860],"id":"b23b98e4-3591-444c-9a37-5c52ecfea096","name":"Edit Fields"},{"parameters":{"jsCode":"// Exibe a estrutura do objeto para análise\nconsole.log($json);\n\n// Acessa o array dentro da chave \"data\"\nconst stacks = $json.data || [];  // Se a chave \"data\" não existir, usa um array vazio\n\n// Inicia a variável para armazenar o resultado\nlet result = null;\n\n// Acessa o valor de stackName dinamicamente\nconst stackName = $('Informações').first().json.stackName;  // Aqui você pega o valor dinamicamente\n\n// Procura por stackName no array de stacks\nfor (let i = 0; i < stacks.length; i++) {\n    const stack = stacks[i];\n\n    // Verifica se o nome da stack é igual ao valor dinâmico de stackName\n    if (stack.Name === stackName) {\n        result = stack;  // Encontrou a stack correspondente\n        break;  // Interrompe o loop assim que encontrar\n    }\n}\n\n// Exibe o resultado no console para análise\nconsole.log(result);\n\n// Retorna o resultado, se encontrado\nif (result) {\n    return [{ json: { stackId: result.Id, stackName: result.Name } }];\n} else {\n    return [{ json: { error: \"Stack não encontrada\" } }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,880],"id":"34cc90d3-58e2-4674-a7ef-de9fe6972188","name":"Code1"},{"parameters":{"assignments":{"assignments":[{"id":"0dad9828-445c-4bbf-8a6a-4628fd0eb5b3","name":"stackId","value":"={{ $json.stackId }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,760],"id":"485d97f2-75d3-4972-99dc-5d209ef64170","name":"StackID"},{"parameters":{"url":"={{ $('Informações').item.json.LinkPortainer }}/api/stacks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $('Informações').first().json.account_token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,760],"id":"af7ba4f1-4141-4c66-942f-cc6d76a573aa","name":"GetStackID"},{"parameters":{"url":"https://wppconnect.io/whatsapp-versions/","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,740],"id":"b1e10d22-1235-4fd6-befa-602eba1b2acd","name":"WPP Version"},{"parameters":{"method":"PUT","url":"={{ $('Informações').item.json.LinkPortainer }}/api/stacks/{{ $('StackID').item.json.stackId }}?endpointId=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-Key","value":"={{ $('Informações').item.json.account_token }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"pullImage\": false,\n  \"prune\": true,\n  \"stackFileContent\": \"{{ $json.stackFormated }}\"\n}","options":{"lowercaseHeaders":false}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1640,860],"id":"e4aaec4b-327a-4b7c-bdc8-6ef7a2fdfd3c","name":"Update Stack"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[960,1000],"id":"d2596ec4-ee2b-4953-bbb3-0db8e0ba6200","name":"Aggregate"},{"parameters":{"values":{"string":[{"name":"account_token","value":"TOKEN DO PORTAINER"},{"name":"LinkPortainer","value":"https://portainer.dominio.com.br"},{"name":"stackName","value":"evolution? coloca igual a sua!"},{"name":"stackBase","value":"=poe o copy na stack depois joga ela aqui "}]},"options":{"dotNotation":false}},"id":"17465435-aa33-402b-9a0a-44b23ce6ffd5","name":"Informações","type":"n8n-nodes-base.set","typeVersion":2,"position":[660,860],"alwaysOutputData":false},{"parameters":{"content":"## ATENÇÃO!!! \n**Informações** insira as informações para funcionamento do fluxo \n\n\n\n\n\n\n\n\n\n\n\n\n*Você vai precisa de:*\n\n— Token do Portainer\n— Link do seu Portainer\n— Nome exato da stack da sua Evolution\n— Sua stack, obvio porque ela contem suas informações como cor do qr, info da api e globalkey ( mesmo que n use, mas ja imaginou atualiza e desconfigura tudo da sua stack?)\n\n_OBS:_\nO link do portainer e *COM* \"https://\"\n*Não* insira a barra no final. exemplo:\n\nhttps://meu.portainer.com.br\n\nCopy:\n{{ $('Edit Fields').item.json.whatsappVersion }}","height":620,"width":360,"color":5},"type":"n8n-nodes-base.stickyNote","position":[540,740],"typeVersion":1,"id":"7fca03f1-9ac0-4925-806b-efd8b094c2a8","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-40,860],"id":"a60d0823-8c3a-4298-a524-c61994ef6e69","name":"Schedule Trigger"},{"parameters":{"jsCode":"const originalYaml = $('Informações').first().json.stackBase;\n\n// Substitui apenas a linha específica\nconst modifiedYaml = originalYaml.replace(\n  /CONFIG_SESSION_PHONE_VERSION: \\{\\{.*?\\}\\}/,\n  'CONFIG_SESSION_PHONE_VERSION: {{stackID}}'\n);\n\n// Escapamento completo para JSON\nconst stackFormated = modifiedYaml\n  .replace(/\\\\/g, '\\\\\\\\')  // Backslashes\n  .replace(/\"/g, '\\\\\"')    // Aspas\n  .replace(/\\n/g, '\\\\n')   // Quebras de linha\n  .replace(/\\t/g, '\\\\t');  // Tabs\n\nreturn [{\n  json: {\n    stackFormated: stackFormated\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1400,1000],"id":"b6fdbd7a-0e90-4037-aa11-df0a2d153980","name":"Code2"},{"parameters":{"filters":{"activeWorkflows":true},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1340,-180],"id":"976d5e66-c18a-4bb1-8274-61fb2e776209","name":"n8n","credentials":{"n8nApi":{"id":"SjyMUHD6OzU5fVeV","name":"n8n account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1560,-180],"id":"b2598771-91d9-466b-9ba5-a0337a2a0e8b","name":"n8n1","credentials":{"n8nApi":{"id":"SjyMUHD6OzU5fVeV","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name }}"}},"name":"Move Binary Data1","type":"n8n-nodes-base.moveBinaryData","position":[2380,-200],"typeVersion":1,"id":"cb825f53-9131-490c-a113-7a7afe1a7a03"},{"parameters":{"triggerTimes":{"item":[{"hour":1}]}},"name":"Run Daily","type":"n8n-nodes-base.cron","position":[1000,-280],"typeVersion":1,"id":"5af12c8b-8a0a-4d4d-856e-06b88fc80c0e"},{"parameters":{"command":"npx n8n export:credentials --backup --decrypted --output=/home/node/n8n/backups/credentials/\n"},"name":"Export Credentials","type":"n8n-nodes-base.executeCommand","position":[1340,-400],"typeVersion":1,"id":"34d06908-2ed0-4b1e-9b00-2e01d957b24d"},{"parameters":{"fileSelector":"/home/node/n8n/backups/credentials/*","options":{"fileExtension":".json","dataPropertyName":"data"}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1580,-400],"id":"9fc12b58-cc38-4be7-81a6-9cf3d844fb3f","name":"Read/Write Files from Disk"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('Google Drive4').item.json.id }}","mode":"id"},"changeFileContent":true,"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2720,-400],"id":"ffaf084d-54b7-4dbc-ab26-d02212901462","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1800,-400],"id":"11e746fe-dbb3-494e-8466-2f54da496392","name":"Extract from File"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2480,-400],"id":"33c8c93a-c02a-4466-92a6-a20e3c5828e5","name":"Convert to File"},{"parameters":{"operation":"update","fileId":{"__rl":true,"mode":"list","value":""},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1640,-940],"id":"675aa0d8-3808-49e3-b99d-1fb6d558c8f8","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2100,-180],"id":"9e44da7e-0062-4b28-80c2-95d7fb83f107","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1040,-520],"id":"7837b5ea-f50c-4be9-9878-7b8a6c0fe20a","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.name }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1Tzlo5oNLksqVle7vwZYDJfy3Zs1Nrwym","mode":"list","cachedResultName":"teste_backup_workflow_n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1Tzlo5oNLksqVle7vwZYDJfy3Zs1Nrwym"}},"options":{"fields":["name","mimeType","id"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1880,-180],"id":"c7143574-5b30-406d-8561-54f37796072a","name":"pesquisa arquivo","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $('pesquisa arquivo').item.json.id }}","mode":"id"},"changeFileContent":true,"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2620,-200],"id":"76cf046d-2f24-4e20-a114-fcfb3b32e9b7","name":"faz update no arquivo existente","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.data.name }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1h2uuyMZe_J8-W7URbqWMeDDKM9Mk6XQ5","mode":"list","cachedResultName":"teste_backup_credencial_n8n","cachedResultUrl":"https://drive.google.com/drive/folders/1h2uuyMZe_J8-W7URbqWMeDDKM9Mk6XQ5"}},"options":{"fields":["id","name","mimeType"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2040,-400],"id":"f2e8a03a-787c-4b24-ab09-42a99e793ea0","name":"Google Drive4","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2220,-400],"id":"637ae13b-dd19-4707-a293-00a2967d11a6","name":"Loop Over Items1"}],"connections":{"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Informações","type":"main","index":0}]]},"Code1":{"main":[[{"node":"StackID","type":"main","index":0}]]},"GetStackID":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"WPP Version":{"main":[[{"node":"Code","type":"main","index":0}]]},"StackID":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Informações":{"main":[[{"node":"GetStackID","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"WPP Version","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Update Stack","type":"main","index":0}]]},"n8n":{"main":[[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"pesquisa arquivo","type":"main","index":0}]]},"Move Binary Data1":{"main":[[{"node":"faz update no arquivo existente","type":"main","index":0}]]},"Run Daily":{"main":[[{"node":"Export Credentials","type":"main","index":0},{"node":"n8n","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read/Write Files from Disk","type":"main","index":0}]]},"Read/Write Files from Disk":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Google Drive4","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Move Binary Data1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"pesquisa arquivo":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"faz update no arquivo existente":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Drive4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Convert to File","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"82762c5b-f038-479e-be79-c44be4a7adaf","triggerCount":2,"shared":[{"createdAt":"2025-07-04T15:36:19.214Z","updatedAt":"2025-07-04T15:36:19.214Z","role":"workflow:owner","workflowId":"7q73sVL5uoECTrWE","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-07-15T01:01:52.169Z","updatedAt":"2025-07-15T01:01:52.169Z","id":"meczJFScAtaSN0co","name":"AnxHall"}]}