workflow/Disparador Test.json
{"createdAt":"2025-06-16T21:01:15.441Z","updatedAt":"2025-06-25T22:05:35.000Z","id":"NG1yHWFOuKZRQZQv","name":"Disparador Test","active":false,"isArchived":false,"nodes":[{"parameters":{"html":"<!DOCTYPE html>\n<html lang=\"pt-br\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Disparador Inteligente</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\">\n  <style>\n    :root {\n      --bg-primary: #0d1117;\n      --bg-card: #161b22;\n      --border-color: #30363d;\n      --text-color: #e6edf3;\n      --accent: #00ffae;\n      --btn-bg: #00b86b;\n      --btn-hover: #00ffae;\n      --input-bg: #0d1117;\n      --input-border: #2ea043;\n      --placeholder-color: #8b949e;\n    }\n\n    body {\n      background-color: var(--bg-primary);\n      color: var(--text-color);\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      font-size: 16px;\n      line-height: 1.5;\n    }\n\n    .card {\n      background-color: var(--bg-card);\n      border: 1px solid var(--accent);\n      border-radius: 20px;\n      box-shadow: 0 0 15px rgba(0, 255, 174, 0.07);\n    }\n\n    img {\n      filter: drop-shadow(0px 0px 8px rgba(0, 255, 174, 0.4));\n    }\n\n    .form-label {\n      font-weight: 500;\n      color: var(--text-color);\n    }\n\n    .form-control,\n    .form-select,\n    textarea {\n      background-color: var(--input-bg);\n      color: var(--text-color);\n      border: 1px solid var(--input-border);\n      border-radius: 8px;\n    }\n\n    .form-control::placeholder,\n    textarea::placeholder {\n      color: var(--placeholder-color);\n    }\n\n    .form-check-input:checked {\n      background-color: var(--btn-bg);\n      border-color: var(--btn-bg);\n    }\n\n    .form-check-label {\n      color: var(--text-color);\n    }\n\n    .btn-primary {\n      background-color: var(--btn-hover);\n      border-color: var(--btn-hover);\n      transition: all 0.3s ease;\n      color: #000;\n      font-weight: bold;\n    }\n\n    .btn-primary:hover {\n      background-color: var(--btn-hover);\n      filter: brightness(1.1);\n    }\n\n    select.form-select[multiple] {\n      background-color: var(--input-bg);\n      color: var(--text-color);\n      border: 1px solid var(--input-border);\n    }\n\n    select.form-select[multiple] option:checked {\n      background-color: var(--accent);\n      color: #000;\n    }\n\n    .preview {\n      font-size: 13px;\n      margin-top: 5px;\n      min-height: 24px;\n      color: var(--text-color);\n    }\n\n    .progress {\n      background-color: #30363d;\n      border-radius: 20px;\n      overflow: hidden;\n      height: 25px;\n    }\n\n    .progress-bar {\n      background-color: var(--accent);\n      font-weight: bold;\n      line-height: 25px;\n      color: #000;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container py-5\">\n    <div class=\"card shadow-lg p-4 mx-auto\" style=\"max-width: 800px;\">\n      <div class=\"text-center mb-4\">\n        <img src=\"https://i.imgur.com/ShEemN5.png\" alt=\"Logo Disparador Inteligente\" style=\"max-width: 100%; height: auto; max-height: 80px;\">\n      </div>\n\n      <div class=\"mb-3\">\n        <label for=\"instancias\" class=\"form-label\">Selecione as Instâncias (será aleatório por número)</label>\n        <select class=\"form-select\" id=\"instancias\" multiple></select>\n      </div>\n\n      <div class=\"mb-3\">\n        <label for=\"numeros\" class=\"form-label\">Números de telefone (1 por linha)</label>\n        <textarea class=\"form-control\" id=\"numeros\" rows=\"5\" placeholder=\"Ex: 5599999999999\"></textarea>\n      </div>\n\n      <div class=\"mb-3\">\n        <label for=\"arquivoCsv\" class=\"form-label\">Ou envie um arquivo CSV (colunas: empresa;telefone)</label>\n        <input type=\"file\" class=\"form-control\" id=\"arquivoCsv\" accept=\".csv\">\n      </div>\n\n      <div class=\"row mb-3\">\n        <div class=\"col\">\n          <label for=\"tempoMin\" class=\"form-label\">Tempo mínimo (segundos)</label>\n          <input type=\"number\" class=\"form-control\" id=\"tempoMin\" placeholder=\"Ex: 2\">\n        </div>\n        <div class=\"col\">\n          <label for=\"tempoMax\" class=\"form-label\">Tempo máximo (segundos)</label>\n          <input type=\"number\" class=\"form-control\" id=\"tempoMax\" placeholder=\"Ex: 5\">\n        </div>\n      </div>\n\n      <div class=\"mb-3\">\n        <label for=\"qtdMensagens\" class=\"form-label\">Quantidade de mensagens por número</label>\n        <input type=\"number\" class=\"form-control\" id=\"qtdMensagens\" value=\"1\" min=\"1\">\n      </div>\n\n      <div id=\"mensagensContainer\"></div>\n\n      <div class=\"form-check form-switch mb-3\">\n        <input class=\"form-check-input\" type=\"checkbox\" id=\"usarIA\">\n        <label class=\"form-check-label\" for=\"usarIA\">Usar IA para ajustes automáticos no texto</label>\n      </div>\n\n      <div class=\"d-grid mb-4\">\n        <button class=\"btn btn-primary fw-bold\" id=\"dispararBtn\">🚀 Disparar</button>\n      </div>\n\n      <div class=\"progress mb-2\" style=\"display: none;\" id=\"progressBarContainer\">\n        <div class=\"progress-bar\" role=\"progressbar\" style=\"width: 0%;\" id=\"progressBar\">0%</div>\n      </div>\n\n      <div id=\"status\" class=\"text-center fw-bold mt-2\"></div>\n    </div>\n  </div>\n\n  <script>\n    // Carregar instâncias\n    async function carregarInstancias() {\n      try {\n        const resposta = await fetch(\"{{ $json.URL_EVOLUTION }}/instance/fetchInstances\", {\n          method: \"GET\",\n          headers: { \"apikey\": \"{{ $json.APIKEY_GLOBAL }}\" }\n        });\n        const data = await resposta.json();\n        const select = document.getElementById(\"instancias\");\n        const abertas = data.filter(i => i.connectionStatus === \"open\");\n        abertas.forEach(inst => {\n          const opt = document.createElement(\"option\");\n          opt.value = inst.name;\n          opt.innerText = inst.name;\n          select.appendChild(opt);\n        });\n      } catch (err) {\n        alert(\"Erro ao carregar instâncias: \" + err.message);\n      }\n    }\n    window.onload = carregarInstancias;\n\n    // Leitura de CSV e inserção no textarea\n    document.getElementById('arquivoCsv').addEventListener('change', (e) => {\n      const file = e.target.files[0];\n      if (!file) return;\n\n      const reader = new FileReader();\n      reader.onload = (event) => {\n        const csvContent = event.target.result;\n        const linhas = csvContent.split('\\n').map(l => l.trim()).filter(l => l);\n\n        const telefones = [];\n        for (let i = 0; i < linhas.length; i++) {\n          const partes = linhas[i].split(';');\n          if (i === 0 && (partes[0].toLowerCase().includes('empresa') || partes[1].toLowerCase().includes('telefone'))) {\n            continue; // pula cabeçalho\n          }\n          if (partes.length > 1) {\n            telefones.push(partes[1].trim());\n          }\n        }\n\n        document.getElementById('numeros').value = telefones.join('\\n');\n      };\n      reader.readAsText(file);\n    });\n\n    // Campos dinâmicos de mensagens\n    const container = document.getElementById('mensagensContainer');\n    const qtdMensagensInput = document.getElementById('qtdMensagens');\n    function criarCaixinhasMensagem(qtd) {\n      container.innerHTML = '';\n      for (let i = 0; i < qtd; i++) {\n        const div = document.createElement('div');\n        div.classList.add('mb-3');\n        div.innerHTML = `\n          <label class=\"form-label\">Mensagem ${i + 1}</label>\n          <select class=\"form-select tipo-mensagem mb-2\">\n            <option value=\"texto\">Texto</option>\n            <option value=\"imagem\">Imagem</option>\n            <option value=\"audio\">Áudio</option>\n            <option value=\"video\">Vídeo</option>\n          </select>\n          <input type=\"text\" class=\"form-control mt-2 conteudo-mensagem\" placeholder=\"Digite o texto ou cole o link do arquivo\">\n          <div class=\"preview text-white\"></div>\n        `;\n        container.appendChild(div);\n      }\n    }\n\n    qtdMensagensInput.addEventListener('change', () => {\n      const qtd = parseInt(qtdMensagensInput.value);\n      if (qtd > 0) criarCaixinhasMensagem(qtd);\n    });\n\n    criarCaixinhasMensagem(parseInt(qtdMensagensInput.value));\n\n    container.addEventListener('input', () => {\n      const allPreviews = document.querySelectorAll('.preview');\n      const allInputs = document.querySelectorAll('.conteudo-mensagem');\n      const allTipos = document.querySelectorAll('.tipo-mensagem');\n\n      allInputs.forEach((input, i) => {\n        const preview = allPreviews[i];\n        const tipo = allTipos[i].value;\n        const conteudo = input.value.trim();\n\n        if (!conteudo) {\n          preview.innerHTML = '';\n          return;\n        }\n\n        if (tipo === 'texto') {\n          preview.innerHTML = `<div class=\"mt-2 p-2 bg-dark rounded border\" style=\"font-size: 14px;\">${conteudo}</div>`;\n        } else if (tipo === 'imagem') {\n          preview.innerHTML = /\\.(jpg|jpeg|png|gif|webp)$/i.test(conteudo)\n            ? `<img src=\"${conteudo}\" alt=\"preview imagem\" style=\"max-width: 100%; max-height: 250px; margin-top: 10px; border-radius: 8px; object-fit: contain;\">`\n            : `<div class=\"text-warning mt-2\">⚠️ Link de imagem inválido</div>`;\n        } else if (tipo === 'audio') {\n          preview.innerHTML = /\\.(mp3|ogg|wav)$/i.test(conteudo)\n            ? `<audio controls style=\"margin-top: 10px; width: 100%;\"><source src=\"${conteudo}\"></audio>`\n            : `<div class=\"text-warning mt-2\">⚠️ Link de áudio inválido</div>`;\n        } else if (tipo === 'video') {\n          preview.innerHTML = /\\.(mp4|webm|mov|m4v)$/i.test(conteudo)\n            ? `<video controls style=\"margin-top: 10px; width: 100%; max-height: 250px; border-radius: 8px; object-fit: contain;\"><source src=\"${conteudo}\" type=\"video/mp4\"></video>`\n            : `<div class=\"text-warning mt-2\">⚠️ Link de vídeo inválido</div>`;\n        }\n      });\n    });\n\n    // Funções auxiliares para disparo\n    function gerarDelayAleatorio(min, max) {\n      min = parseInt(min);\n      max = parseInt(max);\n      return (Math.floor(Math.random() * (max - min + 1)) + min) * 1000;\n    }\n\n    function sortearInstancia(lista) {\n      const index = Math.floor(Math.random() * lista.length);\n      return lista[index];\n    }\n\n    // Disparo final com progressão\n    document.getElementById('dispararBtn').addEventListener('click', async () => {\n      const numeros = document.getElementById('numeros').value.trim().split('\\n').filter(n => n);\n      const tempoMin = document.getElementById('tempoMin').value;\n      const tempoMax = document.getElementById('tempoMax').value;\n      const usarIA = document.getElementById('usarIA').checked;\n      const tipos = document.querySelectorAll('.tipo-mensagem');\n      const conteudos = document.querySelectorAll('.conteudo-mensagem');\n      const instanciasSelect = document.getElementById('instancias');\n      const instanciasSelecionadas = Array.from(instanciasSelect.selectedOptions).map(opt => opt.value);\n\n      if (!numeros.length || !tempoMin || !tempoMax || instanciasSelecionadas.length === 0) {\n        alert('Preencha todos os campos e selecione pelo menos uma instância.');\n        return;\n      }\n\n      const mensagens = Array.from(tipos).map((tipo, i) => ({\n        tipo: tipo.value,\n        conteudo: conteudos[i].value.trim()\n      }));\n\n      const total = numeros.length;\n      const progressBar = document.getElementById('progressBar');\n      const progressContainer = document.getElementById('progressBarContainer');\n      const status = document.getElementById('status');\n\n      progressContainer.style.display = 'block';\n      let log = '';\n\n      for (let i = 0; i < total; i++) {\n        const instanciaSorteada = sortearInstancia(instanciasSelecionadas);\n\n        const payload = {\n          numero: numeros[i],\n          mensagens,\n          tempoMin,\n          tempoMax,\n          usarIA,\n          instancia: instanciaSorteada\n        };\n\n        try {\n          const response = await fetch('{{ $json.WEBHOOK }}', {\n            method: 'POST',\n            headers: { 'Content-Type': 'application/json' },\n            body: JSON.stringify(payload)\n          });\n          const resposta = await response.text();\n          log += `✅ ${numeros[i]} via ${instanciaSorteada} | Resposta: ${resposta}\\n`;\n        } catch (error) {\n          log += `❌ ${numeros[i]} via ${instanciaSorteada} - Erro: ${error.message}\\n`;\n        }\n\n        const pct = Math.floor(((i + 1) / total) * 100);\n        status.innerText = `Enviando ${i + 1}/${total} (${pct}%)`;\n        progressBar.style.width = `${pct}%`;\n        progressBar.innerText = `${pct}%`;\n        await new Promise(resolve => setTimeout(resolve, gerarDelayAleatorio(tempoMin, tempoMax)));\n      }\n\n      status.innerText = '✅ Todos os envios foram concluídos!';\n      const blob = new Blob([log], { type: 'text/plain' });\n      const a = document.createElement('a');\n      a.href = URL.createObjectURL(blob);\n      a.download = 'log-disparos.txt';\n      a.click();\n    });\n  </script>\n</body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[860,140],"id":"0fdebf99-e437-412e-8369-cf451532a943","name":"HTML"},{"parameters":{"path":"pagina","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[340,140],"id":"035648ae-6f07-4e39-83cf-7e38ade83963","name":"Webhook","webhookId":"233ecd6d-20ba-4fe2-bb2f-64f784b0a3f3"},{"parameters":{"respondWith":"text","responseBody":"={{ $json.html }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1100,140],"id":"fbd37254-5ccb-436c-9d51-ef5d50192a25","name":"Respond to Webhook"},{"parameters":{"amount":"={{ $json.delay }}"},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[780,560],"id":"da501c05-03b0-441d-9e6f-cb9f8b3b6e0f","name":"Wait","webhookId":"6ad33347-722c-4056-a85b-d1082d3368a8","executeOnce":false},{"parameters":{"jsCode":"const tempoMin = parseInt($input.first().json.body.tempoMin);\nconst tempoMax = parseInt($input.first().json.body.tempoMax);\n\nif (isNaN(tempoMin) || isNaN(tempoMax) || tempoMin > tempoMax) {\n  throw new Error('Preencha os campos de tempo corretamente!');\n}\n\nconst delay = Math.floor(Math.random() * (tempoMax - tempoMin + 1)) + tempoMin;\n\n// Retorne o resultado como um array de objetos\nreturn [\n  {\n    json: {\n      delay\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[580,560],"id":"2ca9147c-6c77-41f1-b933-c9cd336416f5","name":"Code","executeOnce":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tipo }}","rightValue":"texto","operator":{"type":"string","operation":"equals"},"id":"8f17d2f9-67c6-49d0-8e4f-986002e4edc4"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d71361b-034e-4ea1-affd-ffecf7ce6117","leftValue":"={{ $json.tipo }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4c1e5c2-8b6e-4147-909a-11fa64af68fa","leftValue":"={{ $json.tipo }}","rightValue":"imagem","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77bb0cbe-071d-4003-8f23-a0da8712fd3c","leftValue":"={{ $json.tipo }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Vídeo"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1680,880],"id":"e404636c-142b-4d02-80af-c80552f591ff","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2c615c42-d14b-4d44-bb74-10207088f614","leftValue":"={{ $('Webhook do Disparo').item.json.body.usarIA }}","rightValue":"={{ $('Webhook do Disparo').item.json.body.usarIA }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1880,680],"id":"f6392fe2-c6d4-4bf2-939c-6e924aeb0019","name":"Usar IA?"},{"parameters":{"promptType":"define","text":"={{ $('Loop Over Items').item.json.conteudo }}","options":{"systemMessage":"Você é responsável por criar uma variação sutil da mensagem recebida.\nVocê deve enviar no output apenas a mensagem modificada e nada mais."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[2100,280],"id":"d77b9a78-f4b8-443e-af40-3c85055bbcfb","name":"AI Agent"},{"parameters":{"assignments":{"assignments":[{"id":"3066d936-35d6-4374-a734-46e79ba3495a","name":"output","value":"={{ $('Loop Over Items').item.json.conteudo }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2080,740],"id":"79336340-18a1-4f84-a758-6384938878b9","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2200,500],"id":"06ff959c-e467-4951-8492-0622890f0db2","name":"OpenAI Chat Model"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1180,740],"id":"79c4d246-ced1-4cd8-9b7c-1854adc69c8b","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"body.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[680,900],"id":"762337fe-0a76-4e34-8e5e-68717ed1a3ea","name":"Split Out"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1400,880],"id":"d3a9b95b-9ed4-405b-a19e-64457febde0f","name":"Wait1","webhookId":"6d676365-b167-4bd0-914f-f932a9674c37"},{"parameters":{"content":"## DELAY DINÂMICO","height":260,"width":460,"color":5},"type":"n8n-nodes-base.stickyNote","position":[520,480],"typeVersion":1,"id":"e186bb40-7759-4c9c-a831-3f01d22c92b1","name":"Sticky Note"},{"parameters":{"content":"## PÁGINA HTML","height":280,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[280,60],"typeVersion":1,"id":"9f097813-6187-41c9-b3a6-1addc24d0000","name":"Sticky Note1"},{"parameters":{"respondWith":"json","responseBody":"{\n  \"success\": true,\n  \"mensagem\": \"Mensagem enviada com sucesso\"\n}\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1520,560],"id":"c38924c2-6031-4357-8be9-e71450e0a2bd","name":"Finalizar","executeOnce":true},{"parameters":{"content":"## MODOFICAÇÃO DE TEXTO COM IA","height":420,"width":580,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1940,200],"typeVersion":1,"id":"bcb804cc-db46-42b1-849d-ff05a67a1e3b","name":"Sticky Note2"},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Webhook do Disparo').item.json.body.instancia }}","remoteJid":"={{ $('Webhook do Disparo').item.json.body.numero }}","messageText":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2480,740],"id":"8d9f2a57-df11-40c5-a7b2-da33e54c2312","name":"Enviar Texto","alwaysOutputData":false,"credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('Webhook do Disparo').item.json.body.instancia }}","remoteJid":"={{ $('Webhook do Disparo').item.json.body.numero }}","media":"={{ $('Loop Over Items').item.json.conteudo }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2480,880],"id":"321f9b99-c600-4404-8910-43e99e82279c","name":"Enviar Audio","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $('Webhook do Disparo').item.json.body.instancia }}","remoteJid":"={{ $('Webhook do Disparo').item.json.body.numero }}","media":"={{ $('Loop Over Items').item.json.conteudo }}","caption":" ","options_message":{"delay":2000}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2480,1040],"id":"a9c441b3-0441-4879-ac1b-0bd80356364f","name":"Enviar Imagem","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-video","instanceName":"={{ $('Webhook do Disparo').item.json.body.instancia }}","remoteJid":"={{ $('Webhook do Disparo').item.json.body.numero }}","media":"={{ $('Loop Over Items').item.json.conteudo }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[2480,1200],"id":"d755b7e9-dcec-445e-8772-b9f7b29f298b","name":"Enviar Video","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"ce230095-452d-4769-a1fa-5714dc07a544","name":"URL_EVOLUTION","value":"https://evo.operacaostartia.cloud","type":"string"},{"id":"ab5b3bbc-d759-42f7-9673-53f93572919c","name":"WEBHOOK","value":"=https://n8n.operacaostartia.cloud/webhook/disparar","type":"string"},{"id":"741e8d4f-ecc0-47b2-807d-e10e98abb564","name":"APIKEY_GLOBAL","value":"YOUR_EVOLUTION_API_KEY","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,140],"id":"3000f2ed-d544-430d-b2c6-5d5942616ab6","name":"DADOS"},{"parameters":{"content":"## Você deve alterar este nó. Não precisa mais alterar o HTML. ","height":460,"width":260,"color":3},"type":"n8n-nodes-base.stickyNote","position":[500,-80],"typeVersion":1,"id":"535686fe-ed60-46ec-85ae-8f9a92ac7235","name":"Sticky Note3"},{"parameters":{"httpMethod":"POST","path":"disparar","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[200,740],"id":"89ad2932-d336-4b76-8fdf-3d31ef168fa9","name":"Webhook do Disparo","webhookId":"7b91b4e9-c455-4f42-8eca-13eee0b26f9b"},{"parameters":{"content":"# ERROS COMUNS\n\n## 1. data.filter is not a function\n\n### Isso acontece quando você passou em DADOS a \"URL_EVOLUTION\" de maneira incorreta. Ela não pode ter o \"/manager\" e nem \"/\" no final.\n\n### Exemplo: https://evolution.seudominio.com\n\n## 2. Não está chegando o webhook no n8n\n\n### Isso pode acontecer por 2 motivos.\n\n### a) Colocou o webhook em 'DADOS' de maneira incorreta. Deve ser o webhook buscado no nó 'Webhook Do Disparo' e não pode ter o '-test' na url.\n\n### b) Workflow desligado. Seu workflow tem que está ligado.\n\n## 3. Só está enviando mensagem através de uma única instância.\n\n### Bom... isso é porque o token colocado no nó do Evolution foi da instancia que funcionou. Você deve colocar o token global. (É possível pegar no Portainer na Stack do evolution caso você tenha perdido)","height":860,"width":440,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-400,340],"typeVersion":1,"id":"c674943d-b669-4a13-a697-71cc4b2f92ae","name":"Sticky Note4"},{"parameters":{"content":"## Última atualização (01/06/2025)\n\n- Agora dá para subir arquivo CSV dos contatos.","width":440,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-400,60],"typeVersion":1,"id":"dc916b94-7ed6-48f7-9214-34141cbc5d0c","name":"Sticky Note5"}],"connections":{"Webhook":{"main":[[{"node":"DADOS","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Code":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Usar IA?","type":"main","index":0}],[{"node":"Enviar Audio","type":"main","index":0}],[{"node":"Enviar Imagem","type":"main","index":0}],[{"node":"Enviar Video","type":"main","index":0}]]},"Usar IA?":{"main":[[{"node":"AI Agent","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar Texto","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Enviar Texto","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Loop Over Items":{"main":[[{"node":"Finalizar","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Enviar Texto":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar Audio":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar Imagem":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Enviar Video":{"main":[[{"node":"Finalizar","type":"main","index":0}]]},"DADOS":{"main":[[{"node":"HTML","type":"main","index":0}]]},"Webhook do Disparo":{"main":[[{"node":"Code","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"55480ab8-6886-407a-9d96-4eb9d114f7aa","triggerCount":0,"shared":[{"createdAt":"2025-06-16T21:01:15.450Z","updatedAt":"2025-06-16T21:01:15.450Z","role":"workflow:owner","workflowId":"NG1yHWFOuKZRQZQv","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-25T22:05:34.324Z","updatedAt":"2025-06-25T22:05:34.324Z","id":"fX8tCVkBey0rW4Nc","name":"Avaliar"}]}