workflow/Disparador de mensagem Whatsapp Evo-API.json
{"createdAt":"2025-06-06T13:50:51.738Z","updatedAt":"2025-07-31T01:56:51.000Z","id":"iXyOcc32OD7Wemq1","name":"Disparador de mensagem Whatsapp Evo-API","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"d3411381-b122-498b-907a-faee41b63b75","name":"xapikeyprintpost","value":"b8363087-7df7-4db2-ad28-487a8d8174a7","type":"string"},{"id":"dec8b799-e97c-4bb6-85b0-4d734ef68869","name":"template_html","value":"=<h2>Olá <strong><span style=\"color: red;\">{{$json.Nome}}</span>, tudo bem?</h2>\n<h3>Confirmamos seus dados conosco:</h3>\n\n<strong>Nome:</strong> {{$json.Nome}}<br>\n<strong>CPF:</strong> {{$json.CPF}}<br>\n<strong>Celular:</strong> {{$json.Celular}}<br>\n<strong><span style=\"color: red;\">Email cadastrado:</span></strong> {{$json.Celular}}<br><br>\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,<br><br>  \n<strong>Equipe Suporte</strong>\n","type":"string"},{"id":"27dd72ca-b12e-469c-83bf-5207a4410a67","name":"template_sms","value":"=Olá {{$json.Nome}}, tudo bem?\nConfirmamos seus dados conosco:\n\nNome: {{$json.Nome}}\nCPF: {{$json.CPF}}\n\nCelular: {{$json.Celular}}\nEmail cadastrado: {{$json.email}}\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,\nEquipe Suporte\n","type":"string"},{"id":"ee39d0fb-05c3-4fb9-87f3-65edce5844da","name":"nomeInstanciaEVO","value":"Teste","type":"string"},{"id":"43313cb4-8b7a-41b6-97b6-59436d80abed","name":"template_whatsapp","value":"=Olá *{{$json.Nome.trim()}}*, tudo bem?\nConfirmamos seus dados conosco:\n\n*Nome:* {{$json.Nome.trim()}}\n*CPF:* {{$json.CPF}}\n*Celular:* {{$json.Celular}}\n*Email cadastrado:*{{$json.email}}\n*link:* {{ $json.link_mensagem }}\n\nCaso haja divergências, responda esse email para atualizarmos!\n\nAtenciosamente,\n\n*Equipe Suporte*\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-120,-20],"id":"cf66d52d-d0eb-4746-a55f-3ea33b9a9edb","name":"config global"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-580,-20],"id":"a0f9ef4c-0653-47fc-bc37-722e360e8d52","name":"teste manual de API"},{"parameters":{"assignments":{"assignments":[{"id":"55acc4eb-c902-4670-9e7c-2a7886d872b0","name":"Nome","value":"Marcelo Silva ","type":"string"},{"id":"974766d4-b1e0-4ef7-a271-b93c2c02ab43","name":"CPF","value":"40032851820","type":"string"},{"id":"93fb196b-c82c-440b-b1d0-9d6095f6c821","name":"Celular","value":"5511983642697","type":"string"},{"id":"4a757bb6-de33-4017-99a6-12bb9a084112","name":"email","value":"adk1287@gmail.com","type":"string"},{"id":"e457e271-62c3-4286-9248-434bdfb09f78","name":"mensagem","value":"Vamos falar sobre as suas dividas Talita","type":"string"},{"id":"3d814495-ca37-448a-b2f3-a7a78b55ba32","name":"url_imagem","value":"https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEimUBDlX10lXuPQPZndwvcF9QXKwF_bgj1gAk7OX1krOEPeLgm6bjKisyWjO-dz62qU54m3j2urLrE22N7pnslqovPg6X199HhLcjvVJGfU1wZtRvk7Q4YpIguozmRtFlDfOeWJs5b9zEY/s1600/Interstellar.jpg","type":"string"},{"id":"e26f4288-e59d-4d83-af77-213831c08f8b","name":"documento_gdrive","value":"https://drive.google.com/uc?export=download&id=1C5OuolpL0wKTgzSIdNlr4CIhG5vq3lao","type":"string"},{"id":"1e18838b-d6c9-40f5-915e-58df04b291c0","name":"documento_any_site","value":"http://www.painelmarktel.com.br/painelmarktel/Marktel_Manual_Integracao_SMS.pdf","type":"string"},{"id":"af8e7262-dcbb-45a4-b069-eacff6e9ee4b","name":"link_mensagem","value":"https://sites.google.com/site/gdocs2direct/","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-360,-20],"id":"9cd85ad6-e304-4e7f-bff4-192c7913c264","name":"dados dummy"},{"parameters":{"voice_id":{"__rl":true,"value":"cgSgspJ2msm6clMCkdW9","mode":"list","cachedResultName":"Jessica (Premade)"},"additionalFields":{},"requestOptions":{}},"type":"n8n-nodes-elevenlabs.elevenLabs","typeVersion":1,"position":[220,-20],"id":"2eafae5f-619b-4e75-a413-a33caf7e3be1","name":"ElevenLabs","credentials":{"elevenLabsApi":{"id":"ttEDR3bZotOVi3hS","name":"ElevenLabs account"}}},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"={{ $('config global').item.json.nomeInstanciaEVO }}","remoteJid":"={{ $('dados dummy').item.json.Celular }}","media":"={{ $json.data }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[840,-20],"id":"e64c1d52-2d3b-4d08-95e5-38a3c76b4a43","name":"Envio de audio","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('config global').item.json.nomeInstanciaEVO }}","remoteJid":"={{ $('dados dummy').item.json.Celular }}","messageText":"={{ $('config global').item.json.template_whatsapp }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[840,200],"id":"763f841e-f6e4-4cc5-91cb-0d0d1b387699","name":"Envio de texto","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $('config global').item.json.nomeInstanciaEVO }}","remoteJid":"={{ $('dados dummy').item.json.Celular }}","media":"={{ $('dados dummy').item.json.url_imagem }}","caption":"Interestelar","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[840,400],"id":"a6d44632-85c7-4c3c-921d-7cd3a616de93","name":"Envio de imagem","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","operation":"send-document","instanceName":"={{ $('config global').item.json.nomeInstanciaEVO }}","remoteJid":"={{ $('dados dummy').item.json.Celular }}","media":"={{ $json.data }}","caption":"={{ $('dados dummy').item.json.mensagem }}","fileName":"={{$('Baixar PDF').item.binary.data.fileName}}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[840,600],"id":"f6f91c28-ddc0-41ee-b189-9cb243631433","name":"Enviar documento","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"operation":"binaryToPropery","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[480,-20],"id":"59f1fbb5-0591-45a3-876e-c922f71090d1","name":"Extract from File Audio"},{"parameters":{"operation":"binaryToPropery","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[500,340],"id":"22060f20-7e1d-4cde-be0a-03d8d5439e04","name":"Extract from File PDF"},{"parameters":{"url":"={{ $('dados dummy').item.json.documento_any_site }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[260,300],"id":"05da5126-4efa-43d4-bf70-033f2736793e","name":"Baixar PDF"}],"connections":{"teste manual de API":{"main":[[{"node":"dados dummy","type":"main","index":0}]]},"dados dummy":{"main":[[{"node":"config global","type":"main","index":0}]]},"config global":{"main":[[{"node":"ElevenLabs","type":"main","index":0},{"node":"Baixar PDF","type":"main","index":0}]]},"ElevenLabs":{"main":[[{"node":"Extract from File Audio","type":"main","index":0}]]},"Envio de audio":{"main":[[]]},"Extract from File Audio":{"main":[[{"node":"Envio de audio","type":"main","index":0},{"node":"Envio de texto","type":"main","index":0},{"node":"Envio de imagem","type":"main","index":0}]]},"Extract from File PDF":{"main":[[{"node":"Enviar documento","type":"main","index":0}]]},"Baixar PDF":{"main":[[{"node":"Extract from File PDF","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d450ca7d-0733-445e-83a8-da4d18b4ced8","triggerCount":0,"shared":[{"createdAt":"2025-06-06T13:50:51.767Z","updatedAt":"2025-06-06T13:50:51.767Z","role":"workflow:owner","workflowId":"iXyOcc32OD7Wemq1","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-25T22:04:28.379Z","updatedAt":"2025-06-25T22:04:28.379Z","id":"6KQ5Fuhb1qOfgCPP","name":"homologação"},{"createdAt":"2025-06-06T13:51:07.102Z","updatedAt":"2025-06-06T13:51:07.102Z","id":"8BjOy58W00cFTKOD","name":"Evo-API"}]}