workflow/Envio de imagem Fisheye para Whatsapp..json
{"createdAt":"2025-06-20T15:40:48.807Z","updatedAt":"2025-07-16T18:59:56.000Z","id":"0dZ52kTupDssdvmF","name":"Envio de imagem Fisheye para Whatsapp.","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"binaryToPropery","binaryPropertyName":"data0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,20],"id":"edd1615b-fd62-4ad8-a243-f7473c18c8b3","name":"Extract from File"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[660,220],"id":"73b1433f-7c35-4be3-8758-1dd8feb4e833","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6390512f-6399-4c15-bd34-3dc00d2b2dd8","name":"date","value":"={{ $('Monitora Label Fisheye Dahua').item.json.headers.date.toDateTime().format('yyyy-MM-dd') }}","type":"string"},{"id":"b1ae72b5-1be6-42c2-bdd9-cdcad762d515","name":"from","value":"={{ $('Monitora Label Fisheye Dahua').item.json.headers.from.extractEmail() }}","type":"string"},{"id":"bb86a6ac-fa65-4994-b292-6ad902ba572a","name":"textAsHtml","value":"={{ $('Monitora Label Fisheye Dahua').item.json.textAsHtml }}","type":"string"},{"id":"37c896f5-c627-45a2-af13-16a8c5690c0a","name":"text","value":"={{ $('Monitora Label Fisheye Dahua').item.json.text }}","type":"string"},{"id":"4ce82154-fc1c-48c3-9109-97e217ee8e64","name":"InstanciaID","value":"Teste","type":"string"},{"id":"6457638f-8b41-4aeb-9a4f-d4310fedea19","name":"numero","value":"5511949994528","type":"string"},{"id":"04c6090c-b7f4-4e2a-950a-88c2cd2e8886","name":"anexo","value":"={{ $json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,20],"id":"779a8698-f260-42fd-b9c0-8c722343a61d","name":"config global"},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Alarm Event","description":"O que acionou o alarme","required":true},{"name":"Alarm Input Channel No","description":"O canal que surgiu o alarme","required":true},{"name":"Alarm Start Time (D/M/Y H:M:S)","description":"Data e horário que ocorreu o alarme","required":true},{"name":"Alarm Device Name","description":"Nome do dispositivo","required":true},{"name":"Alarm Name","description":"Area onde o alarme foi acionado","required":true},{"name":"Sender IP Address","description":"IP da camera que ativou o alarme","required":true}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.1,"position":[700,20],"id":"886d9fe8-e7ac-4655-af70-86cd2c5f31ae","name":"Extrair informações"},{"parameters":{"assignments":{"assignments":[{"id":"3eead679-8161-48cc-8910-179f67ffc605","name":"template","value":"=Relatório de alarme\n\nHorario de Brasilia : {{ $now.format('HH:mm:ss') }}\nA temperatura atual está em {{ $('temperatura').item.json.main.temp.round() }}°C\nMotivo do acionamento do alarme : {{ $('Extrair informações').item.json.output['Alarm Event'] }}\nCanal que acionou o alarme {{ $('Extrair informações').item.json.output['Alarm Input Channel No'] }}\nHorario de acionamento : {{ $('Extrair informações').item.json.output['Alarm Start Time (D/M/Y H:M:S)'] }}\nArea que acionou o alarme : {{ $('Extrair informações').item.json.output['Alarm Name'] }}\nIP do dispositivo : {{ $('Extrair informações').item.json.output['Sender IP Address'] }}\n\nEnviado por {{ $('Monitora Label Fisheye Dahua').item.json.headers.from.extractEmail() }}\nID do email : {{ $('Monitora Label Fisheye Dahua').item.json.id }}\n","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1280,20],"id":"1ebcbae4-7993-4342-a7bd-e24638421eb0","name":"template para envio"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"={{ $('config global').item.json.InstanciaID }}","remoteJid":"={{ $('config global').item.json.numero }}","media":"={{ $('config global').item.json.anexo }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1640,-60],"id":"4392248c-e172-4d53-95bb-f2acd14bff4e","name":"Envia imagem","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('config global').item.json.InstanciaID }}","remoteJid":"={{ $('config global').item.json.numero }}","messageText":"={{ $json.template }}","options_message":{"delay":1200,"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1560,240],"id":"668e6db3-07ef-405f-beb8-9231f3613bc8","name":"Enviar relatorio","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"cityName":"São Paulo","language":"pt-Br"},"type":"n8n-nodes-base.openWeatherMap","typeVersion":1,"position":[1060,20],"id":"2a103eaf-66dd-4f85-8152-a0157512663c","name":"temperatura","credentials":{"openWeatherMapApi":{"id":"zOu5KyNMWKu0WV7V","name":"OpenWeatherMap account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"labelIds":["Label_3978538973143291924"]},"options":{"dataPropertyAttachmentsPrefixName":"data","downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[-80,20],"id":"5c388cff-d4dd-4401-a850-d15ecd011619","name":"Monitora Label Fisheye Dahua","credentials":{"gmailOAuth2":{"id":"8SOLaAOXoXTRVoyl","name":"Gmail account"}}}],"connections":{"Extract from File":{"main":[[{"node":"config global","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Extrair informações","type":"ai_languageModel","index":0}]]},"config global":{"main":[[{"node":"Extrair informações","type":"main","index":0}]]},"Extrair informações":{"main":[[{"node":"temperatura","type":"main","index":0}]]},"template para envio":{"main":[[{"node":"Envia imagem","type":"main","index":0},{"node":"Enviar relatorio","type":"main","index":0}]]},"Envia imagem":{"main":[[]]},"temperatura":{"main":[[{"node":"template para envio","type":"main","index":0}]]},"Monitora Label Fisheye Dahua":{"main":[[{"node":"Extract from File","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Monitora Label Fisheye Dahua":{"Monitora Label Fisheye Dahua":{"lastTimeChecked":1752688854,"possibleDuplicates":["1981465712b813be","198145069112e51d"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7f5a8d3b-a641-465d-b192-02a91165b6a2","triggerCount":1,"shared":[{"createdAt":"2025-06-20T15:40:48.814Z","updatedAt":"2025-06-20T15:40:48.814Z","role":"workflow:owner","workflowId":"0dZ52kTupDssdvmF","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-25T22:04:28.379Z","updatedAt":"2025-06-25T22:04:28.379Z","id":"6KQ5Fuhb1qOfgCPP","name":"homologação"},{"createdAt":"2025-06-20T18:38:42.492Z","updatedAt":"2025-06-20T18:38:42.492Z","id":"b9lL4wWqNHfWs66R","name":"Lindt"}]}