workflow/lab print post.json
{"createdAt":"2025-06-04T14:52:59.764Z","updatedAt":"2025-07-16T19:08:45.000Z","id":"6oWmqiQ6740CRpWm","name":"lab print post","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"d3411381-b122-498b-907a-faee41b63b75","name":"xapikeyprintpost","value":"b8363087-7df7-4db2-ad28-487a8d8174a7","type":"string"},{"id":"dec8b799-e97c-4bb6-85b0-4d734ef68869","name":"template_html","value":"=<h2>Olá <strong><span style=\"color: red;\">{{$json.Nome}}</span>, tudo bem?</h2>\n<h3>Confirmamos seus dados conosco:</h3>\n\n<strong>Nome:</strong> {{$json.Nome}}<br>\n<strong>CPF:</strong> {{$json.CPF}}<br>\n<strong>Celular:</strong> {{$json.Celular}}<br>\n<strong><span style=\"color: red;\">Email cadastrado:</span></strong> {{$json.Celular}}<br><br>\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,<br><br>  \n<strong>Equipe Suporte</strong>\n","type":"string"},{"id":"27dd72ca-b12e-469c-83bf-5207a4410a67","name":"template_sms","value":"=Olá {{$json.Nome}}, tudo bem?\nConfirmamos seus dados conosco:\n\nNome: {{$json.Nome}}\nCPF: {{$json.CPF}}\n\nCelular: {{$json.Celular}}\nEmail cadastrado: {{$json.email}}\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,\nEquipe Suporte\n","type":"string"},{"id":"a067c9ba-8428-4891-a9ee-f333cb4bc9c4","name":"campanha","value":"35","type":"string"},{"id":"8ba4deee-85ab-4351-ab00-2a3afd285fb5","name":"campanhId","value":"12345678900","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-760,-140],"id":"4d9118c6-476b-48e4-83db-5b43944bcdee","name":"config global"},{"parameters":{"content":"## Teste de chave API Post Print SMS\n","height":280,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-540,-220],"typeVersion":1,"id":"7115938b-909a-4054-b341-b6c018602686","name":"Sticky Note6"},{"parameters":{"content":"## Teste de envio de SMS Manual Post Print \n","height":280,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-540,120],"typeVersion":1,"id":"55e1de64-4e3d-4e68-ba70-257ce4651e24","name":"Sticky Note7"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1240,-140],"id":"acffe8f1-7f8e-4588-a7de-100692f6b7f7","name":"teste manual de API"},{"parameters":{"assignments":{"assignments":[{"id":"55acc4eb-c902-4670-9e7c-2a7886d872b0","name":"Nome","value":"Marcelo Silva ","type":"string"},{"id":"974766d4-b1e0-4ef7-a271-b93c2c02ab43","name":"CPF","value":"40032851820","type":"string"},{"id":"93fb196b-c82c-440b-b1d0-9d6095f6c821","name":"Celular","value":"5511999501073","type":"string"},{"id":"4a757bb6-de33-4017-99a6-12bb9a084112","name":"email","value":"adk1287@gmail.com","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1000,-140],"id":"81937830-8ca8-4885-8b31-5025c5273f7b","name":"dados dummy"},{"parameters":{"content":"## Teste de consulta de envio do SMS\n","height":280,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-540,420],"typeVersion":1,"id":"d04cbe25-a4a2-4a53-9982-93bcc12850a3","name":"Sticky Note"},{"parameters":{"method":"POST","url":"https://api.printpost.com.br/v1/sms","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaignId\": \"{{$('config global').item.json.campanha}}\",\n  \"template\": \"TEMPLATE PADRAO DE ENVIO PARA {{ $('dados dummy').item.json.Nome }}, CPF: {{ $('dados dummy').item.json.CPF }}\",\n  \"contacts\": [\n    {\n      \"nome\": \"{{ $('dados dummy').item.json.Nome }}\",\n      \"cpf\": \"{{ $('dados dummy').item.json.CPF }}\",\n      \"to\": \"{{ $('dados dummy').item.json.Celular }}\",\n      \"contact_id\": \"{{ $('dados dummy').item.json.Celular }}\"\n    }\n  ]\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,220],"id":"f6b339f1-e7ff-49c0-9366-90c18733a481","name":"Envio SMS + Template"},{"parameters":{"url":"=https://api.printpost.com.br/v1/sms/consult/{{$('config global').item.json.campanha}}/{{ $('dados dummy').item.json.Celular }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{$('config global').item.json.xapikeyprintpost}}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,520],"id":"abb117a3-b599-46d3-877a-70c87557512b","name":"Consulta Envio SMS"},{"parameters":{"content":"## Teste de retorno de campanha por periodo\n","height":280,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-540,760],"typeVersion":1,"id":"517dd068-a284-4760-af3d-df72fb1d1bf2","name":"Sticky Note1"},{"parameters":{"url":"=https://api.printpost.com.br/v1/sms/consult?startDate=2025-06-05T00:00:00&endDate=2025-06-05T23:59:00&contactId={{$('dados dummy').item.json.Celular}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[200,860],"id":"ee775f0a-86ac-4b94-8005-ea19a581e6a2","name":"Consulta envio campanha por periodo"},{"parameters":{"content":"## Teste de Resposta - Campanha\n","height":280,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-540,1100],"typeVersion":1,"id":"071ddd1e-a4f6-44bc-8392-679459a455e7","name":"Sticky Note2"},{"parameters":{"url":"=https://api.printpost.com.br/v1/sms/reply/{{ $('config global').item.json.campanha }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,1180],"id":"2940b97f-f973-4a6e-a802-a4716eee62db","name":"Resposta - Campanha","alwaysOutputData":true},{"parameters":{"content":"## Teste de Consulta de resposta por periodo\n","height":280,"width":960},"type":"n8n-nodes-base.stickyNote","position":[-540,1420],"typeVersion":1,"id":"13fffe68-f8a9-4f89-a7ee-a4e5948a0969","name":"Sticky Note3"},{"parameters":{"content":"## SMS","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-260,-500],"typeVersion":1,"id":"d0acd5d0-97a8-4a18-beb6-329c086cbc3a","name":"Sticky Note4"},{"parameters":{"url":"https://api.printpost.com.br/v1/sms/reply?startDate=2025-06-05T00:00:00&endDate=2025-06-05T23:59:00","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,1520],"id":"c308aefc-9be6-4bd6-96ed-23843e880a3a","name":"Consulta de resposta por periodo"},{"parameters":{"content":"## Email","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1720,-500],"typeVersion":1,"id":"c692aee5-c8b9-4099-ad17-98946700dcd0","name":"Sticky Note5"},{"parameters":{"url":"https://api.printpost.com.br/v1/sms/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,-140],"id":"55afac25-f6da-4ff1-8a94-8f09fa23367f","name":"Teste de funcionamento de API SMS"},{"parameters":{"content":"## Teste de chave API Post Print Email\n","height":280,"width":960},"type":"n8n-nodes-base.stickyNote","position":[1300,-220],"typeVersion":1,"id":"16883a95-f9bb-423a-9128-a85ecec3794e","name":"Sticky Note8"},{"parameters":{"url":"https://api.printpost.com.br/v1/emails/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,-140],"id":"397d6334-b4cb-4bfb-b6ad-f49959e067c0","name":"Teste de funcionamento de API Email"},{"parameters":{"content":"## Teste de envio de email Manual Post Print \n","height":280,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[1300,120],"typeVersion":1,"id":"715e0645-c39d-4e1d-add5-31ce2686497a","name":"Sticky Note9"},{"parameters":{"method":"POST","url":"https://api.printpost.com.br/v1/emails","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaignId\": \"{{$('config global').item.json.campanha}}\",\n  \"template\": \"<h1>Olá, bom dia {{$('dados dummy').item.json.Nome}}, CPF: {{$('dados dummy').item.json.CPF}} </h1>\",\n  \"subject\": \"Comunicação Interna\",\n  \"emailFrom\": \"\",\n  \"contacts\": [\n    {\n      \"nome\": \"{{$('dados dummy').item.json.Nome}}\",\n      \"cpf\": \"{{$('dados dummy').item.json.CPF}}\",\n      \"email_to\": \"{{$('dados dummy').item.json.email}}\",\n      \"email_content\": \"teste\",\n      \"contact_id\": \"{{$('dados dummy').item.json.Celular}}\"\n    }\n  ]\n}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,220],"id":"cc7a403f-a7e7-42eb-b5c4-06167cf205a9","name":"Envio Email + Template","notesInFlow":true,"notes":"Ao enviar o post, ele retorna o seguinte :\n\n{\"success\":[{\"status\":200,\"source\":{},\"title\":\"Success\",\"code\":\"\",\"detail\":\"success\"}]}"},{"parameters":{"content":"## Teste de Retorno - Campanha + Contato ID no email\n","height":280,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[1300,420],"typeVersion":1,"id":"987e4e6e-bec8-40ae-aed0-642c4f2db6dc","name":"Sticky Note10"},{"parameters":{"content":"## Teste de retorno de campanha por periodo Email\n","height":280,"width":1120},"type":"n8n-nodes-base.stickyNote","position":[1300,720],"typeVersion":1,"id":"89641169-2882-434e-b311-114176f4407a","name":"Sticky Note11"},{"parameters":{"url":"=https://api.printpost.com.br/v1/emails/consult/{{$('config global').item.json.campanha}}/{{ $('dados dummy').item.json.Celular }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,500],"id":"5a626f9a-d9ae-44b8-84ef-5725eb9dd390","name":"Retorno - Campanha + Contato ID - Email","notesInFlow":true,"notes":"Ao efetuar a consulta (GET) com os dados de campanha + contactID, ele retorna o seguinte :\n\n{\"errors\":[{\"status\":500,\"source\":{},\"title\":\"TypeError\",\"code\":\"\",\"detail\":\"Cannot read properties of null (reading 'length')\"}]}"},{"parameters":{"url":"https://api.printpost.com.br/v1/emails/consult?startDate=2025-06-04T00:00:00&endDate=2025-06-04T23:59:00&contactId=11949994528","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2240,800],"id":"458e753f-3a70-4af1-96dc-34a268cd7728","name":"retorno de campanha por periodo - Email"},{"parameters":{"content":"## Campanha","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[3200,-500],"typeVersion":1,"id":"fb54ecb6-a649-41f0-b13d-d4bb4ec070f4","name":"Sticky Note12"},{"parameters":{"content":"## Cadastrando uma nova campanha\n","height":280,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[2780,-220],"typeVersion":1,"id":"d92b6e0d-cb50-4c10-9ef0-edeb4fa557f3","name":"Sticky Note13"},{"parameters":{"method":"POST","url":"https://api.printpost.com.br/v1/letter/campaign","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"Campanha teste CLS"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3560,-100],"id":"2842b3ac-ece7-4beb-b0f6-9602b6cd9a98","name":"Criando campanha"},{"parameters":{"content":"## Consulta de campanhas no sistema","height":280,"width":1300},"type":"n8n-nodes-base.stickyNote","position":[2780,100],"typeVersion":1,"id":"c51ed0b1-9d69-46a2-a0de-d539cf578537","name":"Sticky Note14"},{"parameters":{"url":"https://api.printpost.com.br/v1/letter/campaign","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3620,180],"id":"a1497aa0-5c7a-42bd-9ab4-9bfdd97c0287","name":"Consultar campanhas"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1uUpyTRFaCsPP2GBo1cKMN9SBYYNV0KPg94T3-8SyH0g","mode":"list","cachedResultName":"Campanhas cadastradas Printpost","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uUpyTRFaCsPP2GBo1cKMN9SBYYNV0KPg94T3-8SyH0g/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1uUpyTRFaCsPP2GBo1cKMN9SBYYNV0KPg94T3-8SyH0g/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $json.name }}","id":"={{ $json.id }}","userId":"={{ $json.userId }}","deletedAt":"={{ $json.deletedAt }}","createdAt":"={{ $json.createdAt }}","updatedAt":"={{ $json.updatedAt }}","organizationId":"={{ $json.organizationId }}"},"matchingColumns":["id"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"userId","displayName":"userId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"deletedAt","displayName":"deletedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"createdAt","displayName":"createdAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"updatedAt","displayName":"updatedAt","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"organizationId","displayName":"organizationId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3860,180],"id":"19ff6905-3536-44d8-9493-3ee8bf6556ce","name":"Extrair campanhas","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"content":"## Apagar uma campanhas no sistema","height":280,"width":1300},"type":"n8n-nodes-base.stickyNote","position":[2780,420],"typeVersion":1,"id":"2a2620b9-3632-46ac-8733-166f25891c4c","name":"Sticky Note15"},{"parameters":{"method":"DELETE","url":"=https://api.printpost.com.br/v1/letter/campaign/{{ $('config global').item.json.campanhId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"xapikeyprintpost"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3860,500],"id":"4a3713c8-1612-4b51-bf7b-7bb2fa2f3748","name":"Apagar campanha"},{"parameters":{"content":"## Carta","height":260,"width":380,"color":3},"type":"n8n-nodes-base.stickyNote","position":[4520,-520],"typeVersion":1,"id":"865c98a7-887c-467d-ad51-6ab064b9bfb5","name":"Sticky Note17"},{"parameters":{"content":"## Enviar Carta (PDF Fechado)\n","height":280,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[4240,-220],"typeVersion":1,"id":"92ce5c61-e3d8-45fb-9a4f-f87f59e155b7","name":"Sticky Note18"},{"parameters":{"content":"## Consulta de formatos de envio\n","height":280,"width":1040},"type":"n8n-nodes-base.stickyNote","position":[4240,120],"typeVersion":1,"id":"6f769127-fd9a-45fb-a1f2-64f61100dc64","name":"Sticky Note19"},{"parameters":{"url":"https://api.printpost.com.br/v1/letter/shipping","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $('config global').item.json.xapikeyprintpost }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5120,220],"id":"d462f4d7-fd6e-4bfe-8ca9-5f0e5aa1bdab","name":"HTTP Request"}],"connections":{"config global":{"main":[[{"node":"Consulta Envio SMS","type":"main","index":0},{"node":"Teste de funcionamento de API SMS","type":"main","index":0},{"node":"Envio SMS + Template","type":"main","index":0},{"node":"Consulta envio campanha por periodo","type":"main","index":0},{"node":"Resposta - Campanha","type":"main","index":0},{"node":"Consulta de resposta por periodo","type":"main","index":0}]]},"teste manual de API":{"main":[[{"node":"dados dummy","type":"main","index":0}]]},"dados dummy":{"main":[[{"node":"config global","type":"main","index":0}]]},"Consultar campanhas":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"config global":[{"json":{"xapikeyprintpost":"b8363087-7df7-4db2-ad28-487a8d8174a7","template_html":"<h2>Olá <strong><span style=\"color: red;\">Marcelo Silva </span>, tudo bem?</h2>\n<h3>Confirmamos seus dados conosco:</h3>\n\n<strong>Nome:</strong> Marcelo Silva <br>\n<strong>CPF:</strong> 40032851820<br>\n<strong>Celular:</strong> 11949994528<br>\n<strong><span style=\"color: red;\">Email cadastrado:</span></strong> 11949994528<br><br>\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,<br><br>  \n<strong>Equipe Suporte</strong>\n","template_sms":"Olá Marcelo Silva , tudo bem?\nConfirmamos seus dados conosco:\n\nNome: Marcelo Silva \nCPF: 40032851820\n\nCelular: 11949994528\nEmail cadastrado: adk1287@gmail.com\n\nCaso haja divergências, responda esse email para atualizarmos!<br><br>\n\nAtenciosamente,\nEquipe Suporte\n","campanha":"35","campanhId":"12345678900"}}],"HTTP Request":[{"json":{"id":"VGVsZWdyYW1hIC83NWcgL0FwZXJnYW1pbmhhZG8mVEVMRUdSQU1B","format":"Telegrama /75g /Apergaminhado","send":"TELEGRAMA","color":"Preto e Branco","price":"22,7600"}},{"json":{"id":"T2bDrWNpbyAyIC83NWcgL0FwZXJnYW1pbmhhZG8mRS1jYXJ0YSBBciBEaWdpdGFs","format":"Ofício 2 /75g /Apergaminhado","send":"E-carta Ar Digital","color":"Preto e Branco","price":"22,1500"}},{"json":{"id":"T2bDrWNpbyAyIC83NWcgL0FwZXJnYW1pbmhhZG8mRS1jYXJ0YSBBciBEaWdpdGFs","format":"Ofício 2 /75g /Apergaminhado","send":"E-carta Ar Digital","color":"Preto e Branco","price":"21,9000"}},{"json":{"id":"T2bDrWNpbyAyIC83NWcgL0FwZXJnYW1pbmhhZG8mRS1jYXJ0YSBBciBEaWdpdGFs","format":"Ofício 2 /75g /Apergaminhado","send":"E-carta Ar Digital","color":"Preto e Branco","price":"26,3000"}},{"json":{"id":"T2bDrWNpbyAyIC83NWcgL0FwZXJnYW1pbmhhZG8mRS1jYXJ0YSBBciBEaWdpdGFs","format":"Ofício 2 /75g /Apergaminhado","send":"E-carta Ar Digital","color":"Preto e Branco","price":"26,1900"}},{"json":{"id":"T2bDrWNpbyAyIC83NWcgL0FwZXJnYW1pbmhhZG8mRS1jYXJ0YSBBciBEaWdpdGFs","format":"Ofício 2 /75g /Apergaminhado","send":"E-carta Ar Digital","color":"Preto e Branco","price":"24,8300"}},{"json":{"id":"T2bDrWNpbyAyIC83NWcgL0FwZXJnYW1pbmhhZG8mRS1jYXJ0YSBBciBEaWdpdGFs","format":"Ofício 2 /75g /Apergaminhado","send":"E-carta Ar Digital","color":"Preto e Branco","price":"29,4400"}},{"json":{"id":"T2bDrWNpbyAyIC83NWcgL0FwZXJnYW1pbmhhZG8mRS1jYXJ0YSBBciBEaWdpdGFs","format":"Ofício 2 /75g /Apergaminhado","send":"E-carta Ar Digital","color":"Preto e Branco","price":"29,4400"}}]},"versionId":"15842b10-563e-465c-954e-3a2431d699ff","triggerCount":0,"shared":[{"createdAt":"2025-06-04T14:52:59.772Z","updatedAt":"2025-06-04T14:52:59.772Z","role":"workflow:owner","workflowId":"6oWmqiQ6740CRpWm","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-10T20:42:49.171Z","updatedAt":"2025-06-10T20:42:49.171Z","id":"h4umybNLa5zH46QD","name":"Concluido"},{"createdAt":"2025-07-16T19:08:34.052Z","updatedAt":"2025-07-16T19:08:34.052Z","id":"hxa52eyxxuqAyMEh","name":"teste API http request"}]}