workflow/LAB teste de envio email pelo mailsender.json
{"createdAt":"2025-07-24T15:54:02.161Z","updatedAt":"2025-07-24T21:26:50.000Z","id":"stEuJ2esvm4TtEQl","name":"LAB teste de envio email pelo mailsender","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-380,0],"id":"6ebe6645-ffd2-4bc5-8ff6-59339da39724","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"5474dd52-fc78-406c-9b19-5d835b9c09fa","name":"token","value":"mlsn.cb5011899365323d3e5f1c6d8a71f2e8107fd3c703c69a684d213ac453211c1b","type":"string"},{"id":"42505e2b-eeba-4a32-83fb-4e29b74602eb","name":"from","value":"","type":"string"},{"id":"168dd158-bb43-4662-8808-e51130ffdfd4","name":"to","value":"rogerio@aiknow.ai","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-40],"id":"90fb9ca3-54f0-4156-af2f-fa0d5aa03eff","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.mailersend.com/v1/email","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Requested-With","value":"XMLHttpRequest"},{"name":"Authorization","value":"=Bearer {{ $json.token }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"from\": {\n    \"email\": \"{{ $json.from }}\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{ $json.to }}\"\n    }\n  ],\n  \"subject\": \"Hello from MailerSend!\",\n  \"text\": \"Greetings from the team, you got this message through MailerSend.\",\n  \"html\": \"Greetings from the team, you got this message through MailerSend.\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[860,-40],"id":"09da7d0c-52d4-4187-8abc-608f3a7a3323","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"01a67d82-4451-4f6a-b70a-8df3c4635324","name":"link","value":"https://drive.google.com/uc?export=download&id=1GEX1PMxKhvRLg-EymrKCmU1uNHJ454ON","type":"string"},{"id":"5c71a5b2-c814-44bc-8d83-a3152632481a","name":"fileid","value":"1GEX1PMxKhvRLg-EymrKCmU1uNHJ454ON","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-160,0],"id":"d4e5a340-c98d-4c02-9454-20b215d58dc8","name":"config"},{"parameters":{"sendTo":"adk1287@gmail.com","subject":"teste email","message":"teste","options":{"appendAttribution":false,"attachmentsUi":{"attachmentsBinary":[{}]}}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[300,0],"id":"d51ca36d-ee74-4e2d-9c60-e80abf7806fb","name":"Gmail","webhookId":"6f0b353e-065c-4b74-bb08-e6eb2782ad93","credentials":{"gmailOAuth2":{"id":"8SOLaAOXoXTRVoyl","name":"Gmail account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/1GEX1PMxKhvRLg-EymrKCmU1uNHJ454ON/view?usp=drive_link","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[60,0],"id":"ae737ec5-00a5-444a-b1be-a6ec4a12585c","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"config","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"config":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Gmail","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60b24762-8f53-4749-ac15-89d0b06795ba","triggerCount":0,"shared":[{"createdAt":"2025-07-24T15:54:02.166Z","updatedAt":"2025-07-24T15:54:02.166Z","role":"workflow:owner","workflowId":"stEuJ2esvm4TtEQl","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}