workflow/Meu exemplo de agent a ser melhorado.json
{"createdAt":"2025-07-17T14:42:21.791Z","updatedAt":"2025-07-17T14:42:52.000Z","id":"jCRa76sMHDRo395S","name":"Meu exemplo de agent a ser melhorado","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"bb83ed38-b287-4432-a89a-9b93900bb446","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1000,1940]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"14134eeb-f94d-4bb8-8474-b32697101235","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[760,1940],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"51e670e1-d44f-4af7-8631-84e2fda0f17b","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-660,1600],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW","mode":"list","cachedResultName":"documents_cls_cobranca","cachedResultUrl":"https://drive.google.com/drive/folders/1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW"},"event":"fileCreated","options":{}},"id":"3c8ad247-a745-465e-b521-480cf1313b16","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1700,1500],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW","mode":"list","cachedResultName":"documents_cls_cobranca","cachedResultUrl":"https://drive.google.com/drive/folders/1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW"},"event":"fileUpdated","options":{}},"id":"cce79f30-2494-4702-b53f-f3d78bffd8d3","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1720,1760],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"7e19b97b-ce90-4e8b-9507-d4b2bde86e1f","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,1940],"alwaysOutputData":true},{"parameters":{"operation":"delete","tableId":"documents_cls_cobranca","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"e45c0a0f-e1ec-4029-837d-cc3db14949ce","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1140,1460],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"cc65cd55-7904-49d1-8d71-5133e6739642","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1320,1620]},{"parameters":{"operation":"pdf","options":{}},"id":"96f060d1-9fdb-49c4-9361-85eb7617cc96","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[200,1380]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"e60c4cb3-c190-41a4-adf7-52baa8b806b6","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[240,1560]},{"parameters":{},"id":"bbf3ed84-cdba-4d80-a9ce-b1625ea30d40","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[900,2060]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"a5a9ddb8-f47b-409c-a0b1-b1f3eae6bdc8","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[440,1640]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"5c39013a-3361-4242-9c6a-4a2243e6d615","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-460,1600]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents_cls_cobranca","mode":"list","cachedResultName":"documents_cls_cobranca"},"options":{"queryName":"match_documents_cls_cobranca"}},"id":"78b60556-baa9-4fdd-b2b0-4b3b800a3bdf","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[920,1720],"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"b0b5a2da-73e3-4bd1-88d8-5f383eedf625","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,1560]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[880,1500],"id":"2eb31ac7-4a43-4494-a6ed-f8ac18609217","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[20,1740],"id":"036223c4-9342-4a65-8cea-76e08859daba","name":"Extract from CSV"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata_cls_cobranca (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2820,780],"id":"f93f5c17-bef4-490f-b2a4-45f53217a8c6","name":"Create Document Metadata Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows_cls_cobranca (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata_cls_cobranca(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2460,780],"id":"cebfc356-576e-430a-9872-7ee7b8aeec40","name":"Create Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_cls_cobranca","mode":"list","cachedResultName":"document_metadata_cls_cobranca"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[260,1200],"id":"44458feb-540d-4cc9-b469-dd319122f4ac","name":"List Documents","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents_cls_cobranca\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[400,1200],"id":"f5bc630f-14e5-41a5-9bad-40d970c5d2c9","name":"Get File Contents","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows_cls_cobranca table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata_cls_cobranca table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows_cls_cobranca\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows_cls_cobranca\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';\n","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[800,1180],"id":"9317232d-f8a8-4fe0-a36d-3c94ad3fdc98","name":"Query Document Rows","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents_cls_cobranca","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents_cls_cobranca","mode":"list","cachedResultName":"documents_cls_cobranca"},"options":{"queryName":"match_documents_cls_cobranca"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[1580,960],"id":"6e22afcb-090f-45d4-8a37-a42c90fa7289","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[1880,1220],"id":"333345d5-d0d2-43a7-8216-d4eb5f9a6b3f","name":"Embeddings OpenAI2","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"batchSize":5,"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1480,1460],"id":"4dd748ec-426a-408c-a367-1c24c073c6f4","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"-- Habilita a extensão pgvector (somente se ainda não existir)\nDO $$ \nBEGIN\n    IF NOT EXISTS (SELECT 1 FROM pg_extension WHERE extname = 'vector') THEN\n        CREATE EXTENSION vector;\n    END IF;\nEND $$;\n  -- Enable the pgvector extension to work with embedding vectors\n--create extension vector;\n\n-- Create a table to store your documents\ncreate table documents_cls_cobranca (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents_cls_cobranca (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents_cls_cobranca.embedding <=> query_embedding) as similarity\n  from documents_cls_cobranca\n  where metadata @> filter\n  order by documents_cls_cobranca.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;\n\n-- Criar índice para melhorar consultas por file_id\nCREATE INDEX IF NOT EXISTS idx_metadata_file_id ON documents_cls_cobranca ((metadata->>'file_id'));","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3160,780],"id":"bf0a9b79-ec47-40c5-b2a8-923e2c05b882","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"delete","tableId":"document_rows_cls_cobranca","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-980,1620],"id":"090086dc-5f74-4b6e-90f8-59d645dcc786","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_cls_cobranca","mode":"list","cachedResultName":"document_metadata_cls_cobranca"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-820,1480],"id":"7145f343-1861-452c-b8df-e0f1ff624052","name":"Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows_cls_cobranca","mode":"list","cachedResultName":"document_rows_cls_cobranca"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[240,1740],"id":"3c60d978-9a73-4699-9d12-4507708bd8fe","name":"Insert Table Rows","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata_cls_cobranca","mode":"list","cachedResultName":"document_metadata_cls_cobranca"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1100,1500],"id":"c692cd55-57d5-4c59-839e-bc09b0ce8e68","name":"Update Schema for Document Metadata","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"content":"## Agent Tools for RAG\n**Alterar o campo name de documents_puket para documents em caso de erro**","height":529,"width":583,"color":4},"id":"5df80425-a371-4542-8776-cdaa561757cf","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1460,800]},{"parameters":{"content":"## Create Table \n","height":340,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-3660,640],"typeVersion":1,"id":"db8e0f98-7b6a-4afb-ba39-1013dcb46f15","name":"Sticky Note1"},{"parameters":{"content":"## Agent RAG CLS\n\n\n\nPara conversar com o agente, use o link https://api.whatsapp.com/send?phone=5511974332121&text=Queronegociar","height":700,"width":3180,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-1740,640],"typeVersion":1,"id":"be9e59ea-4687-408b-8eda-c5361f1ef15f","name":"Sticky Note2"},{"parameters":{"content":"## Insert data in DB \nPara fazer a ingestão de documentos, acesse a pasta https://drive.google.com/drive/folders/1tUIGAZYkAiyWq-0_qSTL97DorUuYd8LW?usp=drive_link","height":840,"width":3060,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1740,1360],"typeVersion":1,"id":"c67ee2f5-51c9-4297-b6e7-7f774e64ffcb","name":"Sticky Note3"},{"parameters":{"content":"## DROP table","height":340,"width":1520},"type":"n8n-nodes-base.stickyNote","position":[-3660,280],"typeVersion":1,"id":"fd1625ca-beb5-4b7e-9f63-b47e3a7be0f6","name":"Sticky Note6"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS documents_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3600,380],"id":"e2cb5f2b-5ffa-42e0-ad56-6c19907f3287","name":"1 - DROP Documents Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS document_metadata_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3320,380],"id":"6b8648c2-b606-49d7-8565-3b7968886c64","name":"2 - DROP Document Metadata Table","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS document_rows_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-3000,380],"id":"fc401a87-d057-4e30-9262-fe24d38e2211","name":"3 - DROP Document Rows Table (for Tabular Data)","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DROP FUNCTION IF EXISTS match_documents_cls_cobranca(vector(1536), int, jsonb);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2700,380],"id":"74db1cea-4d59-44a3-8674-73d8b9a1b5ba","name":"4 - Drop match_documents ( vectorstore )","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('SET Variaveis').item.json.sessaoUnificada }}","tableName":"n8n_chat_histories_cls_cobranca"},"id":"8955c516-101a-4af9-ae2d-a69197a91443","name":"Postgres Chat Memory Extract","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[120,1200],"notesInFlow":false,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3460,380],"id":"b2245ca2-5876-4480-9109-bc36a5530d15","name":"Wait","webhookId":"743cf2af-8398-4bce-be7a-71a6cc2df887"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3160,380],"id":"eec33afa-bf2d-4742-bf90-6fdae18f75b8","name":"Wait1","webhookId":"9a9af522-bf77-457f-810f-a1193623cf8a"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2860,380],"id":"a54b595b-7d9a-4558-98de-5afad12a14df","name":"Wait2","webhookId":"788c7308-76f1-4632-895e-23a841116460"},{"parameters":{"model":"llama3.2:1b","options":{}},"type":"@n8n/n8n-nodes-langchain.lmOllama","typeVersion":1,"position":[-820,480],"id":"118bce51-ac37-4ccc-a406-058bfffa7ecd","name":"Ollama Model1","credentials":{"ollamaApi":{"id":"DkFIMC1XjxRcvL1E","name":"Ollama account"}}},{"parameters":{"content":"## **LLM**","height":200,"width":580},"type":"n8n-nodes-base.stickyNote","position":[-1060,420],"typeVersion":1,"id":"d67582d0-93de-478b-be53-f33b9c50eeac","name":"Sticky Note"},{"parameters":{"options":{}},"id":"565d07f8-9336-405e-b142-b1ae1e8b0b89","name":"OpenAI Chat ","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-700,480],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"value":"claude-3-5-sonnet-20241022","mode":"list","cachedResultName":"Claude 3.5 Sonnet (New)"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[-980,480],"id":"872094af-b32a-41eb-9e0e-81d10f61e12c","name":"Anthropic Claude","credentials":{"anthropicApi":{"id":"daEmkEMQGbuGIYpr","name":"Anthropic account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3600,780],"id":"78cd9844-f02c-4e8c-91e7-74450fc751e5","name":"Clique para apagar as tabelas"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2980,780],"id":"80f5bea6-5bcf-4b8d-a75e-1c27c9d9dd9e","name":"Wait3","webhookId":"d80e0587-55c2-4992-9ed3-b6a2748bffa5"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2640,780],"id":"4e288d9b-e50c-4f6d-b34a-93788e553416","name":"Wait4","webhookId":"14e3790d-5801-48fb-b91c-4420219de5df"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3380,780],"id":"a4c306df-6a52-41e5-98c3-405b7938256e","name":"Wait5","webhookId":"b7bf20b9-a9d8-4b53-bb22-da32c164b8ea"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-2520,380],"id":"0665cad2-aa45-4027-94e3-87674305154b","name":"Wait6","webhookId":"9daeb833-41a8-4265-a7c1-2c459fbc932b"},{"parameters":{"operation":"executeQuery","query":"DROP TABLE IF EXISTS n8n_chat_histories_cls_cobranca CASCADE;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2340,380],"id":"ac7ef5be-3c46-4db5-ad58-383fa66c7644","name":"5 - DROP n8n_chat_histories_centurion","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"description":"Use essa ferramenta para consultar informações de empresa baseado no CPNJ fornecido pelo user","workflowId":{"__rl":true,"value":"11NytkMR8Y2sLT2r","mode":"list","cachedResultName":"Tool consultar CNPJ"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cnpj', `consultar as informações da empresa através do cnpj`, 'string') }}"},"matchingColumns":["cnpj"],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[660,1220],"id":"1a45b761-b520-4fec-9884-5f840829304e","name":"consultar cnpj"},{"parameters":{"assignments":{"assignments":[{"id":"4abbc251-0d9f-4c0f-9f4b-31852c00a60c","name":"entradaUnificada","value":"={{ $json.chatInput || $json.body?.chatInput || $json.body.data.message.conversation || \"não encontrado\" }}","type":"string"},{"id":"b791cc7e-3a6d-4069-9d33-e7de621cb4b9","name":"sessaoUnificada","value":"={{ $json.sessionId || $json.body?.sessionId || $json.body.data.key.remoteJid || \"não encontrado\" }}","type":"string"},{"id":"1db341ab-02fe-4f5c-834f-3799b3e0dfb1","name":"From","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"9a280328-0b98-449c-bbe4-938a60f06a45","name":"Instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"b0645220-0e43-484a-8980-356a9afdb852","name":"Messagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"477eb273-fd16-4f14-8ce2-b65d3c8b81a5","name":"MensagemID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"48692c46-06e7-4588-80f9-6566ab317c00","name":"Name from","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"65bef515-0e26-4337-b95f-47836d35c298","name":"message tipe whatsapp","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"9ce2704b-15cf-480a-bb70-24c69f746a18","name":"message tipe chat sandbox","value":"={{ $json.action }}","type":"string"},{"id":"4977d7f4-f1cd-47ae-824a-a5d05febd21c","name":"groq api","value":"YOUR_GROQ_API_KEYqtSH","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1240,1060],"id":"5bb2cd2e-ec10-4db2-b8ce-df156de7ebb9","name":"SET Variaveis"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d21f42cc-fc29-4265-944d-9289229e25bf","leftValue":"={{ $('SET Variaveis').item.json.sessaoUnificada }}","rightValue":"=whatsapp.net","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[840,940],"id":"b2b7e7fb-970b-40ce-ba27-ea6136685986","name":"Condição para origem de mensagem"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1680,1180],"id":"ee733a87-a23c-4cb3-9b02-cb1e2a3f480f","name":"Chat homolog","webhookId":"a9002736-a1aa-44fb-9d48-84b42145921d"},{"parameters":{"httpMethod":"POST","path":"d2f82738-bf6b-474c-9c4d-07d7f366d884","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1660,820],"id":"aa0488a7-9c8b-4be5-9fec-bacff021c3e9","name":"Webhook Whatsapp - EVOAPI","webhookId":"d2f82738-bf6b-474c-9c4d-07d7f366d884"},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('SET Variaveis').item.json.Instance }}","remoteJid":"={{ $('SET Variaveis').item.json.From }}","messageId":"={{ $('SET Variaveis').item.json.MensagemID }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1080,1040],"id":"2b481a9b-25f0-4de1-ab79-aa2dad169bf4","name":"Leitor de mensagem","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('SET Variaveis').item.json.Instance }}","remoteJid":"={{ $('SET Variaveis').item.json.From }}","messageText":"={{ $('Agent Alphaville homolog').item.json.output }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1240,1180],"id":"b27891ef-1af3-4de0-be86-eaebb18f411e","name":"Envio de mensagem","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"options":{}},"id":"29d8feec-189d-4e31-975c-91fa27e92553","name":"Resposta webhook chat homolog","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1240,880]},{"parameters":{"promptType":"define","text":"={{ $('Mensagem').item.json.Mensagem }}","options":{"systemMessage":"use apenas a ferramenta cnpj para consultar informações de empresas, use apenas números.\n\nex: 12345678901234 \n\nSolicite ao usuário assim que ele se apresentar.\n\nCaso o usuário queira saber sobre alguma empresa, explique em no máximo 60 caracteres"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[500,920],"id":"a0046209-a6f3-4625-a330-66593f80d2e0","name":"Agent Alphaville homolog","notes":"{{ $('SET Variaveis').item.json.entradaUnificada || $('Mensagem').item.json }}"},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Aiknow](https://aiknow.ai/)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1200,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-4260,1360],"typeVersion":1,"id":"28e6ee2b-b7de-46e9-89e8-9ba5a2cb38f8","name":"Sticky Note9"},{"parameters":{"content":"## MCP \n","height":380,"width":740},"type":"n8n-nodes-base.stickyNote","position":[-100,-160],"typeVersion":1,"id":"c2e70178-9872-4636-b630-1f2d02d5e05a","name":"Sticky Note7"},{"parameters":{"path":"991ea950-b113-4e8d-8e75-9981b5637507"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[100,-140],"id":"d6912878-f82e-4f9d-82d6-a5e5f2b5f2e1","name":"MCP Server Trigger","webhookId":"991ea950-b113-4e8d-8e75-9981b5637507"},{"parameters":{"sseEndpoint":"https://llm-server.taild42ed2.ts.net/mcp/991ea950-b113-4e8d-8e75-9981b5637507/sse"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[520,1200],"id":"c44c8464-7000-49e0-a501-ab7d52aa88bf","name":"MCP Client","disabled":true},{"parameters":{"resource":"chat-api","operation":"get-media-base64","instanceName":"={{ $('SET Variaveis').item.json.Instance }}","messageId":"={{ $('SET Variaveis').item.json.MensagemID }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[-760,760],"id":"cb62f60d-a488-4bdd-ae77-77f6eac4daff","name":"Evolution API","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"operation":"toBinary","sourceProperty":"data.base64","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-380,760],"id":"0ae60ad9-9deb-499f-a93a-f47fbab3c120","name":"Convert to File"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"leftValue":"={{ $json['message tipe whatsapp'] }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"},"id":"445f5e16-6b8d-4dde-813b-65544af2ce8c"}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"b4394e67-fb40-4154-81f7-1de073f9339f","leftValue":"={{ $json['message tipe whatsapp'] }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto - whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"6cc4fb23-d4f2-4277-8875-a5e642a88c5d","leftValue":"={{ $json['message tipe chat sandbox'] }}","rightValue":"sendMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto - sendbox"}]},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-880,1080],"id":"0d76d507-394e-4c63-88cb-5ce55828b002","name":"Rota ( tipo de mensagem )"},{"parameters":{"assignments":{"assignments":[{"id":"9cbc9a01-9302-4c19-b0d2-c12549192753","name":"transcription","value":"={{ $('Groq audio transcription').item.json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[80,760],"id":"ac95c520-a544-4c51-bf7c-2049a42469e9","name":"transcrição do audio"},{"parameters":{"method":"POST","url":"https://api.groq.com/openai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=bearer {{ $('SET Variaveis').item.json['groq api'] }}"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-large-v3-turbo"},{"name":"temperature","value":"0"},{"name":"response_format","value":"verbose_json"},{"name":"language","value":"pt"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-160,760],"id":"81518a60-00c1-426a-9d96-fc3832ad0937","name":"Groq audio transcription"},{"parameters":{"assignments":{"assignments":[{"id":"46900818-ecca-4f2f-ada8-1729d36025ee","name":"Mensagem","value":"={{ \n  $('Webhook Whatsapp - EVOAPI').item.json.body.data.message.conversation \n  || $('transcrição do audio').item.json.transcription\n  || \"não encontrado\"\n}}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,920],"id":"3daa0f64-c019-434a-80f2-a857b35cad38","name":"Mensagem"},{"parameters":{"model":"gpt-4.1-mini","options":{}},"id":"df7a2511-f57d-4842-9865-edf9aa5a2810","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1540,3100],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $(\"Chat homolog\").item.json.sessionId }}"},"id":"cf2f7e1c-107a-48ef-bbb5-ebe2946f1bb0","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-1360,3100],"notesInFlow":false,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"options":{"systemMessage":"=## Role\n\nYou are a Retrieval-Augmented Generation (RAG) assistant designed to answer questions a user has. You use a corpus of documents that are all text based. Your primary goal is to provide accurate, up-to-date, and relevant information based on what the user asks and the documents you retrieve.\n\n## Responsibilities\n\n- Answer user queries with a good mix of being comprehensive but still concise\n- Present information in an easy-to-understand and professional manner  \n- Clarify misconceptions or misinformation\n\n## Other Key Information and Instructions\n\n- Always tell the user if you didn't find the answer. Don't make something up just to please them.\n- Keep your language neutral and factual. Do not show bias or opinion  \n\n## Error Handling\n- If the information cannot be found using the provided instructions respond with:  \n  “I’m sorry, I couldn’t find relevant information based on your documents.”\n"}},"id":"324296d5-a0a7-4c59-8d14-843c7147c3d0","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-1460,2880]},{"parameters":{"chunkSize":2000,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[720,3980],"id":"b7e96a46-e123-4f05-8740-d0824f104eda","name":"Recursive Character Text Splitter"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const chunks = [];\nconst chunkSize = 400;\nconst chunkOverlap = 0;\nconst text = $json.data.replace(/\\n/, '');\n\nfor (let i=0, j=Math.round(text.length/chunkSize); i<j; i++) {\n  chunks.push(\n    text.substr(\n      Math.max(0,(i * chunkSize)-chunkOverlap),\n      chunkSize\n    )\n  );\n}\n\nreturn { chunks };"},"id":"94e9d7d9-e45d-4c57-bfcc-2f75f2c1429d","name":"Create Chunks From Doc","type":"n8n-nodes-base.code","typeVersion":2,"position":[-500,3580]},{"parameters":{"fieldToSplitOut":"chunks","options":{"destinationFieldName":"chunk"}},"id":"c4fd58f8-fe55-49a8-9e07-5d4c20951cb3","name":"Chunks To List","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-280,3440]},{"parameters":{"promptType":"define","text":"=<document> \n{{ $('Extract Document Text1').first().json.data }} \n</document>\nHere is the chunk we want to situate within the whole document \n<chunk> \n{{ $json.chunk }}\n</chunk> \nPlease give a short succinct context to situate this chunk within the overall document for the purposes of improving search retrieval of the chunk. Answer only with the succinct context and nothing else. "},"id":"d0fb4387-8ae6-463a-8663-891a34373533","name":"Generate Contextual Text","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-60,3580]},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-100,3820],"id":"b4e49d8f-20e2-4a56-82d2-7f1eb0055577","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"069d067c-3534-4939-8ff4-34dee02a9436","name":"chunk","value":"={{ $('Chunks To List').item.json.chunk }}","type":"string"},{"id":"24e01f4f-e156-47e9-a89e-9cbdccda6bd4","name":"text","value":"={{ $('Generate Contextual Text').item.json.text }}","type":"string"}]},"options":{}},"id":"610fc7b9-9391-497a-8d37-aefcbaccd31e","name":"Get Values","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[300,3460]},{"parameters":{"mode":"insert","tableName":"documents_pg","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[520,3560],"id":"579251e7-1826-4cfe-a528-48f0a04a5b2a","name":"Postgres PGVector Store","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents_pg","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":"documents_pg","options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStorePGVector","typeVersion":1.1,"position":[-1140,3000],"id":"104ae527-ce6a-4934-8ed2-002405ea8420","name":"Document RAG Tool1","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"DO $$\nBEGIN\n    IF EXISTS (SELECT 1 FROM information_schema.tables WHERE table_name = 'documents_pg') THEN\n        EXECUTE 'DELETE FROM documents_pg WHERE metadata->>''file_id'' LIKE ''%' || $1 || '%''';\n    END IF;\nEND\n$$;","options":{"queryReplacement":"={{ $json.file_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1160,3420],"id":"edd7f817-ca4b-46ef-b07d-ec53175377c9","name":"Delete Old Doc Records","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{\n{\n  \"content\": `${ $json.text }\\n---\\n${ $json.chunk }`\n}\n}}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID1').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID1').first().json.file_title }}"},{"name":"file_url","value":"={{ $('Set File ID1').first().json.file_url }}"}]}}},"id":"e15c8347-06a1-476d-a90e-14528be69197","name":"Default Data Loader1","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[600,3820]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"c48e802e-fcdc-406b-ab71-14e719b6b85b","name":"Embeddings OpenAI","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[440,3820],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"content":"## Tool to Add Google Drive Files to Vector DB with Contextual Embeddings","height":867,"width":2853,"color":5},"id":"5806570f-0d71-478c-a81b-195d55ff6e96","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1840,3300]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID1').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"ca0c0af8-ad26-4f61-bccc-d742c721dfc4","name":"Download File1","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-940,3560],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw","mode":"list","cachedResultName":"Neon","cachedResultUrl":"https://drive.google.com/drive/folders/1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw"},"event":"fileCreated","options":{}},"id":"21715f2b-5c37-4c39-96e3-c9684892f41b","name":"File Created1","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1780,3420],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw","mode":"list","cachedResultName":"Neon","cachedResultUrl":"https://drive.google.com/drive/folders/1iLcA4aE4rOe87BNXhiArRaHkG9dfzJqw"},"event":"fileUpdated","options":{}},"id":"c21b2b8e-73ba-4092-b6e8-73b5a57bfa9e","name":"File Updated1","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1780,3580],"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"36449b6b-112d-4743-a37d-ee8e85f7ca71","name":"Extract Document Text1","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-740,3420],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"504b1fd6-bef2-4ed8-8a41-34d321714ccd","name":"Set File ID1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1380,3560]},{"parameters":{"content":"## RAG AI Agent with Contextual Retrieval","height":485,"width":1036},"id":"a34c5d5f-dd7a-4db3-b826-3235491492dc","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1840,2800]},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-1020,3140],"id":"0131de65-34ad-493d-ac18-64eca355ba58","name":"Embeddings OpenAI3","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1560,3420],"id":"92365587-5744-4b30-98c9-77a10d178741","name":"Loop Over Items1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/1EinQz2VhLBw42xltEk7lzTCYcVxkYEMGnLmSg9NvGWI/edit?usp=sharing","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1EinQz2VhLBw42xltEk7lzTCYcVxkYEMGnLmSg9NvGWI/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"useAppend":true}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1240,820],"id":"e438ad8a-9156-4e7c-b05b-254d49ee70d6","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}},"disabled":true},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[160,100],"id":"435281cf-798d-4bcf-bb40-0e4d2563c335","name":"Calculator"},{"parameters":{"content":"## Audio","height":280,"width":1000},"type":"n8n-nodes-base.stickyNote","position":[-780,680],"typeVersion":1,"id":"24c806e3-c0aa-4d68-8341-675001765801","name":"Sticky Note10"},{"parameters":{"content":"## Instruções para contruir agent:\n\nRegras de negociação.\n\nFormula\n\nValor / porcentagem de valor minimo minimo a vista.\n\nOnde:\n\n- 30% no juros (inadiplencia ? ) + quant do valor igual ( 10x )\n\n- Valor de entrada : 10% - 0 valor dos 30% dos judos do valor devido.\n\n\n\n\n\n","height":360,"width":620},"type":"n8n-nodes-base.stickyNote","position":[-2760,1160],"typeVersion":1,"id":"568d6460-1137-451b-a829-42df435bf7e6","name":"Sticky Note11"}],"connections":{"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Wait4","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"Agent Alphaville homolog","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"Agent Alphaville homolog","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"Agent Alphaville homolog","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"Agent Alphaville homolog","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"1 - DROP Documents Table":{"main":[[{"node":"Wait","type":"main","index":0}]]},"2 - DROP Document Metadata Table":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"3 - DROP Document Rows Table (for Tabular Data)":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"4 - Drop match_documents ( vectorstore )":{"main":[[{"node":"Wait6","type":"main","index":0}]]},"Postgres Chat Memory Extract":{"ai_memory":[[{"node":"Agent Alphaville homolog","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"2 - DROP Document Metadata Table","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"3 - DROP Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"4 - Drop match_documents ( vectorstore )","type":"main","index":0}]]},"OpenAI Chat ":{"ai_languageModel":[[{"node":"Agent Alphaville homolog","type":"ai_languageModel","index":0}]]},"Clique para apagar as tabelas":{"main":[[{"node":"1 - DROP Documents Table","type":"main","index":0},{"node":"Wait5","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Wait4":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Create Documents Table and Match Function","type":"main","index":0}]]},"Wait6":{"main":[[{"node":"5 - DROP n8n_chat_histories_centurion","type":"main","index":0}]]},"consultar cnpj":{"ai_tool":[[{"node":"Agent Alphaville homolog","type":"ai_tool","index":0}]]},"SET Variaveis":{"main":[[{"node":"Rota ( tipo de mensagem )","type":"main","index":0}]]},"Condição para origem de mensagem":{"main":[[{"node":"Leitor de mensagem","type":"main","index":0}],[{"node":"Resposta webhook chat homolog","type":"main","index":0}]]},"Webhook Whatsapp - EVOAPI":{"main":[[{"node":"SET Variaveis","type":"main","index":0},{"node":"Google Sheets","type":"main","index":0}]]},"Leitor de mensagem":{"main":[[{"node":"Envio de mensagem","type":"main","index":0}]]},"Agent Alphaville homolog":{"main":[[{"node":"Condição para origem de mensagem","type":"main","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"Agent Alphaville homolog","type":"ai_tool","index":0}]]},"Evolution API":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Groq audio transcription","type":"main","index":0}]]},"Rota ( tipo de mensagem )":{"main":[[{"node":"Evolution API","type":"main","index":0}],[{"node":"Mensagem","type":"main","index":0}],[{"node":"Mensagem","type":"main","index":0}]]},"transcrição do audio":{"main":[[{"node":"Mensagem","type":"main","index":0}]]},"Groq audio transcription":{"main":[[{"node":"transcrição do audio","type":"main","index":0}]]},"Mensagem":{"main":[[{"node":"Agent Alphaville homolog","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader1","type":"ai_textSplitter","index":0}]]},"Create Chunks From Doc":{"main":[[{"node":"Chunks To List","type":"main","index":0}]]},"Chunks To List":{"main":[[{"node":"Generate Contextual Text","type":"main","index":0}]]},"Generate Contextual Text":{"main":[[{"node":"Get Values","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Generate Contextual Text","type":"ai_languageModel","index":0}]]},"Get Values":{"main":[[{"node":"Postgres PGVector Store","type":"main","index":0}]]},"Postgres PGVector Store":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Document RAG Tool1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Delete Old Doc Records":{"main":[[{"node":"Download File1","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Postgres PGVector Store","type":"ai_document","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Postgres PGVector Store","type":"ai_embedding","index":0}]]},"Download File1":{"main":[[{"node":"Extract Document Text1","type":"main","index":0}]]},"File Created1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"File Updated1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Extract Document Text1":{"main":[[{"node":"Create Chunks From Doc","type":"main","index":0}]]},"Set File ID1":{"main":[[{"node":"Delete Old Doc Records","type":"main","index":0}]]},"Embeddings OpenAI3":{"ai_embedding":[[{"node":"Document RAG Tool1","type":"ai_embedding","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Set File ID1","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"MCP Server Trigger","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"3d48f1dd-576e-47df-a012-de51e54c0ae0","triggerCount":0,"shared":[{"createdAt":"2025-07-17T14:42:21.795Z","updatedAt":"2025-07-17T14:42:21.795Z","role":"workflow:owner","workflowId":"jCRa76sMHDRo395S","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}