workflow/My workflow.json
{"createdAt":"2025-05-07T02:20:07.668Z","updatedAt":"2025-06-25T22:17:25.000Z","id":"qkEYYy1azPgv6ynO","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"c626b770-61eb-4a80-82d4-10e4d2b6646b","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"17KKa4jdJeZ2tarLi1AmdSMOOV2oMgDhj7ImZoqIl7yc","mode":"list","cachedResultName":"banco_01","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KKa4jdJeZ2tarLi1AmdSMOOV2oMgDhj7ImZoqIl7yc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":648498734,"mode":"list","cachedResultName":"Respostas ao formulário 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KKa4jdJeZ2tarLi1AmdSMOOV2oMgDhj7ImZoqIl7yc/edit#gid=648498734"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"id":"823defb1-73c9-4aaf-aca0-af98049e3828","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"oT0xK5WufYTine3H","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"5f98ea12-0905-442f-8bc3-c8bb257f600b","name":"","value":"={{ $json['Carimbo de data/hora'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[740,0],"id":"af7f5e8e-2c0a-4c8a-b97b-d182280009ae","name":"Edit Fields"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"93e520c2-3703-42c3-b86e-36c25e46f418","leftValue":"={{ $json['Carimbo de data/hora'] }}","rightValue":"={{ $today.format('06/MM/yyyy hh:MM ' ) }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[700,240],"id":"cf347527-14a4-4402-bde3-3106405d2b97","name":"If"},{"parameters":{"jsCode":"// 1. Pegue o texto da sua coluna \"Carimbo de data/hora\"\nconst textoDaDataHoraOriginal = $input.first().json['Carimbo de data/hora'];\n\n// 2. Informe ao N8N como essa data/hora está formatada na sua planilha.\n//    Exemplos de formato:\n//    - 'dd/MM/yyyy HH:mm:ss' (ex: 04/05/2025 21:05:16)\n//    - 'dd/MM/yyyy HH:mm'    (ex: 04/05/2025 21:05)\n//    - 'M/d/yyyy h:mm:ss a'  (ex: 5/4/2025 9:05:16 PM)\n//    !!! VOCÊ PRECISA AJUSTAR A LINHA ABAIXO COM O FORMATO CORRETO DA SUA PLANILHA !!!\nconst formatoOriginalNaPlanilha = 'dd/MM/yyyy HH:mm:ss'; // <--- AJUSTE AQUI\n\n// 3. Defina o fuso horário das suas datas na planilha.\n//    Se não tiver certeza, 'America/Sao_Paulo' é um bom começo para dados do Brasil.\nconst fusoHorarioOriginal = 'America/Sao_Paulo'; // <--- AJUSTE SE NECESSÁRIO\n\nlet dataObjeto;\ntry {\n  dataObjeto = luxon.DateTime.fromFormat(textoDaDataHoraOriginal, formatoOriginalNaPlanilha, { zone: fusoHorarioOriginal });\n\n  // Se o parsing falhar, tente outros formatos comuns ou ISO\n  if (!dataObjeto.isValid) {\n    dataObjeto = luxon.DateTime.fromISO(textoDaDataHoraOriginal, { zone: fusoHorarioOriginal });\n  }\n  // Adicione mais tentativas de fromFormat com outros padrões se sua coluna tiver formatos mistos.\n\n} catch (e) {\n  console.log(`Erro ao parsear data: ${textoDaDataHoraOriginal}. Erro: ${e.message}`);\n  return null; // Retorna null se não conseguir parsear\n}\n\n// 4. Se a data foi entendida, converta para o formato \"YYYY-MM-DD\"\nif (dataObjeto && dataObjeto.isValid) {\n  return dataObjeto.toISODate(); // Exemplo de saída: \"2025-05-04\"\n} else {\n  console.log(`Data inválida após tentativa de parsing: ${textoDaDataHoraOriginal}`);\n  return null; // Retorna null se a data não for válida\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,0],"id":"e209a0f5-64d3-4458-bd89-2d1403b7a57c","name":"Code"},{"parameters":{},"id":"1ac85365-5b73-4b67-94f1-f2e07694f67d","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1420,-860]},{"parameters":{"url":"https://dashboard.aivisual.ai/login","options":{}},"id":"4a355630-4e11-442d-9376-0e7b1a83e329","name":"1. Acessa Página de Login","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1200,-860]},{"parameters":{"url":"https://dashboard.aivisual.ai/login","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendHeaders":true,"headerParameters":{"parameters":[{}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"email","value":"bk@aiknow.ai"},{"name":"password","value":"nR}CMryIT,8/5!3i9"}]},"options":{}},"id":"a5907505-0b95-4983-960e-e4338cfad9e1","name":"2. Faz Login","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-980,-860],"credentials":{"httpBasicAuth":{"id":"K1huJ5peYj8rYMYm","name":"Unnamed credential 2"}}},{"parameters":{"url":"https://dashboard.aivisual.ai/admin/iots","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","options":{}},"id":"5c22dcf0-5200-4366-a368-158034d77c5b","name":"3. Lista Câmeras","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-760,-860],"credentials":{"httpBasicAuth":{"id":"K1huJ5peYj8rYMYm","name":"Unnamed credential 2"}}},{"parameters":{"functionCode":"// Extrai informações das câmeras do HTML\nconst html = $input.first().json.body;\nconst cameras = [];\n\n// Regex para encontrar câmeras\nconst regex = /data-cam-id=\"([^\"]+)\"[^>]*>([\\s\\S]*?)BK - ([^<\\n]+)/g;\nlet match;\n\nwhile ((match = regex.exec(html)) !== null) {\n  const camId = match[1];\n  const nomeCompleto = match[3].trim();\n  \n  // Determina tipo da câmera\n  let tipo = 'P1';\n  if (nomeCompleto.includes('_P2') || nomeCompleto.includes(' P2')) tipo = 'P2';\n  else if (nomeCompleto.includes('_P3') || nomeCompleto.includes(' P3')) tipo = 'P3';\n  \n  // Extrai nome da loja\n  let nomeLoja = nomeCompleto.replace('BK - ', '');\n  nomeLoja = nomeLoja.replace(/_P[123]$/, '');\n  \n  // Nome da pasta (sem espaços/caracteres especiais)\n  const nomePasta = nomeLoja\n    .replace(/ - /g, '_')\n    .replace(/ /g, '_')\n    .replace(/[^a-zA-Z0-9_-]/g, '');\n    \n  cameras.push({\n    id: camId,\n    nome: nomeCompleto,\n    tipo: tipo,\n    loja_nome: nomeLoja,\n    loja_pasta: nomePasta,\n    tentativas: 0,\n    sucesso: false\n  });\n}\n\nconsole.log(`Encontradas ${cameras.length} câmeras`);\n\nreturn cameras.map(camera => ({\n  json: camera\n}));"},"id":"a4e6c186-99fd-4549-934c-181ab337f0f1","name":"4. Extrai Lista de Câmeras","type":"n8n-nodes-base.function","typeVersion":1,"position":[-540,-860]},{"parameters":{"options":{}},"id":"5c955066-23b1-4806-b2dd-3c24c5260a8e","name":"5. Processa Uma por Vez","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-320,-860]},{"parameters":{"url":"=https://dashboard.aivisual.ai/admin/get/iots/getLastImage?iot={{$json.id}}","options":{"timeout":30000}},"id":"469e91c2-ea44-46d2-9477-b60183950ee1","name":"6. Baixa Imagem da Câmera","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-40,-880]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"1","leftValue":"={{$json.image}}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bd6ea168-e99a-48cc-9880-bf4a2a3dd624","name":"7. Verifica se Imagem Existe","type":"n8n-nodes-base.if","typeVersion":2,"position":[120,-860]},{"parameters":{"functionCode":"// Converte Base64 para binário e salva\nconst camera = $('5. Processa Uma por Vez').item.json;\nconst imageData = $json.image;\n\nif (!imageData || !imageData.startsWith('data:image/')) {\n  throw new Error('Imagem inválida');\n}\n\n// Remove header do base64\nconst base64Data = imageData.split(',')[1];\nconst buffer = Buffer.from(base64Data, 'base64');\n\n// Nome do arquivo\nconst agora = new Date().toISOString().replace(/[:.]/g, '-').slice(0, 19);\nconst nomeArquivo = `${camera.tipo}_${camera.loja_pasta}_${agora}.jpg`;\nconst caminhoCompleto = `cameras/${camera.loja_pasta}/${nomeArquivo}`;\n\nreturn {\n  json: {\n    ...camera,\n    imagem_buffer: buffer,\n    nome_arquivo: nomeArquivo,\n    caminho_completo: caminhoCompleto,\n    tamanho: buffer.length,\n    sucesso: true\n  }\n};"},"id":"1f66af31-6e68-4980-88f6-3a538b9e9cbe","name":"8. Processa Imagem","type":"n8n-nodes-base.function","typeVersion":1,"position":[340,-1040]},{"parameters":{"functionCode":"// Sistema de Retry\nconst camera = $('5. Processa Uma por Vez').item.json;\nconst maxTentativas = 3;\n\n// Incrementa tentativas\ncamera.tentativas = (camera.tentativas || 0) + 1;\n\nif (camera.tentativas < maxTentativas) {\n  console.log(`Tentativa ${camera.tentativas + 1} para ${camera.loja_nome}`);\n  \n  // Delay progressivo\n  const delay = camera.tentativas * 2000; // 2s, 4s, 6s\n  \n  return {\n    json: {\n      ...camera,\n      retry: true,\n      delay: delay\n    }\n  };\n} else {\n  console.log(`Falha definitiva após ${maxTentativas} tentativas: ${camera.loja_nome}`);\n  \n  return {\n    json: {\n      ...camera,\n      retry: false,\n      falha_definitiva: true\n    }\n  };\n}"},"id":"962f8467-7aca-4ef3-b683-30f2579584c7","name":"10. Sistema de Retry","type":"n8n-nodes-base.function","typeVersion":1,"position":[340,-760]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"1","leftValue":"={{$json.retry}}","rightValue":true,"operator":{"type":"boolean","operation":"equal"}}],"combinator":"and"},"options":{}},"id":"a386589f-fa77-4e5a-8196-b870a9afa74a","name":"11. Deve Tentar Novamente?","type":"n8n-nodes-base.if","typeVersion":2,"position":[560,-780]},{"parameters":{"amount":"={{$json.delay}}","unit":"ms"},"id":"8688f1b9-b0ee-4b5d-87f3-4cc07beb2fa2","name":"12. Delay Progressivo","type":"n8n-nodes-base.wait","typeVersion":1,"position":[840,-660],"webhookId":"c8a49e6f-222d-409a-98e4-777f259384bd"},{"parameters":{"functionCode":"// Coleta estatísticas finais\nconst items = $input.all();\n\nconst stats = {\n  total: items.length,\n  sucessos: items.filter(item => item.json.sucesso).length,\n  falhas: items.filter(item => item.json.falha_definitiva).length,\n  primeira_tentativa: items.filter(item => item.json.sucesso && item.json.tentativas <= 1).length,\n  com_retry: items.filter(item => item.json.sucesso && item.json.tentativas > 1).length\n};\n\nstats.taxa_sucesso = ((stats.sucessos / stats.total) * 100).toFixed(1);\n\n// Agrupa por loja\nconst lojas = {};\nitems.forEach(item => {\n  const loja = item.json.loja_nome;\n  if (!lojas[loja]) lojas[loja] = { sucessos: 0, falhas: 0 };\n  \n  if (item.json.sucesso) {\n    lojas[loja].sucessos++;\n  } else if (item.json.falha_definitiva) {\n    lojas[loja].falhas++;\n  }\n});\n\nconst relatorio = {\n  timestamp: new Date().toISOString(),\n  estatisticas: stats,\n  lojas: lojas,\n  cameras_com_sucesso: items.filter(item => item.json.sucesso).map(item => ({\n    loja: item.json.loja_nome,\n    tipo: item.json.tipo,\n    arquivo: item.json.nome_arquivo,\n    tamanho: item.json.tamanho,\n    tentativas: item.json.tentativas\n  })),\n  cameras_com_falha: items.filter(item => item.json.falha_definitiva).map(item => ({\n    loja: item.json.loja_nome,\n    tipo: item.json.tipo,\n    tentativas: item.json.tentativas\n  }))\n};\n\nconsole.log('='.repeat(60));\nconsole.log('📊 RELATÓRIO FINAL N8N');\nconsole.log('='.repeat(60));\nconsole.log(`🎯 Total: ${stats.total}`);\nconsole.log(`✅ Sucessos: ${stats.sucessos}`);\nconsole.log(`   • 1ª tentativa: ${stats.primeira_tentativa}`);\nconsole.log(`   • Com retry: ${stats.com_retry}`);\nconsole.log(`❌ Falhas: ${stats.falhas}`);\nconsole.log(`📈 Taxa: ${stats.taxa_sucesso}%`);\n\nif (stats.com_retry > 0) {\n  console.log(`🎉 RETRY salvou ${stats.com_retry} câmeras!`);\n}\n\nreturn {\n  json: relatorio\n};"},"id":"ae2e4fab-4da8-4062-b1d6-48a5b1320ee7","name":"13. Relatório Final","type":"n8n-nodes-base.function","typeVersion":1,"position":[1000,-960]}],"connections":{"Schedule Trigger":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Code","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Code":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Manual Trigger":{"main":[[{"node":"1. Acessa Página de Login","type":"main","index":0}]]},"1. Acessa Página de Login":{"main":[[{"node":"2. Faz Login","type":"main","index":0}]]},"2. Faz Login":{"main":[[{"node":"3. Lista Câmeras","type":"main","index":0}]]},"3. Lista Câmeras":{"main":[[{"node":"4. Extrai Lista de Câmeras","type":"main","index":0}]]},"4. Extrai Lista de Câmeras":{"main":[[{"node":"5. Processa Uma por Vez","type":"main","index":0}]]},"5. Processa Uma por Vez":{"main":[[{"node":"6. Baixa Imagem da Câmera","type":"main","index":0}]]},"6. Baixa Imagem da Câmera":{"main":[[{"node":"7. Verifica se Imagem Existe","type":"main","index":0}]]},"7. Verifica se Imagem Existe":{"main":[[{"node":"8. Processa Imagem","type":"main","index":0}],[{"node":"10. Sistema de Retry","type":"main","index":0}]]},"10. Sistema de Retry":{"main":[[{"node":"11. Deve Tentar Novamente?","type":"main","index":0}]]},"11. Deve Tentar Novamente?":{"main":[[{"node":"12. Delay Progressivo","type":"main","index":0}],[{"node":"13. Relatório Final","type":"main","index":0}]]},"12. Delay Progressivo":{"main":[[{"node":"6. Baixa Imagem da Câmera","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"566e5480-bca2-4c24-9f07-c0cfd0f32f58","triggerCount":0,"shared":[{"createdAt":"2025-05-07T02:20:07.675Z","updatedAt":"2025-05-07T02:20:07.675Z","role":"workflow:owner","workflowId":"qkEYYy1azPgv6ynO","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}