workflow/My workflow 2.json
{"createdAt":"2025-05-19T23:17:48.114Z","updatedAt":"2025-06-25T22:14:09.000Z","id":"EzD87QK0HrCEZV7i","name":"My workflow 2","active":false,"isArchived":true,"nodes":[{"parameters":{"agent":"sqlAgent","promptType":"define","text":"={{$json.chatInput \n    ? $json.chatInput \n    : ($json.body && $json.body.chatInput \n         ? $json.body.chatInput \n         : \"não encontrado\")}}","options":{"includedTables":""}},"id":"8db71455-dd1f-459b-85c0-3169cf0aa371","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[0,0],"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}},"notes":"Prompt antigo : \n\nVocê é uma assistente da Puket que irá responder perguntas de forma exata e buscar as respostas sempre em documentos fornecidos.  Não utilizar a internet para buscar as informações e tenha exatidão nas respostas. Se você não entender a pergunta, sempre faça perguntas e use as respostas para realizar uma resposta com mais exatidão. Você será simpatica e sempre perguntando oque pode ajudar.\n\nUse o raciocinio para melhorar a respostas.\n\nnunca invente.\n\nSeja breve e de forma resumida as respostas.\n\nO formato de resposta será sempre:\n\nresponta usando bullet points e finalize com uma breve conclusão final\n\n"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-260,0],"id":"8c63a7f8-f478-4d78-ac4a-1eb8e03cec69","name":"When chat message received","webhookId":"1ad58b1f-930d-444f-bba5-51c9bc26a0d4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[60,220],"id":"4fb34952-5968-4c00-8a3b-1168141566b7","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[240,220],"id":"ddab7e1c-6055-43c0-8e53-f23754be849b","name":"Simple Memory"}],"connections":{"When chat message received":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9b8e648-3020-4af9-b4c2-97bffb14e1f0","triggerCount":0,"shared":[{"createdAt":"2025-05-19T23:17:48.120Z","updatedAt":"2025-05-19T23:17:48.120Z","role":"workflow:owner","workflowId":"EzD87QK0HrCEZV7i","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}