workflow/Only telegram.json
{"createdAt":"2025-05-14T00:32:19.134Z","updatedAt":"2025-05-27T23:45:26.000Z","id":"tEZtXyjhoPU61lVh","name":"Only telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1000,160],"id":"a860aecb-7888-4fdf-9d8e-719be0203a5a","name":"Telegram Trigger","webhookId":"f0164b6d-9b9c-418e-bd6a-c6f479dad1e5"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.document.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"file"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8cdc1f9b-4e87-4f1c-8054-ce1b7cf8bdfc","leftValue":"={{ $json.message.photo[$json.message.photo.length -1].file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f7f1109e-7d51-4fa6-b303-a05115926f8d","leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2977d954-ce94-45e0-a299-0cce247fc4e8","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-740,140],"id":"88d5d2c3-318d-4940-9668-7af15a70311b","name":"Switch"},{"parameters":{"content":"File Message handler ( Falta ajustes )","height":200,"width":1020},"type":"n8n-nodes-base.stickyNote","position":[-300,-140],"typeVersion":1,"id":"b811fba0-5494-47dd-aa49-edc9b3ca6299","name":"Sticky Note"},{"parameters":{"content":"Voice message Handler Funcionando","height":200,"width":1020,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-300,300],"typeVersion":1,"id":"8f9d3f99-39e6-4bb7-a910-4618707cbae4","name":"Sticky Note2"},{"parameters":{"content":"Text message Handler Funcionando","height":200,"width":1020,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-300,520],"typeVersion":1,"id":"aa2d453e-68b0-4fc1-afbb-f1f6583a8ad1","name":"Sticky Note3"},{"parameters":{"jsCode":"const caption = $('Telegram Trigger').first().json.message.caption;\nconst image_content = $input.first().json.output;\n\nreturn {\n  message : `Please asnwer user question: \"${caption}\" with following image description: ${image_content}`\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[520,-100],"id":"cff507aa-03ea-43f9-a04f-45a8988ead1d","name":"file transform","disabled":true},{"parameters":{"jsCode":"return {\n  message : $input.first().json.text\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,340],"id":"0afaab1b-a4ce-41c5-85da-b7d76707cd65","name":"audio transform"},{"parameters":{"jsCode":"const caption = $('Telegram Trigger').first().json.message.caption;\nconst image_content = $input.first().json.output;\n\nreturn {\n  message : `Please asnwer user question: \"${caption}\" with following image description: ${image_content}`\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[100,120],"id":"9fd21024-b31e-4e7a-8313-aa69e548aa53","name":"image transform","disabled":true},{"parameters":{"jsCode":"return {\n  message : $input.first().json.message.text\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-280,560],"id":"fb604d8d-5df6-4771-bb39-b277fc65cf9e","name":"text transform"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d401878c-818c-429b-8046-00b2fca5d613","leftValue":"={{ $('Telegram Trigger').item.json?.message?.voice?.file_id }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1540,360],"id":"fe6a900f-15c7-473d-ad8d-8792eedc6e17","name":"Is voice OUT"},{"parameters":{"resource":"audio","input":"={{ $json.output }}","voice":"nova","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1760,260],"id":"71aa9261-83fc-4560-b11a-e4d421655e26","name":"Generate Sound"},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","binaryData":true,"additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1980,360],"id":"7c2bb593-d716-4b7f-a548-33a568e24e1e","name":"Telegram output audio","webhookId":"895d01a7-148b-431f-bc59-3694b908d4e2","credentials":{"telegramApi":{"id":"RzoKovQ8WXqenj34","name":"Telegram bk_informations"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,460],"id":"74aea3c5-1065-4244-8b50-668bc9184119","name":"Telegram","webhookId":"3f84fc16-6a0c-487a-b388-fe8d43aa96db"},{"parameters":{"documentId":{"__rl":true,"value":"16yUVGaAiD16ouZ8cUewYpp0jd6n-8E5N7nSWZna_jck","mode":"list","cachedResultName":"stores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16yUVGaAiD16ouZ8cUewYpp0jd6n-8E5N7nSWZna_jck/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/16yUVGaAiD16ouZ8cUewYpp0jd6n-8E5N7nSWZna_jck/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1440,700],"id":"09c29da5-9615-42cc-9725-502d20c84652","name":"tool_lojas"},{"parameters":{"promptType":"define","text":"=You are a helpful assistant, you have a Reasoner that provide powerful reasoning LLM model that can assist you one decision making or deep researching.\n\nYou also have following tools:\n1- when the user ask you about store tickets, use this tool tool_chamados to search the information about. \n2- when the user ask about stores details, use thios tool tool_lojas to search details of store, like contact, BKN and more.\n\n\nOutput short answers only. Talk like a human.\n\nTry to return the original content from this tool for if you calling it.\n\nMore information:\nToday is {{ $now }}\nMy name is {{ $('Telegram Trigger').item.json.message.from.first_name }}\nAlways response in Portuguese Brazil.\n\n{{ $json.message }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1180,360],"id":"a7f1e939-a122-4975-8998-b7e8e9a96902","name":"mark_02"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1100,700],"id":"4bf070cf-4716-4340-9036-366d38a2bd7a","name":"gpt_4_o_mini"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-20,340],"id":"8e115c53-ca09-4e75-ab29-8fd871a17470","name":"make transcription"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"={{ $json.message.caption }}","inputType":"base64","binaryPropertyName":"=data","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-120,120],"id":"21dc90c5-73b3-4a8c-9808-37e3e6488ac8","name":"Analyze image","disabled":true},{"parameters":{"resource":"file","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-280,-100],"id":"c6c6af50-6c27-4cc2-bb4c-b15cd5bcb442","name":"Update file","disabled":true},{"parameters":{"resource":"assistant","operation":"create","modelId":{"__rl":true,"value":"o1-mini","mode":"list","cachedResultName":"O1-MINI"},"name":"File assistant","instructions":"You are a file assistant and will answer user question","knowledgeRetrieval":true,"file_ids":"={{ $json.id }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-60,-100],"id":"2246e1f0-9b9d-4751-87d0-31a8a1d10a7c","name":"Create assistant","disabled":true},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"prompt":"define","text":"=Describe all the information of the file and try to get the information for following use question: {{ $('Telegram Trigger').first().json.message.caption }} and we can pass to another agent to handle the task.","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,-100],"id":"a5d617af-fe83-4b5d-b2f2-93360cb66809","name":"Message assistant","disabled":true},{"parameters":{"resource":"file","fileId":"={{ $('Telegram Trigger').item.json.message.voice.file_id }}"},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-280,340],"id":"c4d4f723-84dd-4c87-b0f5-8e640842a804","name":"get file","webhookId":"566d094f-4656-4826-9f40-7f9d8c80b41b"},{"parameters":{"documentId":{"__rl":true,"value":"17KKa4jdJeZ2tarLi1AmdSMOOV2oMgDhj7ImZoqIl7yc","mode":"list","cachedResultName":"banco_01","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KKa4jdJeZ2tarLi1AmdSMOOV2oMgDhj7ImZoqIl7yc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":648498734,"mode":"list","cachedResultName":"Respostas ao formulário 2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/17KKa4jdJeZ2tarLi1AmdSMOOV2oMgDhj7ImZoqIl7yc/edit#gid=648498734"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"G:G"}}}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.5,"position":[1420,780],"id":"8af6bdcf-1a0b-4b58-9cc9-daa849b2da44","name":"tool_chamados"},{"parameters":{"url":"https://api.telegram.org/bot7089791253:YOUR_TELEGRAM_BOT_TOKEN/getFile?file_id=<YOUR_FILE_ID>","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-300,120],"id":"b115eac8-419e-4150-b110-adcafaf22350","name":"HTTP Request","disabled":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.message_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1220,700],"id":"347fb6ab-ad6f-4858-baf6-36348fc5f345","name":"Postgres Chat Memory"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Update file","type":"main","index":0}],[],[{"node":"get file","type":"main","index":0}],[{"node":"text transform","type":"main","index":0}]]},"audio transform":{"main":[[{"node":"mark_02","type":"main","index":0}]]},"text transform":{"main":[[{"node":"mark_02","type":"main","index":0}]]},"Is voice OUT":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Generate Sound","type":"main","index":0}]]},"Generate Sound":{"main":[[{"node":"Telegram output audio","type":"main","index":0}]]},"tool_lojas":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"mark_02":{"main":[[{"node":"Is voice OUT","type":"main","index":0}]]},"gpt_4_o_mini":{"ai_languageModel":[[{"node":"mark_02","type":"ai_languageModel","index":0}]]},"make transcription":{"main":[[{"node":"audio transform","type":"main","index":0}]]},"Analyze image":{"main":[[{"node":"image transform","type":"main","index":0}]]},"Update file":{"main":[[{"node":"Create assistant","type":"main","index":0}]]},"Create assistant":{"main":[[{"node":"Message assistant","type":"main","index":0}]]},"Message assistant":{"main":[[{"node":"file transform","type":"main","index":0}]]},"get file":{"main":[[{"node":"make transcription","type":"main","index":0}]]},"tool_chamados":{"ai_tool":[[{"node":"mark_02","type":"ai_tool","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"mark_02","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"Telegram Trigger":[{"json":{"update_id":712499536,"message":{"message_id":74,"from":{"id":7099186136,"is_bot":false,"first_name":"Marcelo","last_name":"Silva","username":"marksilva91","language_code":"pt-br"},"chat":{"id":7099186136,"first_name":"Marcelo","last_name":"Silva","username":"marksilva91","type":"private"},"date":1741318503,"text":"Oi"}}}]},"versionId":"e6542cea-345a-4e76-9522-65fcf298c736","triggerCount":0,"shared":[{"createdAt":"2025-05-14T00:32:19.140Z","updatedAt":"2025-05-14T00:32:19.140Z","role":"workflow:owner","workflowId":"tEZtXyjhoPU61lVh","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}