workflow/Receber email e extrair informações.json
{"createdAt":"2025-05-14T00:26:55.035Z","updatedAt":"2025-05-14T00:26:55.000Z","id":"ryAQZb8eRNDEXJ6j","name":"Receber email e extrair informações","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"includeSpamTrash":true,"labelIds":["Label_5894044817186978036"]},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[80,100],"id":"7f463d41-218b-4a21-a99d-e9f7c295ead7","name":"Gmail Trigger","disabled":true},{"parameters":{"promptType":"define","text":"=Summarize this email in portuguese Brazil, in a few sentences: {{ $json.Body }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[560,100],"id":"8c6c4544-b1d2-44c7-b097-654b5302d7ee","name":"AI Agent","notes":"Você é um agente de email, você deve analizar o email que você receber e mandar uma mensagem com o resumo do email em bullet points.\n\nMeu nome é {{ $json.Name }}\n\nApenas para informação, a data é {{ $now }}\n\nQuem mandou o email : {{ $json.Sender }}\n\nO assunto do email : {{ $json.subject}}\n\no conteudo do email é : {{ $json.Body }}\n\n(exemplo de email :)\n\nVocê recebeu email de teste@teste.com referente ao assunto \"teste\" com o conteudo :\n\nAqui vai um teste\n"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[740,380],"id":"9d519613-a386-41d1-980b-d8e2b298db7d","name":"Window Buffer Memory"},{"parameters":{"chatId":"7099186136","text":"=📩 **New Email Summary**\n**Subject:** {{$('Get Fields').item.json.Sender}} \n**Summary:** {{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[940,100],"id":"b01ecba4-54b8-4a1c-8a4e-5f991a29eea1","name":"Telegram","webhookId":"c973c217-60b2-495b-b278-552ca5101e2b"},{"parameters":{"content":"Primeira **etapa** : Pegar um e-mail novo de tempos em tempos e sumariza atraves do AI Agent e envia o resumo por e-mail","height":520,"width":1200},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"a8307d39-071a-4dd5-bed9-b0c453549831","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=Summarize the email body in few sentences: {{ $('Merge').item.json.email_body }}\n\nSummarize the email attachment in Portuguese Brazil, in a few sentences too: {{ $('Merge').item.json.text }}\n\n\nSender : {{ $('Merge').item.json.email_sender }}\nSubject : {{ $('Merge').item.json.email_subject }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[740,700],"id":"dad831f1-d0c0-4da5-97fd-f9f1b5829c62","name":"AI Agent1","notes":"Você é um agente de email, você deve analizar o email que você receber e mandar uma mensagem com o resumo do email em bullet points.\n\nMeu nome é {{ $json.Name }}\n\nApenas para informação, a data é {{ $now }}\n\nQuem mandou o email : {{ $json.Sender }}\n\nO assunto do email : {{ $json.subject}}\n\no conteudo do email é : {{ $json.Body }}\n\n(exemplo de email :)\n\nVocê recebeu email de teste@teste.com referente ao assunto \"teste\" com o conteudo :\n\nAqui vai um teste\n"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[700,900],"id":"8f817a80-8dd7-4d5d-a350-eb649d4a4647","name":"OpenAI Chat Model1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Gmail fetch').item.json.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[860,900],"id":"17883cc1-9605-495e-8159-9efe1d47a7b8","name":"Window Buffer Memory1"},{"parameters":{"chatId":"7099186136","text":"=📩 **New Email Summary**\n*Subject:* {{ $('Merge').item.json.email_subject }} \n*Summary email:* \n{{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,700],"id":"22491d59-2ea3-44c0-b9f0-987afd0baa37","name":"Telegram1","webhookId":"c973c217-60b2-495b-b278-552ca5101e2b"},{"parameters":{"content":"Segunda **etapa** : Pegar um anexo do e-mail, fazer um download, extrair as informações, manipular os dados, tratar com IA e enviar para o telegram no formato escolhido.","height":600,"width":1300},"type":"n8n-nodes-base.stickyNote","position":[0,560],"typeVersion":1,"id":"7c644e61-cd9d-4a86-b9b3-3b9b310dae9d","name":"Sticky Note1"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"maxTokens":200,"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[520,380],"id":"ca92acfa-a8b5-4564-ad06-74b4c73a40fe","name":"gpt-4o Max token 200"},{"parameters":{"assignments":{"assignments":[{"id":"5bc3d1aa-6d46-49de-9978-799563a5d736","name":"Sender","value":"={{ $json.from.value[0].address }}","type":"string"},{"id":"bc30e4c4-7468-4bc9-862f-0f7d754d638b","name":"subject","value":"={{ $json.subject }}","type":"string"},{"id":"1f80909a-25a4-4268-b68d-489f1bf3972f","name":"Body","value":"={{ $json.text }}","type":"string"},{"id":"c96a7f37-0af2-4d99-99a3-fa58f10a1bd3","name":"Id","value":"={{ $json.id }}","type":"string"},{"id":"c1b5644b-c5b5-40b9-b4ba-355fd088be33","name":"Name","value":"={{ $json.to.value[0].name}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[340,100],"id":"568b610d-81f9-4c0e-bdff-6c2c8fce8c70","name":"Get Fields"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[520,700],"id":"a0e3be1c-dcbc-49bf-a46f-081c4b80ba2c","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"5bc3d1aa-6d46-49de-9978-799563a5d736","name":"email_sender","value":"={{ $json[\"from\"][\"value\"][0][\"address\"] }}\n","type":"string"},{"id":"bc30e4c4-7468-4bc9-862f-0f7d754d638b","name":"email_subject","value":"={{ $json['subject'] }}","type":"string"},{"id":"1f80909a-25a4-4268-b68d-489f1bf3972f","name":"email_body","value":"={{ $json.text }}","type":"string"},{"id":"c96a7f37-0af2-4d99-99a3-fa58f10a1bd3","name":"email_id","value":"={{ $json.id }}","type":"string"},{"id":"c1b5644b-c5b5-40b9-b4ba-355fd088be33","name":"email_name","value":"={{ $json.to.value[0].name}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[280,780],"id":"8dcbd7ca-c3a5-42a9-b91f-02a5a910648d","name":"Get email information"},{"parameters":{"operation":"pdf","binaryPropertyName":"attachment_1","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[280,620],"id":"aab2ea8c-4b33-4f2d-9100-d4bb6f658967","name":"Extract PDF"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"includeSpamTrash":true,"labelIds":["Label_5894044817186978036"]},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[40,700],"id":"4029b650-e16b-4f89-98cf-5d273bf5ea33","name":"Gmail fetch","disabled":true},{"parameters":{"promptType":"define","text":"=You are processing form data from a health plan registration. Format it neatly:\n\nForm Data Extracted:\n*Name*: {{ $('Information Extractor').item.json.output.Nome }}\n*CPF*: {{ $('Information Extractor').item.json.output.CPF }}\n*Address*: {{ $('Information Extractor').item.json.output.Endereço }}\n*Date of Birth*: {{ $('Information Extractor').item.json.output['Data de nascimento'] }}\n*Email* : {{ $('Information Extractor').item.json.output.Email }}\n\nFormat Date of Birth in Day/month/Year\nFormat CPF in 123.456.789-00\n\nFormat this fields in bold with one * in begin word and * in the end of word (e.g, *test*): Name, CPF, Address, Date of Birth and Email. \n\nReturn a structured, well-formatted summary.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[960,1520],"id":"d329432a-dd07-4f8e-b32a-258e3ae4a249","name":"AI Agent2","notes":"Você é um agente de email, você deve analizar o email que você receber e mandar uma mensagem com o resumo do email em bullet points.\n\nMeu nome é {{ $json.Name }}\n\nApenas para informação, a data é {{ $now }}\n\nQuem mandou o email : {{ $json.Sender }}\n\nO assunto do email : {{ $json.subject}}\n\no conteudo do email é : {{ $json.Body }}\n\n(exemplo de email :)\n\nVocê recebeu email de teste@teste.com referente ao assunto \"teste\" com o conteudo :\n\nAqui vai um teste\n"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Gmail fetch1').item.json.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1080,1740],"id":"503be703-b6db-4931-acd5-435f4f6895af","name":"Window Buffer Memory2"},{"parameters":{"chatId":"7099186136","text":"=📩 **New Email Summary**\n*Subject:* {{ $('Merge1').item.json.email_subject }} \n*Summary email:* \n{{ $json.output }}\n\nSender : {{ $('Merge1').item.json.email_sender }}\n","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1400,1400],"id":"463d4dfd-b9b8-4baf-afbf-655ebf8b6c94","name":"Telegram2","webhookId":"c973c217-60b2-495b-b278-552ca5101e2b"},{"parameters":{"content":"Terceira **etapa** : Pegar um anexo do e-mail, seja zip ou PDF, fazer o download, extrair o zip, se for PDF, manipular ele com ajuda da IA e mandar as informações de cadastro para o telegram.","height":680,"width":1600},"type":"n8n-nodes-base.stickyNote","position":[0,1200],"typeVersion":1,"id":"ba96241a-ba5c-447f-9fc0-08f2e967b1be","name":"Sticky Note2"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[440,1520],"id":"063a2665-d041-4b5a-877e-80cd799e4ac3","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"5bc3d1aa-6d46-49de-9978-799563a5d736","name":"email_sender","value":"={{ $json[\"from\"][\"value\"][0][\"address\"] }}\n","type":"string"},{"id":"bc30e4c4-7468-4bc9-862f-0f7d754d638b","name":"email_subject","value":"={{ $json['subject'] }}","type":"string"},{"id":"1f80909a-25a4-4268-b68d-489f1bf3972f","name":"email_body","value":"={{ $json.text }}","type":"string"},{"id":"c96a7f37-0af2-4d99-99a3-fa58f10a1bd3","name":"email_id","value":"={{ $json.id }}","type":"string"},{"id":"c1b5644b-c5b5-40b9-b4ba-355fd088be33","name":"email_name","value":"={{ $json.to.value[0].name}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[220,1540],"id":"9fa1fd12-38c4-4e30-83e4-22da8b89af57","name":"Get email information1"},{"parameters":{"operation":"pdf","binaryPropertyName":"=attachment_1","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,1260],"id":"c1824884-9a8b-483a-be26-702699a69a71","name":"Extract PDF1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"includeSpamTrash":true,"labelIds":["Label_5894044817186978036"]},"options":{"downloadAttachments":true}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[40,1340],"id":"5ee57915-9e15-4b85-ab94-1b4559b5bc71","name":"Gmail fetch1"},{"parameters":{"binaryPropertyName":"attachment_0"},"type":"n8n-nodes-base.compression","typeVersion":1.1,"position":[400,1260],"id":"12188d0b-63cb-4950-9367-2e453b4db1b9","name":"Unzip1"},{"parameters":{"operation":"pdf","binaryPropertyName":"=file_0","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[600,1260],"id":"3fd07d29-c020-4bb8-882d-774e71bf37ea","name":"Extract Zip1"},{"parameters":{"text":"={{ $json.text }}","attributes":{"attributes":[{"name":"Nome","description":"Nome da pessoa"},{"name":"Data de nascimento","type":"date","description":"Data de nascimento"},{"name":"CPF","type":"number","description":"CPF"},{"name":"RG","type":"number","description":"RG"},{"name":"Endereço","description":"Endereço da pessoa"},{"name":"Telefone","type":"number","description":"Telefone de contato"},{"name":"Email","description":"Email da pessoa"},{"name":"Profissão","description":"Dados da Profissão "}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1,"position":[820,1260],"id":"0626dc21-dd43-407d-a3e7-62dd2725ad1d","name":"Information Extractor"},{"parameters":{"model":{"__rl":true,"value":"gpt-3.5-turbo","mode":"list","cachedResultName":"gpt-3.5-turbo"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[740,1740],"id":"53f545fa-34f2-4c81-864d-4b9327985c21","name":"Extrator AI"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"temperature":0.6}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[880,1780],"id":"bfaed2cb-0eba-4b06-9be8-ddd9c1a1ab42","name":"Agent"},{"parameters":{"model":"phi4:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1040,1820],"id":"0307d8e7-dfac-44c6-a17d-2201951b9c9a","name":"Phi4:14b"},{"parameters":{"model":"qwen2.5:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[820,1460],"id":"674b073f-a73b-465b-9d95-e169c9054dd1","name":"Deepseek-r1:7b"},{"parameters":{"sendTo":"marcelo@aiknow.ai","subject":"={{ $('Merge1').item.json.email_subject }}","emailType":"text","message":"={{ $json.output }}","options":{"appendAttribution":false,"senderName":"={{ $('Merge1').item.json.email_sender }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1400,1720],"id":"cce0f189-7e41-471c-88d2-adb8411d3426","name":"Gmail","webhookId":"41d10e65-c8e0-43b8-bb45-9b9cd406f9a8"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Get Fields","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent1":{"main":[[{"node":"Telegram1","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Window Buffer Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"gpt-4o Max token 200":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Get email information":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Extract PDF":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Gmail fetch":{"main":[[{"node":"Extract PDF","type":"main","index":0},{"node":"Get email information","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Telegram2","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]},"Window Buffer Memory2":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"Merge1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Get email information1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Extract PDF1":{"main":[[{"node":"Unzip1","type":"main","index":0}]]},"Gmail fetch1":{"main":[[{"node":"Extract PDF1","type":"main","index":0},{"node":"Get email information1","type":"main","index":0}]]},"Unzip1":{"main":[[{"node":"Extract Zip1","type":"main","index":0}]]},"Extract Zip1":{"main":[[{"node":"Information Extractor","type":"main","index":0}]]},"Information Extractor":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Phi4:14b":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Deepseek-r1:7b":{"ai_languageModel":[[{"node":"Information Extractor","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b27ff25d-b3b9-490c-8433-21fc86e6c81e","triggerCount":0,"shared":[{"createdAt":"2025-05-14T00:26:55.042Z","updatedAt":"2025-05-14T00:26:55.042Z","role":"workflow:owner","workflowId":"ryAQZb8eRNDEXJ6j","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}