workflow/Renegociação AlphavilleOLD.json
{"createdAt":"2025-06-25T20:56:27.164Z","updatedAt":"2025-06-25T22:03:48.000Z","id":"IZPLOdmwUtcNt4N6","name":"Renegociação AlphavilleOLD","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.Messagem }}","options":{"systemMessage":"use apenas a ferramenta cnpj para consultar informações de empresas, use apenas números.\n\nex: 12345678901234 \n\nSolicite ao usuário assim que ele se apresentar."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-40,20],"id":"9d08d822-2ca7-4a63-8f86-c6d9c422583b","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.From }}","tableName":"n8n_chat_histories_evolution_api"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[40,240],"id":"efdb1801-b47d-4f37-8c3e-fa86adde02ff","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"resource":"chat-api","operation":"read-messages","instanceName":"={{ $('Config global').item.json.Instance }}","remoteJid":"={{ $('Config global').item.json.From }}","messageId":"={{ $('Config global').item.json.MensagemID }}"},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[320,20],"id":"8edc85d3-60c6-4f1a-845c-efc299298262","name":"Evolution API","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"resource":"messages-api","instanceName":"={{ $('Config global').item.json.Instance }}","remoteJid":"={{ $('Config global').item.json.From }}","messageText":"={{ $('AI Agent').item.json.output }}","options_message":{"delay":3000,"linkPreview":true}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[540,20],"id":"06a53b0e-8989-4f84-b7b0-e3f882ae37db","name":"Evolution API1","credentials":{"evolutionApi":{"id":"zd5KCuh7YSlvdXUI","name":"Evolution account"}}},{"parameters":{"description":"Use essa ferramenta para consultar informações de empresa baseado no CPNJ fornecido pelo user","workflowId":{"__rl":true,"value":"11NytkMR8Y2sLT2r","mode":"list","cachedResultName":"Tool consultar CNPJ"},"workflowInputs":{"mappingMode":"defineBelow","value":{"cnpj":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('cnpj', `consultar as informações da empresa através do cnpj`, 'string') }}"},"matchingColumns":["cnpj"],"schema":[{"id":"cnpj","displayName":"cnpj","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[220,240],"id":"b4a22a16-1240-44d3-89b3-0ee39ce29bdb","name":"consultar cnpj"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-120,240],"id":"b3a454c8-527f-4d54-a37b-148b9947569a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"httpMethod":"POST","path":"818fd419-0587-4a03-aba0-9308e7f6a9b4","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-520,20],"id":"4417abe7-dfac-4ffd-8b24-07f0dfe1a40f","name":"Webhook","webhookId":"818fd419-0587-4a03-aba0-9308e7f6a9b4"},{"parameters":{"assignments":{"assignments":[{"id":"ba7d73ef-64f6-489f-9320-4049d46a243f","name":"From","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"5cc96bb1-fae5-4e7a-954c-da055faa1f2d","name":"Instance","value":"={{ $json.body.instance }}","type":"string"},{"id":"f4235e57-d1f8-45a8-9fd5-215ada41451f","name":"Messagem","value":"={{ $json.body.data.message.conversation }}","type":"string"},{"id":"26e1ccef-5521-4820-b00a-45e34525d6c8","name":"MensagemID","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"1a9742e9-4040-4b02-a129-ec9e85b00e2d","name":"Name from","value":"={{ $json.body.data.pushName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-260,20],"id":"83c564ba-7b8a-4c5b-a3eb-6570580b1f87","name":"Config global"}],"connections":{"AI Agent":{"main":[[{"node":"Evolution API","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[]]},"Evolution API":{"main":[[{"node":"Evolution API1","type":"main","index":0}]]},"consultar cnpj":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"Config global","type":"main","index":0}]]},"Config global":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"60785d27-1d9e-4ba4-bd93-372c8d5ec155","triggerCount":1,"shared":[{"createdAt":"2025-06-25T20:56:27.170Z","updatedAt":"2025-06-25T20:56:27.170Z","role":"workflow:owner","workflowId":"IZPLOdmwUtcNt4N6","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-06-25T22:03:29.091Z","updatedAt":"2025-06-25T22:03:29.091Z","id":"dCrh2cwUv1EWGD64","name":"desativado"}]}