workflow/saiu - Grupo.json
{"createdAt":"2025-11-02T15:02:08.727Z","updatedAt":"2025-11-02T15:02:08.000Z","id":"Cyk0wewbrytPQxEi","name":"Mensagem pra quem entrou/saiu - Grupo","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"8bdab6f3-7048-4c55-9df7-73020c99f5b8","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[64,864],"disabled":true},{"parameters":{"url":"https://api.leonardocandiani.com.br/group/fetchAllGroups/Pessoal","sendQuery":true,"queryParameters":{"parameters":[{"name":"getParticipants","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"90B8BBFDF127-469A-B820-5BB3C8C4B4BF"}]},"options":{"redirect":{"redirect":{}}}},"id":"c468cc5b-d093-4321-b101-8c5e652ae865","name":"Find GroupId","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,864]},{"parameters":{"assignments":{"assignments":[{"id":"f169037f-43f7-4466-a6eb-2786b7c0f96f","name":"idGroupCerto","value":"120363372133487828@g.us","type":"string"},{"id":"b5712dd9-fe0b-4e52-9534-315df6ba380c","name":"idGroup","value":"={{ $json.body.data.id }}","type":"string"},{"id":"1dc4c12f-fe01-4986-8ed4-3fbacc2b65ab","name":"action","value":"={{ $json.body.data.action }}","type":"string"},{"id":"4ec21081-8ab8-435f-8b45-8f4fdac7b746","name":"user","value":"={{ $json.body.data.participants.toJsonString().replace('\"]','').replace('[\"','') }}","type":"string"}]},"options":{}},"id":"47984f61-9628-4c3b-8511-30cb86790953","name":"Formatar1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"333b4b68-9b2b-4014-927d-a8a7c8124a11","leftValue":"={{ $('Formatar1').item.json.idGroup }}","rightValue":"={{ $('Formatar1').item.json.idGroupCerto }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"83bdaacf-7445-41ad-964b-83bc70f59907","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[768,400]},{"parameters":{},"id":"86bdf856-81ff-4632-bf12-1822fcc81e06","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[960,480]},{"parameters":{},"id":"732b1187-1723-4b9c-9281-8075d625e91a","name":"Evolution API1","type":"n8n-nodes-evolution-api.httpBin","typeVersion":1,"position":[1632,400],"credentials":{}},{"parameters":{},"id":"f0bc2776-5a2b-4cb1-8f81-b22b2fbbfa4e","name":"Evolution API2","type":"n8n-nodes-evolution-api.httpBin","typeVersion":1,"position":[1632,208],"credentials":{}},{"parameters":{"assignments":{"assignments":[{"id":"aa23d7d5-8e97-46c1-b085-d15974caf102","name":"nomeGrupo","value":"={{ $json.subject }}","type":"string"}]},"options":{}},"id":"570b383e-bcfe-4457-af31-3b91ce9ab88d","name":"nomeGrupo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[960,304]},{"parameters":{"amount":15},"id":"baa2cb6b-d9fb-446f-a6a3-e34dccf40138","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1408,400],"webhookId":"144d2550-d839-4d82-b23f-66b735eee618"},{"parameters":{"amount":15},"id":"92829ce4-ee7a-4a3d-bbd2-4283efdee370","name":"Wait2","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1408,208],"webhookId":"144d2550-d839-4d82-b23f-66b735eee618"},{"parameters":{"url":"https://api.leonardocandiani.com.br/group/findGroupInfos/Pessoal","sendQuery":true,"queryParameters":{"parameters":[{"name":"groupJid","value":"={{ $('Formatar1').item.json.idGroup }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"90B8BBFDF127-469A-B820-5BB3C8C4B4BF"}]},"options":{"redirect":{"redirect":{}}}},"id":"5df8f40c-d82f-4562-9358-c424f3503b93","name":"getGroups","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,400]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Formatar1').item.json.action }}","rightValue":"remove","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Saiu"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5871275-cd1d-453b-bf34-a7da529cf580","leftValue":"={{ $('Formatar1').item.json.action }}","rightValue":"add","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Entrou"}]},"options":{}},"id":"8da7172d-e7eb-4e08-9001-3fd5a8231f2a","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1200,304]},{"parameters":{"content":"","height":700,"width":660,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1184,0],"typeVersion":1,"id":"88de4ec6-e25a-4bf8-8bf7-b104b16e5ae3","name":"Sticky Note"},{"parameters":{"httpMethod":"POST","path":"grupo","options":{}},"id":"aa4a2fdb-8bae-4c71-b69a-d44289ccb779","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,400],"webhookId":"aa32026c-a837-43db-9bea-a579c2058981"},{"parameters":{"content":"## Envio da mensagem.","height":100,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1200,32],"typeVersion":1,"id":"c9d4934e-f985-487c-bff9-18fc0ae9dc1c","name":"Sticky Note1"},{"parameters":{"content":"","height":580,"width":440,"color":6},"type":"n8n-nodes-base.stickyNote","position":[720,128],"typeVersion":1,"id":"927d9ef6-ef1c-4a5b-b374-4a35d80ea29a","name":"Sticky Note2"},{"parameters":{"content":"## Valida o Grupo.","height":80,"color":4},"type":"n8n-nodes-base.stickyNote","position":[752,144],"typeVersion":1,"id":"d7b8f63a-c5e4-4020-9e40-55cea9685fd4","name":"Sticky Note3"},{"parameters":{"content":"","height":580,"width":700,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,128],"typeVersion":1,"id":"8e6705c1-1477-42ff-9f5c-d589fe5f26a2","name":"Sticky Note4"},{"parameters":{"content":"## Recebe as informações e formata.","height":80,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","position":[32,144],"typeVersion":1,"id":"17b301ac-7d20-4f16-87b6-e40a9f2cccb6","name":"Sticky Note5"},{"parameters":{"content":"## Template - Leonardo Candiani de Lima.\n# [VÍDEO DESSE TEMPLATE](https://youtu.be/UpaZTKXXPTo) e [ENTRE NA COMUNIDADE](https://chat.whatsapp.com/F6AzmR5fIyWGV6yWiWclRI).","height":100,"width":1160},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"272f3bd6-63ff-4db6-a8cd-4f9ae49293e0","name":"Sticky Note6"},{"parameters":{"content":"","height":340,"width":700,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,720],"typeVersion":1,"id":"4b32d81e-133e-42ca-a3d6-a3450c184c84","name":"Sticky Note7"},{"parameters":{"content":"## Encontre o ID do Grupo\n- Selecione o trigger e tecle \"d\" para desativar e ativar.","height":80,"width":460,"color":4},"type":"n8n-nodes-base.stickyNote","position":[32,752],"typeVersion":1,"id":"de2fe13a-38c4-4933-800d-9d507dea2f40","name":"Sticky Note8"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Find GroupId","type":"main","index":0}]]},"Formatar1":{"main":[[{"node":"getGroups","type":"main","index":0}]]},"If1":{"main":[[{"node":"nomeGrupo","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"nomeGrupo":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"getGroups":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Formatar1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"626aa116-3b29-4eb2-836a-bea5a4a25fa0","triggerCount":0,"shared":[{"createdAt":"2025-11-02T15:02:08.732Z","updatedAt":"2025-11-02T15:02:08.732Z","role":"workflow:owner","workflowId":"Cyk0wewbrytPQxEi","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-02T14:29:49.353Z","updatedAt":"2025-11-02T14:29:49.353Z","id":"V0y7YKKb0kBhv9sN","name":"Youtube"},{"createdAt":"2025-11-02T14:59:15.358Z","updatedAt":"2025-11-02T14:59:15.358Z","id":"qqctfTHOBCMAVopV","name":"LeonardoCandiani"}]}