workflow/Self Learning Telegram.json
{"createdAt":"2025-05-14T00:16:25.246Z","updatedAt":"2025-05-27T23:46:22.000Z","id":"aDLgmjFhz9CLty9w","name":"Self Learning Telegram","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-1740,-20],"id":"66e6a020-b400-4a43-a754-ec39616874b3","name":"Telegram Trigger","webhookId":"967bbedf-0e81-47c0-8016-4ea5d3ebdfe8","credentials":{"telegramApi":{"id":"RzoKovQ8WXqenj34","name":"Telegram bk_informations"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appvyMBRd4qMxHRSZ","mode":"list","cachedResultName":"Agent Memory","cachedResultUrl":"https://airtable.com/appvyMBRd4qMxHRSZ"},"table":{"__rl":true,"value":"tblA6BYy1SCcgzNfA","mode":"list","cachedResultName":"Memory","cachedResultUrl":"https://airtable.com/appvyMBRd4qMxHRSZ/tblA6BYy1SCcgzNfA"},"returnAll":false,"limit":50,"options":{}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-1440,140],"id":"3bc62787-0082-490c-bbcb-f163f193f539","name":"Airtable"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"Memory"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-1220,140],"id":"fcd59db2-5c7e-46aa-8114-d6edf899543f","name":"Aggregate"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-920,0],"id":"8e020732-b8ac-4460-bb71-41e6dcd7c70d","name":"Merge"},{"parameters":{"promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"=Current time/data: {{ $now }}\n\nYou are a helpful assistant with the ability to add and read \" memories \" about the user.\n\nAlways respond to the user with the language in which they ask the question.\n\nIn the first conversation with the {{ $('Telegram Trigger').item.json.message.from.username }} ask the name.\n\nTo add a new memory or insight to the top of your list of recent memories you can use the memory_tool which allows you to add short 1 sentence insights about the user to your memoriy for the future, in order to help you customize your response output.\n\nYou don't have to always \"customize\" based on the memories, but if there is a good reason to customize your response you can use the memories below to do so. These are memories that have been added by you. If you need to learn more about the user for the future you can ask questions in order to take node of their preferences.\n\nUse your current memories of the user to recall past insights about them.\n\nRead your most recent memories here :\n\n{{ $json.Memory }}\n\nTailor your response based on relevant, memories if you find that a memory is relevant to the response.\n\nAlways output your final response as a conversational piece rather than a list or blog post. If you must make a list keep it simple and don't add too much hierarchy, only share the most important notes! After thinking of your response, consider the TLDR version an always give a conversational, cheeky fun reply while remaining assertive, helpful and not too playful. Give a meek tone to your response. \n\nWhen the user ask about date and time, get information on my_date"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-660,0],"id":"327bf650-d16a-4d11-b1b9-f8f76508b5d2","name":"AI Agent"},{"parameters":{"model":"llama3.3:latest","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[-780,220],"id":"4e91cfda-54e7-4e1b-8e4f-109ea3d58515","name":"Ollama Chat Model"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Merge').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-620,220],"id":"0b6d92f1-6c0f-4ef9-9970-89d36ebfa2f4","name":"Window Buffer Memory"},{"parameters":{"operation":"create","base":{"__rl":true,"value":"appvyMBRd4qMxHRSZ","mode":"list","cachedResultName":"Agent Memory","cachedResultUrl":"https://airtable.com/appvyMBRd4qMxHRSZ"},"table":{"__rl":true,"value":"tblA6BYy1SCcgzNfA","mode":"list","cachedResultName":"Memory","cachedResultUrl":"https://airtable.com/appvyMBRd4qMxHRSZ/tblA6BYy1SCcgzNfA"},"columns":{"mappingMode":"defineBelow","value":{"Memory":"={{ $fromAI('add_memory','write a memory for future reference about the user in 140 characters or less') }}"},"matchingColumns":["Memory"],"schema":[{"id":"Memory","displayName":"Memory","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-480,220],"id":"843ae9ed-cdc2-49c0-bc2a-e45f77b2b54f","name":"memory_tool"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-240,-140],"id":"42f20b38-48d2-4001-a22f-60d51b4ef209","name":"Telegram","webhookId":"4eb8c3a6-e556-4e14-93b3-b2cda07be47f","credentials":{"telegramApi":{"id":"RzoKovQ8WXqenj34","name":"Telegram bk_informations"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-820,400],"id":"6a6266f5-5b91-48c5-9932-6257151a6cae","name":"OpenAI Chat Model","disabled":true},{"parameters":{"sendTo":"suporte@aivisual.ai","subject":"Resposta agent","message":"={{ $json.output }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-200,140],"id":"d8373f86-da47-4f00-a74f-30febd7a29f9","name":"Gmail","webhookId":"c5019773-d92c-4b9b-9924-186c86a00def","disabled":true},{"parameters":{"name":"my_date","description":"Call this tool always to verify date and time.","jsCode":"const queryNormalized = query.toLowerCase().trim();\n\n// Retorna a hora atual\nif (queryNormalized.includes(\"hora\") && !queryNormalized.includes(\"data\")) {\n    return $now.toFormat(\"HH:mm:ss\"); \n} \n\n// Retorna a data e a hora atual\nif (queryNormalized.includes(\"data\") && queryNormalized.includes(\"hora\")) {\n    return $now.toISO(); \n} \n\n// Retorna apenas a data\nif (queryNormalized.includes(\"data\")) {\n    return $today.toISODate(); \n}\n\n// Mensagem caso a pergunta não seja reconhecida\nreturn \"Não entendi sua pergunta. Pergunte algo como: 'Qual a data?', 'Que horas são?' ou 'Me diga a data e hora'.\";"},"type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[-340,220],"id":"100a3043-910c-40a7-9509-1a63f120126e","name":"my_date"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Airtable","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Airtable":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram","type":"main","index":0},{"node":"Gmail","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"memory_tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"my_date":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d6aaf770-d4f7-4297-b554-5aef3f352839","triggerCount":0,"shared":[{"createdAt":"2025-05-14T00:16:25.250Z","updatedAt":"2025-05-14T00:16:25.250Z","role":"workflow:owner","workflowId":"aDLgmjFhz9CLty9w","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[]}