workflow/Ultimate_Agentic_RAG_AI_Agent_Template.json
{"createdAt":"2025-05-06T20:08:48.538Z","updatedAt":"2025-05-07T17:58:22.000Z","id":"8Xbiy631FMgKlFQ1","name":"Ultimate_Agentic_RAG_AI_Agent_Template","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"824b4000-9268-4547-ba0f-85de5b0bea9d","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1040,280]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID').first().json.file_title }}"}]}}},"id":"07fa91ed-ae10-4612-bf37-b74e069a1f2b","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[700,1060]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"466cc0d3-73f4-4d5e-a75e-7def6bef40bf","name":"Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[460,1060]},{"parameters":{"content":"## Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"06adb75b-084e-4f90-8188-943b6d49acc2","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-300,-80]},{"parameters":{"content":"## Tool to Add a Google Drive File to Vector DB","height":867,"width":3073,"color":5},"id":"4a6f3d19-f8bd-4462-bced-4afe21e5e0ba","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2040,460]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"a3479ff8-2166-49cb-ac9e-a10e5bc85bb1","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-960,740],"executeOnce":true},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9","mode":"list","cachedResultName":"n8n Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"},"event":"fileCreated","options":{}},"id":"8b285349-311c-4356-a158-0b33f5b8b4bc","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1980,580]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9","mode":"list","cachedResultName":"n8n Documents","cachedResultUrl":"https://drive.google.com/drive/folders/1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"},"event":"fileUpdated","options":{}},"id":"3674536e-1c6a-4ad5-8090-1d89e0becdfe","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1980,740]},{"parameters":{"operation":"text","options":{}},"id":"aaedd0ef-df3a-427c-ab32-80ef3cdb10e5","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-100,1060],"alwaysOutputData":true},{"parameters":{},"id":"d698ace0-87ef-40f0-9faf-71385496e9ad","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-900,280],"notesInFlow":false},{"parameters":{"operation":"delete","tableId":"documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"10eead47-c8d5-4049-bbe6-c4346875bbda","name":"Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1440,580],"alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"0d2aef8c-2ef7-4c14-b0ff-14d5cffc6b6a","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1620,740]},{"parameters":{"content":"## RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"c8d44019-1e08-4909-a9cc-7e7d5ee82af1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1340,-20]},{"parameters":{"options":{}},"id":"62af1366-eac6-4e93-98b9-c2a112bf52b4","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-480,60]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId}}","type":"string"}]},"options":{}},"id":"4c400825-8ab8-40e4-b873-038527eb6b09","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,60]},{"parameters":{"public":true,"options":{}},"id":"6184e287-deca-4b3c-a320-b36c8b6c0630","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-1300,60],"webhookId":"e104e40e-6134-4825-a6f0-8a646d882662"},{"parameters":{"httpMethod":"POST","path":"bf4dd093-bb02-472c-9454-7ab9af97bd1d","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"f3936b62-0777-41db-b353-3840d95440e1","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1300,260],"webhookId":"bf4dd093-bb02-472c-9454-7ab9af97bd1d"},{"parameters":{"operation":"pdf","options":{}},"id":"469a24ab-f2ef-417d-9fbf-279bcec8cc0b","name":"Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-100,500]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"6a424a54-51c0-4a61-9fe3-3d40ddedf57b","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-60,680]},{"parameters":{},"id":"3022b1c4-6a55-42a6-ba2f-85ad93fcae76","name":"Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[600,1180]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"11fe58f7-e198-4ff7-8071-4432fbf88de7","name":"Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[140,760]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."}},"id":"472c524a-ea18-411f-b1d7-15d0653a162b","name":"RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-820,60]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"ca6a12d1-1f0c-4afd-9b9f-5de00329bce0","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-760,720]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"id":"408490ca-8575-404c-8c55-15be96a68a78","name":"Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[620,840],"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"f64e120c-8f27-4b77-9350-f48d619d8bfe","name":"Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-280,680]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[580,620],"id":"320f312b-4067-4403-9032-e8a211d75b84","name":"Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-280,860],"id":"f6530220-b481-406d-a543-77aadc08d43c","name":"Extract from CSV"},{"parameters":{"content":"## Run Each Node Once to Set Up Database Tables","height":300,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-2040,140],"typeVersion":1,"id":"1375c727-1286-4bb1-b1f7-6e558b65fe44","name":"Sticky Note3"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1780,240],"id":"c49feb2e-288d-48eb-9612-56f996b8aaa0","name":"Create Document Metadata Table"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES document_metadata(id),\n    row_data JSONB  -- Store the actual row data\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1560,240],"id":"a89c007b-05f1-47d3-862f-bf437ac4b7f2","name":"Create Document Rows Table (for Tabular Data)"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-760,280],"id":"5760a894-3ca1-458d-a361-6a80f3d17236","name":"List Documents"},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the document.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-620,280],"id":"53c24543-714b-47e2-8f9b-adc2e07f29fc","name":"Get File Contents"},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying. dataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field that has all the keys from the file schema given in the document_metadata table.\n\nExample query:\n\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE dataset_id = '123';\n\nExample query 2:\n\nSELECT \n    row_data->>'category' as category,\n    SUM((row_data->>'sales')::numeric) as total_sales\nFROM dataset_rows\nWHERE dataset_id = '123'\nGROUP BY row_data->>'category';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-460,280],"id":"e2473b33-d133-4d05-9402-0e048de71ec4","name":"Query Document Rows"},{"parameters":{"mode":"retrieve-as-tool","toolName":"documents","toolDescription":"Use RAG to look up information in the knowledgebase.","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{"queryName":"match_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-140,60],"id":"26406a37-99ec-46ae-aac5-246a56c3b13c","name":"Supabase Vector Store1","credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-40,240],"id":"c38894e9-1b94-496d-b6ca-492e9f68b43b","name":"Embeddings OpenAI2"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1800,580],"id":"d16e0bb4-c668-4940-bc5d-ed237dbe5a19","name":"Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension vector;\n\n-- Create a table to store your documents\ncreate table documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for documents\ncreate function match_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (documents.embedding <=> query_embedding) as similarity\n  from documents\n  where metadata @> filter\n  order by documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1980,240],"id":"29eb2cb4-d57b-4b00-978a-4f29d8fdee98","name":"Create Documents Table and Match Function","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"delete","tableId":"document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1280,740],"id":"12992bec-598b-4892-990b-ec2cc961bce3","name":"Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","title":"={{ $('Set File ID').item.json.file_title }}","url":"={{ $('Set File ID').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1120,600],"id":"fda9aa71-10e1-4e41-a1e8-1f11a8016dd5","name":"Insert Document Metadata","executeOnce":true},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_rows","mode":"list","cachedResultName":"document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-60,860],"id":"2331ca10-f6a2-4756-98e3-a8d48dab349c","name":"Insert Table Rows"},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"document_metadata","mode":"list","cachedResultName":"document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[800,620],"id":"db3bfb66-5819-4586-8edf-1b4806761f8e","name":"Update Schema for Document Metadata"},{"parameters":{"content":"## 🚀 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Supabase to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Supabase\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Supabase)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases\n\n---\n\nI do intend on making a local version of this agent very soon!","height":1320,"width":540,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-2620,0],"typeVersion":1,"id":"7b380a34-05df-44f1-84c2-fb16ec632b13","name":"Sticky Note9"},{"parameters":{"options":{}},"id":"1c1477d0-455d-445f-8261-d452b79e7e82","name":"Dell OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-960,2360]},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.data || $json.text || $json.concatenated_data }}","options":{"metadata":{"metadataValues":[{"name":"=file_id","value":"={{ $('Set File ID for Dell').first().json.file_id }}"},{"name":"file_title","value":"={{ $('Set File ID for Dell').first().json.file_title }}"}]}}},"id":"95062dbf-8076-41a1-9460-41fb88b5c70d","name":"Dell Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[780,3140]},{"parameters":{"model":"text-embedding-3-small","options":{}},"id":"2c6d8fb7-0387-4188-96eb-4feedd2f638b","name":"Dell Embeddings OpenAI1","type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1,"position":[540,3140],"credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"content":"## Dell Agent Tools for RAG","height":528.85546469693,"width":583.4552380860637,"color":4},"id":"f937e755-3fb1-45f8-acf1-a8326f9b4da4","name":"Sticky Note - Dell Agent","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-220,2000]},{"parameters":{"content":"## Tool to Add a Dell Google Drive File to Vector DB","height":867,"width":3073,"color":5},"id":"72012476-9573-4262-8413-819a5a9c0b25","name":"Sticky Note1 - Dell Drive Tool","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1960,2540]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID for Dell').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{"docsToFormat":"text/plain"}}}},"id":"76cbe3de-b40d-48b1-9da9-e28d62f7f200","name":"Dell Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-880,2820],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"1JROFpTvROyJ57cX","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"YOUR_DELL_GOOGLE_DRIVE_FOLDER_ID","_comment":"SUBSTITUA PELO ID DA PASTA DO GOOGLE DRIVE DA DELL","mode":"list","cachedResultName":"Dell Monitored Documents","cachedResultUrl":"https://drive.google.com/drive/folders/YOUR_DELL_GOOGLE_DRIVE_FOLDER_ID"},"event":"fileCreated","options":{}},"id":"c421c1c8-2c6f-449e-9bc3-8b0995b732ef","name":"Dell File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1900,2660]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"YOUR_DELL_GOOGLE_DRIVE_FOLDER_ID","_comment":"SUBSTITUA PELO ID DA PASTA DO GOOGLE DRIVE DA DELL","mode":"list","cachedResultName":"Dell Monitored Documents","cachedResultUrl":"https://drive.google.com/drive/folders/YOUR_DELL_GOOGLE_DRIVE_FOLDER_ID"},"event":"fileUpdated","options":{}},"id":"e55d03bb-2138-4765-b980-8cda7a0fb85a","name":"Dell File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1900,2820]},{"parameters":{"operation":"text","options":{}},"id":"fd959fd9-e310-4237-8eb1-73a84312a42c","name":"Dell Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-20,3140],"alwaysOutputData":true},{"parameters":{"tableName":"n8n_chat_histories_dell"},"id":"89bc2fe2-537c-46a8-ac3a-9550ea6cf7a7","name":"Dell Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1,"position":[-820,2360],"notesInFlow":false,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"delete","tableId":"dell_documents","filterType":"string","filterString":"=metadata->>file_id=like.*{{ $json.file_id }}*"},"id":"2dd34ff9-89a9-4ab5-a0bf-5eef15e5fdb3","name":"Dell Delete Old Doc Rows","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1360,2660],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"f4536df5-d0b1-4392-bf17-b8137fb31a44","name":"file_type","value":"={{ $json.mimeType }}","type":"string"},{"id":"77d782de-169d-4a46-8a8e-a3831c04d90f","name":"file_title","value":"={{ $json.name }}","type":"string"},{"id":"9bde4d7f-e4f3-4ebd-9338-dce1350f9eab","name":"file_url","value":"={{ $json.webViewLink }}","type":"string"}]},"options":{}},"id":"132dac61-4780-4362-a5e2-b2adf089deda","name":"Set File ID for Dell","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1540,2820]},{"parameters":{"content":"## Dell RAG AI Agent with Chat Interface","height":464.8027193303974,"width":1035.6381264595484},"id":"ec3ad54d-b3ee-456a-88ee-0127a09e3823","name":"Sticky Note2 - Dell RAG","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1260,2060]},{"parameters":{"options":{}},"id":"1372e1fa-bc1e-495c-950d-8e0584fe5f80","name":"Dell Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-400,2140]},{"parameters":{"assignments":{"assignments":[{"id":"9a9a245e-f1a1-4282-bb02-a81ffe629f0f","name":"chatInput","value":"={{ $json?.chatInput || $json.body.chatInput }}","type":"string"},{"id":"b80831d8-c653-4203-8706-adedfdb98f77","name":"sessionId","value":"={{ $json?.sessionId || $json.body.sessionId || 'dell-default-session-' + $now.toMillis() }}","_comment":"Adicionado um sessionId padrão para Dell se não fornecido","type":"string"}]},"options":{}},"id":"aa9733d9-7fa9-4c00-9079-04ace29a1489","name":"Dell Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-960,2140]},{"parameters":{"httpMethod":"POST","path":"dell-webhook-chat","authentication":"headerAuth","responseMode":"responseNode","options":{}},"id":"77a89c46-071a-440b-b9df-da01ba43dd46","name":"Dell Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1220,2340],"webhookId":"YOUR_DELL_GENERIC_WEBHOOK_ID"},{"parameters":{"operation":"pdf","options":{}},"id":"5b972dd4-f0bd-4eac-a99f-6eaa5caef334","name":"Dell Extract PDF Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-20,2580]},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"id":"e6d3ebd0-77ea-4bc1-a70f-a5e154dfde11","name":"Dell Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[20,2760]},{"parameters":{},"id":"ab8ab973-3d9e-47a2-b43f-6511914461d9","name":"Dell Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterCharacterTextSplitter","typeVersion":1,"position":[680,3260]},{"parameters":{"fieldsToSummarize":{"values":[{"aggregation":"concatenate","field":"data"}]},"options":{}},"id":"b93bb492-5906-4d5c-8286-587166c0a714","name":"Dell Summarize","type":"n8n-nodes-base.summarize","typeVersion":1,"position":[220,2840]},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"You are a Dell Product Support AI Assistant. You help answer questions based on Dell's internal knowledge base documents, including product specifications, troubleshooting guides, and support articles (Txt, Docs, PDFs, CSVs, Excel). Your primary goal is to provide accurate and concise information to assist Dell employees or customers. \n\nYou have tools to perform RAG on the 'dell_documents' table, look up available documents in 'dell_document_metadata', get full text of a document, and query structured data from 'dell_document_rows' using SQL for things like sales figures or inventory data (if applicable). \n\nPrioritize RAG. If RAG is insufficient, list relevant documents. For tabular data queries (sums, averages, specific product data), use SQL. \n\nIf you cannot find an answer, clearly state that. Do not invent information. Be professional and helpful, reflecting Dell's brand voice."}},"id":"fc18dfda-2279-4962-a3f1-6ccdda6788ec","name":"Dell RAG AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-740,2140]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Set File ID for Dell').item.json.file_type }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"2ae7faa7-a936-4621-a680-60c512163034","leftValue":"={{ $('Set File ID for Dell').item.json.file_type }}","rightValue":"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"fc193b06-363b-4699-a97d-e5a850138b0e","leftValue":"={{ $('Set File ID for Dell').item.json.file_type }}","rightValue":"=application/vnd.google-apps.spreadsheet","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"b69f5605-0179-4b02-9a32-e34bb085f82d","leftValue":"={{ $('Set File ID for Dell').item.json.file_type }}","rightValue":"application/vnd.google-apps.document","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{"fallbackOutput":3}},"id":"471579fb-3b2b-4fab-be3e-90b8a0c48207","name":"Dell Switch File Type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-680,2800]},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"dell_documents","_comment":"Nome da tabela alterado para dell_documents.","mode":"list","cachedResultName":"dell_documents"},"options":{"queryName":"match_dell_documents"}},"id":"c2ac6bbc-7f27-4452-a5c7-d37bb1dd254b","name":"Dell Insert into Supabase Vectorstore","type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[700,2920],"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"xlsx","options":{}},"id":"c94cb343-4453-4a42-9a42-4d78efe6ab50","name":"Dell Extract from Excel","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-200,2760]},{"parameters":{"assignments":{"assignments":[{"id":"f422e2e0-381c-46ea-8f38-3f58c501d8b9","name":"schema","value":"={{ $('Dell Extract from Excel').isExecuted ? $('Dell Extract from Excel').first().json.keys().toJsonString() : $('Dell Extract from CSV').first().json.keys().toJsonString() }}","type":"string"},{"id":"bb07c71e-5b60-4795-864c-cc3845b6bc46","name":"data","value":"={{ $json.concatenated_data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[660,2700],"id":"120a7cd8-b1ec-4ea2-9440-d9c52fa4bb07","name":"Dell Set Schema"},{"parameters":{"options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-200,2940],"id":"99272110-b3bd-4e87-a708-d065758dfd0a","name":"Dell Extract from CSV"},{"parameters":{"content":"## Run Each Node Once to Set Up Dell Database Tables","height":300,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1960,2220],"typeVersion":1,"id":"9d630455-f758-4b95-bddd-507b703df488","name":"Sticky Note3 - Dell DB Setup"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE dell_document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1700,2320],"id":"a691adb1-12ca-427d-8e47-aad5e65a1b66","name":"Dell Create Document Metadata Table"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE dell_document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES dell_document_metadata(id),\n    row_data JSONB\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1480,2320],"id":"b17d3158-400c-4021-946e-ae6a6db6bbd0","name":"Dell Create Document Rows Table"},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to fetch all available Dell documents, including the table schema if the file is a CSV or Excel file from the 'dell_document_metadata' table.","operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"dell_document_metadata","_comment":"Nome da tabela alterado para dell_document_metadata.","mode":"list","cachedResultName":"dell_document_metadata"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-680,2360],"id":"96cfe0af-083d-4f8a-a160-9d7639ed7598","name":"Dell List Documents Tool","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Given a file ID, fetches the text from the Dell document stored in 'dell_documents' table.","operation":"executeQuery","query":"SELECT \n    string_agg(content, ' ') as document_text\nFROM dell_documents\n  WHERE metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';","options":{"queryReplacement":"={{ $fromAI('file_id') }}"}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-540,2360],"id":"521c1352-a854-42a9-b58d-4eea0aa75e39","name":"Dell Get File Contents Tool","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Run a SQL query - use this to query from the 'dell_document_rows' table once you know the file ID you are querying (dataset_id). You are always using the row_data for filtering, which is a jsonb field. \nExample: SELECT AVG((row_data->>'revenue')::numeric) FROM dell_document_rows WHERE dataset_id = 'dell_file_123';","operation":"executeQuery","query":"{{ $fromAI('sql_query') }}","options":{}},"type":"n8n-nodes-base.postgresTool","typeVersion":2.5,"position":[-380,2360],"id":"95c07ad9-09e1-49a3-991f-785dfd725d2a","name":"Dell Query Document Rows Tool","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"mode":"retrieve-as-tool","toolName":"dell_documents_rag","toolDescription":"Use RAG to look up information in the Dell knowledgebase ('dell_documents' table).","tableName":{"__rl":true,"value":"dell_documents","_comment":"Nome da tabela alterado para dell_documents.","mode":"list","cachedResultName":"dell_documents"},"options":{"queryName":"match_dell_documents"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1,"position":[-60,2140],"id":"c56d3cb7-f891-489d-ab3c-61f97a866341","name":"Dell Supabase RAG Tool","credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[40,2320],"id":"78ee9ada-9cfa-4304-bbaf-db7a12bb8d27","name":"Dell Embeddings OpenAI2","credentials":{"openAiApi":{"id":"zkkZ6zxxQUr6SHw3","name":"OpenAi account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1720,2660],"id":"d44a7611-2d57-4ffa-9642-b27213290644","name":"Dell Loop Over Items"},{"parameters":{"operation":"executeQuery","query":"-- Enable the pgvector extension to work with embedding vectors\ncreate extension if not exists vector;\n\n-- Create a table to store your Dell documents\ncreate table if not exists dell_documents (\n  id bigserial primary key,\n  content text, -- corresponds to Document.pageContent\n  metadata jsonb, -- corresponds to Document.metadata\n  embedding vector(1536) -- 1536 works for OpenAI embeddings, change if needed\n);\n\n-- Create a function to search for Dell documents\ncreate or replace function match_dell_documents (\n  query_embedding vector(1536),\n  match_count int default null,\n  filter jsonb DEFAULT '{}'\n) returns table (\n  id bigint,\n  content text,\n  metadata jsonb,\n  similarity float\n)\nlanguage plpgsql\nas $$\n#variable_conflict use_column\nbegin\n  return query\n  select\n    id,\n    content,\n    metadata,\n    1 - (dell_documents.embedding <=> query_embedding) as similarity\n  from dell_documents\n  where metadata @> filter\n  order by dell_documents.embedding <=> query_embedding\n  limit match_count;\nend;\n$$;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1900,2320],"id":"7b798698-7820-4a15-a9a5-641b69e26007","name":"Dell Create Documents Table and Match Function","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"delete","tableId":"dell_document_rows","filters":{"conditions":[{"keyName":"dataset_id","condition":"eq","keyValue":"={{ $('Set File ID for Dell').item.json.file_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1200,2820],"id":"a35d2ad2-c4ac-47f5-9a9c-4ecaf2f3e7fd","name":"Dell Delete Old Data Rows","alwaysOutputData":true,"executeOnce":true,"credentials":{"supabaseApi":{"id":"G46AB6gBuDDwnAl0","name":"Supabase account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"dell_document_metadata","_comment":"Nome da tabela alterado para dell_document_metadata.","mode":"list","cachedResultName":"dell_document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID for Dell').item.json.file_id }}","title":"={{ $('Set File ID for Dell').item.json.file_title }}","url":"={{ $('Set File ID for Dell').item.json.file_url }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1040,2680],"id":"6926bb79-fe1f-4ba9-b9da-d3ee1bf8e1d2","name":"Dell Insert Document Metadata","executeOnce":true,"credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"dell_document_rows","_comment":"Nome da tabela alterado para dell_document_rows.","mode":"list","cachedResultName":"dell_document_rows"},"columns":{"mappingMode":"defineBelow","value":{"dataset_id":"={{ $('Set File ID for Dell').item.json.file_id }}","row_data":"={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"dataset_id","displayName":"dataset_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_data","displayName":"row_data","required":false,"defaultMatch":false,"display":true,"type":"object","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[20,2940],"id":"59690ecf-b5c2-4761-97dd-7ce7a8c86409","name":"Dell Insert Table Rows","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"operation":"upsert","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"dell_document_metadata","_comment":"Nome da tabela alterado para dell_document_metadata.","mode":"list","cachedResultName":"dell_document_metadata"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Set File ID for Dell').item.json.file_id }}","schema":"={{ $json.schema }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":true,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"created_at","displayName":"created_at","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[880,2700],"id":"08967403-896e-4862-8714-6dc18c5958c7","name":"Dell Update Schema for Document Metadata","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}},{"parameters":{"content":"## Run Each Node Once to Set Up Dell Database Tables","height":300,"width":680,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1960,1900],"typeVersion":1,"id":"373ced42-428e-4dc1-a14a-62d55cf2a08f","name":"Sticky Note3 - Dell DB Setup1"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE dell_document_metadata (\n    id TEXT PRIMARY KEY,\n    title TEXT,\n    url TEXT,\n    created_at TIMESTAMP DEFAULT NOW(),\n    schema TEXT\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1700,2000],"id":"794084ae-0b19-4ae2-ac7c-df8881592b59","name":"Dell DROP Document Metadata Table"},{"parameters":{"operation":"executeQuery","query":"CREATE TABLE dell_document_rows (\n    id SERIAL PRIMARY KEY,\n    dataset_id TEXT REFERENCES dell_document_metadata(id),\n    row_data JSONB\n);","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1480,2000],"id":"f238503e-080a-4f3c-a430-4309ccbf9fdd","name":"Dell DROP Document Rows Table"},{"parameters":{"operation":"executeQuery","query":"DROP FUNCTION IF EXISTS match_dell_documents;\nDROP TABLE IF EXISTS dell_document_rows;\nDROP TABLE IF EXISTS dell_document_metadata;\nDROP TABLE IF EXISTS dell_documents;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-1900,2000],"id":"abb51f97-9825-42f9-925a-eecb0b6abfe7","name":"Dell DROP tables and functions","credentials":{"postgres":{"id":"VZZGMlUmBWy1yhIa","name":"Postgres account"}}}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RAG AI Agent","type":"ai_languageModel","index":0}]]},"Download File":{"main":[[{"node":"Switch","type":"main","index":0}]]},"File Created":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RAG AI Agent","type":"ai_memory","index":0}]]},"Delete Old Doc Rows":{"main":[[{"node":"Delete Old Data Rows","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Delete Old Doc Rows","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"RAG AI Agent","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Extract PDF Text":{"main":[[{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Summarize","type":"main","index":0}]]},"Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Summarize":{"main":[[{"node":"Set Schema","type":"main","index":0},{"node":"Insert into Supabase Vectorstore","type":"main","index":0}]]},"RAG AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Extract PDF Text","type":"main","index":0}],[{"node":"Extract from Excel","type":"main","index":0}],[{"node":"Extract from CSV","type":"main","index":0}],[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract from Excel":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Set Schema":{"main":[[{"node":"Update Schema for Document Metadata","type":"main","index":0}]]},"Extract from CSV":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Insert Table Rows","type":"main","index":0}]]},"Create Document Metadata Table":{"main":[[{"node":"Create Document Rows Table (for Tabular Data)","type":"main","index":0}]]},"List Documents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Get File Contents":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Query Document Rows":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Supabase Vector Store1":{"ai_tool":[[{"node":"RAG AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI2":{"ai_embedding":[[{"node":"Supabase Vector Store1","type":"ai_embedding","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Set File ID","type":"main","index":0}]]},"Insert into Supabase Vectorstore":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create Documents Table and Match Function":{"main":[[{"node":"Create Document Metadata Table","type":"main","index":0}]]},"Delete Old Data Rows":{"main":[[{"node":"Insert Document Metadata","type":"main","index":0}]]},"Insert Document Metadata":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Dell OpenAI Chat Model":{"ai_languageModel":[[{"node":"Dell RAG AI Agent","type":"ai_languageModel","index":0}]]},"Dell Default Data Loader":{"ai_document":[[{"node":"Dell Insert into Supabase Vectorstore","type":"ai_document","index":0}]]},"Dell Embeddings OpenAI1":{"ai_embedding":[[{"node":"Dell Insert into Supabase Vectorstore","type":"ai_embedding","index":0}]]},"Dell Download File":{"main":[[{"node":"Dell Switch File Type","type":"main","index":0}]]},"Dell File Created":{"main":[[{"node":"Dell Loop Over Items","type":"main","index":0}]]},"Dell File Updated":{"main":[[{"node":"Dell Loop Over Items","type":"main","index":0}]]},"Dell Extract Document Text":{"main":[[{"node":"Dell Insert into Supabase Vectorstore","type":"main","index":0}]]},"Dell Postgres Chat Memory":{"ai_memory":[[{"node":"Dell RAG AI Agent","type":"ai_memory","index":0}]]},"Dell Delete Old Doc Rows":{"main":[[{"node":"Dell Delete Old Data Rows","type":"main","index":0}]]},"Set File ID for Dell":{"main":[[{"node":"Dell Delete Old Doc Rows","type":"main","index":0}]]},"Dell Edit Fields":{"main":[[{"node":"Dell RAG AI Agent","type":"main","index":0}]]},"Dell Webhook":{"main":[[{"node":"Dell Edit Fields","type":"main","index":0}]]},"Dell Extract PDF Text":{"main":[[{"node":"Dell Insert into Supabase Vectorstore","type":"main","index":0}]]},"Dell Aggregate":{"main":[[{"node":"Dell Summarize","type":"main","index":0}]]},"Dell Character Text Splitter":{"ai_textSplitter":[[{"node":"Dell Default Data Loader","type":"ai_textSplitter","index":0}]]},"Dell Summarize":{"main":[[{"node":"Dell Set Schema","type":"main","index":0}]]},"Dell RAG AI Agent":{"main":[[{"node":"Dell Respond to Webhook","type":"main","index":0}]]},"Dell Switch File Type":{"main":[[{"node":"Dell Extract PDF Text","type":"main","index":0}],[{"node":"Dell Extract from Excel","type":"main","index":0}],[{"node":"Dell Extract from CSV","type":"main","index":0}],[{"node":"Dell Extract Document Text","type":"main","index":0}]]},"Dell Insert into Supabase Vectorstore":{"main":[[{"node":"Dell Loop Over Items","type":"main","index":0}]]},"Dell Extract from Excel":{"main":[[{"node":"Dell Aggregate","type":"main","index":0},{"node":"Dell Insert Table Rows","type":"main","index":0}]]},"Dell Set Schema":{"main":[[{"node":"Dell Update Schema for Document Metadata","type":"main","index":0}]]},"Dell Extract from CSV":{"main":[[{"node":"Dell Aggregate","type":"main","index":0}]]},"Dell Create Document Metadata Table":{"main":[[]]},"Dell List Documents Tool":{"ai_tool":[[{"node":"Dell RAG AI Agent","type":"ai_tool","index":0}]]},"Dell Get File Contents Tool":{"ai_tool":[[{"node":"Dell RAG AI Agent","type":"ai_tool","index":0}]]},"Dell Query Document Rows Tool":{"ai_tool":[[{"node":"Dell RAG AI Agent","type":"ai_tool","index":0}]]},"Dell Supabase RAG Tool":{"ai_tool":[[{"node":"Dell RAG AI Agent","type":"ai_tool","index":0}]]},"Dell Embeddings OpenAI2":{"ai_embedding":[[{"node":"Dell Supabase RAG Tool","type":"ai_embedding","index":0}]]},"Dell Loop Over Items":{"main":[[],[{"node":"Set File ID for Dell","type":"main","index":0}]]},"Dell Create Documents Table and Match Function":{"main":[[]]},"Dell Delete Old Data Rows":{"main":[[{"node":"Dell Insert Document Metadata","type":"main","index":0}]]},"Dell Insert Document Metadata":{"main":[[{"node":"Dell Download File","type":"main","index":0}]]},"Dell DROP Document Metadata Table":{"main":[[{"node":"Dell DROP Document Rows Table","type":"main","index":0}]]},"Dell DROP tables and functions":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"File Created":[{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods"},"parents":["1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBO25toxt6RwVPjSmlzZEda-lk4VxRy3zObFMOtcvKSX8m0uyYJAOMHYjIxSVnl6GgWT9QJFzn6oAaUFOPdnWPB89gUcAo5c97K0oNb1vYNFjk5jEOpro51Aa5PYpA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"},"owners":[{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM/edit?usp=drivesdk","size":"1024","viewersCanCopyContent":true,"permissions":[{"id":"09805982089636049437","displayName":"Cole Medin","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjU-zfOspR2RPV0ODNiUMTUKvYDBBCZV-dZusxjov3wKmsVu93G9IfBKLBtQef-ZfzxVCqoc8HAVOEJyVPWiFax-dpQqjp5Bmqnsiestzam2U55u4Y7m3qszgGuIwTYYCQ4-TI6w2ActqiVwzXSrFt8hF5q5UYn1zzHvR8OG1fQHhoxUgOpsSwsylfLh2gRj49gNFuJ0tQZFIT37R0-dsKLjV0DqBDUpqHgP4mnA02dUgy3D9BjshwfHQY-IdWnK1xGTrunpzeHBrIE306eUhHcXaN2D0P8vAdpFRjTKyJMCDVp5ZVMn79MSZwUVbN9TGD_u4DpbXFVB27hi4MjS8mHblF5tJLSKtLs-UW4itcrt-QnUMeHkIEpcly8vsGcuiOmyNHlldsJ79HhOsSPhY9vxvwSpXBOn_9F15_808Om2de0duT2RewGeMlEXXjE0PO456Y4BStBV1uRa3VceZ2l3MgXkbF8BZG_f0DjNrVkW7xqdOHBArDO87vRhEawPlaWPTFw8UX7kGRsV9jIyRuLmvcSINIW2nEuZOXyKFeHR6IfIRIuTk0F7E0qk8WFtQlvVx-a--ELays2G5R1oVqrFst2mbO6U9wQz9Uhz3SDsIh6OB7S0e86x0hkdFS1lbKmxSqpXx-d-kcYuW88etuwSYnoZEQVAs1Vyu_XHYxfMw_nFZ0PTH_LMc9DYINUILulRvuMPq_bfkusoIr4EEyZTGtQVy-4qf01eEgRCG1xGBIN6_6dzyWGZoHdayfSXyDoFfwE2vcWBz30qFeImwis1u67VnbWCyfC0vb8rEScWo19XpyxW81umlcTlOXA8buq7nnD8IgVETwn7islB-mzsjnQOtrjDCOJ4T4KdzYYpM0iWdwSbhu95sDfa2GBeNSM6_shlwwm88V56XEyDZ7t0K52rtgjX7tI9qQg_5uAsQSmUQWwHXs1qLw_0Lm8HJm7NTJey6_uN2pCzhM-eajxl3Gw=s64","emailAddress":"colemedin@ottomator.ai","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM","name":"Test Sheet #1","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-02-23T17:00:50.000Z","modifiedTime":"2025-02-23T17:43:45.286Z","modifiedByMeTime":"2025-02-23T17:43:45.286Z","viewedByMeTime":"2025-02-23T18:21:12.774Z","quotaBytesUsed":"1024","version":"17","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"3","modifiedByMe":true,"permissionIds":["09805982089636049437"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}},{"json":{"kind":"drive#file","copyRequiresWriterPermission":false,"writersCanShare":true,"viewedByMe":true,"mimeType":"application/vnd.google-apps.spreadsheet","exportLinks":{"application/x-vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods","text/tab-separated-values":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=tsv","application/pdf":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=pdf","application/vnd.openxmlformats-officedocument.spreadsheetml.sheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=xlsx","text/csv":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=csv","application/zip":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=zip","application/vnd.oasis.opendocument.spreadsheet":"https://docs.google.com/spreadsheets/export?id=1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM&exportFormat=ods"},"parents":["1HtaIIK3kWwjbwhsmEbtJ-upalxVn3Ek9"],"thumbnailLink":"https://lh3.googleusercontent.com/drive-storage/AJQWtBO25toxt6RwVPjSmlzZEda-lk4VxRy3zObFMOtcvKSX8m0uyYJAOMHYjIxSVnl6GgWT9QJFzn6oAaUFOPdnWPB89gUcAo5c97K0oNb1vYNFjk5jEOpro51Aa5PYpA=s220","iconLink":"https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet","shared":false,"lastModifyingUser":{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"},"owners":[{"displayName":"Cole Medin","kind":"drive#user","me":true,"permissionId":"09805982089636049437","emailAddress":"colemedin@ottomator.ai","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjXYQW9sb7WW3wnC-1AVobRmOW6jJVl-c6A8a1Vmfg22B_llKKPYSlKo9UEZvIV23wtXqnJ0dgC56hiJN_z6e2d9S2MdiFDTpg7cyD-gXf1LICu2REL4QH54-MvYmKecDcm4MgnZYSms-X1KpD6seI1pkEehGcRg0NIXn2wGCPicXUZ30K8SFo9PxCr_0NRyR93hQn8hkX3Ml1nBuHIRL4Fvu5MjOvxRJQkqaF9zf0JVyB1LHdV-Ypr87v_B_7hDaJ8Jor2z73LA-rKq_mcU6Ta46Hsm83AnTY3iOJE9WxH2Cd9N795co4COaYL5hHEADdPq_B-OfVcbYNk1kf2qT4Josi_cu1uRGUFnhpBpD5Cu5uy2qD-J8GrMgkKdRKr1S7Z9ZD6bYyb3r3j6s4NHpE_iswHBJh-WfD2fg590TiCs6ciAPbx5769BYDF6Z2hVsCVq0G5bgS3JfbCTVNk8mNCh_4gzyRyfzj38OR0L5Fngv1i8y-HluGNw2k37cyrYu4HunKjMZKy_NsmOTWLITeyU_VoDvH-egUftryYVVCdUn1SEpSjDByjpLmQqCk-Kg3jK-0DGmClkblFw_svgvWUqyoOWMHHpH5fNTLdmPYK6w0Zcft5GXar9bahLAK9IT-epMIFTwnxhQu2yT0cP1I186OoWWUxCapElN_AEJDhibEMLyrHlmJUuhq205dClKGEvXw9D2ejYVpY0xVQ1ZxpKV-QGDTkniAjlWVCRwdaDrgbH3ieKgy5LXj357oCXUwRC-5niqp5MiybN0bN7KUe1zPSJjMDSjIkKcUMd_uAx_hlFkhx_jD0i0IMs3BLQ3OEOLw1IoD2Lol6jBstCUcZFCQrikP7d-nabEX8yDTLfYi9e8sDPp2yNA4pBJfKUm9-AHOAFWZ1BzXJN97RIiTQyKdExCKSz3kPf2lrQyTDVwYkZ75-ZkksHvXoz3kWo3MrAjGl56MxCrOkd88teMhDHq0E=s64"}],"webViewLink":"https://docs.google.com/spreadsheets/d/1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM/edit?usp=drivesdk","size":"1024","viewersCanCopyContent":true,"permissions":[{"id":"09805982089636049437","displayName":"Cole Medin","type":"user","kind":"drive#permission","photoLink":"https://lh3.googleusercontent.com/a-/ALV-UjU-zfOspR2RPV0ODNiUMTUKvYDBBCZV-dZusxjov3wKmsVu93G9IfBKLBtQef-ZfzxVCqoc8HAVOEJyVPWiFax-dpQqjp5Bmqnsiestzam2U55u4Y7m3qszgGuIwTYYCQ4-TI6w2ActqiVwzXSrFt8hF5q5UYn1zzHvR8OG1fQHhoxUgOpsSwsylfLh2gRj49gNFuJ0tQZFIT37R0-dsKLjV0DqBDUpqHgP4mnA02dUgy3D9BjshwfHQY-IdWnK1xGTrunpzeHBrIE306eUhHcXaN2D0P8vAdpFRjTKyJMCDVp5ZVMn79MSZwUVbN9TGD_u4DpbXFVB27hi4MjS8mHblF5tJLSKtLs-UW4itcrt-QnUMeHkIEpcly8vsGcuiOmyNHlldsJ79HhOsSPhY9vxvwSpXBOn_9F15_808Om2de0duT2RewGeMlEXXjE0PO456Y4BStBV1uRa3VceZ2l3MgXkbF8BZG_f0DjNrVkW7xqdOHBArDO87vRhEawPlaWPTFw8UX7kGRsV9jIyRuLmvcSINIW2nEuZOXyKFeHR6IfIRIuTk0F7E0qk8WFtQlvVx-a--ELays2G5R1oVqrFst2mbO6U9wQz9Uhz3SDsIh6OB7S0e86x0hkdFS1lbKmxSqpXx-d-kcYuW88etuwSYnoZEQVAs1Vyu_XHYxfMw_nFZ0PTH_LMc9DYINUILulRvuMPq_bfkusoIr4EEyZTGtQVy-4qf01eEgRCG1xGBIN6_6dzyWGZoHdayfSXyDoFfwE2vcWBz30qFeImwis1u67VnbWCyfC0vb8rEScWo19XpyxW81umlcTlOXA8buq7nnD8IgVETwn7islB-mzsjnQOtrjDCOJ4T4KdzYYpM0iWdwSbhu95sDfa2GBeNSM6_shlwwm88V56XEyDZ7t0K52rtgjX7tI9qQg_5uAsQSmUQWwHXs1qLw_0Lm8HJm7NTJey6_uN2pCzhM-eajxl3Gw=s64","emailAddress":"colemedin@ottomator.ai","role":"owner","deleted":false,"pendingOwner":false}],"hasThumbnail":true,"spaces":["drive"],"id":"1py8boCNhGKiZ4EUJ3jAP8rNDVxYArwoOJsg0xXeAWlM","name":"Test Sheet #1","starred":false,"trashed":false,"explicitlyTrashed":false,"createdTime":"2025-02-23T17:00:50.000Z","modifiedTime":"2025-02-23T17:43:45.286Z","modifiedByMeTime":"2025-02-23T17:43:45.286Z","viewedByMeTime":"2025-02-23T18:21:12.774Z","quotaBytesUsed":"1024","version":"17","ownedByMe":true,"isAppAuthorized":false,"capabilities":{"canChangeViewersCanCopyContent":true,"canEdit":true,"canCopy":true,"canComment":true,"canAddChildren":false,"canDelete":true,"canDownload":true,"canListChildren":false,"canRemoveChildren":false,"canRename":true,"canTrash":true,"canReadRevisions":true,"canChangeCopyRequiresWriterPermission":true,"canMoveItemIntoTeamDrive":true,"canUntrash":true,"canModifyContent":true,"canMoveItemOutOfDrive":true,"canAddMyDriveParent":false,"canRemoveMyDriveParent":true,"canMoveItemWithinDrive":true,"canShare":true,"canMoveChildrenWithinDrive":false,"canModifyContentRestriction":true,"canChangeSecurityUpdateEnabled":false,"canAcceptOwnership":false,"canReadLabels":false,"canModifyLabels":false,"canModifyEditorContentRestriction":true,"canModifyOwnerContentRestriction":true,"canRemoveContentRestriction":false,"canDisableInheritedPermissions":false,"canEnableInheritedPermissions":true},"thumbnailVersion":"3","modifiedByMe":true,"permissionIds":["09805982089636049437"],"linkShareMetadata":{"securityUpdateEligible":false,"securityUpdateEnabled":true},"inheritedPermissionsDisabled":false}}]},"versionId":"1ac65ac5-9b97-4557-84b4-fc2f45f95c53","triggerCount":0,"shared":[{"createdAt":"2025-05-06T20:08:48.541Z","updatedAt":"2025-05-06T20:08:48.541Z","role":"workflow:owner","workflowId":"8Xbiy631FMgKlFQ1","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-05-06T20:09:07.165Z","updatedAt":"2025-05-06T20:09:07.165Z","id":"ErGASRTN8IW4nai5","name":"Exemplo"}]}