workflow/Vendedor de iPhone v0.1 - YouTube.json
{"createdAt":"2025-11-02T14:31:34.970Z","updatedAt":"2025-11-02T14:41:25.000Z","id":"Of1zeM802N1PCTUR","name":"Vendedor de iPhone v0.1 - YouTube","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"edda56e4-0f39-492c-a765-ec8c54b084ba","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-224,1760]},{"parameters":{"assignments":{"assignments":[{"id":"2b028bb9-de07-4197-98bc-d69adc91f065","name":"number","value":"={{ $json.telefoneCliente }}","type":"string"},{"id":"83a8097c-75fc-49c1-b277-c87b0825a785","name":"nomeCliente","value":"={{ $json.nomeCliente }}","type":"string"}]},"options":{}},"id":"36768848-437b-4af4-bd42-b2237a00e4bc","name":"Formalizar","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,1760]},{"parameters":{"options":{}},"id":"747d67a3-2a2a-41ce-83b0-433c91951893","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[432,1760]},{"parameters":{},"id":"7664660b-e33f-4de7-8604-a5694f063a37","name":"Limit","type":"n8n-nodes-base.limit","typeVersion":1,"position":[848,1648]},{"parameters":{"amount":1.2},"id":"3064f6a2-fc36-43d7-af9e-bd7fca43015c","name":"Wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[640,1856],"webhookId":"af7151db-83d9-495c-b9eb-65e02b8dcb29"},{"parameters":{"assignments":{"assignments":[{"id":"c8fe0a2a-65e7-4542-add3-ae4a31f67fc9","name":"Modelos","value":"={{ (() => { \n    const data = $('GetModelos').item.json; \n    return { modelo: data.modelo, preço: data.preço }; \n})() }}","type":"string"}]},"options":{}},"id":"2f61b71a-63f9-4a53-8680-fc2c4612e9d9","name":"modelos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,1648]},{"parameters":{},"id":"72272f8d-b06f-4c30-9898-e7c6b04a1e14","name":"Enviar Imagem","type":"n8n-nodes-evolution-api.httpBin","typeVersion":1,"position":[848,1856],"credentials":{}},{"parameters":{"assignments":{"assignments":[{"id":"817f12c4-7d2a-45bd-8c12-74ab0c196308","name":"response","value":"=As imagens e os modelos já foram enviados com sucesso! Pergunte agora, somente qual o modelo enviado que o usuário mais gostou. ","type":"string"}]},"options":{}},"id":"132428ef-4625-457b-ad2e-991663423c86","name":"Resposta para o Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1072,1648]},{"parameters":{"operation":"getAll","tableId":"imagens","filterType":"none"},"id":"25a6c82f-d01b-47c5-8d8c-61db5c83193a","name":"GetModelos","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[224,1760],"credentials":{"supabaseApi":{"id":"FYYXnlgPDC1HaE5Z","name":"Supabase homelab2.0"}}},{"parameters":{"options":{}},"id":"bf495210-85bb-4dc0-a00c-6777af050dc5","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-384,1280]},{"parameters":{"name":"modelos_iphone","description":"Ative essa tool apenas para apresentar os modelos e preços dos iPhones disponíveis.","workflowId":{"__rl":true,"value":"6TtqtedOoEySdBsr","mode":"list","cachedResultName":"Modelos iPhone"},"fields":{"values":[{"name":"nomeCliente","stringValue":"={{ $('camposIniciais').item.json.meta.nomeCliente }}"},{"name":"telefoneCliente","stringValue":"={{ $('camposIniciais').item.json.meta.telefoneCliente }}"}]}},"id":"35b21a56-7129-4f3c-8f6c-ab7182fbf07f","name":"Modelos iPhone 📱","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[144,1280]},{"parameters":{"content":"","height":654,"width":1359,"color":6},"id":"92542a92-8924-4156-b531-a845cd46d11c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2080,816]},{"parameters":{},"id":"533d3c76-e9ed-4eef-ae46-4623632a2009","name":"NoOp.","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1008,1040]},{"parameters":{"content":"#### Agrupa messages subsequentes do usuário","height":80,"width":361.5468993739327,"color":4},"id":"1c0c7a30-7be7-4e01-b3e2-2b8fb3f4c59f","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1104,832]},{"parameters":{"content":"Configure seu Prompt","height":223.25452635785376,"width":180.90155202154455,"color":2},"id":"f9b3b20d-54b8-4163-ad8e-4f603c482e8b","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2784,320]},{"parameters":{},"id":"1a1fc5fa-2823-4edd-9625-32c30f814081","name":"NoOp.4","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2752,576]},{"parameters":{"assignments":{"assignments":[{"id":"b7158aa0-84e0-44b1-8629-bf23fb4c0766","name":"=messages","value":"={{ $json.message.map(buffer => JSON.parse(buffer).message).join('\\n') }}\n{{ (() => { \n    try {\n        return $('camposIniciais').item.json.content.quoted || \"\"; \n    } catch (error) {\n        return \"\";\n    } \n})() }}\n","type":"string"},{"id":"0c4c3b74-297a-4cf2-b2b8-0feefad328ec","name":"sessionId","value":"={{ $('getClient').item.json.sessionId }}","type":"string"}]},"options":{}},"id":"a247448b-6c47-4601-b2db-599b240e24a0","name":"messages","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-672,1120]},{"parameters":{"operation":"push","list":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}","messageData":"={{ JSON.stringify({ \n    \"message\": $('camposIniciais').item.json.content.mensagem, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}","tail":true},"id":"215ac0f0-b011-4908-bd13-8854505b1de4","name":"empilhaTexto","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1600,1120]},{"parameters":{"operation":"get","propertyName":"message","key":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}","options":{}},"id":"7a55c54b-7fe3-45a0-86f8-7b301624954f","name":"Obtem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1408,1120]},{"parameters":{"operation":"delete","key":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}"},"id":"bf316fbe-bfed-4866-930d-2be51b1a24ec","name":"Deleta","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-848,1120]},{"parameters":{"assignments":{"assignments":[{"id":"aa4d5d29-e6f1-4bce-b5ff-4575b553a077","name":"systemMessageAgente","value":"=<prompt>\n\n  <!-- Instruções para o Agente -->\n  <instruções>\n    Você é a Bruna, uma agente especializada em vendas de iPhones. Sua missão é responder clientes por WhatsApp, oferecendo informações sobre os modelos disponíveis, valores, auxiliando no processo de compra e realizando cálculos de valores à vista ou parcelados quando solicitado. \n    - Seja educada, amigável e objetiva.\n    - Varie a linguagem para evitar parecer robótica, mantendo clareza e eficiência.\n    - Utilize a data de hoje para se localizar: {{ $now.toUTC(-180) }}\n  </instruções>\n\n  <!-- Tools -->\n  <tools>\n    <tool>\n      <name>modelos_iphone</name>\n      <description>Fornece informações sobre os modelos de iPhones disponíveis na loja, incluindo imagens e preços.</description>\n      <usage>Acione esta ferramenta sempre que o cliente perguntar sobre modelos disponíveis. Após ativar a tool, envie uma mensagem breve e direta, como \"O que acha desses modelos?\" ou \"Qual desses modelos te agrada mais?\". Não reforce novamente os modelos listados.</usage>\n    </tool>\n    <tool>\n      <name>infos</name>\n      <description>Fornece informações básicas da loja, como endereço, link do Instagram e contatos.</description>\n      <usage>Acione esta ferramenta sempre que o cliente solicitar informações sobre a loja ou contato.</usage>\n    </tool>\n    <tool>\n      <name>calculadora</name>\n      <description>Realiza cálculos de valores à vista com desconto e parcelamentos.</description>\n      <usage>\n        - Use esta ferramenta quando o cliente perguntar sobre descontos à vista ou valores das parcelas.\n        - O cálculo para o pagamento à vista considera 10% de desconto.\n        - O cálculo para parcelamento considera o valor cheio dividido pelo número de parcelas solicitado.\n        - Envie mensagens claras, como:\n          - \"À vista com 10% de desconto, o valor fica em R$ X.\"\n          - \"Em 12x, o valor de cada parcela é R$ Y sem juros.\"\n      </usage>\n    </tool>\n  </tools>\n\n  <!-- Apresentação -->\n  <apresentação>\n    - Apresente-se educadamente quando o cliente iniciar a conversa.\n    - Utilize a primeira mensagem do cliente como gancho para sua apresentação.\n    - Inclua uma pergunta para iniciar a interação:\n      - \"{{ new Date().getHours() < 12 ? 'Bom dia' : (new Date().getHours() < 18 ? 'Boa tarde' : 'Boa noite') }}, {{ $json.meta.nomeCliente }}, tudo bem? Posso te ajudar com informações sobre os modelos e preços de iPhones da {{ $json.empresa.nomeEmpresa }}?\"\n      - \"{{ $json.meta.nomeCliente }}, qual modelo de iPhone você está procurando hoje?\"\n  </apresentação>\n\n  <!-- Exemplos de Apresentação -->\n  <modelo_de_apresentação>\n    - \"Oi, {{ $json.meta.nomeCliente }}, tudo bem? Sou a Bruna, especialista em vendas de iPhones da {{ $json.empresa.nomeEmpresa }}. Estou aqui para ajudar!\"\n    - \"Olá! Aqui é a Bruna. {{ $json.meta.nomeCliente }}, vi que você tem interesse em iPhones. Qual modelo está procurando?\"\n  </modelo_de_apresentação>\n\n  <!-- Condução da Conversa -->\n  <condução>\n    - Responda de forma clara e objetiva sobre os preços e modelos disponíveis.\n    - Conduza a conversa incentivando o cliente a compartilhar dúvidas ou preferências.\n    - Inclua informações sobre formas de pagamento ou promoções disponíveis, quando relevante.\n    - Sempre finalize as interações com uma pergunta amigável e direta após o envio das informações solicitadas, evitando repetições.\n\n    <!-- Uso das Tools -->\n    <uso_de_tools>\n      - Somente quando o cliente perguntar quais são modelos disponíveis, acione a tool \"modelos_iphone\" para enviar as informações completas. Após a ativação da tool, envie uma mensagem breve:\n        - \"O que acha desses modelos?\"\n        - \"Qual desses modelos te agrada mais?\"\n      - Não reforce os modelos listados na mensagem adicional para evitar redundância.\n      - Quando o cliente solicitar informações sobre a loja, acione a tool \"infos\".\n      - Quando o cliente perguntar sobre valores à vista ou parcelados, acione a tool \"calculadora\" e forneça os cálculos necessários.\n    </uso_de_tools>\n\n    <!-- Venda Direta -->\n    <processo_de_venda>\n      - Quando o cliente estiver pronto para comprar, oriente-o sobre os próximos passos:\n        - \"Ótimo! Para finalizar, preciso confirmar o modelo, cor e forma de pagamento. Qual você prefere?\"\n        - \"Temos o pagamento em até 12x no cartão ou com desconto à vista. Qual você prefere?\"\n      - Confirme o pedido antes de finalizar:\n        - \"Perfeito, só para confirmar: você escolheu o iPhone 14 Pro, na cor azul, certo? Vou finalizar o pedido para você.\"\n    </processo_de_venda>\n  </condução>\n\n  <!-- Respostas a Dúvidas -->\n  <respostas_a_dúvidas>\n    - Responda de forma educada e direta. Exemplo:\n      - Cliente: \"Qual é o preço do iPhone 14 Pro?\"\n      - Resposta: \"O iPhone 14 Pro está disponível a partir de R$ 8.999,00. Podemos falar sobre as opções de pagamento?\"\n  </respostas_a_dúvidas>\n  \n  <!-- Manejo de Objeções -->\n  <manejo_de_objeções>\n    - Princípios Gerais:\n      - Ouça a objeção com atenção, demonstre empatia e ofereça soluções.\n      - Use frases como:\n        - \"Entendo sua preocupação, e temos uma opção que pode te ajudar...\"\n        - \"Sei que o preço é importante, e por isso oferecemos desconto para pagamento à vista.\"\n  </manejo_de_objeções>\n\n  <!-- Limitações -->\n  <limitações>\n    - Não forneça informações fora do escopo de vendas de iPhones.\n    - Redirecione dúvidas técnicas para o suporte: \"Essa questão é técnica, mas posso te ajudar com o contato do suporte. Quer que eu encaminhe?\"\n  </limitações>\n\n  <!-- Formatação e Linguagem no WhatsApp -->\n  <uso_de_linguagem_e_formatação>\n    - Quebre textos longos em partes menores.\n    - Evite parecer robótica; use variações na linguagem.\n    - Negrito para informações importantes:\n      - \"O iPhone 14 Pro está disponível por *R$ 8.999,00*.\"\n  </uso_de_linguagem_e_formatação>\n\n</prompt>\n","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"7ecda7ba-1d0e-40d5-9521-80f1d9fff65e","name":"Prompts","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2752,384],"alwaysOutputData":false},{"parameters":{"operation":"push","list":"={{ $('camposIniciais').item.json.meta.telefoneCliente.toString() }}","messageData":"={{ JSON.stringify({ \n    \"message\": $('Webhook').item.json.body.data.message.speechToText, \n    \"timestamp\": $now,\n    \"message_id\": $('camposIniciais').item.json.content.idMensagem\n}) }}","tail":true},"id":"07918e2e-449c-4e04-95dd-d35526776324","name":"empilhaÁudio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1600,1296]},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"id":"9d9fe8e3-2249-4401-9334-c008bc1eedf6","name":"UnificaDados","type":"n8n-nodes-base.merge","typeVersion":3,"position":[-2544,480],"notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"f9ecf2fc-da2c-4f44-897a-5dc0a2f2f379","name":"meta.telefoneCliente","value":"={{ \n  $json.body?.conversation?.contact_inbox?.contact_id || \n  $json.body?.data?.key?.remoteJid || \n  null \n}}","type":"string"},{"id":"a019046c-3b5a-4fd0-a497-de55cb2178ea","name":"meta.telefoneEmpresa","value":"={{ $json.body.sender }}","type":"string"},{"id":"dab7ca54-c3d2-4a36-a9ca-a0ebbd375ef5","name":"meta.nomeCliente","value":"={{ $json.body.data.pushName }}","type":"string"},{"id":"01238a36-6907-4aec-ab21-26345ed5fc96","name":"whatsapp.evo.nomeInstancia","value":"={{ $json.body.instance || null }}","type":"string"},{"id":"81612acf-1b66-4c8e-82e4-ce8c77b31334","name":"content.mensagem","value":"={{ \n  $json.body?.content || \n\n  $json.body?.data?.message?.extendedTextMessage?.text || \n  $json.body?.data?.message?.imageMessage?.caption || \n  $json.body?.data?.message?.conversation || \n  $json?.message?.text || \n  $json?.message?.caption || \n  null \n}}","type":"string"},{"id":"cc7dcfe1-8ad7-4fe8-93ec-8f643c7d08c7","name":"content.tipoMensagem","value":"={{ $json.body.data.messageType }}","type":"string"},{"id":"2dfc64f4-b222-4ea7-b095-fdd96d9fcb95","name":"content.idMensagem","value":"={{ $json.body.data.key.id }}","type":"string"},{"id":"9d947263-3b68-4c63-88ba-ef1b9de22571","name":"empresa.nomeEmpresa","value":"iPhone's Candiani","type":"string"},{"id":"076ad2d4-b8ea-440f-9c02-f7e8417a984d","name":"whatsapp.evo.apikey","value":"={{ $json.body.apikey || null }}","type":"string"},{"id":"0c237725-0428-4f1d-bddf-41bd289b3168","name":"whatsapp.evo.server_url","value":"={{ $json.body.server_url || null }}","type":"string"},{"id":"255b9c45-7769-4d09-9c50-61dcdfb7c09d","name":"app.debouncerTime","value":"4","type":"string"},{"id":"196aeb96-5c33-4dd7-9a4f-6bd40765b7fb","name":"doc.id","value":"1G3ca5La7WxEfZxpRYwyxhweknGlxRFxWPiwoUoP7eUY","type":"string"},{"id":"fc7c5c8f-b505-4a43-ae07-51eea58d6f80","name":"linkPreview","value":false,"type":"boolean"},{"id":"e30bbf8c-d5da-4410-b875-8dfe4b301798","name":"Digitando","value":1200,"type":"number"},{"id":"c4f557bd-72f1-4507-8d9d-c2a590eea2b8","name":"content.quoted","value":"={{ $json.body.data.contextInfo.quotedMessage.conversation }}\n{{ $json.body.data.contextInfo.quotedMessage.imageMessage.caption }}","type":"string"}]},"options":{}},"id":"cce9ab8f-fef0-4dba-9f34-ef81cc09b044","name":"camposIniciais","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2944,480],"notesInFlow":true},{"parameters":{"operation":"get","tableId":"clientes_iphone","filters":{"conditions":[{"keyName":"telefoneCliente","keyValue":"={{ $('camposIniciais').item.json.meta.telefoneCliente }}"}]}},"id":"918e9791-9fc7-4b00-8f8c-aea3b053cbe5","name":"getClient","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3184,1120],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4e77cc7c-48f4-4cbe-94e7-6d211db67002","leftValue":"={{ $('getClient').item.json.telefoneCliente }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"168bb209-0d6a-4879-bc00-9b2de575f44e","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2992,1120]},{"parameters":{"tableId":"clientes_iphone","fieldsUi":{"fieldValues":[{"fieldId":"nomeCliente","fieldValue":"={{ $('camposIniciais').item.json.meta.nomeCliente }}"},{"fieldId":"telefoneCliente","fieldValue":"={{ $('camposIniciais').item.json.meta.telefoneCliente }}"},{"fieldId":"idMensagem","fieldValue":"={{ $('camposIniciais').item.json.content.idMensagem }}"},{"fieldId":"sessionId","fieldValue":"={{ $json.data }}"}]}},"id":"a04dc470-2967-48d1-9a90-50d79cf78189","name":"CreateUser","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2608,1264]},{"parameters":{"action":"generate"},"id":"d5a9a84e-73c0-417e-a446-85507ebe39a5","name":"GeraUUID","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-2784,1264],"notesInFlow":false},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ \n  $json.message.length > 8 \n  ? $('camposIniciais').item.json.content.idMensagem\n  : JSON.parse($json.message.first()).message_id.toString().trim()\n}}","rightValue":"={{ $('camposIniciais').item.json.content.idMensagem.toString().trim() }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"nada a fazer"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2b9b7794-e8f6-45b5-8021-f59dbb747cb0","leftValue":"={{ JSON.parse($json.message.last()).timestamp }}","rightValue":"={{ $now.minus($('camposIniciais').item.json.app.debouncerTime, 'seconds') }}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"renameOutput":true,"outputKey":"proceder"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"esperar"}},"id":"58281b38-8a2c-4440-a19f-ccbabba15060","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1200,1120]},{"parameters":{},"id":"88d29e01-1143-47b2-903f-508764977211","name":"NOP1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-2288,992]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b3c9b986-29a6-4418-a033-6422c387377f","leftValue":"={{ $('Webhook').item.json.body.data.key.fromMe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"9c2fa9dc-947d-4267-b6bb-b231f025f60d","name":"fromMe","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2464,1104]},{"parameters":{"content":"```                                                                          dddddddd                                                    dddddddd                                                      dddddddd                                                                                                                                \nVVVVVVVV           VVVVVVVV                                                  d::::::d                                                    d::::::d                                                      d::::::d                           iiii  PPPPPPPPPPPPPPPPP   hhhhhhh                                                                    \nV::::::V           V::::::V                                                  d::::::d                                                    d::::::d                                                      d::::::d                          i::::i P::::::::::::::::P  h:::::h                                                                    \nV::::::V           V::::::V                                                  d::::::d                                                    d::::::d                                                      d::::::d                           iiii  P::::::PPPPPP:::::P h:::::h                                                                    \nV::::::V           V::::::V                                                  d:::::d                                                     d:::::d                                                       d:::::d                                  PP:::::P     P:::::Ph:::::h                                                                    \n V:::::V           V:::::V     eeeeeeeeeeee    nnnn  nnnnnnnn        ddddddddd:::::d     eeeeeeeeeeee    rrrrr   rrrrrrrrr       ddddddddd:::::d    ooooooooooo   rrrrr   rrrrrrrrr            ddddddddd:::::d     eeeeeeeeeeee         iiiiiii   P::::P     P:::::P h::::h hhhhh          ooooooooooo   nnnn  nnnnnnnn        eeeeeeeeeeee    \n  V:::::V         V:::::V    ee::::::::::::ee  n:::nn::::::::nn    dd::::::::::::::d   ee::::::::::::ee  r::::rrr:::::::::r    dd::::::::::::::d  oo:::::::::::oo r::::rrr:::::::::r         dd::::::::::::::d   ee::::::::::::ee       i:::::i   P::::P     P:::::P h::::hh:::::hhh     oo:::::::::::oo n:::nn::::::::nn    ee::::::::::::ee  \n   V:::::V       V:::::V    e::::::eeeee:::::een::::::::::::::nn  d::::::::::::::::d  e::::::eeeee:::::eer:::::::::::::::::r  d::::::::::::::::d o:::::::::::::::or:::::::::::::::::r       d::::::::::::::::d  e::::::eeeee:::::ee      i::::i   P::::PPPPPP:::::P  h::::::::::::::hh  o:::::::::::::::on::::::::::::::nn  e::::::eeeee:::::ee\n    V:::::V     V:::::V    e::::::e     e:::::enn:::::::::::::::nd:::::::ddddd:::::d e::::::e     e:::::err::::::rrrrr::::::rd:::::::ddddd:::::d o:::::ooooo:::::orr::::::rrrrr::::::r     d:::::::ddddd:::::d e::::::e     e:::::e      i::::i   P:::::::::::::PP   h:::::::hhh::::::h o:::::ooooo:::::onn:::::::::::::::ne::::::e     e:::::e\n     V:::::V   V:::::V     e:::::::eeeee::::::e  n:::::nnnn:::::nd::::::d    d:::::d e:::::::eeeee::::::e r:::::r     r:::::rd::::::d    d:::::d o::::o     o::::o r:::::r     r:::::r     d::::::d    d:::::d e:::::::eeeee::::::e      i::::i   P::::PPPPPPPPP     h::::::h   h::::::ho::::o     o::::o  n:::::nnnn:::::ne:::::::eeeee::::::e\n      V:::::V V:::::V      e:::::::::::::::::e   n::::n    n::::nd:::::d     d:::::d e:::::::::::::::::e  r:::::r     rrrrrrrd:::::d     d:::::d o::::o     o::::o r:::::r     rrrrrrr     d:::::d     d:::::d e:::::::::::::::::e       i::::i   P::::P             h:::::h     h:::::ho::::o     o::::o  n::::n    n::::ne:::::::::::::::::e \n       V:::::V:::::V       e::::::eeeeeeeeeee    n::::n    n::::nd:::::d     d:::::d e::::::eeeeeeeeeee   r:::::r            d:::::d     d:::::d o::::o     o::::o r:::::r                 d:::::d     d:::::d e::::::eeeeeeeeeee        i::::i   P::::P             h:::::h     h:::::ho::::o     o::::o  n::::n    n::::ne::::::eeeeeeeeeee  \n        V:::::::::V        e:::::::e             n::::n    n::::nd:::::d     d:::::d e:::::::e            r:::::r            d:::::d     d:::::d o::::o     o::::o r:::::r                 d:::::d     d:::::d e:::::::e                 i::::i   P::::P             h:::::h     h:::::ho::::o     o::::o  n::::n    n::::ne:::::::e           \n         V:::::::V         e::::::::e            n::::n    n::::nd::::::ddddd::::::dde::::::::e           r:::::r            d::::::ddddd::::::ddo:::::ooooo:::::o r:::::r                 d::::::ddddd::::::dde::::::::e               i::::::iPP::::::PP           h:::::h     h:::::ho:::::ooooo:::::o  n::::n    n::::ne::::::::e          \n          V:::::V           e::::::::eeeeeeee    n::::n    n::::n d:::::::::::::::::d e::::::::eeeeeeee   r:::::r             d:::::::::::::::::do:::::::::::::::o r:::::r                  d:::::::::::::::::d e::::::::eeeeeeee       i::::::iP::::::::P           h:::::h     h:::::ho:::::::::::::::o  n::::n    n::::n e::::::::eeeeeeee  \n           V:::V             ee:::::::::::::e    n::::n    n::::n  d:::::::::ddd::::d  ee:::::::::::::e   r:::::r              d:::::::::ddd::::d oo:::::::::::oo  r:::::r                   d:::::::::ddd::::d  ee:::::::::::::e       i::::::iP::::::::P           h:::::h     h:::::h oo:::::::::::oo   n::::n    n::::n  ee:::::::::::::e  \n            VVV                eeeeeeeeeeeeee    nnnnnn    nnnnnn   ddddddddd   ddddd    eeeeeeeeeeeeee   rrrrrrr               ddddddddd   ddddd   ooooooooooo    rrrrrrr                    ddddddddd   ddddd    eeeeeeeeeeeeee       iiiiiiiiPPPPPPPPPP           hhhhhhh     hhhhhhh   ooooooooooo     nnnnnn    nnnnnn    eeeeeeeeeeeeee                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         \n ```                                 \n","height":273.98128648968685,"width":3248.844493474612,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-1888,496],"typeVersion":1,"id":"f55f099c-a63e-4cc3-8176-8736a7a70044","name":"Sticky Note"},{"parameters":{"content":"```\n██    ██  ██████      ██ \n██    ██ ██  ████    ███ \n██    ██ ██ ██ ██     ██ \n ██  ██  ████  ██     ██ \n  ████    ██████  ██  ██ \n```                         \n                         \n","height":100,"width":248.90836434465143,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-272,736],"typeVersion":1,"id":"12a539ac-0ba2-4f42-a6b5-e66686f31438","name":"Sticky Note1"},{"parameters":{"content":"### 1ª Parte do workflow\n- Adiciona dados no node \"campos iniciais\"\n- Configura o prompt\n- Verifica cadastro de cliente no Supabase\n- Agrupa as mensagens\n- Agente de IA responde e utiliza as tools\n- Divide a resposta de uma forma natural\n- Envia mensagem em partes","height":196.9777862192652,"width":326.91458763839535,"color":4},"id":"f7789e96-0b89-47ac-bb0c-f29eb38c7f5f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2288,560]},{"parameters":{"content":"","height":634,"width":859,"color":6},"id":"8b7d0933-e44d-4645-8385-4d0044f1c43e","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3232,160]},{"parameters":{"content":"#### Credenciais e dados padrões","height":80,"width":282,"color":4},"id":"3cd5883d-1c95-4809-b003-0554cfbc4878","name":"Sticky Note15","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3200,176]},{"parameters":{"content":"Configure seus dados","height":223.25452635785376,"width":180.90155202154455,"color":2},"id":"ec5d2e3e-d14f-42c0-b005-8a94e48f3934","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2992,416]},{"parameters":{"content":"","height":649.9690226478867,"width":1119.392138234499,"color":6},"id":"a5c40754-fcd3-41ef-8743-2f4bc6d244cc","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3232,816]},{"parameters":{"content":"#### Cadastra usuário no **Supabase**","height":80,"width":282,"color":4},"id":"d018c8b8-0a93-4abc-8496-17f6bca613e3","name":"Sticky Note16","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2400,832]},{"parameters":{"content":"","height":654,"width":1359,"color":6},"id":"2d367a62-fbaa-49fd-a597-f57037a51557","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-704,816]},{"parameters":{"options":{}},"id":"20e435b4-af8c-43b5-9859-3611a08cfbf5","name":"OpenAI2","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[768,1312]},{"parameters":{"fieldToSplitOut":"output.messages","options":{"destinationFieldName":"output"}},"id":"b5e9be71-d2d4-4a76-a834-8d1d32b46496","name":"Segmentos","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1104,1072]},{"parameters":{"amount":1.2},"id":"a36a4095-b2b2-4fd6-83e5-47fb01577bce","name":"1,2s","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1920,1120],"webhookId":"8a810ad6-4ecf-4781-aed8-7f2b295770dc"},{"parameters":{"options":{}},"id":"68d70c3e-ce1c-4296-b67f-a138e01fee72","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1328,1072]},{"parameters":{},"id":"0170305a-7f5a-48d7-bbfd-6af7c11c6f9d","name":"no.op2","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2128,1184]},{"parameters":{},"id":"9217263e-3a94-4930-a593-8b97c9b4d0d3","name":"Replace Me1","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1520,1184]},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"messages\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"messages\"]\n}"},"id":"26dee033-d646-4022-b1a4-1c71694a30b2","name":"OutputParser","type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[928,1312]},{"parameters":{"content":"## Divide a mensagem de uma maneira natural para o WhatsApp","height":520,"width":560},"type":"n8n-nodes-base.stickyNote","position":[704,944],"typeVersion":1,"id":"b6d896a1-04d9-416e-b734-da7e6c7be844","name":"Sticky Note2"},{"parameters":{"content":"#### Envia das mensagens","height":80,"width":442.317822288388,"color":4},"id":"1e897bc7-9592-45fb-9c68-2df41f685cf0","name":"Sticky Note17","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[704,832]},{"parameters":{"content":"","height":654,"width":1583.824714549135,"color":6},"id":"66d45e08-714e-4247-9d8c-3fca02a2ea5e","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[688,816]},{"parameters":{"content":"#### O Cérebro (Agente AI)","height":80,"width":202,"color":4},"id":"8638d6c3-7158-4923-bc2d-2fe808f9df76","name":"Sticky Note18","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,832]},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('messages').item.json.sessionId }}","contextWindowLength":20},"id":"e4186b35-6087-465a-b9d6-444084bd6096","name":"Redis Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[-208,1280],"credentials":{"redis":{"id":"4AurG5VoDsijYWEG","name":"Redis account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use quando o usuário precisar saber de dados da loja de iPhone.","operation":"get","documentURL":"={{ $('camposIniciais').item.json.doc.id }}"},"id":"1c0c2610-f6b5-48dd-9d43-67f3f6f44c41","name":"infos","type":"n8n-nodes-base.googleDocsTool","typeVersion":2,"position":[16,1280],"credentials":{"googleDocsOAuth2Api":{"id":"yVQ3SsKqfD5EXAjw","name":"Google Docs account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"60065893-74f7-4b64-bc1a-d891202efa78","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0cb14635-2673-408e-86db-ce9e0373674b","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Áudio"}]},"options":{}},"id":"2f16ca0a-cad3-4a64-b677-33d2f4650da3","name":"Switch2","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2048,1120]},{"parameters":{},"id":"a686e3b7-e284-4ea1-954b-8b4cef909e5a","name":"Evolution API1","type":"n8n-nodes-evolution-api.httpBin","typeVersion":1,"position":[-1600,944],"credentials":{}},{"parameters":{},"id":"f770d3d4-b385-4ea7-aa3d-e416d28ab03c","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3072,-368],"disabled":true},{"parameters":{"mode":"delete","deleteMode":"all"},"id":"76abeddf-b930-489e-baa8-4629a034cc1f","name":"Chat Memory Manager","type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-2848,-368]},{"parameters":{"sessionIdType":"customKey","sessionKey":"=39567cb1-5e18-4b84-9bb3-ad65b5794f0f","contextWindowLength":20},"id":"898e2d4b-5df3-4b94-9182-5b0390461734","name":"Redis Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.4,"position":[-2848,-80],"credentials":{"redis":{"id":"4AurG5VoDsijYWEG","name":"Redis account"}}},{"parameters":{"method":"POST","url":"={{ $('camposIniciais').item.json.whatsapp.evo.server_url }}/message/sendText/{{ $('camposIniciais').item.json.whatsapp.evo.nomeInstancia }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $('camposIniciais').item.json.whatsapp.evo.apikey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"number","value":"={{ $('camposIniciais').item.json.meta.telefoneCliente }}"},{"name":"text","value":"={{ $json.output }}"},{"name":"linkPreview","value":"={{ $('camposIniciais').item.json.linkPreview }}"},{"name":"delay","value":"={{ $('camposIniciais').item.json.Digitando }}"}]},"options":{"redirect":{"redirect":{}}}},"id":"f8633594-0fdc-45cd-aa4e-51d92bea63d6","name":"Responde texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1728,1120],"retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"content":"","height":679.1771951219765,"width":859,"color":6},"id":"276663d5-6b7a-4ff5-8d73-3e5d2f6332d5","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3232,-576]},{"parameters":{"content":"#### Limpar memória para o modelo de linguagem não se confundir nos testes\n\nSerá necessário desativar o webhook e ativar esse para funcionar, depois desative esse e ative o webhook para voltar ao normal.","height":103.57071049842254,"width":739.6646288443712,"color":4},"id":"dcfefbc7-cfaf-47fb-bf96-d7ec9a035275","name":"Sticky Note19","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3200,-544]},{"parameters":{},"id":"77e28e56-d94f-40d3-a61e-5987219e0791","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-80,1280]},{"parameters":{"promptType":"define","text":"={{ $('messages').all()[0].json.messages }}","options":{"systemMessage":"={{ $('Prompts').item.json.systemMessageAgente }}"}},"id":"c0e5db27-dbba-478b-a99b-c03c9732171f","name":"Vendedor iPhone","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-160,1040]},{"parameters":{"httpMethod":"POST","path":"vendedor_iPhone","options":{}},"id":"0f7e73b4-21bc-4a50-9613-bd89d6adebb6","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3184,480],"webhookId":"7cb2b84c-b62c-4f68-b719-19e5b8b79b17"},{"parameters":{"promptType":"define","text":"=Whatsapp message to be splitted and formated: {{ $json.output }}","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Por favor, gere a saída no seguinte formato JSON:\n{\n  \"messages\": [\n    \"splitedMessage\",\n    \"splitedMessage\",\n    \"splitedMessage\"\n  ]\n}\n\nAs mensagens devem ser divididas de forma natural, afinal estamos conversando com um humano, não é mesmo?\n\nCertifique-se de que a resposta siga exatamente essa estrutura, incluindo os colchetes e as aspas.\n\n### Jamais separe uma mensagem vazia.\n\n### Certifique-se de que a resposta siga exatamente essa estrutura abaixo, deixando somente entre '*' para negrito e nunca fugindo das demais regras de markdown do whatsapp:\n\t\t\t- *negrito* (substitua '**' por '*')\n\t\t\t- ~tachado~ (caso seja um preço de promoção)\n\t\t\t- _itálico_.(extremamente raro)\n            - `link` (usar sempre em todos os links)\n\nTudo o que for link, pode colocar entre \"`\", ou seja, na seguinte formatação: `www.link.com.br`\n"}]}},"id":"f58d3c00-de53-45e9-9794-1804bf262017","name":"Parser  Chain1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[736,1072]},{"parameters":{"amount":"={{ $('camposIniciais').item.json.app.debouncerTime }}"},"id":"c6d91460-f873-44df-a39a-fe0386ca02e4","name":"Wait1","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1008,1232],"webhookId":"7e21e91a-dee0-417b-a02b-6a71a97d88ab"}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Formalizar","type":"main","index":0}]]},"Formalizar":{"main":[[{"node":"GetModelos","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"modelos","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Resposta para o Agente","type":"main","index":0}]]},"modelos":{"main":[[{"node":"Limit","type":"main","index":0}]]},"GetModelos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Vendedor iPhone","type":"ai_languageModel","index":0}]]},"Modelos iPhone 📱":{"ai_tool":[[{"node":"Vendedor iPhone","type":"ai_tool","index":0}]]},"NoOp.4":{"main":[[{"node":"UnificaDados","type":"main","index":1}]]},"empilhaTexto":{"main":[[{"node":"Obtem","type":"main","index":0}]]},"Obtem":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Deleta":{"main":[[{"node":"messages","type":"main","index":0}]]},"Prompts":{"main":[[{"node":"UnificaDados","type":"main","index":0}]]},"empilhaÁudio":{"main":[[{"node":"Obtem","type":"main","index":0}]]},"UnificaDados":{"main":[[{"node":"getClient","type":"main","index":0}]]},"camposIniciais":{"main":[[{"node":"Prompts","type":"main","index":0},{"node":"NoOp.4","type":"main","index":0}]]},"getClient":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"fromMe","type":"main","index":0}],[{"node":"GeraUUID","type":"main","index":0}]]},"CreateUser":{"main":[[{"node":"getClient","type":"main","index":0}]]},"GeraUUID":{"main":[[{"node":"CreateUser","type":"main","index":0}]]},"Switch":{"main":[[{"node":"NoOp.","type":"main","index":0}],[{"node":"Deleta","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"fromMe":{"main":[[{"node":"NOP1","type":"main","index":0}],[{"node":"Switch2","type":"main","index":0}]]},"messages":{"main":[[{"node":"Vendedor iPhone","type":"main","index":0}]]},"OpenAI2":{"ai_languageModel":[[{"node":"Parser  Chain1","type":"ai_languageModel","index":0}]]},"Segmentos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"1,2s":{"main":[[{"node":"no.op2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Replace Me1","type":"main","index":0}]]},"no.op2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Replace Me1":{"main":[[{"node":"Responde texto","type":"main","index":0}]]},"OutputParser":{"ai_outputParser":[[{"node":"Parser  Chain1","type":"ai_outputParser","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Vendedor iPhone","type":"ai_memory","index":0}]]},"infos":{"ai_tool":[[{"node":"Vendedor iPhone","type":"ai_tool","index":0}]]},"Switch2":{"main":[[],[{"node":"empilhaTexto","type":"main","index":0}],[{"node":"empilhaÁudio","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Redis Chat Memory1":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Responde texto":{"main":[[{"node":"1,2s","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Vendedor iPhone","type":"ai_tool","index":0}]]},"Vendedor iPhone":{"main":[[{"node":"Parser  Chain1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"camposIniciais","type":"main","index":0}]]},"Parser  Chain1":{"main":[[{"node":"Segmentos","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Obtem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"dfef08c8-0b3e-456b-a911-13509109f820","triggerCount":0,"shared":[{"createdAt":"2025-11-02T14:31:34.974Z","updatedAt":"2025-11-02T14:31:34.974Z","role":"workflow:owner","workflowId":"Of1zeM802N1PCTUR","projectId":"JhhMk2N5VPm0i4dk","project":{"createdAt":"2025-04-14T16:51:56.472Z","updatedAt":"2025-04-14T16:55:53.829Z","id":"JhhMk2N5VPm0i4dk","name":"Marcelo  Silva  <marcelo@aiknow.ai>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-04-14T16:51:56.473Z","updatedAt":"2025-04-14T16:51:56.473Z","userId":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","projectId":"JhhMk2N5VPm0i4dk","user":{"createdAt":"2025-04-14T16:51:56.336Z","updatedAt":"2025-11-02T13:47:05.000Z","id":"97bdbb38-16b6-4e00-a69e-95c7fc584e29","email":"marcelo@aiknow.ai","firstName":"Marcelo ","lastName":"Silva ","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-04-14T16:57:37.600Z","personalization_survey_n8n_version":"1.88.0","automationGoalDevops":["monitoring-alerting","data-syncing"],"companySize":"<20","companyType":"systems-integrator","role":"it","reportedSource":"google"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"J6TjT2y82Fhq7Rf1","userActivatedAt":1744730169456,"npsSurvey":{"waitingForResponse":true,"ignoredCount":2,"lastShownAt":1761774996662}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-02","isPending":false}}]}}],"tags":[{"createdAt":"2025-11-02T14:29:49.353Z","updatedAt":"2025-11-02T14:29:49.353Z","id":"V0y7YKKb0kBhv9sN","name":"Youtube"}]}